[2014-06-12 17:55] jimmyDunne opened #1 "Easy access to transforms and spatial locations."

[2014-06-12 17:56] jimmyDunne opened #2 "Create fancy README.md."

[2014-06-12 20:42] aseth1 opened #4 "use of internal slave bodies leaking out in names of Joint connectors"
When there is a kinematic loop, it is broken and a slave body is used to provide the user specified joint and the slave is then welded  to the real master body. The use of internal slave bodies should be completely hidden but this is being violated when the model is serialized and the Joint's connector indicates the slave body.

[2014-06-13 01:20] chrisdembia opened #7 "testAssemblySolver fails on Travis, Ubuntu, VS2010"
And fails on my Ubuntu. It's a different error than Ajay, Sherm and I were seeing yesterday. Here's the log (too long to paste here): https://gist.github.com/chrisdembia/36746a511387e3afbae3

[2014-06-13 15:15] aymanhab opened #8 "Building on VisualStudio 2010 fails"
testComponentInterface.cpp fails to compile because of lambda's not supported on VS 2010, need to either skip the problematic part on VS 2010 or find an alternative syntax that works there (pre c++11). That is if we decide to continue supporting pre c++11 compilers.

[2014-06-13 16:40] chrisdembia opened #9 "Avoid sse2 warning on VS2013 64bit"
Sherm did this a while ago for Simbody. https://github.com/simbody/simbody/pull/88. Sherm also undid some changes in that PR in this more recent PR: https://github.com/simbody/simbody/pull/160. Should opensim-core also dial down from -O3 to -O2?

[2014-06-13 18:41] aymanhab opened #10 "Test Failures on Windows VS 2013 debug mode (x86)"
Tests below fail, some due to speed/timeout in debug mode but others due to assertions correctly blowing up. Confirmed with Ajay
2>     13 - testAssemblySolver (Failed)
2>       15 - testForces (Failed)
2>       16 - testInitState (Timeout)
2>       17 - testMomentArms (Failed)
2>       27 - testExternalLoads (Failed)
2>       30 - testControllerExampleRuns (Failed)
2>       31 - testControllerExa

[2014-06-13 19:58] aymanhab opened #13 "Simm Translator fails to compile due to change in Body, Joint APIs"
This translator is not built by default, now it fails due to Body API changes, should we keep maintaining it?

[2014-06-15 06:38] aseth1 opened #14 "A Component should be able to return subcomponent(s) by name and type"
Component can currently find a subcomponent by name only. It would be useful to provide iterators that enable access to specific types and to lists. This could  replace the usage of numerous OpenSim sets and would scale to handle user-defined Components.

[2014-06-15 15:57] chrisdembia opened #15 "Split testCMC into a few smaller tests"
This will help decrease the runtime of the tests on Travis.

[2014-06-16 05:37] aseth1 opened #16 "Make bind to lambda function in testComponentInterface conditional on C++11 use"
Outputs can bind to any function including lambda functions and this is verified in testComponentInterface. Lambda functions are not defined in VS2010, although several C++11 features (like unique_ptr) are available. If we want to support VS2010 we can conditionally exclude the Output that is bound to the lambda function case.

[2014-06-16 20:01] chrisdembia opened #18 "Add wrapping/binding tests to travis"
@aymanhab , what version of SWIG do you use?

[2014-06-17 17:41] aseth1 opened #21 "Component should generate outputs for any added state variable"
Automatically generate an Output per state variable allocated by the component. Reporters in general should then talk to component Outputs to write results to file, etc...
This can be done by binding the Output to Component::StateVariable's getValue(). If the StateVariable is marked as hidden, an Output for that state variable's value should not be created.

The advantage of doing this is that onc

[2014-06-18 15:36] chrisdembia opened #23 "Combine hide() and show() methods into setHidden()"
I'm looking here: https://github.com/opensim-org/opensim-core/blob/3855a1a4cbe79e3eefba406d540849d74123e61f/OpenSim/Common/Component.h#L1290

Can we combine `hide()` and `show()` into `setHidden()` or `setIsHidden()`? This would be more consistent with the mutators elsewhere throughout the code (e.g., `setIsDisabled`).

[2014-06-18 19:46] chrisdembia opened #24 "Calling Super::computeStateVariableDerivatives"
The doxygen for `Component::computeStateVariableDerivatives` says to call `Super::computeStateVariableDerivatives` in the derived implementations of `computeStateVariableDerivatives`. This makes sense for all components except those deriving directly from `Component`. In this special case, I am implementing the method but I still get the exception about deriving, since I am still calling `Componen

[2014-06-19 08:59] tkuchida opened #27 "Permit use of metabolic probes with and without revisions"
Add properties so users can easily enable/disable revisions to [Umberger](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Umberger2010MuscleMetabolicsProbe.cpp) and [Bhargava](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Bhargava2004MuscleMetabolicsProbe.cpp) probes.

[2014-06-19 09:05] tkuchida opened #28 "Implement Bhargava's decay function"
Replace constant 1.0 with Bhargava's time-dependent decay function [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Bhargava2004MuscleMetabolicsProbe.cpp#L321).

[2014-06-19 20:26] sherm1 opened #29 "Doxygen errors"
I just built my shiny new GitHub version of opensim-core. Then I built doxygen (on Windows, using doxygen 1.8.7). Doxygen ran but had several groups of complaints, attached below. These should be fixed so that doxygen runs without errors.

[code]

and

[code]

and

[code]

[2014-06-19 21:18] sherm1 opened #30 "MultibodyGraphMaker output is dumped to cout"
In Model.cpp, the Model::connectToModel() method is currently dumping the (voluminous) output from the MultibodyGraphMaker to cout. This makes it hard to look through test output, for example.

This is probably not a good thing to leave in permanently, although it may be needed at the moment. I'm filing this issue so we won't forget to remove it, or make it optional or whatever is appropriate. I'l

[2014-06-20 01:27] chrisdembia opened #31 "testCMC's single muscle test depends on the single muscle rigid tendon tests"
See #22. I tried splitting up the new testCMCSingleMuscle into testCMCSingleRigidTendonMuscle and testCMCSingleMuscle so that the rigid-tendon tests were in a separate test. In this case, the modified testCMCSingleMuscle (without the rigid-tendon tests) was failing. So it seems that the non-rigid-tendon tests require the rigid-tendon tests to run first in order for the non-rigid-tendon (single muc

[2014-06-20 02:01] chrisdembia opened #33 "Make an OpenSimConfig.cmake"
Simbody has a FindSimbody and now it has a SimbodyConfig.cmake https://github.com/simbody/simbody/tree/master/cmake). I want to make an OpenSimConfig.cmake. This will perhaps be useful for opensim-gui to get relevant paths for an opensim-core installation, and will also be useful for anyone making a client project of OpenSim. Thus, it'll also be useful for our API examples.

The OpenSimConfig.cmak

[2014-06-20 18:01] #30 closed, assigned to nobody

[2014-06-21 16:18] aseth1 opened #36 "Add message logging/handling service"
OpenSim and its Component builders need a way to provide debug and other component messages in a systematic way. Users should be able to choose the level of messaging from non to the most fine Optimizer details. I propose that Component could maintain the messages with an assigned priority/verbosity level which the Component builder can specify using `addMessage(string msg, level)` like methods we

[2014-06-23 06:30] aseth1 opened #37 "Convert Components on old property system to new."
The main Component that still uses the old properties system is Model. It appears to be the only ModelComponent remaining.

[2014-06-23 18:34] aymanhab opened #38 "extraneous declarations in header"
Component.h contains these 2 lines

using std::cout;
using std::endl;

Removing these 2 lines doesn't affect anything downstream and the code compiles without errors (on windows) please indicate whether this's dead code that can be safely removed.

[2014-06-26 01:13] #15 closed, assigned to nobody

[2014-06-26 01:13] #21 closed, assigned to nobody

[2014-06-26 04:40] #38 closed, assigned to nobody

[2014-06-26 05:25] #18 closed, assigned to nobody

[2014-06-26 05:26] #9 closed, assigned to nobody

[2014-06-26 05:30] chrisdembia opened #39 "Upgrade to lepton introduces warnings in VS2013"
PR #19 introduced warnings in VS2013. @aseth1 said he sees warnings like:

[code]

I see two resolutions:
1. Patch github.com/simtk/openmm to get rid of this warning @peatsman, do you build with VS2013? If so, do you see such warnings?
2. Fix the warning ourselves in opensim. I think we'd do this by changing `int i` to `size_t i`. We might need to include `stdint` to get this to work on VS2010.

L

[2014-06-26 05:40] chrisdembia opened #40 "Does a linux build produce a java jar file that can be used in matlab?"
In #17, @aymanhab asked if a Linux build produces a jar file that can be used in Matlab. I'm creating a new issue to investigate this.

[2014-06-26 05:47] chrisdembia opened #41 "Fix bug in java and python wrapping CMake files."
Fix an issue we had to fix in the OpenSim 3.2 source dist. Basically, don't use a glob to obtain files that are generated by other targets. This would be fixed via changes like the following:

[code]

[2014-06-26 06:13] chrisdembia opened #43 "Run python wrapping tests in travis"
See some of the discussion in #20 (involving @aseth1 and @msdemers). There are some python tests already (sdk/python/openism/tests/*.py). Travis can be edited to run these tests. However, they are far from comprehensive.

[2014-06-26 06:35] chrisdembia opened #44 "The configureOpenSim.m file may need to be updated since the Gui folder is removed"
Does the configureOpenSim.m file need to be modified to account for the fact that the location of the org-opensim-modeling.jar depends on whether one is using a distribution of OpenSim or just an install of opensim-core?

[2014-06-26 19:27] aymanhab opened #45 "Does the method Component::getSystem() need to be public."
While trying to SWIG wrap the new class OpenSim::Component (needed since it's a base class for ModelCompoenent) I ran into the public method

   /**
     * Get the underlying MultibodySystem that this component is connected to.
     */
    const SimTK::MultibodySystem& getSystem() const
		{ return *_system; }

which wraps into an unusable method since SimTK::MultibodySystem is not SWIG wrapped eit

[2014-06-26 20:45] jimmyDunne opened #46 "Make Marker a ModelComponent"

[2014-06-26 20:59] jimmyDunne opened #47 "Make Model a Model Component"

[2014-06-26 21:00] jimmyDunne opened #48 "Hook curves into Muscles using new Component interface"

[2014-06-26 21:01] jimmyDunne opened #49 "Make Solvers Components"

[2014-06-26 21:02] jimmyDunne opened #50 "Create 'Frame' Model Component"

[2014-06-26 21:03] jimmyDunne opened #51 "Create 'Transform' Component"
(a Vec3, Frame from, Frame to)

[2014-06-26 21:03] jimmyDunne opened #52 "Create 'Delay' Component"
Some topics for discussion:
1. The dependsOnStage of an Operator shouldn't be "hard-coded" but should depend on the components it's wired up to.
2. InputMeasure must be able to handle initialization when quantities depend on stages higher than Velocity. See Sherm's discussion in #356.
3. I'm using SimTK Testing.h which gives exception messages like "Submit a bug report to simbody." That's not the

[2014-06-26 21:04] jimmyDunne opened #53 "Create 'Max/Min' Component"

[2014-06-26 21:14] jimmyDunne opened #54 "Create 'Expression' Component"
any Lepton expression of V_0 to V_(n-1) variables, where V is the input Vector and n is its length

[2014-06-26 21:15] jimmyDunne opened #55 "Create 'Filter' Component"
low pass Butterworth, of varying order

[2014-06-26 21:16] jimmyDunne opened #56 "Create 'Mux/Demux' Component"
Multiplexer/Demultiplexer to stack elements into Vectors (including Vector elements) and the converse: separate out channels for from a single Vector

[2014-06-26 21:16] jimmyDunne opened #57 "Create 'SpatialForceToPointAndFreeMoment' Model Component"
given a SpatialForce, and a plane, find the equivalent point of force application in the plane with resulting torque normal to the plane)

[2014-06-26 21:18] jimmyDunne opened #58 "Create 'MuscleStateSolver' Model Component"
Justin, given desired force and muscletendon length and velocity, estimate, a and l, such that a is small and ldot is "smooth"

[2014-06-26 21:18] jimmyDunne opened #59 "Create 'Station' Model Component"

[2014-06-26 21:24] jimmyDunne opened #60 "Create ComputedTorqueController Model Component"

[2014-06-26 21:24] jimmyDunne opened #61 "Create TaskSpaceController Model Component"

[2014-06-26 21:26] jimmyDunne opened #62 "Create BodyActuator"

[2014-06-26 21:27] jimmyDunne opened #63 "Create 'Clutch' Model Component"
has dofs of a free joint when disengaged and dofs of a Weld when engaged. Transition yields power loss due to friction

[2014-06-27 05:26] #7 closed, assigned to nobody

[2014-06-27 06:13] aseth1 opened #66 "Create a Component Test Harness"
An automatic Components test harness (especially ModelComponents) would catch the majority of user/developer problems with newly created Components blindly used (loaded as a plugin) in OpenSim. Would also be a more systematic way of testing and leveraging the Component  interface. The test would go something like this:
1. create instance of Component and randomly set properties according to their

[2014-06-27 21:09] tkuchida opened #71 "Build failure on C++ 2010 Express"
According to the [[WIP] Building OpenSim from Source](http://simtk-confluence.stanford.edu:8080/display/OpenSim/%5BWIP%5D+Building+OpenSim+from+Source) page on Confluence, VS 2013 isn't supported. I downloaded and installed C++ 2010 Express, built/installed Simbody, and tried building OpenSim in Release mode. Output below.

Travis seems pleased, so I assume I've done something wrong. Commencing di

[2014-06-27 22:15] #71 closed, assigned to nobody

[2014-06-28 23:03] #27 closed, assigned to tkuchida

[2014-06-28 23:36] #31 closed, assigned to nobody

[2014-06-29 04:52] chrisdembia opened #73 "Create a Component::realize(Stage, State) method"
Right now, to use OpenSim to realize to a stage, you need to use a method like `realizeAcceleration`. However, I have a situation in which the stage i want to realize to is stored in a Stage variable; I don't know it beforehand. It'd be nice for Component to have a realize(Stage, State) command. Or, should the user then just do `myComp.getSystem().realize(...)`?

[2014-06-30 17:51] chrisdembia opened #75 "Add Output's to Probes"
It is a little weird to add Output's to probe, because Probe's could just be removed, with the new operator components. But I'll do this for backwards compatibility.

[2014-06-30 20:23] sherm1 opened #77 "computeActuation() virtual seems possibly ill-conceived?"
`computeActuation()` is a pure virtual method in `Actuator_` (that is, with a trailing underscore). It returns a `double` which is used as the actuation value in many current actuators. But that implies that an actuation is a scalar, which is inconsistent with other features of `Actuator_` which clearly expects controller outputs to be Vectors.

This came up while trying to invent a SpatialVecActu

[2014-06-30 22:44] chrisdembia opened #80 "constructOutput should only accept const methods."
In particular, the old constructOutput needs to be fixed.

[2014-07-01 00:28] sherm1 opened #83 "inputs, outputs, and connectors should have descriptions"
Similar to Properties, there should be a human-readable description that can be dug up by asking the Object.

[2014-07-01 01:20] JustinSi opened #84 "Why is Object::print not a const member function?"
Inside Object:print function, a bunch of members are modified, it's also calling "updateXMLNode", this looks weird. Probably we need to look at this and fix it.

[2014-07-01 15:29] aymanhab opened #85 "Todo list to help developers learn/adopt the new component interface"
Components look like a very promising approach to the development of modeling and simulation abstractions and flexible end user applications Some hurdles need to be resolved first:
1. Lack of clear definition and limited examples of inputs/connectors makes deciding between inputs & connectors,  the distinction between Components and ModelComponents is more clear though not complete.
2. Lack of bas

[2014-07-01 16:13] aymanhab opened #86 "Call sequence of methods used by framework is unclear"
To plug into the framework there're a few methods that can be implemented and the're called by constructInfrastructure(), it's not clear what's the order. May help if the method names end with "Virtual" as done in other places (@sherm1)  or the names are changed to reflect the ordering.
Also reported by @msdemers

[2014-07-01 22:18] chrisdembia opened #87 "Can constructInfrastructure be called in the Component constructor?"
This way, component writers would not need to call this themselves in their own constructors.

[2014-07-01 22:26] chrisdembia opened #88 "Create a CoordinatesActuator"
An actuator that applies a generalized force for ALL mobilities. Could also be called AllMobilitiesActuator. Useful for @sohapouya and @carmichaelong .

[2014-07-02 00:47] chrisdembia opened #90 "Replace all calls to constructProperties with constructInfrastructure"
Also, constructProperties could be made a private method of Component, so subclasses can't call it directly. Could Component also call constructInfrastructure, so that subclasses don't need to do this?

[2014-07-02 03:49] chrisdembia opened #91 "Which version of OS X / Xcode should we support?"
@apoorvar  and I spent a while getting OpenSim to build on her computer using Xcode. Our CMake files imply that we support OS X 10.4, but that is probably not going to work anymore, considering we rely on C++11. Apoorva is using 10.8. I think she plans on submitting a PR containing the changes to CMake we needed to make to get OpenSim to build in Xcode.

@apoorvar's research:

"According to this p

[2014-07-05 21:30] #88 closed, assigned to nobody

[2014-07-07 18:50] JustinSi opened #95 "Handle string properties with spaces"
A string-valued Property is currently always parsed as though it were a blank-separated list. So when the Property value list is only allowed to have 1 element, it stops at the first space.

Actually what we generally expect is that the Property parser should ignore whitespace and just treat the whole property value as a single string.

We should also distinguish the Property value "list of string

[2014-07-08 21:54] JustinSi opened #99 "ConstraintSet Copy Constructor"
This is not specific for [ConstraintSet](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/ConstraintSet.cpp#L60-L65) , we may need to check this for many Objects.

Here the copy constructor calls the copy constructor of the base class first, but then it is modifying the fields by calling [setNull](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simul

[2014-07-08 22:05] JustinSi opened #100 "ControllerSet Copy Constructor"
A similar issue with #99 , I found this problem when I run the testModelCopy, I found that the Object property "ControllerSet" was not copied correctly because the name of the object was not copied correctly.

Let's look at the [copy constructor of ControllerSet](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/ControllerSet.cpp#L91-L98), first it is calling the cop

[2014-07-09 20:48] JustinSi opened #101 "Is initSystem supposed to change the model?"
I found this bug when I ran the test [testActuators](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Actuators/Test/testActuators.cpp#L271-L274), after printing out the model file, it calls initSystem, during this call, [a Probe is connected to the model](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Probe.cpp#L126-L132). However, this modifies th

[2014-07-10 18:41] JustinSi opened #102 "ReferencePtr getRef()"
I found this problem when I test [testMuscleMetabolicsProbes](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Test/testMuscleMetabolicsProbes.cpp#L1047), at this point the multibodysystem hasn't been created, so [Model._system](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Model.h#L1006) is NULL. I have been updating the pointers in Mod

[2014-07-17 19:00] sherm1 opened #107 "Use OpenSim standard for Connector, Input, and Output names"
For property names we have been good at following a `lowercase_with_underscores` standard, with `CamelCase` used only for properties that are actually Objects (to match the class name). We don't yet have a standard for the new externally-visible names associated with Components (Connectors, Inputs, Outputs).

We are quickly piling up an assortment of random naming conventions for these things. We

[2014-07-17 21:40] sherm1 opened #108 "should not call finalizeFromProperties() in copy constructor or assignment op"
@JustinSi is trying to get rid of the (gigantic) copy constructor and copy assignment operators in OpenSim::Model. He was thwarted by the call to finalizeFromProperties() that appears in the [assignment operator](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Model.cpp#L1228). Does this really have to be here @aseth1?

If we require any special behavior at the end

[2014-07-17 22:20] chrisdembia opened #109 "Enable easier detection of memory leaks across platforms"
@carmichaelong mentioned some leaks detected in `testInitState`. I ran `ctest -j8 -R testInitState -T memcheck`, which, on Linux, runs the test through valgrind. This generated the following output: https://gist.github.com/chrisdembia/8e2201c50d68f3b2f344 (first 1700 lines of a 4400 line output).

I tried finding out if you can use `ctest -T memcheck` on Windows. CTest says `Memory checker (Memory

[2014-07-18 17:34] chrisdembia opened #111 "Replacing OVERRIDE_11 with override may have introduced bugs related to SWIG."
In #94, we replaced OVERRIDE_11 with override, everywhere. However, there are lines like [this](https://github.com/opensim-org/opensim-core/search?q=%22undef+override%22&type=Code):

[code]

which used to be:

[code]

I think this is benign but I haven't thought through the consequences.

[2014-07-18 17:43] chrisdembia opened #112 "Double-check CMake logic for OSX"
See some discussion on #92 related to `m32`, etc.

[2014-07-18 22:13] #1 closed, assigned to nobody

[2014-07-18 22:55] chrisdembia opened #114 "Don't copy any Simbody stuff into the build or installation"
This makes sense for the GUI installation/build process, but I do not think it makes sense for opensim-core. I propose leaving Simbody as stand-alone, which is what unix users would prefer.

I think the only compelling reason for copying is for Windows users so they don't need to add two bin paths to their PATH. In this case, I say set the CMAKE_INSTALL_PREFIX to the same dir for both simbody and

[2014-07-22 18:19] chrisdembia opened #118 "Relative paths in XML files: make use of Simbody's new Pathname functions, perhaps with a Pathname property."
People have reported various issues with using relative paths in XML files. The only issue I have run into is the following:
1. A setup file `setup.xml` specifies an external loads file `../extloads.xml`. This can be successfully specified with a path relative to `setup.xml`.
2. The external loads file then specifies a path to a GRF file `data/grf_data.mot` relative to the external loads file.

Th

[2014-07-23 00:50] #75 closed, assigned to chrisdembia

[2014-07-23 04:22] #4 closed, assigned to nobody

[2014-07-23 05:44] aseth1 opened #119 "Component does not handle Connector, Input and Output copying upon clone()"
A component that is currently cloned will find it has not Inputs or Outputs. I don't believe the current use of a map containing unique_ptrs resolves this issue although it does fix the problem of leaking Inputs and Outputs.

[2014-07-23 08:46] tkuchida opened #120 "Redesign metabolic calculators so they can be used in objective functions"
In the current design, a `MuscleMetabolicsProbe` is created that then creates `MetabolicMuscleParameter`s pointing to `Muscle`s. An improvement might be to attach a _sensor_ to each `Muscle`, then have an _aggregator_ that adds the contribution of each sensor to a whole-body metric, integrates the total power, etc. The new design should also allow us to implement Bhargava's decay function properly

[2014-07-23 16:04] moorepants opened #122 "Offline docs do not link locally"
I was perusing the installed doxygen docs yesterday locally when I didn't have an internet connection, but some of the main links on the front page do not send you to the proper local resources. For example, the "optimizer" orange button takes you to:

https://simtk.org/api_docs/simbody/api_docs33/Simbody/html/classSimTK_1_1Optimizer.html

This ideally would direct you to the local copy of the sim

[2014-07-23 17:29] #95 closed, assigned to nobody

[2014-07-23 17:30] #99 closed, assigned to nobody

[2014-07-23 17:30] #100 closed, assigned to nobody

[2014-07-23 17:30] #101 closed, assigned to nobody

[2014-07-23 17:31] #102 closed, assigned to nobody

[2014-07-23 18:54] #29 closed, assigned to nobody

[2014-07-26 00:59] chrisdembia opened #127 "Memory leak in Coordinate::_lockFunction (a ModifiableConstant)"
I want to test PinJoint in testComponents, but there's a memory leak in Coordinate. Valgrind says it comes from allocating the ModifiableConstant here: https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/SimbodyEngine/Coordinate.cpp#L174

Now, Simbody says that it'll own that pointer and delete it (when we pass it to SimTK::Constraint::PrescribedMotion).

I tried making _loc

[2014-07-28 22:22] chrisdembia opened #128 "Replace Probes with component Outputs"
This requires the new Reporter class, correct? Anything other than that? Would we then make classes like an ActuatorReport, etc?

[2014-07-29 00:20] chrisdembia opened #129 "ComputedTorqueController"
@carmichaelong and I are working on this.

We plan to use CoordinateReference. I thought CoordinateReference would provide a reference for all coordinates, but now I see that it is only for one coordinate. @aseth1, we will need as many of these as there are coordinates in a model. It'd be nice to make a connection to each of these. How do we deal with a variable number of CoordinateReferences? The

[2014-07-30 23:00] #8 closed, assigned to nobody

[2014-07-30 23:16] #47 closed, assigned to aseth1

[2014-07-30 23:17] #49 closed, assigned to aseth1

[2014-07-30 23:21] #60 closed, assigned to carmichaelong

[2014-07-30 23:55] chrisdembia opened #132 "Travis testing crashes gcc"
#97 introduced travis build failures for gcc, but just because gcc crashes. I think it's when gcc tries to compile osimJavaJNI_wrap.(cxx|h).

[2014-07-31 18:31] #112 closed, assigned to nobody

[2014-07-31 18:40] #87 closed, assigned to nobody

[2014-07-31 18:46] #80 closed, assigned to nobody

[2014-07-31 18:47] #108 closed, assigned to nobody

[2014-07-31 18:50] #73 closed, assigned to nobody

[2014-07-31 19:08] #39 closed, assigned to nobody

[2014-07-31 19:15] #13 closed, assigned to nobody

[2014-08-01 22:15] chrisdembia opened #135 "Coordinate state variable names"
I really like that the state variable names have an entire path now. However, working with them is a little arduous. Is it possible for the coordinate state variables to be named 'q' and 'u' instead of, e.g, 'ankle_angle' and 'ankle_angle_u'? It seems like we are repeating info now.

[2014-08-01 22:41] chrisdembia opened #136 "Doxygen link to OpenSim::Mtx is dead"
See the front page of the doxygen (even for the 3.2 release): https://simtk.org/api_docs/opensim/api_docs/

The link to OpenSim::Mtx is broken.

[2014-08-01 22:58] chrisdembia opened #137 "XML tag gone from printed xml files"
XML files usually have this tag `<?xml version="1.0" encoding="UTF-8" ?>` at the top. Now, when I print a model from OpenSim, this tag is missing.

The practical consequence is that editors do not then pick up that the file is an xml file (for osim files), and then do not do syntax highlighting. The two editors I checked were Notepad++ and vim.

[2014-08-01 23:20] chrisdembia opened #138 "Body VisibleObject is not serialized when printing a model."
It seems that Body's lost their VisibleObject property.

[2014-08-02 00:16] aseth1 opened #140 "Speedup travis' gcc build time"
Maybe we should leave out the JNI build from gcc? Let's discuss.

[2014-08-04 15:26] #138 closed, assigned to nobody

[2014-08-04 17:25] chrisdembia opened #141 "In wrapping, make sure clone() does not leak memory."
In #131 @aymanhab mentioned:

[2014-08-04 20:40] moorepants opened #142 "Python import error"
I just built from master and installed the python bindings but get an import error:

[code]

What am I missing?

[2014-08-05 03:14] moorepants opened #144 "Wrong title/subtitle for the Opensim main namespace in docs"
On the front page of the docs if you hover over the Opensim Title you get an odd alt message. Here is the html source:

[code]

It is pulling the doc string from a spring force.

Also if you click to the page: file:///opt/opensim/sdk/doc/html/namespaceOpenSim.html you see it too.

[2014-08-06 00:00] chrisdembia opened #146 "StaticOptimization output storage files contain incorrect column headers"
For me, the activation storage file contains columns Right_GRF and Left_GRF, even though these are not muscles: these are the names of the ExternalForce's I have. The bug is here:
https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Analyses/StaticOptimization.cpp#L225

Even the force.sto file has the wrong number of columns though. Right_GRF and Left_GRF contain more than one force val

[2014-08-06 17:50] aymanhab opened #148 "Remove Model::disownAllComponents() method and fix test cases accordingly"
The method Model::disownAllComponents() was introduced to work around improper memory management when stack allocated objects are added to a Model that takes ownership of them, it potentially introduces leaks (since no components are deallocated on Model destruction) and promotes improper use of stack allocated objects (mostly seen in test cases). Per discussion with @sherm1 and @aseth1 we'll stic

[2014-08-06 22:43] aseth1 opened #149 "Serialize trajectories of States in their exact and complete form"
Includes discrete state variables but not cached variables. A States trajectory must be tied to a model.
It shouldn't be easily human readable (e.g. zipped) and not bound by model name but by other unique key. It would also be handy if it maintained the version of OpenSim used to generate the States as well. Party addresses issue raised in #104 for robust post-hoc analysis of a simulation result.

[2014-08-06 23:02] aseth1 opened #150 "Expand the available set of State generators"
A general concept/abstraction of a State generator might be useful for providing estimates of states not determined by integration of system dynamics (i.e. a post-hoc study). A Study could select an adequate generator to estimate states. We are doing this already in an adhoc way by "computing equlibrium" to estimate muscle-fiber lengths in a muscle analysis. We should formalize this task of genera

[2014-08-07 20:14] chrisdembia opened #152 "Replacing tabs with spaces"
Here are some automated ways to convert tabs to spaces:
- https://gist.github.com/eevee/6721177
- http://stackoverflow.com/questions/2316677/can-git-automatically-switch-between-spaces-and-tabs

Here is what gazebo does. They run [this file](https://bitbucket.org/osrf/gazebo/src/a4906e97bc1a1dee466d0cca9959f79db569bf0a/tools/code_check.sh?at=default) which runs [cppcheck](http://cppcheck.sourcefor

[2014-08-07 20:47] aymanhab opened #153 "Issues with Integrating Frames into Model"
1. When to create BodyFrame(s) for all Bodies in the model?
   - Can't rely on deserialization since Bodies can be added programmatically.
     -> Should serialization call addBody so there's only one path to modify/test/maintain in the code?
   - How to handle Body renames (connection of BodyFrame to Body is thru a body connector that references a body by name, keeping the name in multiple places

[2014-08-07 21:09] chrisdembia opened #154 "Memory leak in StaticOptimization and in InverseDynamics (begin())"
I was playing around with cppcheck and it reports memory leaks [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Analyses/InverseDynamics.cpp#L436) and [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Analyses/StaticOptimization.cpp#L536).

[2014-08-08 19:31] aymanhab opened #156 "Allow easy integration of Model state in Matlab"
In version 3.2, users could instantiate a Manager(model) from Matlab and then integrate forward using a default integrator with minimal overhead. This functionality has been removed in master branch while refactoring the code. Either we need to restore this functionality to Manager or provide an easy alternative that doesn't involve the Manager class altogether.

[2014-08-09 15:44] chrisdembia opened #160 "Right now, users *must* override constructProperties, etc."
constructInfrastructure calls the virtual construct(Properties, ...) methods. I have a class that has structural connectors but *not* properties. So, when I call constructInfrastructure in my constructor, I get this error:

[code]

This is because I am invoking my parent's constructProperties. My parent *already* called its own constructProperties in its constructor. So, now I need to override con

[2014-08-09 15:49] chrisdembia opened #161 "Name of Connector::connected_to_name property"
I think the language surrounding connections still needs some cleaning up. I think this should just be "connectee". I still vote for a word other than connectee, but whatever that noun is should be the name of this property, I think. I feel that `connected_to_name` reads verbosely in the XML.

During the hackathon, we brainstormed some alternative names, like plug, socket (using a circuit analogy)

[2014-08-09 20:18] chrisdembia opened #162 "registerType for Connector<T>"
When a user adds Connectors, they need to ensure they add corresponding registerType(Connector<T>()) calls to the correct `*DLL.h` files. Is this / will this be documented somewhere?

See this line in the component interface test case: https://github.com/opensim-org/opensim-core/blob/9c554c80b25c3f25759b345943a397735bd48aa5/OpenSim/Common/Test/testComponentInterface.cpp#L387

[2014-08-09 20:33] chrisdembia opened #163 "Component interface is inconsistent about getOutput, getStateVariable and getInput"
Maybe this is okay, but getOutput and getInput give back an object, while getStateVariable gives back the value. I propose either renaming getStateVariable to getStateVariableValue or have getStateVariable return the StateVariable object (I think @aseth1 prefers the former).

[2014-08-09 21:10] chrisdembia opened #164 "Component::getOutput has incorrect doxygen"
The doxygen for this method says `Get an iterator through the underlying components that this component is composed of.` It's a very easy fix. This comment is supposed to go with a commented-out method.

[2014-08-10 20:04] chrisdembia opened #165 "Conectee typo"
Connectee is spelled as Conectee in 3 places:

https://github.com/opensim-org/opensim-core/blob/9c554c80b25c3f25759b345943a397735bd48aa5/OpenSim/Common/ComponentConnector.h#L121
https://github.com/opensim-org/opensim-core/blob/9c554c80b25c3f25759b345943a397735bd48aa5/OpenSim/Common/ComponentConnector.h#L157

https://github.com/opensim-org/opensim-core/blob/8ca46802bf68864ad3d3bf2b96928d19afbeb14b/

[2014-08-10 22:23] chrisdembia opened #168 "I exposed an iterator for Component Output's; should agree on an interface, and provide iterators for Inputs, etc."
I created methods `getOutputsBegin()` and `getOutputsEnd()`, but I think that doesn't look too good.

[2014-08-11 21:28] aymanhab opened #170 "list of memory leaks"
The test case testInitState filas on Windows (2013 Pro) with error log below. Need to either plug leak if true, or relax condition if this's not true so that developers have confidence in their environment. The test case passes on Travis,
...
Loaded model arm26 from file arm26.osim
**********************\* testMemoryUsage ***********************
MODEL: arm26.osim uses 136KB
156KB change in memory

[2014-08-13 02:09] #10 closed, assigned to aseth1

[2014-08-13 17:24] chrisdembia opened #171 "Model::createAssemblySolver leaks memory"
Here's a leak in creating the AssemblySolver: https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Model.cpp#L1542

A comment in Model.cpp says (referring to the `SimTK::Array_<CoordinateReference>*`):

[code]

However, the documentation in AssemblySolver.h differs (https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/AssemblySolver.h#L71):

[code]

[2014-08-13 19:25] #165 closed, assigned to nobody

[2014-08-14 00:27] aseth1 opened #172 "Need an interface for visualizing (consuming) geometry (lines, 3D shapes, meshes, ...)"
There are: Geometry, VisibleObject, DisplayGeometry, DecorativeGeometry classes just to visualize mesh files (as far as I can tell) and then we have ContactGeometry and WrapObject for specific analytical types of contact and wrapping. That's a lot of classes but it isn't the main problem- the problem is that the concept(s) they are trying to abstract are lost and relationships between them are obt

[2014-08-14 02:34] chrisdembia opened #173 "Xml parsing memory leak"
valgrind output:

[code]

I can't really understand what's happening, but I think it has to do with this `clone()` [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Model.cpp#L190)` and Simbody's documentation [here](https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/internal/Xml.h#L777) that says:

[code]

This seems to be a smalli

[2014-08-14 22:53] #136 closed, assigned to chrisdembia

[2014-08-14 23:25] #109 closed, assigned to nobody

[2014-08-28 17:15] #173 closed, assigned to aymanhab

[2014-09-03 05:36] aymanhab opened #179 "Need to agree on XML representation of Geometry in model file"
OpenSim Geometry Proposal

To help address issues with Geometry representation in OpenSim brought up by previous proposals, and the current deficiencies in representing Geometry, here's a new proposal that utilizes the new Component layout better to promote reuse and flexibility while maintaining minimal amount of information in our files.

General:
-------------
Every ModelComponent will be allow

[2014-09-04 17:24] chrisdembia opened #181 "Probe calls computeProbeInputs(s) for each probe input."
Reported by @JustinSi.

The Probe is repeating calling a function (with the same inputs) many times! If a Probe has 20 ProbeInputs, it will call "computeProbeInputs" 20 times to get the result.

Here is what happened:

This line of code is called when we compute the ProbleOutput

[output[i] = getGain() \* afterOperationValues[i].getValue(s);](https://github.com/opensim-org/opensim-core/blob/661433

[2014-09-08 17:16] aymanhab opened #182 "Fix ScaleTool to handle the removal of Marker::Fixed"
Rewriting of Marker as a ModelComponent exposed the flag "Fixed" which was used in an unorthodox way by the ScaleTool so that a Marker is denoted as "Fixed" during MarkerPlacement while not during actual Scaling. This suggested that "Fixed" is not an intrinsic property of the Marker but rather a designation made by the process. We need to adjust the ScaleTool code accordingly.

[2014-09-10 18:45] chrisdembia opened #184 "Scripting needs a facility to realize the state."
Scripting does not expose `realize()` methods, and this limits what scripting users are able to compute.

[2014-09-11 00:23] sherm1 opened #185 "OpenSim should use NiceTypeName::namestr() method to get demangled names"
Simbody 3.5 (currently the master branch) has a `NiceTypeName` enhancement provided by @chrisdembia in PR simbody/simbody#223 that provides demangled type names on all platforms. Now there is a method `NiceTypeName::namestr()` that returns a demangled name as an `std::string`. The previous method `NiceTypeName::name()` still exists and still returns a `char *` that is fast but can be a mess on som

[2014-09-11 06:52] #137 closed, assigned to aymanhab

[2014-09-12 15:18] #141 closed, assigned to aymanhab

[2014-09-12 17:47] jimmyDunne opened #186 "ScaleTool not scaling ligaments"
ScaleTool doesn't handle ligaments as PathActuators. They are treated as any other force and are not scaled. The entire ligament class is causing some confusion and probably requires a redesign in the long run. However,  what would be the best option for this bug?

(a) release a 'patch' plugin asap?
(b) Address the bug in a 3.3 release?
(c) Describe an API workaround (from Glenn Litchwark) on conf

[2014-09-12 23:35] chrisdembia opened #189 "Plugins in the repository are not tested."
Only tested on Linux with Clang.

[2014-09-13 06:22] #144 closed, assigned to nobody

[2014-09-13 06:33] #2 closed, assigned to nobody

[2014-09-13 06:34] #41 closed, assigned to chrisdembia

[2014-09-13 06:34] #43 closed, assigned to chrisdembia

[2014-09-18 20:25] chrisdembia opened #192 "Doxygen "#include <...>" is at the bottom of the page instead of at the top"
See this image:

![image](https://cloud.githubusercontent.com/assets/846001/4326620/42ff6f80-3f71-11e4-8ab9-8264f52dc630.png)

That `#include <...>` at the very bottom is usually near the top of the page and tells people how to include that class in their own source, if they want to use it.

I think we should either remove it from the doxygen pages, or we should:
1. Put it back at the top of the p

[2014-09-23 21:06] chrisdembia opened #195 "Allow installing OpenSim-Core into UNIX /usr/ or /usr/local"
The number of unix users is increasing. The organization of our installation currently does not permit one to safely install into /usr/ or /usr/local. The following changes should occur:
- [x] On UNIX, do not copy over simbody libraries. #343
- [x] Clean up CMake for api examples. #229
- [x] Clean up CMake for lepton. #327
- [x] Clean up "USING_NAMESPACE". #343
- [x] Allow copying libraries to be

[2014-09-25 18:41] #171 closed, assigned to nobody

[2014-09-25 19:08] #142 closed, assigned to nobody

[2014-09-25 20:41] #66 closed, assigned to nobody

[2014-09-25 20:42] jenhicks opened #196 "Fix components so they pass through TestComponents"
This might serve as an umbrella issue for specific components.

-Coordinate #198

[2014-09-25 20:42] #132 closed, assigned to aymanhab

[2014-09-26 01:43] sohapouya opened #197 "Replace "force" with "actuation""
In Actuator methods  `overrideForce` and `computeOverrideForce`, etc. it's more correct and descriptive to use the term `actuation` instead of `force`.

[2014-09-26 21:37] chrisdembia opened #198 "testComponents: Coordinate does not pass"
I played around a little with trying to get Coordinate through testComponents. The issue is that Coordinate::finalizeFromProperties() does error-checking on Coordinate's properties, but it is called in it is called in Component::Component(), before Coordinate::constructProperties() is called.

Here are possible issues, with their solutions:
1. finalizeFromProperties() should not be checking errors

[2014-09-30 02:20] jimmyDunne opened #199 "Extra columns in staticOptimization_activation output file"
Static optimization prints a _activation.sto file that has two extra headers. These headers are the names of the forces defined in the external loads file.

[2014-09-30 17:21] #199 closed, assigned to nobody

[2014-10-01 00:55] aseth1 opened #200 "Constructing properties, connectors, inputs and outputs and their documentation"
The API for specifying these key attributes is still tricky and not consistently (automatically) documented. Properties with macros do appear in the header and their description is present so that is nice, but even for properties it requires calling specialized `construct...` methods in the components constructor. This requirement leads to general problems of enforcement (not part of an enforceabl

[2014-10-07 18:34] chrisdembia opened #202 "Do not duplicate models across repository in the various test directories."
We had a very long discussion a while ago about where models should go, including where models used in test cases should go. I know that ideally the tests would pull in models from a separate models repository, but that sounds difficult.

I suggest that for now, we create a directory OpenSim/Tests/Models, that contains all models used in tests, in one place. Then, the separate test directories wou

[2014-10-09 17:34] aymanhab opened #206 "Add test case for model conversion"
To make sure old models deserialize and display correctly, need a textual rep of Display and a suite of old models using old format.

[2014-10-09 23:20] sherm1 opened #207 "consider using MobilizedBody rather than MobilizedBodyIndex"
(This came up somewhere in the long discussion in Frame PR #188, but we agreed there it should be a separate issue.)

The OpenSim API returns `MobilizedBodyIndex` integers when it needs to provide access to an underlying `MobilizedBody`. A lot of code would be simpler if it just returned a reference to the `MobilizedBody` object directly.

It is very easy to go from `MobilizedBody` to `MobilizedBo

[2014-10-13 18:34] chrisdembia opened #210 "Add coding standards to CONTRIBUTING.md"
In #147 we discussed refining the coding standards on confluence, putting them in the CONTRIBUTING.md, and using a PR to discuss them.

[2014-10-13 20:46] aymanhab opened #211 "Generating names/IDs for arbitrary components in Model"
Current data structures (list of children) maintained by Component do not allow a Component to generate its full path to the root (Model) dynamically on its own since all links in the tree of Components are going in one direction (no uplink from component to its parent). This works fine when generating component names for subcomponents (as in Component::getStateVariableNames) but not when a compon

[2014-10-16 18:35] #211 closed, assigned to nobody

[2014-10-22 00:04] chrisdembia opened #215 "Events: EventHandler, EventReporter"
In #104 @sherm1 said:

I just wrote my own OpenSim event handler; it is a wrapper of a SimTK::TriggeredEventHandler. I'd like to contribute this directly to OpenSim, but I'm not sure how to organize this.

I'm happy to provide the full suite of event functionality (SimTK handlers and reporters, scheduled (periodic), and triggered.

How should I organize this? In my current code, I have a nested cl

[2014-10-23 19:19] jimmyDunne opened #216 "Finalize names for Frame classes"

[2014-10-23 19:20] jimmyDunne opened #217 "Fix class description for Frame and related classes"

[2014-10-23 19:21] jimmyDunne opened #218 "Class hierarchy for station and other points of interest"

[2014-10-23 22:07] jimmyDunne opened #219 "The tibia vtp files are incorrectly named"
Glen Litchtwark noticed that the left and right tibia visual geometry are on the wrong legs. I confirmed this as correct. Looks like the tibia.vtp and l_tibia.vtp are mislabeled. Once we find a home for the models folder I will fix the filenames.

![tibia](https://cloud.githubusercontent.com/assets/5296507/4762083/bc7af8aa-5afd-11e4-985c-ed7bcb49ccc9.png)

The figure is of two right leg models. Th

[2014-10-23 23:44] sherm1 opened #220 "testFrames doesn't compile in Debug builds"
It is failing in `assert()` statements [like these](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Test/testFrames.cpp#L114).

Error messages:

[code]

[2014-10-27 04:54] chrisdembia opened #222 "CMake for building API examples is unclear"
In preparation for making the opensim installation more unix-friendly, I am cleaning up the cmake files for examples. I have some questions.
1. SymbolicExpressionReporter does not get installed (https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Examples/CMakeLists.txt#L16).
2. The block of code starting at [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Ex

[2014-10-27 18:08] #219 closed, assigned to jimmyDunne

[2014-10-27 20:13] jimmyDunne opened #223 "Mass and Inertia scaling when 'preserve mass distribution' is unchecked"
When 'preserve mass distribution' is unchecked (GUI) the input mass is not respected and the resulting scaled model mass does not equal the input mass. The modelscaler() should always alter the body masses and inertia's to match the input mass.

In the mean time I will post the following matlab code so that people can scale the body masses, however this doesnt solve the issue of the inertia's.

[c

[2014-10-29 21:15] #77 closed, assigned to aseth1

[2014-10-30 17:50] #220 closed, assigned to msdemers

[2014-10-31 21:16] aseth1 opened #231 "Fix to Scaling of mass must be verified in the GUI"
The fix to issue #223 (PR #230) required recreating a new system after property changes to evaluate the correct total mass. And then again to correctly post-scale actuator paths based on an up-to-date system.
@aymanhab pointed out concerns that the GUI might be negatively affected by these recreations. Thus we opened this issue as a reminder that we need to verify with a working GUI.

[2014-10-31 21:19] #223 closed, assigned to aseth1

[2014-11-04 22:30] chrisdembia opened #233 "Move methods from SimbodyEngine to Body's and Joint's"
e.g., getAngularAcceleration can be a method on Body.

[2014-11-05 18:29] #207 closed, assigned to nobody

[2014-11-07 05:06] chrisdembia opened #237 "Maintanable Release notes"
Right now, release notes are on Confluence. I think that's a good place for them. However, we have made a large number of API changes. Someone who is converting their own 3.2 code to 4.0 will need to know which functions replace the functions they used to use. If we wait until the release to make a list of these changes, well, that might be unpleasant.

I propose keeping a copy of release notes in

[2014-11-08 07:16] aseth1 opened #240 "Ligament needs reimplementation"
The properties of ligament make little sense. `pcsa_force` and maxIsometricForce are meaningless. It either has a PCSA and an elastic modulus or should simply require a tension-strain curve multiplier.

It is also ridiculous to expect users to define a force(tension)-length curve by providing spline points.

Furthermore, the force curve is specified as a function of normalized ligament length wher

[2014-11-10 21:44] jimmyDunne opened #244 "Improve Data Handling in OpenSim"
## checklist
* [ ]   Create a DataAdapter to define the low-level interface to underlying data and formats (including iterator, metadata)
* [ ]   Create a DataSource component
* [ ]   Create DataChannel component
* [ ]   Replace storages to access a corresponding DataSource (starting with IK solver)
* [ ]   Write a couple examples of the most common DataAdapters

[2014-11-10 21:46] jimmyDunne opened #245 "McKibben Acuator"
Verify component, build use and test cases

[2014-11-10 21:47] jimmyDunne opened #246 "Scaling models with Contact Mesh"
Additional problem: When you open a model with contact, the contact has to be in the current model dir. When scaled, the model doesn't have a current dir so where should the contact live?

[2014-11-10 21:51] jimmyDunne opened #247 "Forward tool not correctly setting initial activation"
Inital states activations, from file, are not respected when doing Forward. Instead, the initial activations revert to the model defaults. This was originally picked up using the tug-of-war example.

[2014-11-10 21:53] jimmyDunne opened #248 "Geometry Interface upgrade"
##checklist

* [ ]   Support variable geometry (E.g. muscles)
* [ ]   Support motion playback and external motion objects (marker data, external forces etc. these are not model components) [Also discussed making some of these model components]
* [ ]   Modify (de)serialization of geometry to support multiple and uniform use
* [ ]   Separate gfx/viz into separate module with clear interface
* [ ]

[2014-11-10 21:57] jimmyDunne opened #249 "Component API for Assembling Studies and Tools"
- [x]  Enable composite components
- [x]  Add Connectors between model compnents
- [x]  Create StateVariable Abstraction
- [x]  Model Component Inputs and Outputs
- [x]  Update body/joint topology (User defined bodies with interconnections specified by joints
- [x]  Conversion to handle new model file format
- [x]  Add finalize or initialize method

[2014-11-10 22:04] jimmyDunne opened #250 "IK and Scaling: State and Markers being printed to results file."

[2014-11-10 22:05] jimmyDunne opened #251 "CMC: mix of rigid and compliant tendons causes errors"

[2014-11-10 22:06] jimmyDunne opened #252 "Replace OpenSim test models with smaller/simpler models wherever possible"
Plan on splitting up the models from examples while building smaller/simpler models for opensim tests

[2014-11-10 22:07] jimmyDunne opened #253 "'Spikey' inverse dynamics results"

[2014-11-10 22:08] jimmyDunne opened #254 "Nightly build for windows"
Github builds using travis (linux), need add windows 7/8/(when released)10.

[2014-11-10 22:09] jimmyDunne opened #255 "Convert OpenSim contact to Simbody contact interface"

[2014-11-10 22:10] jimmyDunne opened #256 "Tools: Experimental data gets added to results files using OpenSim Tools"

[2014-11-11 18:18] aseth1 opened #259 "Risks exposed by OpenSim/Wrapping/SWIGSimTK"
Wrapping is maintaining copies of SimTK header files. PR #258 ran into this problem when an old unused method on Simbody was removed and the only reference to it was in a stale header (Sotation.h) file in OpenSim/Wrapping/SWIGSimTK.

[2014-11-11 19:28] #249 closed, assigned to nobody

[2014-11-11 19:29] jenhicks opened #260 "Propagate the Component interface to all ModelComponents to replace the output reporting performed by analyses"

[2014-11-11 20:02] #245 closed, assigned to nobody

[2014-11-12 16:17] jimmyDunne opened #264 "Improve BallJoint and EllipsoidJoint gifs"
Original comment in PR https://github.com/opensim-org/opensim-core/pull/257

Sherm;

[2014-11-12 19:43] #192 closed, assigned to jimmyDunne

[2014-11-12 21:09] aseth1 opened #268 "Higher level abstraction that owns the System"
There is a need for a Component that is at a higher level than Model so that models can be combined and made to interact. Currently, Model is its own island with its own system. I propose moving that responsibility to higher level Component.

Discussion thus far Q-@aseth1 A-@sherm1:

[2014-11-12 23:22] #163 closed, assigned to aseth1

[2014-11-19 19:39] aseth1 opened #273 "Need a utilty to build Input (state) trajectories from Data (source)"
Building a correspondence between the channels (columns) of a data source (Storage) and state variables in the model is being performed in multiple places and in varying ways. This makes our Tools and Analyses fragile and buggy.

For example, we have `Model::formCompleteStorage()`, `SimbodyEngine::formCompleteStorages()`, and `CMC_TaskSet::setFunctions()` to name a few that are essentially doing t

[2014-11-26 21:51] #135 closed, assigned to aseth1

[2014-12-02 18:57] aymanhab opened #282 "Old model from OpenSim 3.2 distribution fails to open"
message while trying to load bouncing_block.osim

PointToPointSpring::connect() could not find component '' to satisfy Connector<Body> 'body1'.

[2014-12-05 07:32] chrisdembia opened #284 "vs2013 warnings."
as x64:

[code]

If compiling for x32, there are more lepton warnings.

[2014-12-06 01:54] #254 closed, assigned to nobody

[2014-12-06 01:56] chrisdembia opened #285 "Multi-status for pull requests (travis and appveyor)"
Here's one solution. We can get the functionality shown at the bottom of https://github.com/nylen/cyg-apt/pull/69 (AppVeyor build failed / The Travis CI build passed).

This is what we need to do: https://github.com/nylen/cyg-apt/issues/59, http://github-multi-status.herokuapp.com/

We have already set up this webhook, but it doesn't seem to be working. See some discussion here https://github.com/

[2014-12-07 01:31] sherm1 opened #286 "Need an AppVeyor badge in README.md"
Can just copy the code from the Simbody one.

[2014-12-07 20:39] #286 closed, assigned to nobody

[2014-12-07 20:55] sherm1 opened #287 "opensim-core build failing on both Travis and AppVeyor"
Travis build failed apparently because it couldn't get swig; AppVeyor because nuget couldn't get simbody.

[code]

[2014-12-07 22:50] #285 closed, assigned to nobody

[2014-12-07 23:54] chrisdembia opened #290 "[cmake] Clarify find_package(Simbody) errrors."
Right now, if OpenSim can't find simbody, there's a single error message. However, there could be different problems: simbody is nowhere to be found, simbody is the wrong version, or simbody is 64bit and you are trying to build opensim as 32bit.

I created a simpler error message because I thought CMake's message was confusing. But in doing so I lost cmake's default error handling, which gives the

[2014-12-08 00:39] #287 closed, assigned to chrisdembia

[2014-12-09 20:39] #33 closed, assigned to nobody

[2014-12-09 20:44] #152 closed, assigned to nobody

[2014-12-09 20:46] #111 closed, assigned to nobody

[2014-12-09 20:49] #14 closed, assigned to nobody

[2014-12-10 00:31] chrisdembia opened #292 "MuscleAnalysis::setComputeMoments does not serialize"
The method [`setComputeMoments()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Analyses/MuscleAnalysis.h#L136) does not affect the `compute_moments` property. In python scripting, I used `setComputeMoments()` with the expectation that it would affect XML.

My proposal is to remove the local variable `_computeMoments`, and just use the `PropertyBool`. I could replace the propert

[2014-12-15 21:29] chrisdembia opened #294 "Remove lapack, etc. stuff from CMakeLists.txt"
Chris, what did you mean by this?

cc/ @chrisdembia

[2014-12-18 19:35] jenhicks opened #295 "Add a Contributor License Agreement to contributing.md"
See simbody for example. Also check for other useful info and wording to transfer over.

[2014-12-19 01:38] chrisdembia opened #297 "Replace FINAL_11 macro with 'final'"
I don't think we support VS10 anymore (do we? I forgot), so we should be able to do this now.

[2014-12-19 22:28] chrisdembia opened #300 "Upgrade SWIG dependency to 3.0.2."
This would help resolve #259.

When we move to 3.0.2, we should modify common.h, as mentioned in #299.

We might want to wait to do this until @aymanhab has built the GUI again.

[2014-12-20 18:33] #16 closed, assigned to nobody

[2014-12-20 23:45] chrisdembia opened #302 "Actuator::getActuation"
The old method `Actuator::getForce` has been replaced with `ScalarActuator::getActuation`. This has caused me to rewrite the old code

[code]

as

[code]

It'd be nice if I could instead just change the code to `actuator.getActuation(s)`. That is, promote `getActuation(const State&)` to `Actuator`. This might require `Actuator` to be templatized by the size of the actuation.

[2014-12-23 18:37] sherm1 opened #304 "testPrescribedForce fails in Debug; bug in ForceSet & ModelComponentSet"
I ran the OpenSim tests in a VS2013 Debug build. testPrescribedForce failed at [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Test/testPrescribedForce.cpp#L135) when appending to a ForceSet with no associated model. That's because ForceSet has a bug at [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/ForceSet.cpp#L

[2014-12-23 20:00] sherm1 opened #305 "Enable Markdown support in Doxygen"
By default Doxygen supports Markdown syntax for comments, which is very nice. However, we have that [disabled at the moment](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/doc/Doxyfile.in#L263) due to a bug in Doxygen 1.8.5 and earlier that made it mess up our formatting. However, that is fixed in 1.8.6. Once we can require 1.8.6 for doxygen (currently at 1.8.8), we can re-enable

[2014-12-29 21:02] #247 closed, assigned to nobody

[2014-12-29 21:06] #40 closed, assigned to nobody

[2014-12-29 21:09] #62 closed, assigned to sohapouya

[2014-12-29 21:09] #84 closed, assigned to aymanhab

[2014-12-29 21:11] #107 closed, assigned to nobody

[2014-12-29 21:29] #184 closed, assigned to aseth1

[2014-12-29 21:39] jenhicks opened #307 "StateTrajectoryBuilder to build a valid state from a subset of values"

[2014-12-29 21:39] jenhicks opened #308 "Top priority Objects and ModelComponents upgraded to the latest Component API"

[2014-12-29 21:40] jenhicks opened #309 "Example studies (as alternatives to the AnalyzeTool) exercising the API are complete and tested."
Potential examples:
- [ ] Muscle analysis
- [ ] Point and body kinematics
- [ ] Calculator

At least one for internal hackathon and at least two for june dev week.

[2014-12-29 21:42] jenhicks opened #310 "GUI compiles with latest API and tool chain (C++11, SWIG, Java, Matlab)"

[2014-12-29 21:42] jenhicks opened #311 "GUI compiles with latest API and tool chain (C++11, SWIG, Java, Matlab)"

[2014-12-29 21:51] jenhicks opened #312 "New Visualizer for OpenSim"

[2014-12-30 16:48] #310 closed, assigned to nobody

[2015-01-03 21:33] chrisdembia opened #313 "Implement ScalarActuator::setControl."
See #303.

[2015-01-05 17:49] aymanhab commented on #308
Examples that come to mind immediately are WrapObjects and possibly PathPoints.

[2015-01-05 23:13] jimmyDunne commented on #305
Doxygen 1.8.6 through 1.8.9.1 all seem to work well and without incident.
The documentation still looks fine and the Markdown formatted text got processed correctly. There may be instances where an incorrect interpretation of old formatting occurs, but we will just need to be mindful of it and correct when we see it. .

[2015-01-05 23:46] sherm1 commented on #305
Fixed by PR #306.

[2015-01-05 23:46] #305 closed

[2015-01-06 05:25] sherm1 commented on #36
Nice that the easylogging++ guy is responsive! I filed an issue there to see if he'll fix his use of illegal identifier names (standard prohibits leading underscores): easylogging/easyloggingpp#239.

[2015-01-07 19:01] mkhan3189 commented on #36
Legal identifiers are successfully implemented from [Easylogging++ v9.79](https://github.com/easylogging/easyloggingpp/releases/tag/v9.79)

[2015-01-07 20:00] sherm1 commented on #36
Thanks, Majid!

[2015-01-08 18:46] aymanhab opened #314 "Functions used by the GUI now missing"
- [ ] The method model.getSimbodyEngine().getWrapObject("wrapObjectName") used by muscle editor
- [ ] constructor of MarkerSet from a file without a model
- [ ] Easy way to swap in/out states used for backup/restore and by plotter
- [ ] Easy way to assign state vector to State (used by motion playback)

[2015-01-08 19:49] sherm1 commented on #294
@chrisdembia can you say more about this?

[2015-01-08 19:59] sherm1 commented on #222
Related to issue #195, I think.

[2015-01-08 20:08] chrisdembia commented on #294
There's a bunch of CMake commands in OpenSim's root CMakeLists.txt that seem to be copied from Simbody, like `BUILD_USING_OTHER_LAPACK`. These variables, etc. have no function in OpenSim, since they are controlled by Simbody.

This amounts to deleting a bunch of duplicate cmake code. It's easy, but I want to do it as part of #195. Progress on #195 is awaiting #229 though.

[2015-01-08 20:08] chrisdembia commented on #222
yep

[2015-01-09 21:30] chrisdembia commented on #237
With regard to the renaming of methods to `extend()`, this can really lead to subtle bugs and we need to document this in release notes.

E.G., the predictive code has a method `initStateFromProperties(State& s) const;` that I did NOT have marked override. When updating to the latest opensim code, this method was orphaned, but the compiler gave me no such notice.

[2015-01-09 21:30] chrisdembia commented on #237
Of course, the original author would have ideally marked the method as OVERRIDE_11.

[2015-01-10 00:07] chrisdembia opened #315 "Order of Object::registerType() calls erases previous distinct object"
The new predictive sim code that @carmichaelong and I are working on consists of an opensim plugin. In the RegisterTypes cpp file for the plugin, we have some code like this:

[code]

If one calls `Object::getDefaultInstanceOfType("PGaitCMAESSolver")`, one gets back `nullptr`. If one then comments out `Object::registerType(PGaitSimpleCMAESSolver());`:

[code]

then `Object::getDefaultInstanceOfTyp

[2015-01-10 00:14] sherm1 commented on #315
Any possibility both classes were accidentally given the same name strings?

[2015-01-10 00:23] chrisdembia commented on #315
I wish. I didn't supply a name string myself anywhere. `Object` would have had to modify the name strings and I didn't see anything like that. I just double-checked my `OpenSim_DECLARE_CONCRETE_OBJECT` calls for both classes, and the arguments to those macros are correct. Also, my gut thinks that if name strings were the same anywhere, that would be an issue on linux too; there is no issue on linu

[2015-01-10 00:30] sherm1 commented on #315
Oh, I didn't catch that it was working on Linux. Sounds like another ugly Visual Studio problem :-1:

[2015-01-13 02:59] chrisdembia commented on #284
This seems to be an issue with using `std::` template classes in a dll-exported class.
http://stackoverflow.com/questions/767579/exporting-classes-containing-std-objects-vector-map-etc-from-a-dll

[2015-01-13 03:25] sherm1 commented on #284
Simbody addressed the same problem [like this](https://github.com/simbody/simbody/blob/master/SimTKcommon/include/SimTKcommon/internal/common.h#L168) long ago. It hasn't caused any trouble for me so I think that is probably the way to go.

[2015-01-13 17:02] chrisdembia commented on #284
Ah thank you! My reading on the matter seemed to say that ignoring the warning wasn't necessarily a good idea, but I don't really understand the issue. Something about what if clients use a different version of the standard library, etc.

[2015-01-13 17:24] sherm1 commented on #284
If the std classes are used in the API, and you are releasing pre-compiled binaries, and the user uses a different compiler, then there is a problem. But that is one of only very many problems in trying to make binary-compatible C++ APIs. I gave up on that and just require that people recompile, or use a carefully managed set of matching binaries as Debian does.

[2015-01-13 19:40] aymanhab opened #316 "WrapObjects and PathPoints do not display"
Moving visualization to ModelComponent based scheme results in WrapObjects not showing since they are not ModelComponents. They need to be upgraded per #308.

[2015-01-14 02:05] chrisdembia opened #320 "Nested classes are not documented"
The documentation for HuntCrossleyForce::ContactParameters shows up in the documentation for HuntCrossleyForce. For example:

![image](https://cloud.githubusercontent.com/assets/846001/5732863/9325d0ba-9b4e-11e4-935a-2cb1624fe32c.png)

Related issue: #238. Right now, nested classes are not documented. #238 restores them but still might not fix this issue.

[2015-01-14 17:39] jimmyDunne opened #321 "MuscleAnalysis producing empty moment arm files"
The option 'compute_moments' is unchecked by default. Yet (empty) moment arm files are generated for each coordinate.

Can we either (a) check compute_moments by default or (b) not print files when unchecked?

[2015-01-14 17:51] chrisdembia commented on #321
Related but distinct: #292

[2015-01-14 17:54] chrisdembia commented on #321
See [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Analyses/MuscleAnalysis.cpp#L241) and [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Analyses/MuscleAnalysis.cpp#L779).

[2015-01-15 18:14] aymanhab opened #322 "Converting Geometry from old format fails because of unexpected changes in XML during parsing"
Old geometry that had non-trivial transform now need to reference a Frame that lies somewhere else in the XML tree of the model. Navigating the XML tree fails during the call to updateFromXMLNode() and terminates in an "Unnamed" node that can be tracked to the method:
AbstractProperty::readFromXMLParentElement

Need to fix, change XML layout or else will break backward compatibility of models that

[2015-01-16 19:21] chrisdembia opened #323 "OpenSimConfig.cmake assumes an install directory."
Right now, we have a mechanism for people who want to use OpenSim as a library for their own C++ project: OpenSimConfig.cmake.

However, this mechanism only works if OpenSim is installed in the location specified during the build process. This is fine for people building from source, b/c they know their install directory ahead of time (during building).

However, when we distribute OpenSim binarie

[2015-01-17 23:55] #321 closed

[2015-01-18 02:01] aseth1 opened #326 "Thelen2003Muscle fails to update upon setPennationAngleAtOptimalFiberLength()"
The Thelen2003Muscle uses a MuscleFixedWidthPennationModel component internally which also has the same pennation property. If the convenience constructor of the muscle is called with the pennation as an argument it is pushed down to the pennation model, but if `setPennationAngleAtOptimalFiberLength()` only the muscle's property is updated and the pennation model remains out-of-date.

[2015-01-19 07:55] chrisdembia commented on #315
Completely ignore this issue. Almost everything above is false. It was my fault for not calling `LoadLibrary` for explicit linkage on windows.

[2015-01-19 07:55] #315 closed

[2015-01-20 22:14] chrisdembia commented on #323
Another option is that the OpenSim GUI installer can write the appropriate OpenSimConfig.cmake file once it knows where the user will install opensim.

[2015-01-20 22:55] aymanhab commented on #323
@chrisdembia The GUI doesn't know where it's installed, it's the installer script.

[2015-01-21 00:02] chrisdembia commented on #323
Ah thanks for clarifying.

[2015-01-21 17:30] chrisdembia opened #328 "Not easy to apply ExternalLoads if integrating directly with Manager (instead of ForwardTool)."
Right now, the Tools accept an ExternalLoads object, which is a set of force elements that the ExternalLoads object helps organize. The ExternalLoads object also adds functionality: allowing the use of an IK motion to modify where the ExternalForce is applied. The Tool (e.g, ForwardTool) is responsible for adding the ExternalLoads' force elements to the Model; see [here](https://github.com/opensim

[2015-01-21 20:47] chrisdembia commented on #140
The ability to apt-get on the container-based VM's is imminent: https://github.com/travis-ci/travis-build/pull/372

Travis is increasing support for ccache caching soon.
https://github.com/travis-ci/travis-ci/issues/3061

[2015-01-22 18:40] sherm1 opened #329 "Controller::addActuator() should take pointer not reference"
The `Controller::addActuator()` method is defined to take a `const Actuator&`. It then goes through horrifying contortions [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Control/Controller.cpp#L156) to turn that into a non-const pointer and then take over ownership as though it had received a heap-allocated object!

I noticed this because the very first example w

[2015-01-22 18:53] chrisdembia commented on #329
There's a comment also above those contortions saying:

[code]

@aseth1 will connectors allow us to get rid of the Controller's Set of actuators? It seems like they won't, because there are a fixed number of connections at compile-time. Would it be possible to add connections at runtime?

[2015-01-22 19:15] sherm1 commented on #328
Ajay says this will be moot in 4.0.

[2015-01-22 19:15] #328 closed

[2015-01-22 19:23] sherm1 commented on #329
From discussion, the API might be right as is but it shouldn't be adopting internally. Ajay will take a look.

[2015-01-22 19:25] sherm1 opened #330 "should we switch to adopt for methods that take over ownership?"
... and use "add" only for appending things to lists with references or strings or whatever with no ownership semantics employed.

This might be too much of an API change, but would be nice ...

If it gets done, it must be in 4.0 while we're mangling the API.

[2015-01-22 20:24] chrisdembia opened #331 "Add table of terms/verbs to CONTRIBUTING.md."
Like @sherm1 created at simbody.

[2015-01-23 08:39] tkuchida commented on #326
@aseth1 It seems like an easy solution would be to make [`Muscle::setPennationAngleAtOptimalFiberLength()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Muscle.h#L117) virtual and override it in Thelen2003Muscle, but that seems unhygienic. I'm guessing you had something else in mind?

[2015-01-23 10:10] tkuchida commented on #326
:thought_balloon: Could also put a check in [`getPennationModel()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Actuators/Thelen2003Muscle.cpp#L206) to make sure all its properties are correct, and ensure `getPennationModel()` is called in place of `penMdl`(e.g., [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Actuators/Thelen2003Muscle.cpp#L598)). Seems

[2015-01-23 18:28] aseth1 commented on #326
or, make a pendulum model a ModelComponent and a a real subcomponent of the Thelen muscle. Then replace `buildMuscle` and  `ensure<>UpToDate()` methods with a complete `extendFinalizeFromProperties`.

[2015-01-24 22:38] chrisdembia commented on #195
Reminder to self: https://github.com/chrisdembia/opensim-core/tree/unix-install-2

[2015-01-25 20:33] chrisdembia commented on #119
What exactly is the desired behavior upon copy of, e.g., connected inputs? If I make a copy of a model that contains connected inputs, I want the inputs to be wired up to the NEW model's outputs, not the previous one's.

[2015-01-25 21:11] chrisdembia commented on #168
We should revisit this since we now have Component Iterators.

[2015-01-25 23:10] chrisdembia opened #332 "BodyDragExample and CustomActuatorExample use connectToModel instead of extendConnectToModel."
Related to #189. This code is not being tested.

[2015-01-26 01:07] chrisdembia opened #333 "Outputs for StateVariables are created after construction; inconsistent. Also, outputs duplicated in Coordinate."
In #21 we created an output for every state variable. However, this is problematic because the state variable outputs are created during the "add to system" phase of building, while the rest of the outputs are created during an individual object's construction.

Also, Coordinate currently has explicit outputs for their value, speed, and acceleration. However, the Coordinate SHOULD already have val

[2015-01-26 07:37] chrisdembia opened #335 "Manager constructor that doesn't take integrator leads to exception"
[code]

I guess we have no use cases of this in the code.

See related https://github.com/opensim-org/opensim-core/pull/106

[2015-01-26 07:57] aseth1 commented on #119
The connection should not be copied. The connector and its property that identifies its connectee should be copied. You should be forced to call connect() or connectToModel() on the model that copy is added to. This guarantees that the copy has no effect on the original component, its connections and the model it belongs to.

[2015-01-26 19:21] chrisdembia commented on #333
A related issue is that the dependsOn stage for the Coordinate "value" and "speed" outputs should be `Stage::Model`.

[2015-01-29 19:23] sherm1 commented on #335
Per Ajay: would be better to replace this with a sensible Solver component in 4.0.

[2015-01-29 19:23] chrisdembia commented on #335
#156.

[2015-01-29 19:25] chrisdembia commented on #156
Use unique_ptr and swap.

[2015-01-29 19:28] sherm1 commented on #333
Per discussion: Outputs should be defined with the Component, but they can't be hooked up to the state until addToSystem().

[2015-01-29 19:31] sherm1 commented on #333
Chris & Ajay think this means we can (and should) remove the "hidden" flag. Now if you don't create an output -- it's hidden!

[2015-01-29 19:32] sherm1 commented on #332
It would be nice if these plug in examples would get built by continuous integration!

[2015-01-29 19:33] chrisdembia opened #337 "Formal mechanism for to make sure all enabled degrees of freedom are actuated, have no tasks, etc."
initial title:

CMC, etc. should give warning or meaningful error when there are active CMC_Tasks for locked coordinates.

Right now, users get a DLASD. It'd be nice in general to have a formal error checking mechanism that makes sure all enabled degrees of freedom are actuated.

[2015-01-29 19:34] sherm1 commented on #331
See #295

[2015-01-29 19:55] chrisdembia commented on #61
No intent.

[2015-01-29 19:55] #61 closed

[2015-02-01 20:45] chrisdembia opened #338 "Using backslashes in SIMBODY_HOME CMake variable causes Simbody to not be found on Windows."
Reported by @JustinSi

[2015-02-01 21:14] JustinSi commented on #338
Actually it is that when you build Simbody using CMake, you have to make sure that your install directory does not use backslashes. Otherwise it will cause parsing error for other projects that use Simbody since they will use Simbody's cmake configuration file

[2015-02-01 21:50] chrisdembia commented on #338
Ah thanks for clarifying. I thought CMake allows people to combine both types of slashes, but maybe they are being used as escape characters?

[2015-02-02 00:31] JustinSi commented on #338
I think you are right, when CMake parse some file, it will treat backslash as escape characters

[2015-02-02 17:47] jimmyDunne opened #340 "Static Optimization fails with ligaments"
Lianne Zevenbergen reported an issue with Static optimization

[code]

[code]

[2015-02-02 17:51] jimmyDunne commented on #337
Is there a way of extending this issue to include the removal of cmc/rra actuator and task files?

I feel that there should automated way to either generate these files, or internally create an object if no file is provided.

Your problem would be part of this solution

[2015-02-02 17:53] chrisdembia commented on #340
Awesome! Should we ask them to submit a pull request?

[2015-02-02 17:54] chrisdembia commented on #337
Oh yea it'd be great if we automatically generate template actuator and task files.

[2015-02-04 05:05] chrisdembia opened #341 "Remove ability to hide StateVariable's"
See #333, #23.

[2015-02-04 05:08] chrisdembia commented on #338
I found an email thread that suggested we do:

[code]

to the path.

[2015-02-04 05:23] sherm1 commented on #338
*Four* backslashes? I would have thought that would translate to `\\`.

[2015-02-04 05:39] chrisdembia commented on #338
See [here](http://public.kitware.com/pipermail/cmake/2005-August/007149.html).

[2015-02-04 06:03] chrisdembia commented on #195
next branches to merge: unix-dont-copy-simbody and unix-install-2

[2015-02-04 06:48] chrisdembia commented on #333
I'm wondering how much of an issue this actually is, since you can't use *any* outputs until you have a state, and having a state means you've already called `addToSystem()` on the Model, right?

I originally raised this issue because testComponents checks your list of Output's before `addToSystem()` is called, and thus the outputs for the state variables weren't appearing.

[2015-02-04 06:50] chrisdembia commented on #333
My in-progress work for fixing this issue is in this branch: https://github.com/opensim-org/opensim-core/tree/remove-statevar-outputs

[2015-02-04 17:55] sherm1 commented on #338
Weird, but since it's CMake that might be right. But that thread is 10 years old and CMake has changed quite a lot since then.

[2015-02-04 18:02] chrisdembia commented on #338
Yeah. I still don't like this solution; I feel it shouldn't be necessary. Maybe this needs some testing. I think it's fairly important though, since I think most of our users on Windows are likely to use backslashes in CMake variables.

[2015-02-05 01:22] sherm1 opened #344 "Fix moment arm for moving muscle point dependent on multiple coordinates"
From earlier discussion, I gather a popular upper body model that was fine in 3.1 doesn't work in 3.2 because it contains moving muscle points (MMPs) for shoulder muscles where the point locations depend on a function of more than one coordinate. Our moment arm fix for MMPs in 3.2 only handled dependency on one coordinate, so is preventing the model from working. The method should work fine for mu

[2015-02-05 19:07] jimmyDunne commented on #344
@apoorvar May be interested?

[2015-02-05 19:12] jimmyDunne commented on #341
@aseth1 Will check

[2015-02-05 19:16] jimmyDunne commented on #340
This will be a bigger overhaul of SO and tools

[2015-02-05 19:18] jimmyDunne commented on #340
SO solver should take possession of the muscle actuators and other forces should just be left alone. @aseth1 will clarify

[2015-02-05 19:22] jimmyDunne commented on #338
This may be an issue with cmake variable being in quotes.

[2015-02-05 19:33] chrisdembia commented on #337
James has a good idea to have the taskset automatically generate a taskset for a model.

[2015-02-05 19:54] chrisdembia opened #346 "Property value checks"
Make sure that checking properties are done in finalizeFromProperties(). Make this clear in documentation.

[2015-02-05 22:22] aymanhab opened #347 "move generateDecorations method from ModelComponent into Component"
This has been agreed upon with @sherm1 and @aseth1 to enable Geometry to draw itself rather than have ModelComponent draw its Geometry. This issue is a place holder to discuss the side effects when the move is done in the code. Potential issues:
- ModelComponent has access to getModel while Component doesn't.

Will update as we go.

[2015-02-05 23:08] aseth1 commented on #347
I guess that is a good test if something is a ModelComponent or not. If you need to `getModel()` to access the Model you belong to, then you are a ModelComponent. If you can draw yourself or compute something without the notion of being a part of a Model (e.g. you only add yourself to and require the underlying system) then you are a plain Component.

Things that are clearly not ModelComponents ar

[2015-02-05 23:23] sherm1 commented on #347
I would be happy with Geometry as a ModelComponent. I guess a separate question is whether Solver, Operator, Function, etc. Components might want to generate some displayed information and if so should they do it with `generateDecorations()`. Decorations can include screen text, lines, and other simple things.

[2015-02-06 00:30] aseth1 commented on #347
Sure. I hadn't thought about that. I guess you could even have a Component like an Oscilloscope whose only job would be draw an Input as a waveform on screen. That wouldn't be a ModelComponent either.

[2015-02-06 19:24] chrisdembia commented on #210
Addressed by #345.

[2015-02-06 19:24] #210 closed

[2015-02-06 19:24] chrisdembia commented on #295
Addressed by #345.

[2015-02-06 19:24] #295 closed

[2015-02-06 19:24] chrisdembia commented on #331
Addressed in #345.

[2015-02-06 19:24] #331 closed

[2015-02-07 02:37] chrisdembia opened #350 "testCMCWithControlConstraintsRunningModel periodically fails on appveyor"
The first time I started seeing this was with the recent Frames PR. I'm not saying the Frames PR caused it, though.

[2015-02-08 01:10] chrisdembia commented on #323
Aha! The OpenSimConfig.cmake file just shouldn't have the installation path in it. It should deduce the installation prefix from its OWN location using http://www.cmake.org/cmake/help/v3.0/variable/CMAKE_CURRENT_LIST_FILE.html

[2015-02-09 01:55] chrisdembia commented on #323
I've proposed a fix for this in simbody: https://github.com/simbody/simbody/pull/339

[2015-02-11 02:31] chrisdembia commented on #350
This is the message that I see on appveyor:

[code]

[2015-02-11 02:32] chrisdembia commented on #350
Can someone on a windows machine run this test a few times to see if it fails periodically?

[2015-02-11 03:45] tkuchida commented on #350
Passed 4 consecutive times.

[2015-02-11 03:49] tkuchida commented on #350
The next line in the output is `taskSet size = 29`… maybe the task set file isn't being read properly? No hypothesis as to why that would cause a periodic failure, though.

[2015-02-11 05:07] chrisdembia commented on #350
Thanks for looking into this. Yeah...I don't know. And every time I've rerun the appveyor build after failure, it succeeds.

Maybe appveyor is just timing out and I didn't notice?

[2015-02-11 21:52] #323 closed

[2015-02-12 00:58] moorepants commented on #195
@chrisdembia just came across this: http://click.pocoo.org

I think it is setup to do command line interfaces with lots of nested subcommands. Same guy that wrote Flask wrote this, so it is likely good. There example implements the git subcommands:

http://click.pocoo.org/3/complex/#complex-guide

Maybe you can use it for Opensim's command line access (although you'd have to provide Python then).

[2015-02-12 01:11] chrisdembia commented on #195
Awesome!! Thanks for sharing that. That's exactly what I was thinking about. Having to use python might be a serious limitation though.

[2015-02-12 01:17] moorepants commented on #195
I'm not sure how Python is a limitation :)

You can embed a Python interpreter with the open sim app on Windows and just use the system python on other OS's.

[2015-02-14 01:47] chrisdembia opened #352 "Should I be able to integrate a model if !isObjectUpToDateWithProperties()?"
I tried the following:
1. model.initSystem() and integrate
2. change a property value
3. model.initializeState and integrate

For object for which I changed a property, its `extendFinalizeFromProperties()` method was not invoked upon performing (3). This means that I was able to integrate a model that was not finalized from its new properties.

I apologize if I'm missing some crucial piece of info

[2015-02-14 03:16] aymanhab commented on #352
@chrisdembia The convention used by the GUI when editing and that has been advocated (verbally at least) is to call initSystem again whenever a property value changes rather than initializeState since some property changes may potentially change the state layout.

[2015-02-14 04:29] chrisdembia commented on #352
Thanks @aymanhab. That's what I have chosen to do. Since we have infrastructure to detect if properties have changed, do you think we should automate that call to initSystem or to finalizeFromProperties? Or at least throw an exception in the Manager or somewhere?

[2015-02-14 08:21] chrisdembia opened #353 "Type mismatch between Input and Output throws cryptic exception, not the intended one."
When calling `getInput("a").connect(getOutput("b"))` and the types for the input and output don't match, I get a `std::bad_cast` which is not too helpful. I see that `Connector` has a type check and a useful exception [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/ComponentConnector.h#L165), but `Input` doesn't use this method for connecting [here](https://github.com

[2015-02-20 01:02] chrisdembia commented on #233
This could be a good task for that undergrad.

[2015-02-20 23:56] chrisdembia opened #356 "An output with a dependsOn stage above Velocity causes SimTK::TimeStepper::initialize to throw an exception"
This hasn't come up yet because we don't have any tests that test integrating a system with outputs above Velocity that are wired up.

I don't understand the cause of the issue. I presume the TimeStepper has no reason to realize past Velocity when just initializing. I also presume that sherm has had to deal with a similar issue for Measures (how are measures handled during initialization for measu

[2015-02-20 23:56] chrisdembia commented on #356
I removed the milestone to make sure we discuss this at the next dev meeting.

[2015-02-21 00:52] sherm1 commented on #356
Initialization is always tricky! Since Measures can depend on other Measures at initialization, and Measures can affect accelerations, realizing everything to Acceleration stage prior to Measure initialization can't work right.

Instead it works like this: when an Integrator's initialize() method gets called, it goes through [this code](https://github.com/simbody/simbody/blob/master/SimTKmath/Inte

[2015-02-21 00:56] aymanhab opened #357 "testComponents gives incorrect error diagnostic"
When a Component "contains" another component that has connections and the latter are not satisfied, the test fails with incorrect message about structural dependencies not specified as connectors. The check relies on getConnectors at the top level instead of going down the subcomponents recursively.

[2015-02-21 01:18] chrisdembia commented on #350
Now testCMCGait10dof18musc failed: https://ci.appveyor.com/project/opensim-org/opensim-core/build/192

[code]

Seems to fail in a similar way. I agree with Tom that it might be a file reading error.

[2015-02-21 01:33] chrisdembia commented on #356
Ah great. Thanks for that explanation.

[2015-02-21 03:25] aymanhab opened #359 "Serialization of Connections is verbose"
Connections can be serialized as glorified Properties from the XML side with exactly three attributes: type, name and connected_to_name, instead of the current xml representation:

[code]

An example simpler syntax,

[code]

would do the job, and avoids making up syntax to serialize templates.

It'd be good to investigate this before we propagate connections all over our xml files.

[2015-02-21 03:58] chrisdembia commented on #359
@aymanhab, `<` and `>` seem to have some special meaning in Markdown. I edited your post so that we can now see your code samples (put code samples between pairs of 3 backticks:

![image](https://cloud.githubusercontent.com/assets/846001/6312766/e0b5175a-b93a-11e4-92e0-e0823b00f15c.png)

[2015-02-21 04:01] chrisdembia commented on #359
+1

I agree that the current syntax is very verbose, and I really like the proposed syntax.    Is it possible? What about a type with multiple template arguments?

[2015-02-21 04:26] sherm1 commented on #359
+1
Nice syntax!

[2015-02-22 19:07] aymanhab commented on #359
Thanks @chrisdembia and @sherm1 for the feedback. I think it's possible, I just wanted to start the discussion to see how others feel about it, then we can discuss the pros, cons and implementation.

[2015-02-23 00:04] tkuchida commented on #326
@aseth1 Why is the `activation_time_constant` property duplicated in `Thelen2003Muscle()` and `MuscleFirstOrderActivationDynamicModel()`? Is this duplication necessary to get the property to show up in the GUI?

[2015-02-23 04:13] aymanhab commented on #326
Tom,

The Gui does no special treatment of objects so all properties are editable
and exposed as far as I know.

Ayman
On Feb 22, 2015 4:04 PM, "Tom Uchida" <notifications@github.com> wrote:

[2015-02-23 04:41] tkuchida commented on #326
Thanks, @aymanhab. I think I understand now: since `MuscleFirstOrderActivationDynamicModel` is currently a private member of `Thelen2003Muscle()` (not a subcomponent), the properties of `MuscleFirstOrderActivationDynamicModel` aren't visible from the GUI. Seems like a good opportunity to take advantage of the Component interface.

[2015-02-23 04:42] aseth1 commented on #359
I also agree the brevity of the proposed syntax is nice. @aymanhab How easy is it for you to make the change? Would you the have a Connector factory to create the concrete type?

If we didn't require people to build models via XML editing, would the verbosity even matter?

[2015-02-23 15:04] chrisdembia commented on #359
Not as much but yes, to view their model. Also, I think if we support a plain-text serialization format, we should support it well. I actually wasn't thinking of the verbosity in terms of having to type up all of that when creating XML; I just thought it was too much to look at when reading XML. I like the idea that one line of XML contains roughly one unit of useful information.

[2015-02-23 17:29] aymanhab commented on #359
@aseth1 I think the implementation "should" be straightforward (basically after deserialization, pass XML into a Factory that creates the concrete class) but I may need some template gymnastics help from the template-jedi-master @sherm1), do you think that's feasible, @sherm1 ?

The issues that triggered this are:
1. When converting a frame_name property into a frame connector for geometry, compar

[2015-02-23 17:50] sherm1 commented on #359
Not knowing any of the specifics, I would say: of course!

[2015-02-23 18:08] aseth1 commented on #359
@aymanhab @chrisdembia these are all good points! I agree that registering concrete Connectors is a pain! I would really love to see that go away. It seems like you have a plan - so go for it!

[2015-02-24 01:13] chrisdembia opened #360 "ComponentList and ComponentListIterator are not exported."
Should they be? I'll do this quickly if we agree it should be done.

[2015-02-24 01:13] chrisdembia commented on #360
By exported, I mean the OSIMCOMMON_API macro.

[2015-02-24 01:57] chrisdembia opened #361 "ComponentListIterator() is potentially costly due to dynamic casting."
Ajay and I discussed renaming getComponetList<T>() to formComponentList<T>(), but that wouldn't help, b/c the dynamic cast occurs when incrementing the iterator.

[2015-02-24 02:16] chrisdembia opened #362 "Oscilliscope component"
Earlier today, @aseth1 , @carmichaelong and I came up with the idea for an Oscilliscope component: A Reporter that plots a graph during a simulation as part of the "heads-up display".

[2015-02-24 05:25] sherm1 commented on #362
:+1:

[2015-02-24 05:53] aymanhab commented on #361
@chrisdembia as far as I can tell, to do selection you have to do visiting which is inherently order n for any data structure that contains n elements. The only optimization that can be done is caching lists of particular type, if type is fixed, but then maintenance becomes harder. If somebody needs to access same list over and over, he/she can build the cache themselves but I'm open to other sugg

[2015-02-24 05:56] aymanhab commented on #360
@chrisdembia I agree they need to be exposed, feel free to add the macro.
I'd have to say though that this has no bearing on wrapping since swig uses its own macro and export the instantiated classes correctly as I've been using them from Java without any problems but for access from another c++ library the macro maybe needed.

[2015-02-24 06:49] chrisdembia commented on #360
Good to know. Related to the performance question, do you ever need to use the iterator repeatedly?

K I'll do this. Thanks for the input.

[2015-02-24 06:49] chrisdembia commented on #361
Okay I agree. Maybe we can close this.

[2015-02-24 06:49] #361 closed

[2015-02-24 07:53] aymanhab commented on #360
@chrisdembia I have to reuse the iterator to cycle through all components to generate DecorativeGeometry.  The amount of work done iterating is likely small relative to the processing we do but we need to profile to have a quantitative measure.  In essence, our separate lists inside a Model for Bodies, Forces, ... are caches that are more efficient but are also harder to maintain, particularly whe

[2015-02-27 01:44] chrisdembia opened #365 "Can setObjectIsUpToDateWithProperties() be private?"
Maybe components shouldn't be allowed to tell the base Component that they are up to date; that perhaps can be managed completely by the base Component. This came up in #364.

Right now, there are three "places" that this method is used: in MillardMuscle-related classes, in StaticOptimization, and in Model. It seems very likely that MillardMuscle and StaticOptimization don't need to call this meth

[2015-02-27 02:40] tkuchida opened #366 "Replace MuscleFirstOrderActivationDynamicModel with MuscleActivationDynamics in Thelen2003Muscle"
MuscleActivationDynamics is an abstract class that would allow one to switch between ZerothOrderMuscleActivationDynamics, FirstOrderMuscleActivationDynamics, etc.

[2015-02-27 19:06] aseth1 commented on #366
I like where this is going. Why not go straight to Muscle including the slots for its submodels (e.g. its concrete MuscleActivationDynamics?). Otherwise we are going to duplicate for Millard, etc...  Also a secondary point, I don't think people are going to figure out what `ZerothOrderMuscleActivationDynamics` means. `NoActivationDynamics` are something along those lines may be clearer?

[2015-02-27 19:18] tkuchida commented on #366
Sounds like a good plan, though that will be a big job since it will affect all muscles.

I propose `NoMuscleActivationDynamics` so we have `{NULL|No|FirstOrder}MuscleActivationDynamics` classes.

[2015-02-27 19:22] chrisdembia opened #368 "Wrap PhysicalOffsetFrame for use in python, etc., and write tests"
Right now, Frame and PhysicalFrame are.

[2015-02-27 19:23] aseth1 commented on #366
The unspecified case would default to `NoMuscleActivationDynamics`, so there wouldn't be a NULL MuscleActivationDynamics model case.

[2015-02-27 19:24] aseth1 commented on #366
Also

:+1:

[2015-02-27 19:25] tkuchida commented on #366
I meant that the abstract class would be named `MuscleActivationDynamics` and all concrete classes would be named `SOMETHINGMuscleActivationDynamics`.

[2015-02-27 19:26] aseth1 commented on #368
Yes, PhysicalOffsetFrame is going to be a key part of defining Joint and muscle attachment locations, etc..

[2015-02-27 21:19] aseth1 opened #369 "Make use of Frames"
Frames were designed and implemented but nothing is using them. Below is a list of tasks to make good use of Frames and to help make the API easier to use and more robust.
Specific Tasks:
- [x] Replace use of a Body named "ground" with a Ground (Physical)Frame. Ground is an attribute of a Model (for now) but should belong to an Environment component when it exists. See #370
- [x] Enable Joints to

[2015-02-27 21:25] chrisdembia commented on #369
+!

[2015-02-28 02:31] chrisdembia opened #371 "Profile input/output/connector name lookups; create indices if necessary."
While Xuefeng was measuring my sarcomere lengths, I was wondering if input/output/connector name lookups will be expensive. If we do profiling and determine it'd be nice to access inputs/outputs/connectors by index instead of by string name, then we can allow access by index. The actual data structure could be a vector, and there can be a map<string, int> that allows name access.

This might be a

[2015-02-28 21:27] chrisdembia opened #373 "Double-check linking to SimTK libraries when building in debug"
Brought up through #372.

[2015-02-28 21:52] msdemers opened #374 "Important windows dependencies missing from readme"
The windows build -> Get Dependencies -> API Documentation lists Doxygen as the only dependency.  This is incorrect.  The doxygen build on windows also depends on:

1. Tex
2. LaTex
3. GhostScript

There are many distributions and options for obtaining any/all three, so some discussion about the best, recommended options is in order.

[2015-02-28 21:53] msdemers commented on #362
that would be a killer feature.

[2015-02-28 22:01] msdemers commented on #369
so close to making my dreams come true!

[2015-02-28 23:16] jimmyDunne commented on #374
Listed as optional. Tex, Latex and Ghostscript are also optional (if you want pretty equations). We have links to distributions here;

http://simtk-confluence.stanford.edu:8080/display/OpenSim/Guide+to+Building+Doxygen

Should we link them through the readme?

[2015-03-01 00:43] msdemers commented on #374
Unfortunately, pretty equation printing is not behaving as "optional" right now. If you build the documentation, all four dependencies are required. Using a fresh window 8 install, with only doxygen and lacking the other 3, building the doxygen target yields build errors. Once Tex, LaTex, and Ghostcript are installed, the doxygen target builds just fine.

Therefore, Tex, LaTex, and GhostScript cur

[2015-03-01 04:31] chrisdembia commented on #374
I'm strongly in favor of using mathjax instead: https://github.com/opensim-org/opensim-core/blob/master/OpenSim/doc/Doxyfile.in#L1195

Let me know if people agree, and I'll make a PR.

We'd have to add mathjax.js to the repository. It takes up about 2 mb if we remove all the fluff. https://github.com/mathjax/MathJax-docs/wiki/Guide%3A-reducing-size-of-a-mathjax-installation

[2015-03-01 20:07] sherm1 commented on #374
I have mixed feelings. MathJax does produce nicer equation rendering. But, it requires more infrastructure on the user's machine, increasing the chance that they won't see properly rendered equations. The manual steps required to reduce its footprint means we have a maintenance issue at our end -- we will have to upgrade it long after anyone remembers how to do that. The LaTeX alternative requires

[2015-03-01 21:18] chrisdembia commented on #369
An aside: I don't think we should delete the current constructors that take a location and orientation vec3, for backwards compatibility. (just add the new ones)

[2015-03-01 21:46] moorepants commented on #374
New lightweight math renderer that could be an alternative: https://github.com/Khan/KaTeX.

Can't you just point to the Mathjax CDN (i.e. don't include Mathjax in your source) and have a fall back to pre-rendered png's of math equations generated by LaTeX if the user doesn't have internet access?

We typically do this:

1. Try to render with MathJax cdn.
2. Render with local Mathjax if user has it

[2015-03-01 22:45] sherm1 commented on #374
I like the idea of using MathJax cdn because it doesn't require maintenance on our part (doxygen handles formatting; MathJax handles bug fixes). The downside is that offline users will see no equations. The alternative we currently use is to have doxygen format with LaTeX in which case the resulting documentation is self contained. Doxygen runs as part of our build to produce the reference documen

[2015-03-02 09:24] msdemers commented on #374
uh oh.  same issue with the OS X build out of the box on fresh os image.  fixed with quick install of mactex.  luckily it's and easy install with homebrew ( brew cask install mactex )

I've never worked with MathJax so I won't weight in on that.

[2015-03-02 09:45] msdemers opened #375 "Build system for Apple OS X needs cleanup. Fails out of the box"
It looks like the cmake rules for OS X haven't been updated in a while and are long obsolete.  Some legacy hacks dating back to OS X 10.6 Snow Leopard and Xcode 4 (year 2009) are breaking the build out of the box on modern OS X systems, regardless of whether GNU Make or xcode are used.

Specifically:
1. -m32 is explicitly defined for Apple only.  Causes make to ignore the system default and develo

[2015-03-02 16:21] chrisdembia commented on #375
+1

[2015-03-02 21:09] msdemers commented on #375
Removing the following lines (all outdated or redundant with general GNU make or clang rules) patches the release build.

    SET( CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -mmacosx-version-min=10.8 -m32" )
    SET( CMAKE_C_FLAGS "${CMAKE_C_FLAGS} -mmacosx-version-min=10.8 -m32" )
   SET( LIB64  )
   SET(ARCH64 OFF)
ENDIF( APPLE )

However, debug build is still failing.  Probably related to issue #372 a

[2015-03-02 21:23] aymanhab commented on #368
@chrisdembia Definitely. I've been updating the wrapping for Java to use in GUI (the changes have been on geometry_v2 branch), I was planning to update both Java & python wrapping before merge. Please let me know if you need it faster.

[2015-03-02 21:43] chrisdembia commented on #368
Nope, no rush.

[2015-03-02 22:06] aseth1 commented on #369
@msdemers take a look at PR #370, perhaps part of your dream has come true already :smile:

[2015-03-02 22:07] aseth1 commented on #369
Sure. The current constructors could remain and be used to create the necessary Frames. Thanks!

[2015-03-02 22:10] aseth1 commented on #369
@chrisdembia @aymanhab I think it will be straightforward to map the location and orientation of Components to use of a PhysicalOffsetFrame with similar attributes. I will try that on the next pass.

[2015-03-03 05:12] tkuchida commented on #326
@aseth1 Please take a look at OptimizationExample.cpp (under Examples - exampleOptimization). Here's what I get when printing out the properties of the pennation model immediately before `// Optimize it!` (see image). Apparently, the properties of the pennation model are not being set during deserialization! What is the extent of this bug :worried:? My changes are causing testOptimizationExampleRu

[2015-03-03 05:27] chrisdembia commented on #375
I'll try to set up osx on travis to test this.

[2015-03-03 05:39] chrisdembia commented on #375
Ack...travis isn't offering osx support for new repositories for now. http://docs.travis-ci.com/user/multi-os/

[2015-03-03 19:00] chrisdembia opened #377 "Can we remove ARCH64 and LIB64 cmake variables?"
Related: #375

[2015-03-03 19:40] aseth1 commented on #341
I agree. Once we can employ non-static initializers, it will be cleaner and better-documented to require Components to define Outputs for exposing internal variables (member, state, cached, etc...) as well member function results.

[2015-03-03 19:57] msdemers commented on #377
At first glance, it looks like LIB64 definitely can go.  We can use ARCH64 to specify 64 bit or 32 bit compiler flags, but I suppose we don't have to.

[2015-03-03 20:02] chrisdembia commented on #375
Matt, maybe change these lines as well? https://github.com/opensim-org/opensim-core/blob/master/CMakeLists.txt#L315

[2015-03-03 22:09] tkuchida commented on #326
@aseth1 I tested with Simbody 3.3.1/OpenSim 3.2 and the pennation model parameters *are* being set correctly, so this is a post-3.2 issue.
cc/ @chrisdembia

[2015-03-03 22:20] aseth1 commented on #326
Yes, it is a post 3.2 issue! I broke it when I added `finalizeFromProperties` and/or `extendFinalizeFromProperties()`. I likely eliminated a call to buildMuscle. The muscle property value should get pushed  down to the pennation model component in the muscle's `finalizeFromProperties`.

[2015-03-03 22:31] sherm1 commented on #326
Yay! My faith in simulation has been restored.

[2015-03-03 22:32] chrisdembia commented on #326
:fireworks: Is there a systematic way to ensure we didn't break other things since 3.2?

[2015-03-03 22:41] sherm1 commented on #326
Er, regression tests?

[2015-03-03 22:44] aseth1 commented on #326
Practically, no. In general I think the tests do an OK job to prevent new bugs being introduced. It is clear that the tolerances are lax but also t the model is relatively insensitive to pennation angle in general. So it was kind of a fluke that it passed the the regression tests.

In this particular set of code, there is simply too much micro-management by the developer who tried to pre-empt any

[2015-03-04 01:13] chrisdembia opened #379 "A component with a constant output ("Constant")."
Conversation with @aseth1 . Maybe use the Constant function (have it generate an output).

[2015-03-04 03:05] msdemers commented on #375
Those lines could either stay or go.  They aren't doing any harm.  However, we could omit the -m32 or -m64 flags and let the defaults for the build system serve.  If the developer sets clang or gcc defaults to build 32, ok.  64 ok. As long as the same default was conserved between building Simbody and OpenSim, all is good.

To me, that means that if we remove explicit -m32 or -m64 flags in OpenSim

[2015-03-04 03:08] msdemers commented on #369
:smile_cat:

[2015-03-04 03:37] sherm1 commented on #375
I don't think Simbody has any weird OSX flags left. Any reason we can't just model OpenSim's treatment after Simbody's?

[2015-03-04 04:11] msdemers commented on #375
No reason. I just double checked and simbody never uses the -m32/64
explicitly. Instead, it defines a variable for instruction set and
references it throughout. These eventually resolve to -m32/64 flags.
OpenSim's flags are the same, bet are set in logical flow if else
statements based on a similar variable. Result is the same.
On Tue, Mar 3, 2015 at 7:37 PM Michael Sherman <notifications@github.c

[2015-03-04 05:22] sherm1 commented on #375
If you are referring to `BUILD_INST_SET` that is for choosing the level of SIMD parallelism to use (like sse2 or avx), it doesn't turn into m32/64.

[2015-03-04 06:44] msdemers commented on #375
I thought I saw. ${GCC_INST_SET} in the flags as well. Maybe I'm mistaken
or GCC_INST_SET is copied/modified version of BUILD_INST_SET?
On Tue, Mar 3, 2015 at 9:22 PM Michael Sherman <notifications@github.com>
wrote:

[2015-03-04 07:00] sherm1 commented on #375
Yeah, it's confusing because gcc uses -m to specify all machine-dependent options, including `-msse2` for the sse2 instruction set, which is what Simbody is using it for. `GCC_INST_SET` is just `-m${BUILD_INST_SET}`.

[2015-03-04 16:57] chrisdembia opened #380 "Improve performance of constructOutputForStateVariable"
Right now, this method incurs two string lookups.

[2015-03-04 16:58] #333 closed

[2015-03-04 23:05] msdemers opened #381 "JointReactionAnalysis needs modernization"
Looking back on the logic flow within the JointReactionAnalysis, I realize it's outdated and doesn't utilize the convenient interfaces to get Mobilizers' reaction forces. Back then, the xml interface and implementation was messy because of the old style properties and because simbody's interface only reported all mobilizer reaction forces and moments at once. Now, both properties are easier and mo

[2015-03-05 06:00] chrisdembia opened #382 "Wrap folder (with WrapObjects) is excluded from doxygen"
Is this desired?

[2015-03-05 18:44] aymanhab commented on #359
Update on this issue:

- getDefaultInstanceOfType(tag) (need to be replaced by a Factory that takes the XML element) not-bad one step toward decoupling Objects from XML.
- (de)serialization of connected_to as an attribute rather than element is unsupported since this's handled now by base class.
One option is to make Connector into a special Property and override read/write to XML but seems quite

[2015-03-05 19:02] chrisdembia commented on #359
It seems like we might want to be able to support using tags more generally. Then, people could have the option of using the more concise syntax above for any property:

<Body name="pelvis" mass_center="0 1 0.5"><some_property>hello</some_property></Body>

The syntax that Ayman presented above is what MuJoCo uses for its XML serialization (everywhere).

[2015-03-05 19:09] sherm1 commented on #381
Should take advantage of the new output structure, not be an analysis (yuk!).

[2015-03-05 19:11] sherm1 commented on #382
Not usable through API hence not exposed.

[2015-03-05 19:11] #382 closed

[2015-03-05 19:19] sherm1 commented on #365
Ajay sez: Protected yes, private no. Do you want to close this now, Chris?

[2015-03-05 20:15] chrisdembia opened #383 "Create separate user vs dev doxygen."
In user doxygen, do not show protected or private functions.

[2015-03-05 23:39] aseth1 commented on #359
I somewhat disagree that we should support readable text serialization. We've been forced down that path because we don't have other ways of editing. I wonder if it is a productive use of time to compress 3 lines to 1 of XML at the expense of viewing and building models in the GUI. The current format should have no bearing on model building. If you can make connections in the GUI you don't need to

[2015-03-06 00:40] sherm1 commented on #359
Good points!

[2015-03-06 06:08] aseth1 opened #384 "OpenSim 4.0 should provide a comprehensive list of API changes"
and provide the user with the updated method or official call sequence that now stands in its place.
These include:
1. Virtual Component interface methods (e.g. `finalizeFromProperties()`, `connect()`, `addToSystem()`, `initStateFromProperties()`, `setPropertiesFromState()`, `computeStateVariableDerivatives`,  were renamed to `extend<ComponentMethod>` for the purpose of derived classes extending t

[2015-03-06 06:53] chrisdembia commented on #384
+1

[2015-03-06 06:53] chrisdembia commented on #384
related but different: #239

[2015-03-06 15:38] aymanhab commented on #359
Although I support readable, less cluttered text format, for developers in the short term and for users in the intermediate/long term but this requires significant changes and should be handled in a more general revamp of serialization that decouples serialization from modeling abstractions. I just wanted to document my findings for the next time we tackle this issue and I'll move it to the icebox

[2015-03-06 16:57] chrisdembia opened #385 "Create macro/facility for deprecating functions"
We could use a macro that allows cross-platform deprecating. Even though the language doesn't support it till C++14, the compilers we support already have their own deprecation feature: http://stackoverflow.com/questions/295120/c-mark-as-deprecated/295229#295229

This would not be for the 4.0 release; it'd be just to have in general.

[2015-03-06 17:10] sherm1 commented on #385
The C++14 feature is really nice -- you can include a message that comes out at compile time, like "this method replaced by nicer method xxx()" see http://josephmansfield.uk/articles/marking-deprecated-c++14.html.

Also here is a somewhat simpler workaround: http://stackoverflow.com/questions/295120/c-mark-as-deprecated/21265197#21265197
We could use this in 4.0 but if so we should add a message.

[2015-03-06 17:38] chrisdembia commented on #385
Ah good idea. How should we distinguish between methods for which we should rip the bandaid off vs deprecate for now?

[2015-03-07 00:15] chrisdembia commented on #360
@aymanhab clarified that template classes don't get exported.

[2015-03-07 00:15] #360 closed

[2015-03-07 00:30] chrisdembia opened #386 "Replace connectToModelAndPath(), etc. with extendConnect() in older classes."
Mentioned in #370.

[2015-03-07 21:41] chrisdembia opened #387 "Can components of the same "level" have the same name?"
It is possible to have a Coordinate and Actuator of the same name. I think with the new component structure, this is still true. However, could I have a joint and Actuator of the same name? Previously, you could, but now I don't think so. What would I get if I called model.getComponent("duplicate_name")?

This potentially introduces a backwards-incompatibility in models.

[2015-03-07 22:31] aymanhab opened #388 "Super::extendFinalizeFromProperties() not called from OffsetFrame method"
OffsetFrame::extendFinalizeFromProperties() does not call Parent class method which causes mysterious crashes downstream. Fixed on geometry_v2 branch.

[2015-03-09 23:11] aseth1 commented on #387
If you call `const Component& comp = getComponent("someName");` then there is no guarantee you will get the type you want.

There is also the type qualified `const C& comOfTypeC = getComponent<C>("someName");` access only the component of that type. Connectors are using the typed lookup to avoid the problem you describe. This is part of change #370.

[2015-03-09 23:13] chrisdembia commented on #387
Perfect! When we merge #370, we can close this issue.

[2015-03-09 23:19] aymanhab commented on #387
@chrisdembia A related issue that I'm dealing with in a test failure is that the connections depend on name to be established (connected_to_name Property) while there's no guarantee that all objects are named.This policy (un-named is not allowed) should be enforced. A name could be autogenerated if needed.

[2015-03-09 23:47] chrisdembia commented on #350
@aseth1 mentioned it might be timing: two tests might be concurrently be writing to the same file.

[2015-03-09 23:55] chrisdembia commented on #387
+1! I'll create a new issue for that.

[2015-03-09 23:57] chrisdembia opened #390 "All Components should have a name"
We can either throw an error if an object does not have a name or autogenerate a name. See #387 for related discussion.

This could happen upon `addComponent`.

[2015-03-09 23:57] aseth1 commented on #387
I like that idea of an auto generated name to facilitate connections, @aymanhab.  Are these for objects that were private to a component now being elevated to Components themselves? E.g. PathPoints and WrapObjects, etc...?

[2015-03-09 23:59] chrisdembia commented on #390
If we autogenerate a name we'll have to be very careful. I think there are some places where a class changes its own name and that it wasn't good.

[2015-03-10 01:01] tkuchida opened #391 "Throw an exception if equilibrate method fails in Millard2012*Muscle"
Currently, the `computeInitialFiberEquilibrium()` method in `Millard2012AccelerationMuscle` and `Millard2012EquilibriumMuscle` sets the fiber length to `optimal_fiber_length` if the initialization routine fails. Throwing an exception may be a safer alternative.

[2015-03-10 02:20] chrisdembia commented on #391
+1

[2015-03-10 19:12] aymanhab commented on #387
@aseth1 The issue I was dealing with was creating a Body (unnamed) since the Body now has a PhysicalFrame that's connected to it (to show its coordinateSystem)     but I see that happening more and more as we change Properties into Connections. PathPoints and WrapObjects are perfect examples since when they use connections they can't connect to unnamed Body or unnamed PhysicalFrame.

[2015-03-10 19:14] aymanhab commented on #350
@chrisdembia Writing the same file sounds scary, how do we ever know that the tests are really executing? Can the files go into separate subdirectories?

[2015-03-10 19:44] chrisdembia commented on #350
Great idea! We can do something like this, yeah.

[2015-03-10 19:59] aseth1 commented on #387
@aymanhab how were they "connecting" to the correct Body without connectors if the name was "unknown"? I don't see how it used to work!

[2015-03-10 20:14] aymanhab commented on #387
@aseth1 For the Frame part, there were no connections or even properties, the frames were implicit (show-all, hide-all in API-Visualizer or created on the fly by the GUI) other "future" connections are now properties that get wired when you call connectToModel. PathPoints and WrapObjects were never incorporated into the Components framework so they had their own kludges.

[2015-03-10 20:35] aseth1 commented on #387
@aymanhab I understand there were no connectors, but how were they obtaining the Body or whatever they needed in order to attach themselves. At some point they are given the thing they depend on or they get the thing. The Connector allows you to do both. You can satisfy the Connector with the thing or it will look up the thing according to the property (name) it has in hand. You have to make sure

[2015-03-10 20:58] aymanhab opened #392 "SIMM translator support"
We have code for a SIMM translator that doesn't have any tests. It's possible and likely that changes to API will break it. We need to drop support for it or add test case(s).

[2015-03-11 22:18] chrisdembia commented on #375
Related: #91

[2015-03-12 03:33] chrisdembia opened #393 "Debug test failures"
- [x] testMomentArms
- [x] testInitState
- [x] testPrescribedForce #304
- [x] testAssemblySolver
- [x] testModelCopy
- [x] testComponents
- [x] testIterators

Tested on Ubuntu 14.04 clang 3.4.

Timeouts:
- testOptimizationExampleRuns (testOptimizationExample also fails, likely b/c this one times out).
- testCMCArm26
- testCMCSingleMuscle
- testCMCSingleRigidTendonMuscle

_Note added by tkuchida:_

[2015-03-12 17:14] tkuchida opened #394 "Reduce runtime of testOptimizationExample"
Consider loosening the convergence tolerance (`opt.setConvergenceTolerance()`), but ensure this doesn't cause different solutions to be found on different platforms.

[2015-03-12 18:16] jimmyDunne commented on #392
The decision for this needs to be made by 4.0. We should outsource to the biomechanics community.

[2015-03-12 18:23] jimmyDunne commented on #394
Fix the number of iterations. Investigate some ways of making it faster (ie rigid tendons? reduce the number of muscles? reduce DoF's?).

[2015-03-12 18:24] jimmyDunne commented on #393
Break up and start going through the list.

[2015-03-12 18:30] jimmyDunne commented on #390
need to choose the naming methods

[2015-03-12 18:31] jimmyDunne commented on #388
@aseth1 as this fixed on his local machine. Will check in.

[2015-03-12 18:38] jimmyDunne commented on #384
change log is here
https://github.com/opensim-org/opensim-core/compare/changelog

[2015-03-12 18:39] jimmyDunne commented on #384
This issue will be used to draft the changes and once we have solid list before publishing to the change log

[2015-03-12 18:43] jimmyDunne commented on #387
If the combination of name and type are unique, you can have it

[2015-03-12 18:43] #387 closed

[2015-03-12 18:45] jimmyDunne commented on #386
should get fixed when wrapobjects become components (wrappingObstacle?)

[2015-03-12 18:47] jimmyDunne commented on #383
@chrisdembia can do dev version, I can do user version.

[2015-03-12 18:49] jimmyDunne commented on #365
wud up @chrisdembia ? wat u wanna do?

[2015-03-12 18:51] #326 closed

[2015-03-13 00:53] #365 closed

[2015-03-13 18:05] chrisdembia opened #396 "testOptimizationExampleRuns's runtime has jumped from 220ish seconds to 550ish seconds"
@aseth1 believes this is because the example is now accounting for pennation angle. How about just using a fixed pennation angle of 0 for this optimization?

[2015-03-13 18:19] tkuchida commented on #396
Good idea. There are a few other ideas listed in #394.

[2015-03-13 18:20] #396 closed

[2015-03-13 18:21] chrisdembia commented on #394
testOptimizationExampleRuns's runtime has jumped from 220ish seconds to 550ish seconds with #378. Over in my silly redundant #396, I suggested "How about just using a fixed pennation angle of 0 for this optimization?"

[2015-03-13 20:29] chrisdembia opened #397 "No exception thrown when trying to connect an Output to an Input when the Output's dependsOn stage is greater than the Input's requiredAt stage"
The doxygen [here](https://github.com/opensim-org/opensim-core/blob/bb2d825422bb72d34931cccb2a9e879d953a6cd4/OpenSim/Common/Component.h#L1174) says that an exception is thrown, but it isn't.

In my own branch, I've put in an exception: https://github.com/chrisdembia/opensim-core/blob/delay-debugging/OpenSim/Common/ComponentConnector.h#L230

@aseth1 if that exception looks right to you (and it look

[2015-03-14 02:06] chrisdembia commented on #350
My current idea for fixing this is to get OpenSim to print a stack backtrace when segfaulting. http://oroboro.com/stack-trace-on-crash/

[2015-03-14 03:30] chrisdembia opened #399 "testStaticOptimization catches a bunch of errors/warnings about Millard2012AccelerationMuscle::calcMuscleDynamicsInfo"
[code]

This is after #378 was merged, but I don't know at all if #378 caused it.

[2015-03-14 18:39] sherm1 commented on #350
+1

[2015-03-14 19:20] chrisdembia commented on #350
Do you think this would be a good idea in general, aside from fixing this particular issue? This would definitely help with users filing bug reports (btw I think our releases should be RelWithDebInfo), but I think it might be really scary to users. Maybe the stack backtrace should be written to yet another file (not to the console).

[2015-03-14 19:37] sherm1 commented on #350
I think we should play with it first to see whether anything useful comes out. I don't know if it would actually help us debug user problems, but I agree with you that if we do it it should go into a separate log file. Then we can tell them to upload it if they report a crash.

[2015-03-18 20:19] chrisdembia opened #402 "Update python wrapping for new sets (FrameSet, JointSet)"
Right now the python swig.i file contains some manual handling of memory ownership for BodySet, ForceSet, etc. We must extend this memory handling to FrameSet and JointSet

[2015-03-24 19:04] nishbo opened #403 "ctest on mac failing"
Hi everyone,
Building OpenSim3.2 on SimBody3.3.1 using macports-installed latest versions of GNU C compiler:
```gcc version 4.9.2 (MacPorts gcc49 4.9.2_1)```
After altering cmake according to issue #375 and building (`make`), `ctest` fails on all tests except for the first one (`testLeptone`). Others throw `***Exception: Other`. I think that this may be an issue of wrong working directories. I tri

[2015-03-24 21:21] nishbo opened #404 "Building from source on OSX with GNU compiler"
For some reason, when building opensim with a gcc compiler instead of a native one on OSX, unrecognized option `-stdlib=libc++` produces an error instead of a warning. Possible fix: replace line 270 in `CMakeList.txt` with:

[code]

There is a same issue with shorter fix: simbody/simbody#350

[2015-03-25 00:28] nishbo opened #405 "Linking Opensim to Matlab in OSX"
System:
Installed Opensim git Master.
Made Java dependencies (JavaWrap, osimJavaJNI) and installed.
Modified Matlab, according to http://simtk-confluence.stanford.edu:8080/display/OpenSim/Scripting+with+Matlab, fed it opensim installation directory with subdirectories.
Modified `.profile`:

[code]

Matlab:

[code]

Raises an error:

[code]

I checked dependencies of `libosimJavaJNI.dylib` (everyth

[2015-03-25 08:26] chrisdembia commented on #403
Thanks for creating an issue for this. When you tried to build OpenSim 3.2, are you building it from this repo (perhaps the OpenSim32 branch)? If so, I'm surprised it's working at all; the OpenSim32 branch in this repo is just for reference, and shouldn't be functional. That's because we used to store our repo in SVN along with the GUI source code. In this repo, the GUI source code has been remove

[2015-03-25 08:35] chrisdembia commented on #404
Thanks @nishbo. Would you be interested in submitting a PR? I'd prefer the fix that @scpeters suggested (with a comment explaining the logic). If you choose to fix this PR; the same code appears in the examples (e.g., https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Examples/ExampleMain/CMakeLists.txt#L14). If not, I'll take care of it.

[2015-03-25 08:40] chrisdembia commented on #405
As for the Confluence instructions, on OSX you should use `/lib` instead of '/bin' for MATLAB PATH, librarypath.txt? I don't know if this will solve your problem.

[2015-03-25 18:29] nishbo commented on #403
I am building OpenSim 3.2 Release from https://simtk.org/project/xml/downloads.xml?group_id=91, OpenSim-3.2-source.zip. I don't see any GUI references in cmake files.

```cmake version 3.2.1```
CMAKE_BUILD_TYPE Release
Simbody did not have any issues.

I post only part of output, because all other tests show same:
[code]
It seems to be an error of linkage, too.

OK, I use gcc because of Stallman :

[2015-03-25 18:52] nishbo commented on #405
I am using `/lib`in `librarypath.txt` and Matlab was fed (via `pathtool`) with all subdirectories of opensim installation. I don't think that this is the issue of Matlab finding (because it successfully locates `libosimJavaJNI.dylib`), but of these libraries depending on each other.

[2015-03-25 19:03] nishbo commented on #405
@chrisdembia could you point me to files where you configure/build/link dylibs?

[2015-03-26 23:43] aymanhab opened #407 "Source distribution of OpenSim 3.2 is broken under VS 2013"
OpenSim 3.2 source distribution should include simbody 3.5.1 rather than 3.3.1 Current posted source causes problems (signbit) when building using VS2013 Express.

[2015-03-26 23:55] sherm1 commented on #407
What is VS2013 Express complaining about? I don't see any obvious difference between the 3.3.1 handling of `std::signbit` and 3.5.1.

[2015-03-26 23:59] aymanhab commented on #407
Sherm, the change is in common.h, the commit in simbody repository  explains.

[2015-03-27 00:21] sherm1 commented on #407
Oh, got it, thanks. Making that same patch to 3.3.1 would be a less-drastic alternative if you wanted that. 3.5.1 is probably OK though.

[2015-03-27 13:14] chrisdembia commented on #407
Sounds like the fix to this is to update the table on this confluence page: http://simtk-confluence.stanford.edu:8080/display/OpenSim/Building+OpenSim+from+Source

[2015-03-27 13:15] chrisdembia commented on #407
@aymanhab do the 3.2 tests pass with simbody 3.5.1?

[2015-03-27 13:24] chrisdembia commented on #405
@nishbo ah good point. Here are some relevant files:

- https://github.com/opensim-org/opensim-core/blob/master/cmake/OpenSimMacros.cmake
- https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Wrapping/Java/CMakeLists.txt
- https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Wrapping/Java/OpenSimJNI/CMakeLists.txt
- https://github.com/opensim-org/opensim-core/blob/master/Ope

[2015-03-27 13:25] chrisdembia commented on #405
https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Utilities/simmFileWriterDLL/CMakeLists.txt

[2015-03-27 13:29] chrisdembia commented on #403
I've never seen "image not found"! Were the SimTK libraries copied into your build directory for OpenSim? Otherwise, did you add SimTK's lib dir to your DYLD_LIBRARY_PATH? You shouldn't need to though... Can you try using CMake 2.8.8?

[2015-03-27 13:29] chrisdembia commented on #403
Cmake 3.2 might have new policies regarding rpath? IDK.

[2015-03-27 16:54] aymanhab commented on #407
@chrisdembia Full build of OpenSim 3.2 and simbody 3.5.1 passes all tests on windows with VS2013Pro but introduces unknowns for other compilers/platforms so I'd lean toward posting a patch of 3.3.1 instead as Sherm suggested  (since it appears 3.5.1 has more significant changes).

[2015-04-02 21:48] chrisdembia opened #409 "OpenSimConfig.cmake.in Lepton include directory is incorrect for client projects."
Thanks @elen4.

[2015-04-04 00:28] chrisdembia commented on #409
This issue is addressed in #343.

[2015-04-08 16:50] chrisdembia commented on #337
In our OpenSim meeting yesterday, it sounds like this issue is really important for our opensim 4.0 release. I think we should prioritize it and really approach it systematically. (1) Catalog all the common exceptions people hit, (2) address each "failure mode".

@jimmyDunne

Right now, RRA and CMC produce template setup files for you; but should also be able to generate template tasks files and f

[2015-04-09 01:02] chrisdembia commented on #337
Here's an exception that I just got:

[code]

Ideally, the exception could also report the name of the property or field whose value was empty.

We should also make a distinction between user-facing errors and developer-facing errors, like Simbody does with its exceptions. In this case, the file listed will confuse users who may think that Object.cpp is the file that the code is looking to open.

[2015-04-10 17:41] chrisdembia commented on #403
@nishbo any new discoveries about this failure?

[2015-04-10 17:47] chrisdembia opened #411 "For SimTK measures, should OpenSim classes hold onto handles (e.g., Measure_<T>) or indices (e.g., MeasureIndex)."
See #398.

[2015-04-10 17:53] aymanhab commented on #403
@chrisdembia from the error message it sounds like a symbolic link was found but it wasn't pointing to a valid "image". We'll need some context to check/verify if that's the case.

[2015-04-10 19:27] chrisdembia opened #412 "When wiring an output to an input, there is no type checking"
I tried wiring a Vec3 Output to a Real Input and I ended up with an uninformative `std::bad_cast`. There's a type check for `Connector`, but not for `Input`.

[2015-04-10 21:35] chrisdembia opened #413 "Allow flexible dependsOn stage: allow an Output's dependsOn stage be the dependsOn stage of its dependencies"
This came up with #398. Right now, an Input's requiredAt and an Output's dependsOn stage are hard-coded into a component. However, some components like Operators are generic and don't know what its requiredAt and dependsOn stages are; they should simply be "inherited" from whatever output's are hooked up to the component. Solutions:

1. a "pass-through" requiredAt/dependsOn stage that says "just u

[2015-04-10 22:25] sherm1 commented on #413
It makes sense to me for an Input to have a `requiredAt` stage, since that is an attribute of the Component. An "addition" operator, for example, would set its `requiredAt` stage to `Infinity` since it doesn't impose any restriction. But the `dependsOn` stage in general is an attribute of a Component and its inputs, so shouldn't be available until after the Inputs have been connected, and needs to

[2015-04-13 22:38] chrisdembia commented on #337
Forward tool failure when trying to simulate a model that has coordinates that are prescribed AND locked.

[code]
I don't think there should have been a soft warning when assembly failed. The application should have terminated with a message saying "Could not assemble model because coordinate 'name' is both locked and prescribed. Edit this Coordinate by editing the 'locked' property to false or se

[2015-04-16 18:26] aymanhab commented on #361
@chrisdembia One thought that occurred to me is to create a BufferedIterator that internally caches the objects it iterates over. Should be pretty easy to implement and could be done lazily as well.

[2015-04-16 20:21] chrisdembia commented on #361
Great idea. We should definitely do some profiling and find out if it's worthwhile.

[2015-04-24 18:28] aymanhab opened #418 "connector.findAndConnect() does not work or is undetermined during model building"
Main issue is that iterators that are utilized by the method are not available until after model construction/initSystem is returned because they assume all components have been added to their parents and piggyback on the recursive calls to build the tree of components. Using the iterators prematurely is problematic since it depends on the order of processing which is impossible to enforce.

We we

[2015-04-24 18:31] aymanhab opened #419 "Geometry attached to Ground body is now lost"
Deserialization does not handle moving old Geometry that used to live in Ground body to the one and only Ground frame in the model. This causes testVisualization to fail and will cause almost all our old models not to display correctly.

[2015-04-24 22:58] aymanhab opened #420 "extendFinalizeFromProperties method is never invoked on Ground"
Ground component is added to the model but the initialization sequence to finalizeFromProperties() etc. is never invoked. Would be great to use this opportunity to document where these calls need to be made.

[2015-04-24 23:49] aseth1 commented on #420
You should not need to make these calls explicitly. When `finalizeFromProperties()` is called on the root Component (usually Model) it should propagate.

[2015-04-25 00:34] aseth1 commented on #419
I am glad a testVisualization is being added. It is likely that some Geometry on what used to be the "ground" Body is not being added to the Ground frame. I had modified `Model::extendFinalizeFromProperties()` [here ](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Model.cpp#L543) in Model.cpp to check for a "ground" Body and to add its VisibleObject and WrapObject

[2015-04-25 02:21] aymanhab commented on #419
@aseth1 No problem at all, the old mechanism with VisibleObject was very cryptic and trying to add it to a PhysicalFrame may not have worked anyway. The new mechanism should work much better. Cheers.

[2015-04-30 05:42] aseth1 commented on #420
@aymanhab is this still an issue?

[2015-04-30 06:20] aseth1 opened #421 "When and where to mark Components as subcomponents is not clear."
There are a couple of issues here:

1. Components should only be marked as subcomponents during `finalizeFromProperties()` (e.g. your Component's `extendFinalizeFromProperties()`. The marking of a component simply adds a reference to that component to a list. If where the Component lives (in memory) changes (due to array resizing which allocates and copies) then that reference becomes invalid. Tha

[2015-04-30 06:22] aymanhab commented on #420
@aseth1 Nope, it was a side-effect of deserialization issue that didn't create a proper model with Ground, once serialization was fixed, the method was called on Ground. Sorry for the false alarm.

[2015-04-30 06:22] #420 closed

[2015-04-30 15:35] sherm1 commented on #421
:+1:

[2015-04-30 17:10] aymanhab opened #422 "Standard naming convention for new List-style properties"
OpenSim has many Set(s) that map to a single object/Set and so has been following the convention of CamelCase naming. Need to agree on a naming convention for lists that do not correspond to a single Object/Class. The use case is a set of Geometry objects. As of now I use GeometrySet but that seems confusing. Possible names:
Geometry_set (atypical since there's no supporting class)
geometry_set (n

[2015-04-30 18:00] sherm1 opened #423 "enhance object properties so people don't need to make new Set classes"
We don't want people to make new Set classes when they make components. Per Ajay & Chris, the main reason they do this is to get find-by-name functionality. This would be easy to add in the case of object properties.

Another thing to consider is grouping of muscles, which is also supported by Sets.

[2015-04-30 18:00] aymanhab commented on #422
There seem to be an agreement on <geometry> as the tag for the list.
Attending @sherm1 @aseth1 @tkuchida

Please let us know if you disagree @chrisdembia @jenhicks

The result in XML will look like:
<geometry>
<Mesh>....</Mesh>
<Sphere>...</Sphere>
<Cylinder>.... </Cylinder>
.....
</geometry>

[2015-04-30 20:40] sherm1 commented on #422
Could also use a more regular word like `<shapes>`.

[2015-04-30 20:48] chrisdembia commented on #422
I like `<geometry>`

[2015-04-30 22:23] aymanhab opened #424 "Should finalizeFromProperties() be called from Model constructor?"
Per discussion with Sherm & Ajay this call should have been unnecessary, however removing the call causes numerous test failures.  One hypothesis is that it's due to the caching mechanism for Muscles being invoked only during the call so downstream code fails but could be something more subtle as well.

[2015-05-01 20:30] chrisdembia opened #426 "Order of states listed by getStateVariableNames() or Model::printDetailedInfo() do not match the order in State::getY()."

[2015-05-01 21:31] chrisdembia opened #427 "Warning about nonzero inertia for massless body is emitted even if inertia is zero."
For the DynamicWalker model I just got the warning "Body 'Pelvis_massless' is massless but nonzero inertia provided. Inertia reset to zero. Otherwise provide nonzero mass" even though this body has zero inertia.

[2015-05-01 21:35] chrisdembia opened #428 "DynamicWalker model no longer loads properly"
[code]

These errors go away if I give Pelvis_massless some mass.

[2015-05-01 21:45] sherm1 commented on #428
@aseth1, could this have something to do with `MultibodyGraphMaker`'s handling of massless bodies? It has to avoid making them terminal bodies.

[2015-05-04 21:53] aymanhab opened #429 "Models with massless bodies and muscles can not be visualized"
This maybe expected behavior now but version 3.2 allowed models with massless bodies and muscles  (e.g. WristModel.osim) to be loaded/used.  Trying to visualize this wrist model now (using the API visualizer & GUI) throws an exception trying to realize to Dynamics stage (in order to compute color).
We either need to recognize the situation and fix it or give a more meaningful specific message (mor

[2015-05-05 16:15] chrisdembia commented on #369
Could we add a `Frame::findLocationInGround()` convenience method?

[2015-05-05 20:37] chrisdembia commented on #369
Seems like PointKinematics needs to be updated too; see [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Analyses/PointKinematics.cpp#L168) for example.

[2015-05-06 00:47] aseth1 commented on #418
What is the case where you are trying to connect to a Component before its root Component has been constructed and has had the opportunity to be connected? The root Component must have `connect()` called on it (which builds the traversal tree). You cannot connect to any Component that lives outside of the tree defined by the root. Why is this not sensible to enforce?

[2015-05-06 18:30] jenhicks commented on #394
@tkuchida Can we close this issue now?

[2015-05-06 18:33] jimmyDunne commented on #118
Is this issue on the agenda for 3.2.1?

[2015-05-06 18:42] tkuchida commented on #394
Reduced runtime of testOptimizationExampleRuns from 411s to 63s (MSVC). See #416.

[2015-05-06 18:42] #394 closed

[2015-05-06 18:52] sherm1 commented on #118
Assuming we're going to use Simbody 3.6 with OpenSim 3.2.1 (per earlier discussion), this could use @carmichaelong 's "specified working directory" routine designed for this purpose and under discussion in PR simbody/simbody#307.

[2015-05-06 20:06] chrisdembia commented on #118
In order to fix this issue, we have to come up with cases where we know relative paths are failing. I know of one specific case, but @jimmyDunne has mentioned other distinct cases that I haven't yet encountered.

[2015-05-06 20:30] aymanhab commented on #118
@jimmyDunne Most other issues for 3.2.1 are surgical fixes and require no across the board  testing of the API/GUI/Scripting environments. Switching to using a Path property that we haven't even created or tried under the variety of scenarios that it needs to address seems risky to me. Also the GUI and scripting need to handle this new property type. It's a great long term project but I feel it's

[2015-05-06 20:32] aymanhab commented on #118
@jimmyDunne I'd say however that I can look at the reported bug(s) related to relative paths and if a surgical fix can be made do it, otherwise document behavior and/or improve error message(s). That seems like more reasonable scope.

[2015-05-06 20:41] chrisdembia commented on #118
I agree with @aymanhab. I am *very* excited for improved path handling in OpenSim, but even if OpenSim uses Simbody 3.6, we'd be rushed to try to get OpenSim to use it in time for the 3.2.1 release.

[2015-05-06 20:45] aymanhab commented on #418
@aseth1 Here's a use case from testFrames: double_pendulum.osim Mesh geometry needs to connect to Frame rod1_Frame_1 (PhysicalOffsetFrame) which lives under top level model but has not been processed yet so its "connect" attempt fails. In general unless every component connects only to components that appear before it in traversal, this will fail mysteriously. The documentation of getComponentList

[2015-05-06 20:58] jenhicks commented on #422
<geometry> also seems good to me.

[2015-05-06 21:30] aymanhab commented on #422
Thanks all for the feedback, I changed to <geometry>. Doesn't set a general precedent though since "geometry" can be used as a plural but that maybe hard to reproduce in other scenarios.

[2015-05-07 17:45] sherm1 opened #431 "Write DEVELOPING.md, start it with Ayman's backwards compatibility guide"
Be sure to mark this "under development" (NPI) for now.

Would be nice to give it a (short) table of contents so that it will be easy for people to add new sections.

Also please link to CONTRIBUTING.md

[2015-05-07 23:12] chrisdembia opened #432 "[scripting] Using ForceSet::append() causes MATLAB to crash"
This was brought up by @jimmyDunne in an email on May 7, 2015.

@jimmyDunne:

If someone has 5 minutes could they test the matlab function attached (just run 'runScript'). It reads in a model and spits out an actuator file.
Im having an issue with it randomly crashing Matlab. It looks like its an issue with the OpenSim but not clear if its my local setup or universal.
Cheers,
-j

@aseth1:

It runs

[2015-05-08 01:49] chrisdembia commented on #432
I created a branch to test ForceSet::append in scripting and it fails, presumably for the same reason James hit an issue. https://github.com/opensim-org/opensim-core/tree/scripting-ap

https://travis-ci.org/opensim-org/opensim-core/jobs/61696578

[2015-05-08 01:55] chrisdembia commented on #432
I know there is a higher level discussion about what functions should exist, etc. but I am also trying to fix this specific bug. I am currently trying something with the python scripting and we can see if it works via this test: https://travis-ci.org/opensim-org/opensim-core/jobs/61709017.

[2015-05-08 15:17] chrisdembia commented on #432
My fix for python did not work :/ (https://travis-ci.org/opensim-org/opensim-core/jobs/61727291).

[2015-05-08 16:06] aymanhab commented on #432
@chrisdembia The build failure is due to swig error in the configuration file. In general, for scripting users, I'd rate  stability higher than potential performance benefits.

[2015-05-08 16:14] aymanhab commented on #432
@chrisdembia I think what you want to do here is to modify ForceSet::append  on the scripting side to communicate to the scripting environment that the object ownership has been transferred.

[2015-05-08 16:51] chrisdembia commented on #383
For user (scripting) documentation it might be very useful to show all inherited public methods as well. That is, ForceSet should show all the public methods it inherited from Set, without having to click any drop downs.

[2015-05-09 02:00] chrisdembia commented on #383
@jimmyDunne I got a start on this here: https://github.com/opensim-org/opensim-core/tree/user-and-dev-doxygen

For the user doxygen I use your previous doxygen-layout.xml

Running `make doxygen` will make both user and developer doxygen. I prefer this over having separate `doxygen_user` and `doxygen_developer` because it runs fast enough and I think discovering the `doxygen` target is easier than

[2015-05-09 05:01] chrisdembia commented on #337
A frequent error is ArrayPtrs.get() when a string field in an xml file was left empty. The ArrayPtrs.get() error is not very informative.

[2015-05-09 21:12] sherm1 commented on #431
Fixed in #433.

[2015-05-09 21:12] #431 closed

[2015-05-09 23:22] chrisdembia opened #437 "Most MarkerSet() methods have disappeared in python wrapping"
In 3.2, the following methods are available for MarkerSet:

![image](https://cloud.githubusercontent.com/assets/846001/7552416/7dd43ab6-f667-11e4-9205-58e300d0e988.png)

In master, here's MarkerSet and ForceSet:
![image](https://cloud.githubusercontent.com/assets/846001/7552414/6a2e9f06-f667-11e4-9ac8-363115712fb7.png)

Where did the methods go???

[2015-05-12 17:35] aymanhab commented on #429
@jenhicks This issue keeps coming up with the model conversion test case I'm writing because many models used in earlier distributions (e.g. both_legs, wrist) have no mass properties and very likely many user models have the same issue. Do you see this worth supporting going forward?

[2015-05-12 17:43] sherm1 commented on #429
I think this could possibly be addressed in Simbody by deferring some Dynamics stage computations that depend on mass until they are asked for. I don't think the mass matrix needs to be inverted to calculate the forces that are needed for muscle visualization.

[2015-05-12 17:56] aymanhab commented on #429
Thanks @sherm1 My main worry is that while model building from scratch (human, animal and toy models) users are likely to do kinematic models to begin with (e.g. the Jaw model from workshop) and when it all works they add mass properties and inertia. From what you said I'll take it that we can continue to support these models going forward.

[2015-05-12 18:14] aseth1 commented on #429
If the issue keeps coming up why isn't there a test case for it?
Why don't we begin with what is different between the 3.2 and current. Who or what is realizing to Dynamics now that wasn't before? `PathActuator::computePathColor()` is called when Dynamics is realized. This is unchanged from 3.2 AFAIK.

[2015-05-12 18:23] sherm1 commented on #429
Nothing has changed on the Simbody side, but I'm guessing the new component-generated geometry in OpenSim uses realize(Dynamics) to compute forces where the old muscle-aware visualization did it by querying the muscles. In any case I don't think there is any downside to deferring the mass-inverting computations to as late as possible. I filed a Simbody issue simbody/simbody#370 on the topic.

[2015-05-12 18:24] aseth1 commented on #429
I am just curious as to how things differ. `GeometryPath::generateDecorations()` in both master and 3.2 realize to Dynamics. This should have failed to draw in the Visualizer in 3.2 as well.

[2015-05-12 18:29] sherm1 commented on #429
Wild guess: these no-mass models would have failed in the API visualizer in 3.2 but succeeded in the GUI. Now they will fail in both places. Ayman will know the true answer!

[2015-05-12 18:38] aseth1 commented on #429
@sherm1 Deferring of the mass-matrix still seems good but isn't a robust solution for this problem. If I want to generate decorations that are related to derivative values, then I will need to evaluate to acceleration. There is nothing stopping a new Component to realize to Acceleration to compute derivatives and then draw.  In most cases you still want the Component to draw something (its Geometr

[2015-05-12 18:47] sherm1 commented on #429
I would argue that if visualization depends on acceleration but the model can't be used to calculate acceleration, then it is fine to issue an error message. As I understand the situation here, visualization depends only on forces, the model is capable of calculating forces, but we blow up anyway. That seems bad.

[2015-05-12 18:54] aymanhab commented on #418
@aseth1 to show that this is not a new bug introduced in geometry_integration and that we're just lucky not to run into this so-far I recreated the problem in master by just adding a PhysicalOffsetFrame in a double pendulum (with 0 offset) and tried to make a joint use it and it failed the same way throwing an exception that it can't find the Frame (order dependence). While we can temporarily work

[2015-05-12 19:18] aymanhab commented on #429
Thanks @sherm for explaining. Indeed the change to realize Dynamics dates back to 4/2013 but generateDecorations was not used for visualization in the GUI but now it does.

[2015-05-12 19:19] aseth1 commented on #418
I don't doubt there is a real issue. It seems clear that the first thing that has to happen is that the tree is built on the root. This doesn't seem to be happening and it it is running down the list of subcomponents calling connect() on them first which is incorrect.  I see that `initComponentTreeTraversal()` is called inside `connect` and that is clearly too late. Why not have the top level (e.g

[2015-05-12 19:22] aymanhab commented on #429
@aseth1 I agree that visualization should probably not change realization stage but I'm not sure if there's a way to enforce this.

[2015-05-12 19:27] aymanhab commented on #418
@aseth1 We have been trying to not treat the model as "special" which implies that methods on Model are called on ModelComponent and that goes down recursively. If you want to change that so that the Model's method is special then fine we can do that too but when/how additional components are added to the tree is still unclear as per #421

[2015-05-12 19:46] sherm1 commented on #429
I don't think it is necessarily a bad thing. The alternative is to have the caller guarantee a certain realization level, in which case it must realize to the maximum needed level even if no one is using it. With OO visualization like we have now, only the lowest-level method knows the requirements. I think a good compromise is to have the caller guarantee a certain level of realization (say Stage

[2015-05-12 20:50] aseth1 commented on #418
Then:

would be more general and would not have Model as a special case.

[2015-05-12 21:04] aymanhab commented on #429
@aseth1 On a related topic, if we decide down the road to use "connector" to decide how to color muscles, the color connector can be wired to either Activation, Force, FiberLength, ShorteningVelocity, ... etc. How's realization level decided in these cases. I'd assume these "outputs" are valid for specific realization stages.

[2015-05-12 21:05] aymanhab commented on #418
@aseth1 finalizeFromProperties method doesn't take "root". Any suggestions?

[2015-05-12 21:40] aymanhab opened #438 "Component::findComponent is not checking type"
The method above searches by name irrespective of type which leads to incorrect message/exception if it happens to find a Component with matching name and wrong type. The method likely needs to be templatized by type to avoid bogus/incorrect error messages or names have to be unique across all types and submodels.

[2015-05-13 04:57] aseth1 commented on #418
Perhaps this a problem. `Component::initComponentTreeTraversal()` takes the root Component as an input argument but only uses it to verify the terminal node. The tree traversal begin with the root, no?

[2015-05-13 16:01] aymanhab commented on #418
@aseth1 I think all this is fine and works as expected, since after all addComponent calls are made, and initTraversal is finished then the correct set of Components that need traversal are returned. The issue is trying to use it during the recursive call and before the call on top level model is finished. This can be solved by splitting the current call to connect(root) into multiple parts, one t

[2015-05-13 17:06] aseth1 commented on #418
The adding of the subcomponents should be complete by `connect()`. Unless the model has been edited in which it will force `finalizeFromProperties()` in the beginning of `connect()`. Is this the case when you see the problem? It may explain why some components are not in the subcomponents list.

[2015-05-13 19:09] jenhicks commented on #366
@tkuchida Do you still want to complete this (or a subset of the items in the checklist) for OpenSim 4.0?

[2015-05-13 19:35] aymanhab commented on #418
@aseth1 I'm not sure what you mean by "complete by connect()" is it before connect, during the recursive call to connect or after return.

I created a branch findAndConnectissue418 where initTraversal is only called from the top model and the iteration finds all components correctly before calling connect but then crashes downstream in many cases e.g. testFrames because of some other calls that re

[2015-05-13 19:51] aseth1 commented on #418
I mean the subcomponent lists should have been populated by the time `connect()` is invoked on any of the components. This is done in `finalizeFromProperties()` independent and prior to `connect()` except in the case where components have been edited between the two calls, in which case connect() invokes finalizeFromProperties itself and that could be problematic. Is this in fact the case with the

[2015-05-13 20:21] jenhicks opened #439 "Static optimization removes passive forces from the model unless a very specific set of flags are enabled"
Reported at the workshop. May be related to issue #340

[2015-05-13 20:22] jenhicks opened #440 "Investigate and fix potentially faulty logic in external loads"
Reported at the workshop.

[2015-05-13 20:24] jenhicks opened #441 "Signbit issue"
@sherm1 or @aymanhab Can you elaborate?

[2015-05-13 20:27] jenhicks opened #442 "Upgrade to Simbody 3.6"
Fixes Assembler/IK error reporting, adds IMU, incorporates CMA-ES, plus bug fixes, performance, build, and doc improvements.

[2015-05-13 20:28] jenhicks opened #443 "Bug fix to Static Optimization reported by Ilse"
@aymanhab or @jimmyDunne Do you have more details?

[2015-05-13 20:30] chrisdembia commented on #441
Does this have to do with the version of visual studio?

[2015-05-13 20:34] sherm1 commented on #441
Visual Studio 2010 didn't provide C++ standard methods [std::signbit()](http://en.cppreference.com/w/cpp/numeric/math/signbit). Simbody 3.3 (used in OpenSim 3.2) provided implementations of these missing methods. In Visual Studio 2013 Microsoft added the missing implementations, so the Simbody 3.3 implementations conflict with the library and prevent compiling with 2013. Later versions of Simbody

[2015-05-13 20:37] aseth1 commented on #429
@sherm1 I don't believe it makes sense for the decoration generator to be driving the computation. If someone wants to pose and view a model they are working on why should dynamics be realized to obtain a color? The zero mass properties is one symptom of a more general problem. I may not have valid fiber length and tendon slack length properties when building a model. I am going to get a whole sle

[2015-05-13 20:41] tkuchida commented on #366
@jenhicks This checklist isn't on the critical path to a 4.0 release, but it will need to be done to support upcoming work extending the muscle models (the timeline and distribution of labor isn't yet clear).

[2015-05-13 21:06] jenhicks commented on #441
Thanks @sherm1. We discussed upgrading to Simbody 3.5.1 for OpenSim 3.2.1. Is this too dangerous?

[2015-05-13 21:11] aymanhab commented on #441
We'll need input from Sherm on that, if nothing there affects opensim functionality and/or performance I'd lean toward not upgrading.

[2015-05-13 21:30] sherm1 commented on #429
No, because the caller wouldn't know to what stage it should have realized. In this case the only reason to realize Dynamics is that the visualization code wants to use a Dynamics-stage quantity to colorize the muscles. The caller likely has no use for that quantity at all. To do it the way you're suggesting would work fine, but would result on muscles never being colorized during kinematic analys

[2015-05-13 21:59] sherm1 commented on #441
I think we're mixing two different things: the signbit issue was just a patch to allow people to compile OpenSim 3.2 using Visual Studio 2013. I think we should stick to the original Simbody 3.3 in that case.

For OpenSim 3.2.1 we already decided to upgrade to Simbody 3.6 for a variety of good reasons; there is no signbit problem there.

[2015-05-13 22:02] sherm1 opened #444 "What is the right version number for the next OpenSim release?"
Putting on my marketing hat, I think we might want to call this OpenSim 3.3 rather than OpenSim 3.2.1. With significant user-meaningful fixes I think it deserves more than a patch number.

/cc @jenhicks @aseth1 @aymanhab  @jimmyDunne

[2015-05-13 22:03] aseth1 commented on #429
@aymanhab can correct me if I am wrong, but there would be no loss of functionality for muscles since they are simply drawn as red (or whatever default color we choose) unless a forward simulation is invoked. I believe the GUI does that now - that is why muscles remain red during replay of IK. If the color value is meaningless (which it is without it being a muscle driven simulation) then I don't

[2015-05-13 22:08] sherm1 commented on #429
That's not even possible, assuming that you pass a State to the decoration generator.

That is not necessarily the case when a reporter is invoked. Simbody only guarantees that kinematics are realized because you don't know if the state that you are reporting is one at which accelerations were needed (interpolation can have this effect as can other things). When people want to display reaction for

[2015-05-13 22:53] chrisdembia commented on #444
I agree, since we are requiring C++11 on linux now.

[2015-05-13 22:57] chrisdembia commented on #444
Relatedly, I think we should bump up the version number on the master branch to 4.0. Otherwise, the version number in master will be less than that in the 3.2.1/3.3 code base, which could confuse users of the master branch.

[2015-05-13 22:59] chrisdembia opened #445 "Put OpenSim version number in only one place"
Use cmake's `configure_file` to put it anywhere else that it is used (library macros, python setup.py, doxy config, that's all I can think of right now...version.h?).

[2015-05-14 17:25] aymanhab commented on #418
@aseth1 I put a break point in the block of code that invokes finalizeFromPropertie sinside connect and it was invoked on all Geometry objects as well as Joints. I'm not sure what that means since there's no "editing" done as far as I can tell, is there a documentation or description of what constitute an edit and when is it allowed?. Also important to note that all this code executes perfectly fi

[2015-05-14 17:30] aymanhab commented on #429
Regardless of how we decide to implement this change I'd insist that generateDecorations never throws an exception. The method should execute and return as fast as possible and a try/catch around any call would be expensive. I do think that based on the context in the GUI we'd know if we want to color by activation or not and we should pass that to the method as an option.

[2015-05-14 18:15] jenhicks opened #446 "Unclear what Debug preference does. Setting a value of 10 crashes OpenSim running ID"
see: https://github.com/opensim-org/opensim32/issues/1

[2015-05-14 20:25] jenhicks commented on #444
Per discussion at Dev Team meeting: If we include include changes to how ligament is scaled or operation of static optimization flags, we will use version 3.3. Otherwise, we'll use version 3.2.1

[2015-05-14 20:25] aseth1 commented on #418
An edit is any change to properties, in which case the `isObjectUpToDateWithProperties()` will return false. That means the the Component has not finalized itself from its properties since the last change or its creation. You could try calling finalizeFromProperties() explicitly before connect() is invoked.

findComponent does not use the iterator interface - it just recursively searches through t

[2015-05-14 20:59] aymanhab commented on #418
@aseth1 in the above scenario finalizeFromProperties() is invoked indeed (on Geometry and Joints) but addComponent is never called.

[2015-05-15 16:06] aymanhab commented on #418
@aseth1 Thanks for your help troubleshooting, now the findAndConnect works. I also removed the disconnect call and nothing changed so that's good. There were three test failures:
testFrames: due to iterator invoked after connect() rather than initSystem() which I fixed.
testJoints which fails due to slave body not found (seems like a violation of the principle that all addComponent calls done befo

[2015-05-16 00:30] chrisdembia opened #447 "InverseDynamicsTool forces_to_exclude "ALL" even excludes the external loads."

[2015-05-18 17:13] aymanhab commented on #418
I reverted the change to the model in testIK and the same failures happen on travis. The change in that model is nunnecessary if we use findAndConnect since it filters by type.

[2015-05-18 22:24] chrisdembia commented on #445
Also, OpenSimDoxygenMain.h

[2015-05-20 16:35] jenhicks opened #449 "SO throws exception that is not handled or propagated to the GUI"
See https://github.com/opensim-org/opensim32/issues/16

Seems to be related to running SO with a model that has no or weak reserve actuators.

[2015-05-20 17:34] chrisdembia commented on #337
Here's another exception: https://github.com/opensim-org/opensim32/issues/16

[2015-05-20 17:35] chrisdembia commented on #337
https://github.com/opensim-org/opensim-core/issues/449

[2015-05-21 17:32] chrisdembia opened #450 "Model is not threadsafe"
I am trying to use a Model in a multithreaded setting. I had a separate State per thread, but wanted to share the model between threads. This led to confusing errors. I then created a separate Model per thread, and my problem went away.

It would be nice if the Models were threadsafe. My intuition was that all I would need are separate State objects, if we consider our models/system to be "const".

[2015-05-21 17:54] chrisdembia commented on #450
The issue seemed to happen with realizing measures. I didn't thoroughly investigate though.

[2015-05-21 17:58] sherm1 commented on #450
Models *should*  be threadsafe after construction, followed by whatever call in OpenSim finalizes data structures contained in Model objects. I think if they aren't threadsafe there is a bug somewhere.

[2015-05-21 17:59] msdemers opened #451 "update ReadME.md example main code"
The ReadME.md contains an API example main to simulate an arm actuated by a muscle.  This example is incompatible with master and does not compile. For example, it still considers ground to be a body instead of a frame.

[2015-05-21 18:07] jenhicks opened #452 "improve testStaticOptimization"
See https://github.com/opensim-org/opensim32/issues/17

[2015-05-21 18:31] jenhicks commented on #45
Should be public, but hide from Matlab (i.e., don't wrap).

[2015-05-21 18:34] jenhicks commented on #85
See #200 and #85

[2015-05-21 18:35] jenhicks commented on #86
See #200 and #85

[2015-05-21 18:35] jenhicks commented on #200
#85 and #86

[2015-05-21 18:38] jenhicks commented on #90
Non static initiliazers for inputs and outputs might resolve this issue.

[2015-05-21 18:39] jenhicks commented on #90
Related to #200

[2015-05-21 18:58] jenhicks commented on #118
Create a class FilePath or Path that can generate useful strings of filenames. Knows working directory. Knows original relative path name.

[2015-05-21 19:00] jenhicks commented on #118
@chrisdembia filed a specific bug on the SimTK bug tracker

[2015-05-21 19:03] jenhicks commented on #160
Related to #200

[2015-05-21 20:36] sherm1 commented on #451
Matt, Chris fixed this in PR #454; please close if you are satisfied.

[2015-05-21 22:21] sherm1 opened #455 "master branch build failing on Travis (and splitting up python wrapping)"
Both gcc and clang appear to be failing with internal compiler errors. That's quite a trick since they are different compilers! The build is succeeding on AppVeyor (Windows).

Unless anyone is working on this I will try to reproduce it on my Ubuntu VM.

/cc @aseth1 @aymanhab @chrisdembia @klshrinidhi

[2015-05-21 22:25] chrisdembia commented on #455
@sherm1 I've spent a lot of time down this road with almost no success. I think it's because the VM is running out of memory. After multiple days of trying this locally and giving up and getting motivated again, I haven't figured it out. It'd be awesome if you do. I have never had this failure locally. I'm happy to talk to avoid replicating efforts. I tried limiting the memory available to GCC to

[2015-05-21 22:27] chrisdembia commented on #455
@sherm1 check out https://github.com/travis-ci/travis-ci/issues/1972

[2015-05-21 22:28] chrisdembia commented on #455
Also see #132, #140

[2015-05-21 22:32] chrisdembia commented on #455
The reason I think the VM is running out of memory is because of posts like this: http://stackoverflow.com/questions/13103396/c11-g-4-7-internal-compiler-error.

You could also try to instrument the build somehow to print memory usage throughout the build process to see if the out-of-memory hypothesis is true.

[2015-05-21 22:34] chrisdembia commented on #455
Sorry to keep spamming everyone, but perhaps you could limit your VM to 3 gb of RAM (or less) to reproduce: ["On the Linux platform, builds have 3 GB of memory available"](http://docs.travis-ci.com/user/ci-environment/#The-Build-Machine).

Also, I don't understand why this happens with OpenSim and never with Simbody.

[2015-05-21 23:13] sherm1 commented on #455
I was able to reproduce this on my VM by enabling Python wrapping. The resulting SWIG-generated file was 500,000 lines long. I used `top` to watch clang 3.4 compile this monster. I saw it creep to over 3.5GB of virtual memory and then it crashed. I'm trying it in Debug now -- I'm thinking that one possibility would be to disable optimization on this file; I don't think there would be a noticeable

[2015-05-21 23:36] chrisdembia commented on #455
Great idea! GCC crashes as well though; on travis, the gcc build does not build either python or java wrapping.

[2015-05-21 23:40] sherm1 commented on #455
Oh well. So much for that theory! I'll try the Debug build anyway with clang.

[2015-05-21 23:44] chrisdembia commented on #455
No I think you're right. We removed the wrapping from gcc builds because it allowed the build to complete at all (with wrapping enabled, gcc would *always* crash; now it crashes only sometimes).

[2015-05-21 23:45] msdemers commented on #451
thanks!

[2015-05-21 23:45] #451 closed

[2015-05-21 23:58] sherm1 commented on #455
I was able to build python wrapping in Debug. The virtual memory maxed at just over 2GB and compilation time was very fast. With optimization it got to at least 3.5GB and took a very long time. So suppressing optimization on this file might help get wrapping through clang.

2GB is still a lot of memory for a compile, though! I wonder if SWIG has an option to generate a set of smaller files rather

[2015-05-22 00:05] chrisdembia commented on #455
As far as I know, you must manually build multiple modules. I've spent time doing this for python, creating a module for each of the 5 opensim libraries. I never finished, but I shared the branch with Ayman at one point.

[2015-05-22 00:31] sherm1 commented on #455
Built fine on my VM with gcc 4.8.2 (no wrapping). I might have missed it but I didn't see any individual compile that used more than 0.8GB of virtual memory.

[2015-05-22 00:46] chrisdembia commented on #455
Here's my attempt to split python wrapping into multiple modules. https://github.com/opensim-org/opensim-core/tree/python-wrapping-multiple-modules

[2015-05-22 01:36] chrisdembia commented on #455
I just tested that branch...it works! So if we want to split opensim wrapping into multiple modules it's possible but requires some manual effort. I've pushed my branch to the opensim-org repo as well.

[2015-05-22 02:39] sherm1 commented on #455
gcc with wrapping worked with optimization on my VM. Virtual memory got close to 3GB but didn't go as high as clang did.

[2015-05-22 02:47] sherm1 commented on #455
I restarted failed builds on master and now both gcc (no wrapping) and clang (wrapping) completed successfully. Something is flaky with Travis' virtual machines. I suppose there could be some kind of combined limit we're hitting by coincident timing of simultaneous compiles. It's annoying though because we aren't doing anything wrong.

[2015-05-22 02:51] sherm1 commented on #455
It seems bad to split it to require multiple python import statements (assuming users would see that). It would be better if we could split the swig-generated .cxx files and then link them together to create a single .pyd. We probably ought to do something though since these files are only going to get bigger over time.

Makes me wonder if gcc and clang have memory leaks!

[2015-05-22 03:33] chrisdembia commented on #455
It's very easy to hide the multiple libraries from the user; they would still only need `import opensim`.

[2015-05-22 15:56] aymanhab commented on #455
Thanks @sherm1 and @chrisdembia for the investigation. My thoughts:
- For "scaling" in the future, I agree we need a better arrangement for wrapping. Some suggestions:
+ If we're going to split then I'd split off the Simbody part since it is self contained, live in a different namespace and can be useful on its own if we put effort on them rather than split across OpenSim libraries since the lines

[2015-05-22 15:59] chrisdembia commented on #455
Good idea about splitting off Simbody.

[2015-05-22 16:48] sherm1 commented on #455
I like it too. It would be nice to have at least the beginnings of a python/java interface to the Simbody API that would be useful both for OpenSim and independently. That seems like a much more maintainable way to construct the OpenSim/Simbody stack.

[2015-05-22 17:13] chrisdembia commented on #455
It'd be nice if it lived with Simbody. I think @peastman has experience with getting two modules like that to work together.

[2015-05-24 19:59] #445 closed

[2015-05-26 13:15] mjhmilla opened #462 "link error when building in debug"
The build system has come a long way! Although building OpenSim in release mode is smooth,  building in debug (a x64 version using VS2013 Pro running on Windows 8.1) is causing a bunch of link errors ('error LNK 1104: cannot open file ...') for these libraries:

osimCommon_d.lib
osimLepton_d.lib
osimSimulation_d.lib
osimTools_d.lib

The odd thing is that these libraries exist in both the correct b

[2015-05-26 16:19] sherm1 commented on #462
Matt, are you building from opensim-core's master branch or an earlier version?

[2015-05-26 17:32] mjhmilla commented on #462
I think I'm working on opensim-core's master branch: I cloned the repository from the link provided on the github page (https://github.com/opensim-org/opensim-core.git).

[2015-05-26 17:56] sherm1 commented on #462
I tried it and I'm seeing the same thing. This may be from a recent build system change -- @chrisdembia would be interested but I think he is traveling. I'll investigate.

[2015-05-26 18:00] mjhmilla commented on #462
Sherm you're awesome!

[2015-05-26 19:16] sherm1 commented on #462
Matt, here is a workaround you can use until @chrisdembia can weigh in on the correct way of fixing this. Just add this line to the top-level `CMakeLists.txt` file:
[code]
I think you can put it anywhere, I added it at line 51 where the executable and library paths are set to the same value. Please try that and post whether it fixes the problem for you.

[2015-05-26 19:19] sherm1 commented on #462
With this workaround I still had two failures at the end: testForward and testScale examples didn't link correctly. I'm not sure if that is related to this same problem. But at least the rest built.

[2015-05-26 19:24] jenhicks opened #463 "Create a CHANGELOG.md file"
Start a running list of develop-oriented notes describing changes for 4.0. We'll need to  then retroactively review closed PRs. This will help us then create a user-facing set of release notes (on confluence) at the time of release.

[2015-05-26 20:56] sherm1 commented on #463
Good idea! Simbody has one of these [here](https://github.com/simbody/simbody/blob/master/CHANGELOG.md) in case it works as an example.

[2015-05-26 22:14] sherm1 commented on #462
@mjhmilla, PR #464 should have fixed this in the master branch now. Please update your repo (pull), run CMake again, and you should get a clean build in Debug including testScale and testForward. Let us know what happens.

[2015-05-27 03:21] aymanhab commented on #418
@aseth1 Per discussion with @sherm1 regarding removing Super:: qualification and the name World::connect() which is unrelated to Component::connect(Component&) it seemed that the reuse of the name in Wold::connect is confusing and any other name would do, so I changed the name to buildComponentTreeAndConnect(), now the code has no improper calls to Super::  and all cases pass. Since the method nam

[2015-05-27 05:47] chrisdembia commented on #462
Thanks for reporting this issue, @mjhmilla . I'm not sure why LINK_DIRECTORIES(${CMAKE_BINARY_DIR}) is necessary and we should find a way to remove this line. Let's leave this issue open as a reminder to remove this line.

[2015-05-27 06:12] chrisdembia commented on #122
One solution is to use CMake to configure the OpenSimDoxygenMain.h file to replace [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/OpenSimDoxygenMain.h#L135) with the variable of the `OPENSIM_SIMBODY_DOXYGEN_LOCATION` variable.

[2015-05-27 07:40] mjhmilla commented on #462
Thank you for the fix Sherm. As requested by Chris I'll leave this as an open issue.

[2015-05-27 13:14] elen4 commented on #462
I think that the proper solution would be to fix the CMakeLists for all the failing tests so that they only list the target name of libraries to link instead of explicitly providing the optimized/debug names. This way, CMake automatically resolves dependencies based on which configuration is being built, instead of falling back to looking for libraries with the debug-version name in the list of li

[2015-05-27 15:11] chrisdembia commented on #462
Thanks @elen4 ; I agree with you. #395 solves the first issue, but not the deprecated `link_libraries` issue; that's fixed with your PR in Simbody, right? We should get that tested and merged.

[2015-05-27 15:29] elen4 commented on #462
I think that #395 solves the deprecated `link_libraries` issue (in your new macro, you use `target_link_libraries` instead), and it should solve the need for the deprecated `link_directories` command introduced in 0be9d08f7600 . I only had a quick look at it (not tested it), but I saw that you correctly use target names to specify the dependencies.
The need for the

[code]
line in the main CMakeLi

[2015-05-27 16:46] chrisdembia commented on #462
Ohh right right.. I forgot. Darnit!!

[2015-05-27 17:16] jenhicks commented on #444
Ayman committed a change to how ligaments are scaled ... so this makes it OpenSim 3.3.

[2015-05-27 17:16] #444 closed

[2015-05-27 17:40] aymanhab commented on #452
@jenhicks @jimmyDunne @aseth1 I received an example that has a model with a CoordinateLimitForce (i.e. passive Force) called AnkleLimitSpringDamper. In version 3.2 it fails to solve on every frame but in addition it produces an activations file with entry for AnkleLimitSpringDamper and bogus control value of practically 0, and also include the AnkleLimitSpringDamper  in the forces output (non-zero

[2015-05-27 18:06] jimmyDunne commented on #452
Is't that what its doing now?

On Wed, May 27, 2015 at 10:40 AM, Ayman Habib <notifications@github.com>
wrote:

[2015-05-27 18:42] jimmyDunne opened #465 "Fixed markers get un-fixed during scaling."
When importing markers from an external file during scaling, markers that where checked as fixed becoming unchecked in the output model.

 [Related simtk forum post](https://simtk.org/forums/viewtopic.php?f=91&t=5665&p=14336#p14336). Was confirmed in 3.2 64-bit windows

[2015-05-27 22:16] aymanhab commented on #452
@jimmyDunne Nope, running your files out of the box I get a bogus almost-zero "activation" for the passive-force, and non-zero value for the passive-force in the forces-file. GRF forces (left, right) show up in the title only for both activation and forces!

[2015-05-27 22:16] chrisdembia commented on #465
Is this GUI or C++?

[2015-05-27 23:36] jimmyDunne commented on #452
Ah, sorry, I was getting confused.

On Wed, May 27, 2015 at 3:16 PM, Ayman Habib <notifications@github.com>
wrote:

[2015-05-27 23:41] jimmyDunne commented on #465
I have only tested it in the GUI. However, I would assume its the
scaletool/genericModelmaker functions. I don't have matlab on my linux
machine so haven't been able to test yet.

On Wed, May 27, 2015 at 3:16 PM, Christopher Dembia <
notifications@github.com> wrote:

[2015-05-27 23:45] chrisdembia commented on #465
Can you try using the scale tool from the command line? I import markers frequently and I run scale from the command line. I haven't noticed this behavior but I wasn't necessarily looking closely.

[2015-05-28 00:30] jimmyDunne commented on #465
I can get to it tomorrow morning. Will update you then.

On Wed, May 27, 2015 at 4:45 PM, Christopher Dembia <
notifications@github.com> wrote:

[2015-05-28 06:26] chrisdembia opened #466 "Potentially remove duplicate Linux build instructions"
http://simtk-confluence.stanford.edu:8080/pages/viewpage.action?pageId=5114489

[2015-05-28 17:01] jimmyDunne commented on #466
Agreed, I didn't realize they were there.

On Wed, May 27, 2015 at 11:26 PM, Christopher Dembia <
notifications@github.com> wrote:

[2015-05-28 17:04] jimmyDunne commented on #466
@chrisdembia is there any info you see on this page that could be included in the newer documentation? Or we can just :fire:

[2015-05-28 17:18] jenhicks commented on #466
I agree ... that info is in the wrong spot. I vote :fire: as well

[2015-05-28 18:20] chrisdembia commented on #466
:fire: :fire: :fire:!

It'd be nice to reference http://simtk-confluence.stanford.edu:8080/display/OpenSim/Building+OpenSim+from+Source from the "Supported platforms" page

[2015-05-28 18:27] jenhicks commented on #197
@sohapouya Can we close this now?

[2015-05-28 18:32] jenhicks opened #467 "Need to create a mechanism to pull together required repos for creating OpenSim distributable"

[2015-05-28 18:38] jenhicks commented on #392
Drop Simm_translator from 4.0 and advise people to use an older version of OpenSim to import SIMM models.

[2015-05-28 18:45] jenhicks commented on #369
@aseth1 Can you review the checklist and check off any items that are completed?

[2015-05-28 21:26] jimmyDunne commented on #466
We are a bunch of firestarters!

[2015-05-28 22:11] jenhicks commented on #463
@chrisdembia - I noticed an old branch that has a change log file. Is this worth merging or recreating and merging? Then I/we can start updating

[2015-05-28 22:12] chrisdembia commented on #467
Please keep me in the loop on this.

[2015-05-28 22:24] aymanhab commented on #467
Sure @chrisdembia The GUI repository has a branch that uses the opensim-core as a submodule and it seems to do what I wanted but I haven't tried to update it yet. Will let you know when I'm back n this trail. Thanks.

[2015-05-29 00:30] chrisdembia commented on #463
This issue is related to #384 and #237. It's up to you; my suggestion is we merge that branch (through a PR) and then we can continue to update it. I don't think the CHANGELOG.md in that branch says anything incorrect.

[2015-05-29 00:33] chrisdembia commented on #467
Thank you.  I like the use of submodules. Will the GUI repo be a "CMake project"?

[2015-05-29 01:18] jenhicks commented on #463
I agree that we should merge the branch and then continue to update the doc. You might note at the top of the change log that it is under construction.

[2015-05-29 16:02] jenhicks commented on #466
I removed the duplicate page and added a reference to building from source on the Supported Platforms page. Closing the issue ....

[2015-05-29 16:02] #466 closed

[2015-05-29 17:35] #463 closed

[2015-06-01 03:48] chrisdembia opened #470 "Controller should have an output for the control signal"
Right now, there is no way to programmatically get the control signal trajectories from an integration. One must print the control history to a storage file then read it back in.

So, a Controller should have an output for its control signal. To make this really useful though, we'll need some component that gathers up the control signals of all the Controllers.

[2015-06-01 17:49] sohapouya commented on #197
Yes. I think so. We've already made the required changes to Actuator PR.

[2015-06-01 19:00] #197 closed

[2015-06-01 19:18] aseth1 commented on #329
The confusion is that `Set::adoptAndAppend()` is not adopting the pointer if `Set::setMemoryOwner(false)`, which it is.  The Set is not necessary in this context and we could just have an internal Array of actuators. We should do our best to stop using the `OpenSim::Set` in my opinion.

I think `addActuator(const Actuator& act)` is correct and the  `Model::add<Component>()` methods should be renam

[2015-06-01 19:24] aseth1 commented on #329
@chrisdembia I am thinking that a Connector for lists of dependencies of the same type would be useful instead of list of Connectors. You are right that this is just a list of dependencies  on Actuators like two Bodies for a Joint.

[2015-06-04 17:26] aymanhab commented on #432
@chrisdembia I tried the %pythonappend and it didn't make it to the wrappers, so I resorted to the rename and replace method we use in Java wrapping. Can you take a look at the .py file and tell me what's the problem reported by Travis? Thanks.

[2015-06-04 18:16] jenhicks commented on #411
@sherm1 Either way will work and Sherm likes using the Measure handle. Closing, but feel free to reopen if this does not resolve the issue.

[2015-06-04 18:16] #411 closed

[2015-06-04 18:18] jenhicks commented on #418
Can be closed when Geometry branch is merged.

[2015-06-04 18:20] jenhicks commented on #447
Putting in the icebox since desired behavior can be achieved by specified the specific forces to exclude.

[2015-06-04 20:33] chrisdembia commented on #411
Okay I like handles as well.

[2015-06-04 20:35] chrisdembia commented on #447
I think we could close this issue if we just add to the documentation for this property.

[2015-06-04 20:36] chrisdembia commented on #447
Let me know if you all agree with this solution, and I'll do it.

[2015-06-04 20:45] jenhicks commented on #447
That sounds great to me!

[2015-06-04 21:04] sherm1 commented on #447
:+1:

[2015-06-05 00:19] chrisdembia commented on #432
I just pushed a commit.

[2015-06-05 00:50] chrisdembia commented on #114
Partially addressed by #343

[2015-06-05 00:50] #114 closed

[2015-06-05 02:02] chrisdembia opened #473 "testInitState fails on OSX, probably due to memory leaks"
Related to #393.

Also, sometimes testComponents fails as well.

[2015-06-05 03:05] chrisdembia commented on #473
[code]

[2015-06-05 03:47] sherm1 commented on #473
It's odd that the output above says "relaxing constraints and trying again" yet on the second try it still has a required tolerance of 1e-10. And it came **so** close at 1.4e-10! If it had really relaxed the constraint tolerance, say to 1e-9 it would have worked. Thoughts, @aseth1?

[2015-06-05 04:09] #447 closed

[2015-06-05 14:04] mjhmilla opened #474 "calling printMuscleCurveToCSVFile() of ActiveForcLengthCurve prints a file with the incorrect file name"
When printMuscleCurveToCSVFile() is called on any of the new muscle functions the file name does not match the name of the curve. This happens if you make a new ActiveForceLengthCurve, rename it, and then call printMuscleCurveToCSVFile()

[2015-06-05 14:06] mjhmilla opened #475 "Calling Thelen2003Muscle's printCurveToCSVFile only prints curves to the 1st derivative"
Calling Thelen2003Muscle's printCurveToCSVFile only prints curves to the 1st derivative - I'd like to have the curve value, the 1st derivative, and the 2nd derivative.

[2015-06-05 14:07] mjhmilla opened #476 "Getting Bezier control points from the muscle curves ..."
Currently there is no easy way to fish out the Bezier control points for the muscle curves (e.g. ActiveForceLengthCurve).

[2015-06-05 15:47] chrisdembia commented on #474
@aseth1 @klshrinidhi should this method be replaced by the data interface so that users can decide the format in which they want the curves?

[2015-06-05 15:49] chrisdembia commented on #475
What if the method took an argument for the derivative order?

[2015-06-05 16:07] chrisdembia commented on #149
Just found this binary format MessagePack: https://github.com/msgpack/msgpack/blob/master/spec.md#formats-array

[2015-06-05 22:37] chrisdembia opened #477 "[travis/appveyor] Give add_test(COST)'s to potentially decrease test run time"

[2015-06-06 14:48] mjhmilla commented on #475
I have an updated version of Thelen2003Muscle here (https://github.com/mjhmilla/opensim-core/tree/muscleCurveUpdate) which does just that. However, Ajay brought up a point earlier: all of the code for the muscle curves, and the muscle models now have separate code in them to print useful quantities. That each individual object has its own code to print information doesn't scale well.

I think what

[2015-06-06 15:07] mjhmilla commented on #474
Sorry, is the 'data interface' an actual interface in OpenSim? I just looked around for one and didn't see one. I agree that the correct approach is to make the muscle curves implement a standard interface.

For the muscle curves that use the SmoothSegmentedFunction class it would be great to have an interface that would have enough functions for a SmoothSegmentedCurveReporter to print/display/fet

[2015-06-06 17:04] chrisdembia commented on #474
It's under development; #456.

[2015-06-07 18:11] chrisdembia opened #479 "[cmake] In build tree, rename OpenSimConfig.cmake to OpenSimConfigToInstall.cmake."
Similar to what @elen4 has done for Simbody.

[2015-06-08 06:17] chrisdembia commented on #369
Might need to rename ContactGeometry::getBody() -> ContactGeometry::getPhysicalFrame().

[2015-06-08 21:01] aymanhab opened #480 "Appearance class names and hierarchy need improvement"
In the past OpenSim GUI was capable of displaying surfaces only. The new Geometry interface allows for more general objects (e.g. made of line-segments, text, maybe others). Appearance specification should expose all-and-only-relevant properties for the corresponding type of Geometry.

[2015-06-08 21:03] aymanhab commented on #480
Discussion from geometry integration PR #417
Besides the big picture above here is a summary of issues:

-  The BaseAppearance class should just be the Appearance.
- Appearance should define Representation (currently still DisplayPreference) not Geometry.
The current Appearance class should be SurfaceAppearance since textures can only be applied to surfaces.
- DisplayPreference Enum should be rena

[2015-06-08 21:05] chrisdembia opened #481 "Does python wrapping cooperate with python on windows, now that we are using c++11?"
@peastman said that openmm can't use C++11 until python on windows is built with VS2013. So, are we able to use our C++11 python wrapping on windows?

[2015-06-08 21:12] sherm1 commented on #481
And for OpenSim 3.3 we want to be able to say we support VS2015 also.

[2015-06-08 21:14] chrisdembia commented on #481
Right, thanks for adding this. Also, @msdemers has successfully used python wrapping when building opensim with VS2013.

[2015-06-08 21:19] aymanhab commented on #481
My understanding is that it depends on the availability of python distributions built with these compilers. From @chrisdembia comments above it seems that this has been done for VS2013. I don't know if anybody has built and packaged python built with VS2015.

[2015-06-08 21:25] chrisdembia commented on #481
@peastman was saying all python 2.7 for windows is built with VS2008. The issue might only come into play when using C++11 features? Though not sure that makes sense, since VS versions don't have a "C++11" flag.

[2015-06-08 21:41] peastman commented on #481
See https://stackoverflow.com/questions/12028762/what-version-of-visual-studio-and-or-mingw-do-i-need-to-build-extension-modules.  For the official builds from python.org, 2.6, 2.7, 3.1, and 3.2 are all built with VS 2008.  3.3 and 3.4 are built with VS 2010.

I've also used the Anaconda build of Python 3.4, and that was also compiled with VS 2010.  You could compile it yourself with a newer versi

[2015-06-08 23:48] chrisdembia commented on #481
I just tried to use python 2.7.9 (64bit) with our python wrapping built with vs2013 (64bit). I tried building both as Release and as RelWithDebInfo. In both cases I get this error:

![screen shot 2015-06-08 at 4 46 57 pm](https://cloud.githubusercontent.com/assets/846001/8047753/01592d76-0dfe-11e5-842e-091abdc5c339.png)

[2015-06-08 23:49] chrisdembia commented on #481
Thanks @peastman. We can at least try compiling our own python to ensure we know what the issue is.

[2015-06-09 17:48] aseth1 opened #482 "Current Visualization Design may lead to numerous Geometry and Appearance classes"
Currently Components are offloading their visualization to Geometry and using Appearance to control how it is visualized. For example, Components can have lines drawn via a LineGeomtery component. A LineAppearance controls its thickness when drawn in a Visualizer. Similarly, a Frame (component) has a FrameGeometry but is has `display_radius` to control the thickness of the axes. Changing a propert

[2015-06-09 18:01] sherm1 commented on #482
I wonder if we should call these specified-by-the-model properties `DefaultAppearance` or something like that. I think that's what they are and if so they are just kind of a hint by the modeler as to how they think the user will want to view things. But the actual appearance might be quite different after the user takes control in the GUI.

With that distinction I wouldn't care about separating th

[2015-06-10 16:05] aymanhab commented on #438
findComponent is not used during connection time anymore due to #418 fix. If findComponent is still used we still need to fix this, otherwise remove the method and close.

[2015-06-10 16:09] aymanhab commented on #419
This's fixed with #417 PR so it can be closed.

[2015-06-10 17:49] chrisdembia opened #483 "Add python wrapping tests to appveyor"
Related to #481.

[2015-06-10 21:20] chrisdembia opened #484 "Be a public member of opensim-org"
@opensim-org/admin @opensim-org/owners @opensim-org/dev-team

When someone visits the github opensim-org site, they see a list of the members of opensim-org. But they only see the members who have made themselves "public". So right now, people only see me, @aseth1 , and @jimmyDunne:

![screenshot from 2015-06-10 14 15 37](https://cloud.githubusercontent.com/assets/846001/8094380/983d717e-0f7b-11e5

[2015-06-10 21:32] msdemers commented on #484
Cool thanks!
On Wed, Jun 10, 2015 at 2:20 PM Christopher Dembia <notifications@github.com>
wrote:

[2015-06-10 22:17] chrisdembia opened #485 "Ensure and advertise that users can load C++ plugins via python and matlab scripting"
The code to do so is currently commented out: https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Wrapping/Python/swig/pyWrapOpenSim.i#L403

[2015-06-10 23:42] jenhicks commented on #484
Thanks for pointing this out. Done!

[2015-06-10 23:57] chrisdembia opened #486 "Investigate the use of python wheels for python wrapping"
https://github.com/ogrisel/python-appveyor-demo

http://pythonwheels.com/

@msdemers do you know anything about wheels?

[2015-06-10 23:59] chrisdembia commented on #484
I'm going to close this, but @apoorvar @carmichaelong @jryong you should go public too!

[2015-06-10 23:59] #484 closed

[2015-06-11 00:35] moorepants commented on #486
Wheels are binary distributions of python packages. They are very suitable for packages that are not pure Python packages that have C extensions. It is likely possible to build binary versions of opensim+python wrappings and distribute them as wheels. The typical way this is handled though, is that opensim should be installed about via a standard package manager. You could then build Python wheels

[2015-06-11 00:39] moorepants commented on #486
Also, the binstar service is available that you can automate building all of your conda binaries on all major architectures. binstar also acts as the main binary hosting service.

[2015-06-11 20:14] chrisdembia opened #488 "Update CMake instructions for DynamicWalker"
This includes updating any zips we distribute, as well as the CMake pasted into this page:

http://simtk-confluence.stanford.edu:8080/display/OpenSim/Part+I%3A+Setting+Up+Your+Development+Environment

With OpenSim 4.0, people will use `find_package(OpenSim)` instead of doing most of the stuff in that CMakeLists.txt.

[2015-06-12 03:42] chrisdembia commented on #337
Here's another exception that we should improve: "InverseDynamics: ERROR- overconstrained system -- need at least as many forces as there are degrees of freedom."

[2015-06-12 16:11] jenhicks opened #489 "Will there or can there be automatic tracking of units in the new component and data interfaces?"
Inputs/outputs are required to have a time stamp, as I understand it. Can units be specified as well?

What about the DataTable or DataSource components? Of course, units could be tracked via the metadata, but that doesn't seem as clean as a dedicated mechanism of tracking units.

Apologies if there was already a discussion about this and I missed it!

[2015-06-12 20:15] chrisdembia commented on #350
Here might be a hint from the opensim32 repo:

[code]

This might have to do with `Old version storage/motion file encountered`

[2015-06-12 21:10] chrisdembia commented on #455
In #487, I might have reduced the chance of a clang failure. I think part of the issue was that the java wrapping and the python wrapping were being compiled at the same time. WIth #487, I force the two wrappers to be compiled one at a time.

[2015-06-13 01:39] chrisdembia commented on #486
thanks @moorepants . If we decide to distribute via conda, https://github.com/libdynd/libdynd might be a good example.

[2015-06-13 04:09] chrisdembia commented on #481
Investigating this on the appveyor-wrapping branch.

[2015-06-14 21:20] moorepants commented on #486
FYI: https://github.com/rmcgibbo/python-appveyor-conda-example Might be useful, as it is a fork of Oliver's demo that you listed above but for conda packages.

[2015-06-15 01:01] chrisdembia commented on #486
Thank you for that. I feel that a key factor in deciding which distribution system to use is how likely it is that users already have it. For this reason, something like "biicode" may become important as well.

[2015-06-15 01:03] chrisdembia opened #494 "Update example "From the Ground Up: Building a Passive Dynamic Walker Model" for 4.0"
Right now, The DynamicWalkerBuild example has errors in it. Notably, it tries to use the names joints when construction CoordinateLimitForces (instead of using the names of coordinates). This example should be tested under a continuous integration system.

This was discovered by Neil Dhir.

[2015-06-15 01:40] moorepants commented on #486
That is a very important factor and of course the most popular package mangers are apt, yum, homebrew, macports, etc [1]. But there are no package managers that both all OS's have access to and are popular. I mentioned conda because it is likely now the most popular way to install the scientific python stack and if you are targeting scientific Python users with the Opensim Python API, then it is p

[2015-06-15 01:46] chrisdembia commented on #486
There's chocolately for windows, but I don't know if it's "popular."  Thanks for refocusing this on python. Do you think conda is now more popular than pip?

[2015-06-15 03:17] moorepants commented on #486
No, conda is definitely not more popular than pip for the general Python audience. The general Python audience is dominated by web devs, sys admins, etc that do not typically require software that is complicated to build. But I think it is likely the most popular way to install Python for the scientific Python audience. If your target audience is scientific users, then most of them will have conda

[2015-06-15 05:12] chrisdembia commented on #486
Wow! Very helpful! Thank you for that.

[2015-06-15 05:15] moorepants commented on #486
I'll take that as a "thanks, now shut up!" :smile:

[2015-06-15 06:44] chrisdembia commented on #486
Nooo! I just don't know when I'll find time to work on this.

[2015-06-15 11:58] ndhir commented on #494
The tutorial is provided here, in **section C**: http://simtk-confluence.stanford.edu:8080/display/OpenSim/Part+II%3A+Building+a+Passive+Dynamic+Walker+Model

Where it states

which would suggest **(?)** that it should be coded as such:

[code]

[2015-06-15 16:17] moorepants commented on #486
I'm super busy the next 3 weeks, but maybe I'll find some time to play with this.

[2015-06-15 17:28] chrisdembia commented on #300
I just tried out swig 3.0.5. There are a few backwards incompatible changes. Here's the one I noticed:

Swig-generated python methods (in opensim.py) have signatures like:

[code]

That is, every argument is passed in as `*args`.

With swig 3.0, the argument names match those from the C++ code:

[code]

The backwards incompatibility comes with our pyWrapOpenSim.i file, in which we extend those swi

[2015-06-15 20:37] chrisdembia opened #497 "Create cmake macro to autogenerate CMakeLists for API examples"
Discussion with @klshrinidhi and @aseth1 . We can get rid the separate "example tests" and "examples" directories in OpenSim-Core. We will have just one directory called "examples", which will function like the old "tests" directory. Then, when you install the project, we will use an OpenSIm Cmake macro `OpenSimGenerateClientCMakeLists(SOURCES RESOURCES)` that can automatically generate the necess