[2017-01-17 21:59] aymanhab commented on #1472
Nope, the cloning doesn't initSystem by itself. The call is done explicitly afterwards. Even one call to initSystem would still be mult-second operation since it unnecessarily requires parsing/loading of mesh files as it stands.

[2017-01-17 22:09] tkuchida commented on #1472
Why isn't it possible to do something like the following:
[code]

[2017-01-17 22:26] aymanhab commented on #1472
Basically editing consists of two stages.

1. Change a property value and call initSystem (so you have a system consistent with the updated model/properties)
2. Copying state from pre-editing-model to post-editing-model so that values of state variables (e.g. configuration) are not lost.

The call sequence invoked since 3.0 or earlier is:
OpenSimContext::cacheModelAndState
.. Code to change Proper

[2017-01-17 22:26] aseth1 commented on #1472
The problem is not `initSystem`. The issue, I believe, is an error in the logic of `Mesh::extendFinalizeFromProperties()` which is supposed to cache the mesh to avoid reloading. I see it caches a `DecorativeMeshFile` which isn't caching the actual mesh and relies on `DecorativeMeshFile` to load the file. This seems rather pointless if the `SimTK::PolygonalMesh pmesh`  is already being tested for a

[2017-01-17 22:31] aseth1 commented on #1472
It looks like `DecorativeMeshFile` is designed to do the loading upon visualization so it seems all `Mesh::extendFinalizeFromProperties()` need do is verify the existence of the file and not load it. The alternative is to cache the mesh itself. Right now the solution in place is mangling two potentially valid approaches into something that doesn't work.

[2017-01-17 23:20] aymanhab commented on #1472
Good point @aseth1 :+1: The code is trying to load the mesh file on initialization to avoid reporting the error due to bad files on each frame but that could be avoided some other way. I'll remove the loading and test with a bad/missing mesh file. Thank you. While initSystem still looks for all mesh files, it will not load them so that may be manageable.

[2017-01-18 00:28] carmichaelong opened #1480 "Some Forces and Actuators are either untested or may be insufficiently tested"
This list comes from seeing issues while working on #1476. Untested Forces and Actuators include:
* Ligament
* SpringGeneralizedForce
* PointToPointActuator

Other classes may be insufficiently tested, specifically related to some of the `Frame` methods which are used to transform a point fixed on a `Frame` to Ground (i.e., `findLocationInGround`, `findVelocityInGround`, `findAccelerationInGround`

[2017-01-18 00:33] chrisdembia commented on #1480
Very comprehensive!

[2017-01-18 00:58] carmichaelong commented on #1462
@aseth1 It seems to me that in your preferred case, `integrate(state, final_time)` will essentially be equivalent to using `TimeStepper::stepTo()`?

[2017-01-18 18:57] aseth1 commented on #1462
@carmichaelong yes, we would not need a separate `stepTo` in that case. That is one of the reasons I prefer it.

[2017-01-19 02:55] kidzik opened #1482 "Problem with python's DLLs on Windows 10"
I am trying to run python wrappers on Windows 10 64-bit with conda 4.3.5 and python 2.7.12.
I successfully compiled and installed sdk using
[code]
where %PREFIX% is some conda environment ="C:\\Anaconda2\\conda-bld\\_b_env\\"

Next I install python wrappers
[code]

When I run python and try to import opensim
`python -c "import opensim"`
I'm getting
[code]
So it can't find pyds, which is ok, this I

[2017-01-19 06:06] chrisdembia commented on #1482
Two possibilities come to mind:
- You are using 32bit python instead of 64bit python
- The PATH environment variable does not contain the path to the OpeSim DLLs like `osimCommon.dll`.

[2017-01-19 18:49] kidzik commented on #1482
Thanks! Adding directory with DLLs to PATH solved the issue.

[2017-01-19 19:25] jenhicks commented on #1464
@aymanhab Can you post a link to the code that produces the isse?

[2017-01-19 19:33] #1482 closed

[2017-01-19 21:20] aymanhab commented on #1472
Should be fixed by PR #1484

[2017-01-19 21:27] aymanhab commented on #978
The filename is not actually used by the GUI, the call to get the name of the compiler used has been fixed in PR #1473 however it's not clear if that's enough or if 32/64 bit distinction needs to be made some other way.

[2017-01-19 22:14] aseth1 commented on #1464
@aymanhab how does this behavior differ from that of cloning the Model with GeometryPaths, which we do routinely?  Is it that we only need/use `copyProperty_GeometryPath` for a custom copy constructor? I could not find any instance in the API where we use `copyProperty_GeometryPath` so it is possible there are issues with it since it is never exercised. Why do you need to explicitly copy the prope

[2017-01-19 22:14] chrisdembia commented on #1482
Ah great. I think it would be good for conda to manage things like that for you. Were you in a virtual environment? If so, conda could update PATH to include the virtualenv's bin dir. I would think this is an issue for any python package that depends on DLLS (maybe PyQt).

[2017-01-19 22:29] aymanhab commented on #1464
@aseth1 The functionality I'm trying to accomplish here is to copy Properties of similar name between objects of different types as such there's no built in/default copy method to use.
The python script actually uses copyProperty for atomic types and they all work fine.

[2017-01-19 22:54] aseth1 commented on #1464
This approach seems error prone unless you have an automatic way of sweeping through all the properties in the class hierarchy. You still have to manually map from property A in class X to property A in class Y and invoke it by `X.copyProperty_A(Y)` method. How is that easier/better than X.set_A(Y.get_A())?  Can you do this in a more generic way by copying the common elements of the property table

[2017-01-19 23:03] aymanhab commented on #1464
@aseth1 All the Properties in the class hierarchy end up in the flat tables maintained by Object. That's the automatic way to process all properties The current code checks for name and class which is not completely fool-proof but doable. set_A(get_A())  are available only to the level where A is defined. Doing this for each pair of classes out of a group of N results in O(N^2) methods per class

[2017-01-19 23:17] aseth1 commented on #1464
I agree. Copying the common properties in the propertyTable seems like the way to go for generic conversion between different Object types.

So is there a bug to fix here with `copyProperty_GeometryPath`?

[2017-01-19 23:23] aymanhab commented on #1464
Nope copyProperty_GeometryPath is completely innocent 👶

[2017-01-19 23:24] aseth1 commented on #1464
Then we should close this issue. Thanks for clarifying!

[2017-01-19 23:26] aymanhab commented on #1464
Sure, thanks @aseth1 I'll open another one since there's still an issue with the generic approach.

[2017-01-19 23:26] #1464 closed

[2017-01-19 23:32] kidzik commented on #1482
They actually give clear guidance where to put things
http://conda.pydata.org/docs/building/environment-vars.html
When, on windows, I use %LIBRARY_PREFIX% as the destination instead of just %PREFIX% everything works well without modifying path (since %LIBRARY_PREFIX%\\bin\\ is already on PATH). It probably still suboptimal to put everything there but it works for now. I will look into details late

[2017-01-19 23:53] chrisdembia commented on #1482
Oh I think you probably *do* want to install the OpenSim binaries into %LIBRARY_PREFIX%.

[2017-01-20 08:42] mitkof6 opened #1485 "Makefile uninstall"
It seems that there is no make uninstall target for opensim-core. It would be useful in case that the user have OpenSim installed in the system directories.

[2017-01-23 05:25] #1455 closed

[2017-01-23 17:10] jenhicks commented on #949
Can we close this issue now?

[2017-01-23 18:40] aseth1 commented on #949
Yes, I believe so.

[2017-01-23 18:40] #949 closed

[2017-01-23 18:50] chrisdembia commented on #949
🎆

[2017-01-23 22:08] aymanhab commented on #1472
PR merged. Closing

[2017-01-23 22:08] #1472 closed

[2017-01-23 22:10] aymanhab commented on #182
Marker fixed flag has been restored in PR #1486 Will keep open until all issues related to the use of the flag have been addressed.

[2017-01-24 19:26] aymanhab opened #1488 "Copying properties from an Object to another Object fails"
This is related to the discussion in PR #1460 a straightforward implementation that cycles through Properties and copy values if they match name and class fails for GeometryPath

[2017-01-24 19:42] aymanhab commented on #465
"fixed" flag has been restored, need files to reproduce/debug the issue.

[2017-01-25 23:43] klshrinidhi commented on #1353
Addressed by #1354.

[2017-01-25 23:43] #1353 closed

[2017-01-25 23:44] klshrinidhi commented on #1276
Addressed by #1487.

[2017-01-25 23:44] #1276 closed

[2017-01-26 00:20] jenhicks commented on #465
@jimmyDunne Do you have any files to that Ayman can use?

[2017-01-26 00:22] jenhicks commented on #465
Or I see you already submitted a PR @aymanhab. Are you still looking for files?

[2017-01-26 00:50] chrisdembia commented on #1397
@klshrinidhi suggested seeing if this was now fixed, since #1354 is merged. I tested locally, and this issue does still exist. The directory containing libstdc++ does not get added to the RPATH for OpenSim's libraries; only the OpenSim install lib dir and Simbody's install lib dir were added.

[2017-01-26 18:37] aymanhab commented on #888
Some observations after restoring the "fixed" flag to Marker:
- Model::updateMarkerSet has major parts of it commented out by earlier changes in 4.0 in particular Marker::updateFromMarker we have to decide what is the new/correct behavior in 4.0
- More recent changes from PR #1491 may change behavior as noted by @chrisdembia
- Other issues that make it hard to test the fixed flag variations:  (Sca

[2017-01-26 18:47] chrisdembia commented on #1232
I am unable to get the coordinate enums to work in MATLAB. I have tried the following, but it did not work and is also not what we'd want:
https://www.mathworks.com/matlabcentral/answers/15711-how-do-i-access-a-java-inner-class-from-matlab

It would be great if we could get this working and add a MATLAB test for this.

[2017-01-26 21:08] chrisdembia commented on #888
This was my doing I think. Could we add an `updGenericModelMaker()`?

[2017-01-26 21:54] aymanhab commented on #888
Sure, that would be great :+1:

[2017-01-26 21:58] aymanhab commented on #392
Did we figure out what to do here with SIMM support for 4.0?

[2017-01-26 22:08] chrisdembia commented on #392
The last discussion seemed to favor dropping support, but I think there was mention of asking Scott what he thinks.

[2017-01-26 22:16] tkuchida commented on #1232
Investigating. Apparently @klshrinidhi's Java code (above) doesn't work in MATLAB. The ugly way still works, though:
[code]

[2017-01-26 22:18] chrisdembia commented on #1232
Yes, I have managed to use the "ugly" way. At the least, we could update the doxygen description for `getCoordinate()`.

[2017-01-26 23:00] tkuchida commented on #1232
I'll do this for now as I think it will take me a while to figure out how to expose the enum via SWIG.

[2017-01-26 23:26] chrisdembia commented on #1232
One option is to create methods on the respective joints that return individual enum values, like `FreeJoint::getTranslationX()`.

[2017-01-26 23:33] tkuchida commented on #1232
That would also be fine. I'll wait for others to chime in before proceeding further.
:bell: @aseth1 @klshrinidhi

[2017-01-26 23:42] chrisdembia commented on #881
I believe @carmichaelong fixed this in https://github.com/opensim-org/opensim-core/pull/1181.

[2017-01-26 23:48] chrisdembia commented on #998
I have started a branch that creates separate socket/input macros to use if defining a custom copy constructor. See https://github.com/opensim-org/opensim-core/tree/connectors_and_inputs_for_copy_ctors. The work is maybe 70% complete. Since I've worked on this recently and it's almost done, I want to bring it up for discussion again to be included in 4.0. If we choose to wait until 4.1, that's fin

[2017-01-27 00:00] chrisdembia opened #1492 "Create categories for Properties, to group Sockets and Inputs"
One piece of feedback in #1340 was that it would be nice if the connectee_name property for sockets and inputs were grouped together when written to an XML file, rather than scattered across all other properties in a class. I have started working on this change in the branch [`categorize_connectors_in_xml`](https://github.com/opensim-org/opensim-core/tree/categorize_connectors_in_xml). I got far e

[2017-01-27 00:02] chrisdembia commented on #1153
It has been a hope of mine for a long time that the binaries for releasing OpenSim would be automatically generated. We already do this for Windows. This would be possible for Linux and macOS if we fix this issue. I have already started replacing Bintray with myosin.sourceforge.net. I may try to finish this in time for the release.

[2017-01-27 03:34] klshrinidhi commented on #1232
I think the problem here is that when Matlab loads the jar file, it is ignoring the inner class (`BallJoint::Coord`).
@aymanhab's suggestion was that `Coord` class may be pulled out of `Joint`. That will require one such class for every joint.
@chrisdembia's suggestion requires us to add lot of methods.
I cannot think of any good solution without more investigation.
Maybe it is better to document

[2017-01-27 17:29] aseth1 commented on #1232
@chrisdembia Adding the methods that return the enum values seems to oppose the value of having the enums, which enables us to use the same coordinate access machinery for all joints (just different indices/enums defined by the Joint). If we have accessors for the enum that you then use to access the coordinate, then why not have separate accessors for each coordinate of a joint to begin with?

I

[2017-01-27 17:32] chrisdembia commented on #1232
This is indeed my preferred solution.

The enum is accessible in Java. I think the issue is that MATLAB does not support nested Java types.

+1

[2017-01-28 05:23] tkuchida opened #1494 "Hopper example no longer hops"
Step 3 in exampleHopperDevice_answers.cpp should show the hopper hopping.

[2017-01-28 05:29] chrisdembia commented on #1494
I have fixed this in the branch we are using to prepare for TGCS. I will file a PR eventually.

[2017-01-28 05:30] chrisdembia commented on #1494
The issue is that the device no longer wraps around the patella, because the path to the patella wrap surface has changed.

[2017-01-28 05:33] chrisdembia commented on #1494
Still an issue!

[2017-01-28 05:34] chrisdembia commented on #1494
Tom, would you be able to test the fix, once I create a PR?

[2017-01-30 23:31] chrisdembia commented on #1420
Here's some more background. This issue first came up when adding an example for PR#1340, based on a suggestion by @aymanhab:
![image](https://cloud.githubusercontent.com/assets/846001/22446348/fa04601c-e700-11e6-8d2d-2401bce28ee1.png)

 I wanted the example to use `setAlias()`, and I could not get it to work; here's the comment:
![image](https://cloud.githubusercontent.com/assets/846001/22446283/

[2017-01-31 20:07] #1232 closed

[2017-01-31 23:24] #1494 closed

[2017-01-31 23:32] aseth1 commented on #881
You are correct. This issue closed by #1181.

[2017-01-31 23:32] #881 closed

[2017-01-31 23:52] aseth1 commented on #329
To reiterate. The Controller does NOT take ownership (adopt) even though the `Set::adoptAndAppend()` is invoked because we call `Set::setMemoryOwner(false)`.  This is internal details of the Controller, which admittedly is ugly, but does not impact the API.

A modest improvement would be to use the a `ListSocket` now that we have them.  I think we can push that to the next release (or during GUI t

[2017-02-01 02:57] tkuchida opened #1497 "Component renaming could be simplified"
### Current design AIUI

Connectivity is represented in two forms: the `connectee_name` property and a reference from child to parent that is set based on the `connectee_name` string when `finalizeConnections()` is called. When a Component :panda_face: is renamed, the `connectee_name` string of all Components connected to :panda_face: becomes obsolete and must be updated (e.g., by calling `connect

[2017-02-01 08:40] tkuchida commented on #1443
Fixed by #1481. Thanks for reporting, @cpizzolato!

[2017-02-01 08:40] #1443 closed

[2017-02-01 08:47] tkuchida commented on #611
Related to #1406

[2017-02-02 07:50] aseth1 commented on #1461
Closed by #1491

[2017-02-02 07:50] #1461 closed

[2017-02-02 19:02] aymanhab opened #1498 "Remove dependency on OPENSIM_HOME"
ModelVisualizer and Geometry use OPENSIM_HOME and a hard coded set of directories to search for mesh files, and it may have been used to locate other resources. Windows machines with older installations will have this set incorrectly and the environment variables mechanism is not cross platform. Would be good to abstract the search paths into a class that maintain a list of directories with the ab

[2017-02-02 19:04] chrisdembia commented on #1498
+1; I think we have to add this to the 4.0 list.

[2017-02-02 20:03] chrisdembia opened #1499 "AppVeyor is unable to get Simbody"
AppVeyor builds are failing because of the inability to get Simbody from the NuGet feed that AppVeyor sets up for us:

[code]

I think a temporary fix would be to use Superbuild to build Simbody, instead of using the cached Simbody binaries stored via the NuGet feed that Appveyor creates for us.

[2017-02-02 20:07] chrisdembia opened #1500 "Move Hopper Example's SignalGenerator to osimCommon"

[2017-02-02 20:07] chrisdembia opened #1501 "Create a new "osimExampleComponents" library, and put PropMyoController and Device classes in it."

[2017-02-02 20:08] chrisdembia opened #1502 "SWIG bindings for SimTK::Visualizer, and InputSilo."

[2017-02-02 20:08] chrisdembia opened #1503 "Component::printSubcomponentInfo(), printSocketInfo(), printInputInfo(), printOutputInfo()"

[2017-02-02 20:08] chrisdembia opened #1504 "Steps to convert hopper device example to MATLAB"
In converting the Hopper Device example to MATLAB, there are a few steps to take with the C++ libraries:

- [x] Move SignalGenerator to osimCommon
- [x] Create a new library called "osimExampleComponents" or "osimExampleClasses" and put PropMyoController and Device here.
- [x] SWIG bindings for SimTK::Visualizer.
- [x] Move Tom's showSubcomponentInfo() to Component::dumpSubcomponentInfo(); similar

[2017-02-05 06:35] tkuchida commented on #1503
There might be some useful code in ExampleHopperDevice/helperMethods.h:
- [`showSubcomponentInfo()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Examples/ExampleHopperDevice/helperMethods.h#L37)
- [`showAllOutputs()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Examples/ExampleHopperDevice/helperMethods.h#L49)

[2017-02-05 06:37] chrisdembia commented on #1503
I should have filled out the issue better...yes, I plan on using those functions, which have very nice output.

[2017-02-06 22:15] tkuchida commented on #678
Assigning a unique number to each error message might also be useful when searching for similar issues on [the Forum](https://simtk.org/plugins/phpBB/indexPhpbb.php?f=91).

[2017-02-09 01:04] aseth1 commented on #1503
My preference *print* instead of *dump* and also like having the option to print to a user specified stream. Any other opinions?

[2017-02-09 01:07] chrisdembia commented on #1503
@klshrinidhi please look at Component.h in the tgcs2017 branch as a starting point.

[2017-02-09 01:08] chrisdembia commented on #1503
In the tgcs2017 branch, I already started moving the methods that @tkuchida mentions.

[2017-02-09 01:15] tkuchida commented on #1503
Recursive vs. non-recursive? Show types?

[2017-02-09 01:17] #1502 closed

[2017-02-09 19:07] #1420 closed

[2017-02-09 19:09] jenhicks commented on #465
@jimmyDunne Can you provide a file?

[2017-02-09 19:27] jenhicks commented on #888
@ANKELA Could you provide the files and steps to produce the issue? Thanks!

[2017-02-09 19:36] jenhicks commented on #1480
Tests of forces with offset would be good to add for 4.0 if you have some bandwidth @carmichaelong .
Others could wait since they are not new issues.

[2017-02-09 19:39] jenhicks commented on #1488
@aseth1 will investigate source of bug

[2017-02-09 19:42] jenhicks commented on #1498
Maintain a list of directories to search for geometry files and GUIs and Visualizers will be customizers of the list.

[2017-02-09 19:43] #1499 closed

[2017-02-09 19:52] jenhicks commented on #1498
Use Carmichael's Path class
@aymanhab can point to places where hard coded path is being used

[2017-02-09 19:53] #1268 closed

[2017-02-10 01:33] chrisdembia commented on #393
See [this branch](https://github.com/opensim-org/opensim-core/tree/fix_tests_in_debug) for progress on this issue.

[2017-02-10 01:34] chrisdembia commented on #304
ForceSet now uses `hasModel()`

[2017-02-10 01:34] #304 closed

[2017-02-12 04:10] mshabani opened #1515 "Issue in stiffness calculation in Millard Muscle Model"
I am using OpenSim 3.3
In Millard2012EquilibriumMuscle.cpp line 1077 and 1078:

dFmAT_dlceAT = calc_DFiberForceAT_DFiberLengthAT(**dFm_dlce**,
                mli.sinPennationAngle, mli.cosPennationAngle, mli.fiberLength);

Method calc_DFiberForceAT_DFiberLengthAT receives fiber stiffness **dFm_dlce** as first input while it expects **dFmAT_d_lce** as its first input. Method's signature is:

doubl

[2017-02-12 04:34] tkuchida commented on #1515
Thanks for reporting the bug, @mshabani! The same issue was raised in #1357 and was fixed in PR #1402 (which has been merged into master). Assuming you're building from source, you might want to make the same fix locally for now, and upgrade to 4.0 when you're feeling brave :wink: or when the beta is released.

@aseth1: should we backport PR #1402 to v3.3?

[2017-02-12 21:06] mshabani commented on #1515
Thank you so much for the fix. I will fix it locally for now.
Thanks,
Mohammad

On Sat, Feb 11, 2017 at 10:34 PM, Tom Uchida <notifications@github.com>
wrote:

[2017-02-13 15:15] ANKELA commented on #888
This is the project working folder. https://drive.google.com/open?id=0B6tHKsx00x9-bUVKbEh3WXNNMTA

The MATLAB script that generated the issue is modelScaler.m. In the script options in the first cell, you can choose whether OpenSim 3.3 or 4.0 is being used, which just keeps the generated models organized and also changes a couple commands in the script since you call them a little differently depe

[2017-02-14 02:16] aseth1 commented on #1488
I was looking into and was able to distill it to the `Property` assignment:
[code]
The ASSERT fails because Property `b` is not assigned to the property value(s) of `a` (although the property name is updated).
Thanks @klshrinidhi for taking a look.

[2017-02-14 02:17] klshrinidhi commented on #1488
I will get back soon on what is going on.

[2017-02-14 06:32] chrisdembia opened #1517 "Rename Component::getParent() to Component::getOwner()"
Both @jimmyDunne and @tkuchida have expressed confusion about the function `Component::getParent()` (this function provides a back-pointer to the owning component), especially since some components have a `getParentFrame()` function and we use the term "parent" to refer to parent frames or bodies. I think a suitable alternative name would be `getOwner()`.

[2017-02-14 18:52] aseth1 opened #1518 "OpenSim Functions need test cases"
The recent [SignalGenerator PR](https://github.com/opensim-org/opensim-core/pull/1507) by  @chrisdembia, highlighted a need to have `OpenSim::Function`s tested. It also introduces a nice test for the `SignalGenerator`. The test could be extended to serve as a utility for testing Functions is a systematic way.

Something like:
[code]

[2017-02-17 03:17] klshrinidhi commented on #1246
All the `DataAdapter`s are case-insensitive to extension as per code [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/FileAdapter.cpp#L45).
This means:
* STO, sto, StO, sTo etc are treated the same.
* CSV, csv, CsV CSv etc are treated the same.

[2017-02-17 03:17] #1246 closed

[2017-02-20 07:36] tkuchida commented on #1500
Fixed by #1507.

[2017-02-20 07:36] #1500 closed

[2017-02-20 20:33] chrisdembia commented on #1500
Thanks Tom.

[2017-02-23 19:11] jenhicks commented on #697
@jimmyDunne Can you verify that this is fixed? Matlab shouldn't crash and you should get a useful exception warning message (e.g., tool is missing a model)

[2017-02-23 19:15] jenhicks commented on #1209
Partly addressed with #1511

[2017-02-23 19:15] #1130 closed

[2017-02-23 19:16] #1462 closed

[2017-02-23 19:17] jenhicks commented on #1465
@aseth1 Can you check out #1436 for usage there?

[2017-02-23 19:19] #1229 closed

[2017-02-23 19:35] #350 closed

[2017-02-23 19:36] jenhicks commented on #669
@chrisdembia will verify if this is still an issue

[2017-02-23 19:38] jenhicks commented on #1179
Could throw exception when user asks for location of the moving path point as an intermediate step.

[2017-02-24 03:32] jimmyDunne commented on #697
Not having a model specified in the Fwd Setup XML does **still** crash Matlab (tested using the gait2392 pipeline).

[2017-02-24 03:46] jimmyDunne commented on #697
Can confirm, NOT having the model specified in the Setup XMLs for RRATool, CMCTool, and ForwardTool, all cause a fatal Matlab crash when Tool is instantiated.

[2017-02-24 03:48] chrisdembia commented on #697
Darnit. Is anything useful printed? Is there a crash log (in your home directory) that might show a stack trace?

[2017-02-24 03:55] jimmyDunne commented on #697
MATLAB crash file:/Users/jimmy/matlab_crash_dump.3303-1:

------------------------------------------------------------------------
       Segmentation violation detected at Thu Feb 23 19:55:08 2017
------------------------------------------------------------------------

Configuration:
  Crash Decoding      : Disabled
  Crash Mode          : continue (default)
  Current Graphics Driver: Unknown ha

[2017-02-24 04:00] jimmyDunne commented on #697
No, not really. Just the typical crash message from Matlab.
[matlab_crash_dump.3303-1.txt](https://github.com/opensim-org/opensim-core/files/798335/matlab_crash_dump.3303-1.txt)

[2017-02-24 04:04] aseth1 commented on #697
#793 is the PR that should throw a meaningful Exception, which I though had been merged. It was not merged (my bad) but I was probably waiting for the tests to pass. @klshrinidhi can you revive #793 and let's get it merged when the tests pass. Sorry about that!

[2017-02-24 04:18] jimmyDunne commented on #282
I tested with the models in opensim-org/models. Both bouncing_block.osim and bouncing_block_weak_spring.osim are instantiated without error.

[code]

[2017-02-27 18:41] aymanhab opened #1531 "StatesTrajectory use by GUI"
Trying to use StatesTrajectory to load motions in the GUI showed the following problems:
- [ ] The method createFromStatesStorage allows for missing columns and extra columns but nothing there to guarantee that at least one coordinate is specified which is what the GUI used to do in ad-hoc way pre 4.0. If a storage file really represents a motion then it should move something. Could add a utility

[2017-02-28 19:07] jimmyDunne opened #1537 "Update Matlab Table reader test script"
addresses issue created in #1536

Need to update paths to files in test script.

[2017-02-28 19:16] chrisdembia opened #1538 "InverseDynamicsSolver.h is not included in osimSimulation.h"
The headers `InverseDynamicsSolver.h` and `InverseKinematicsSolver.h` are not included in `osimSimulation.h`. There may be more that are not included as well. The consequence is that simply including `<OpenSim/OpenSim.h>` is not sufficient to use these classes.

[2017-02-28 20:00] aymanhab commented on #1538
Good find @chrisdembia Feel free to add them in. Would be great to auto-find these in the future.

[2017-03-01 00:59] tkuchida commented on #578
Fixed by #1524.

[2017-03-01 00:59] #578 closed

[2017-03-01 01:17] chrisdembia opened #1541 "Bindings: Cannot edit curves for Millard2012EquilibriumMuscle"
The bindings put the Millard2012EquilibriumMuscle in the [simulation module](https://github.com/opensim-org/opensim-core/blob/master/Bindings/simulation.i#L237), but some of the classes that are used by the MIllard2012EquilibriumMuscle are still wrapped in the [actuators module](https://github.com/opensim-org/opensim-core/blob/master/Bindings/actuators.i) (e.g., TendonForceLengthCurve). Therefore,

[2017-03-01 01:17] chrisdembia commented on #1541
Discovered by @nickbianco

[2017-03-01 01:55] klshrinidhi opened #1542 "Discrepancy in result of getValueIsDefault()"
[code]
The property `frame_geometry` and its nested property `socket_connectee_name` return different results. Depending on result from top-level property may lead to problems.

This was discovered when using the function [here](https://github.com/opensim-org/opensim-core/blob/4adf5bd13af96124645c5883baec2e42763db83a/OpenSim/Tools/Test/testModelCopy.cpp#L40-L68) to copy properties of components of

[2017-03-01 04:01] chrisdembia commented on #1538
Thanks @aymanhab; I've created PR #1544.

[2017-03-01 04:12] chrisdembia commented on #1531
I'm fine with adding the ability to obtain this information. My thoughts:

If we add a `StatesTrajectory::isMotion()`, we could return true if at least one coordinate value is non-NaN in at least one of the states in the trajectory.

We can have the function return a `std::vector<std::string>` of the state variable names that *were* found. This isn't really what you want, since it could be that no

[2017-03-01 17:46] #1538 closed

[2017-03-01 18:01] aymanhab commented on #1531
Thanks for the feedback @chrisdembia I'd lean to add an explicit "isMotion" over an implicit return value that could make the call sequence more obscure. In the past we used the labels so that the check is fast, I'm not sure what happens to the labels after creating the StatesTrajectory.

If exceptions are handled quietly and a message pops up due to IOExcption (as I expect from the swig code you

[2017-03-01 18:26] chrisdembia commented on #1531
The StatesTrajectory doesn't contain any labels; the obvious way I can think of doing the check might be slow.

Let me know specifically what you'd like me to do, if anything. I'm fine with adding the SWIG macro to createFromStatesStorage().

[2017-03-01 19:37] chrisdembia commented on #1501
@klshrinidhi please see the tgcs2017 branch before working on this. In particular, see this file: https://github.com/opensim-org/opensim-core/blob/f23ad6fccdf7d0f9e256ff0d2413f3e76be1e93b/OpenSim/Simulation/Control/ToyPropMyoController.h

[2017-03-01 22:52] chrisdembia opened #1547 "CMake should clear generated Java source files before rebuilding Java bindings"
For those building the java bindings, the following happens often:

1. Build the Java bindings (this puts a bunch of swig-generated .java files in the build tree, at Bindings/Java/src).
2. Update opensim-core to a newer commit.
3. Rebuild the Java bindings (this creates new .java files).
4. Get confusing errors saying that the java classes could not be compiled.

I think this is because there are

[2017-03-02 17:48] #1124 closed

[2017-03-02 19:40] jenhicks commented on #1488
Will merge this PR and then revisit script in #1460

[2017-03-02 19:45] jenhicks commented on #282
Fixed on master, but not on alpha that GUI

[2017-03-02 19:45] #282 closed

[2017-03-02 21:16] #669 closed

[2017-03-02 23:01] #1503 closed

[2017-03-03 00:02] chrisdembia opened #1551 "Model::printBasicInfo() and printDetailedInfo() do not account for components added via addComponent()"
The model has some utility functions for printing information about the model, such as the number of joints. However, if a joint was added to the model via `Component::addComponent()`, then it is not accounted for in the output of `printBasicInfo()`, etc.

[2017-03-03 00:06] chrisdembia commented on #393
I am able to get all tests to pass on Windows in debug except for testOptimizationExample(Runs), which times out. However, @aseth1 has shortened this test in #1548 . Therefore, I am closing this issue.

[2017-03-03 00:06] #393 closed

[2017-03-03 00:12] aseth1 commented on #393
Woohoo! Thank you @chrisdembia .

[2017-03-03 00:13] tkuchida commented on #393
:fireworks:

[2017-03-03 00:34] jenhicks commented on #393
Awesome! Thanks @chrisdembia

[2017-03-03 15:05] maxime-tournier commented on #1257
Hello,

Just to mention that I had the same issue, also building from the root source directory.

Building from a separate directory fixed the issue (you still need to delete leftover `CMakeCache.txt` in the root source dir though).

Hope this helps,

[2017-03-03 17:43] chrisdembia commented on #1257
Thank you @maxime-tournier for reporting. I would discourage using the source directory as the build directory. Still, if you submit a PR that fixes your issue, I would review it.

[2017-03-03 21:24] #1517 closed

[2017-03-05 04:43] chrisdembia opened #1553 "Display preference for wrap objects is not remembered"
This issue is related to https://github.com/opensim-org/opensim-gui/issues/87: a model will display its wrap surfaces even if a v3.3 model file says it's not supposed to display a wrap surface. This might be because the `display_geometry` property of wrap objects is not being used in `updateFromXML()`?

[2017-03-05 17:12] syllogismos commented on #1257
Hey, I followed these instructions to install opensim https://github.com/opensim-org/opensim-core#on-mac-osx-using-xcode but my python bindings are not working. When I run `ctest -R python -V` this is the out put I'm getting..

[code]
Along with an osx warning, saying `python quit unexpectedly` warning like below
<img width="994" alt="screen shot 2017-03-05 at 22 41 33" src="https://cloud.githubus

[2017-03-05 20:06] chrisdembia commented on #1257
It's great that you are trying to use the python bindings. Thank you for the very thorough report.

It seems that you have homebrew python. The issue is almost certainly the issue described in the README:
![image](https://cloud.githubusercontent.com/assets/846001/23590825/cbe6d38a-019b-11e7-97a9-015df85f225e.png).

Please make sure that the PYTHON_* cmake variables are all set consistently (to use

[2017-03-06 07:57] chrisdembia opened #1554 "MacOS RPATH for osimJavaJNI (and maybe other osim libraries) is absolute, but should be relative"
The RPATH for the osimJavaJNI is an absolute path, but should be a relative path in order make the (GUI) installation relocatable.

Relative RPATHs for the python dylibs is maybe not a good idea, since these shared libraries are usually copied into the python packages directory, therefore rendering a relative path incorrect. Perhaps the step of installing the python package on macOS should include

[2017-03-06 08:03] chrisdembia opened #1555 "Make osimJavaJNI loadLibrary message platform-dependent."
The Java exception/error for failing to find the OpenSim shared libraries is tailored toward Windows (it mentions the PATH environment variable, but not LD_LIBRARY_PATH or DYLD_LIBRARY_PATH) (https://github.com/opensim-org/opensim-core/blob/master/Bindings/Java/swig/java_common.i#L189). It would be great to update this error message to be more accurate for platforms like macOS and linux.

[2017-03-06 19:54] tkuchida opened #1556 "Bug in ConsoleReporter formatting logic"
I noticed this in a different situation, but here's a simple way to reproduce:

**In testREADME.cpp:**
- change `reporter->set_report_time_interval(1.0);` to `…1.23456e-6);`
- change `manager.integrate(state, 10.0);` to `…2.e-4);`

**Output**
<pre>
[reporter]
            |           /m|             |
            | odel_/biceps|             |
        time| |fiber_force|  elbow_angle|
------------|

[2017-03-06 21:47] tkuchida opened #1558 "Create a method that returns simple, informative data type"
**Example:** If given `"SimTK::Vec<2,SimTK::Vec<3,double,1>,1>"`, returns `"SpatialVec"`.

See [issue 73 in GUI repo](https://github.com/opensim-org/opensim-gui/issues/73) and [Component::printOutputInfo()](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.cpp#L1552).

[2017-03-07 17:03] jimmyDunne commented on #1361
I am able to open upper_limb.osim in the OpenSim 4.0-Matlab API. I do get a set of warnings:

[code]

Opening upper_limb.osim in the 3.3 GUI works, but the model seems incorrect. A screen grab is posted below.

![upper_limb_model](https://cloud.githubusercontent.com/assets/5296507/23667851/1720f442-0314-11e7-8c35-6faef03e1c77.jpg)

[2017-03-07 19:07] aseth1 commented on #329
@jenhicks @chrisdembia I think this can be closed. It is not a bug. It could be updated to use list socket for Controller's dependency on actuators.

[2017-03-07 19:13] aseth1 commented on #1256
@carmichaelong do you want to update the documentation to state that `clamped` refers to the joint limits being enforced (`clamped true`) during assembly and IK? I agree hard joint stops would be great as well for forward simulation and that was on Sherm's plate before he left 😢

[2017-03-07 19:21] chrisdembia commented on #329
We do not yet have list sockets (just list inputs), but most of the infrastructure should now be there to enable list sockets when/if we decide to implement them.

[2017-03-07 19:22] chrisdembia commented on #329
I agree that the longer-term fix is to use list sockets.

[2017-03-07 23:16] jenhicks commented on #329
I think it is OK to close and reopened later, as needed.

[2017-03-07 23:16] #329 closed

[2017-03-08 00:00] carmichaelong commented on #1256
Sure, I can update this.

[2017-03-08 20:06] aymanhab commented on #1498
Geometry.cpp has a call to ModelVisualizer::findGeometryFile that populates passed in search paths using hard coded list of options described in doxygen, there's no API to modify these search paths so that a client (e.g. the GUI) can add directories to search. This is a problem because the actual search paths have to be found on client machine after installation or could be user specified. Either

[2017-03-09 00:33] jenhicks commented on #1541
Is this a new issue in 4.0 or did it exist in previous releases, as well?

[2017-03-09 00:42] jenhicks commented on #1488
@aymanhab Would you like to test out the script again before the API beta or can I move this to the backlog?

[2017-03-09 00:44] aymanhab commented on #1488
I'd move it to backlog. To set my environment to master in order to write/test the new script doesn't seem practical at the moment. Thank you.

[2017-03-09 00:57] chrisdembia commented on #1541
This is a new issue; I just checked and verified that 3.3 python bindings provided access to the TendonForceLengthCurve class.

[2017-03-09 01:34] #1547 closed

[2017-03-09 17:05] aseth1 commented on #381
Many of these issues are addressed by #1449, but it is still an Analysis.
Post 4.0 we should put the reaction calculation and Output as part of `Joint` and simply use a reporter to get the values out.

[2017-03-09 19:16] jenhicks commented on #888
@jimmyDunne Can you test whether the bug is fixed in latest master?

[2017-03-09 19:17] jenhicks commented on #182
Duplicates #465

[2017-03-09 19:17] #182 closed

[2017-03-09 19:22] jenhicks commented on #611
@tkuchida Will do some initial exploration to see how long this task will take. @aseth1 is ok with making the change now and resolving backward compatibility issues later.

[2017-03-09 19:28] #1361 closed

[2017-03-09 19:31] #1433 closed

[2017-03-09 19:39] jenhicks commented on #1553
Still need to determine whether this is an API or GUI issue. Do properties show up correctly in the Properties panel in the GUI when the model is loaded?

[2017-03-09 19:42] jenhicks commented on #1541
@nickbianco : @chrisdembia mentioned you have a PR that solves the issues. Can you submit the PR?

[2017-03-09 19:45] jenhicks commented on #1558
@chrisdembia has a proposal for a few line solution. Will see if this works, otherwise postpone.

[2017-03-09 21:18] tkuchida commented on #1558
@klshrinidhi: see [Object_GetClassName](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Object.h#L1081) and getClassName().

[2017-03-10 00:53] tkuchida commented on #1365
Fixed by #1548.

[2017-03-10 00:53] #1365 closed

[2017-03-10 08:55] chrisdembia opened #1564 "Update license for osimSimmFileWriter files"
The license for these files is not an open-source license:

[code]

We should remedy this soon.

[2017-03-10 18:50] aymanhab commented on #1564
Based on feedback I got from users of both SIMM and OpenSim who seem to be using SIMM for a lot of modeling/model-building and then OpenSim for simulation, my recommendations would be:

- Continue to support importing SIMM models into OpenSim (and upgrade at some point)
- Drop support for exporting SIMM models.
- If we're on agreement (@jenhicks) then we can remove this entirely.
- If the importer

[2017-03-11 00:34] chrisdembia commented on #405
I have been able to use the MATLAB bindings on a mac for a while now, and so has @jimmyDunne . Since this issue was created, we improved the RPATH mechanism, which I think has addressed the original issue.

[2017-03-11 00:34] #405 closed

[2017-03-11 04:01] #1541 closed

[2017-03-12 03:26] chrisdembia opened #1572 "Finding the simbody-visualizer after distributing OpenSim"
On Windows, the opensim-core installation contains simbody-visualizer in the bin folder (if the CMake variable OPENSIM_COPY_SIMBODY is ON). On macOS and Linux, however, simbody-visualizer is not copied into OpenSim's installation (regardless of the value of OPENSIM_COPY_SIMBODY). Therefore, the current macOS installation would not allow users to use the simbody-visualizer.

Even if the simbody-vis

[2017-03-13 05:50] #473 closed

[2017-03-13 05:51] #1537 closed

[2017-03-13 05:52] chrisdembia commented on #1558
@tkuchida would you say this could be closed?

[2017-03-13 05:55] chrisdembia commented on #1554
While #1573 largely addresses this issue, it does not handle the case where WITH_BTK is ON. So even if #1573 is merged, we should not yet close this issue.

[2017-03-13 06:16] tkuchida commented on #1558
Yes (fixed by #1562).

[2017-03-13 06:16] #1558 closed

[2017-03-13 06:20] chrisdembia commented on #1553
I looked into this by looking at the Properties panel, and this is an API issue. The `Gastroc_at_condyles_r` should be hidden:

![image](https://cloud.githubusercontent.com/assets/846001/23843461/2a1bf86c-0779-11e7-9c24-8455f0cffc91.png)

but the Properties panel says it is visible:

![image](https://cloud.githubusercontent.com/assets/846001/23843469/3d3f612c-0779-11e7-930b-c8e08bedd473.png)

This

[2017-03-13 06:25] chrisdembia commented on #1553
WrapObject does not have any `updateFromXMLNode()` code, even though its properties have changed since 3.3: WrapObject used to have the following properties `VisibleObject`, `display_preference`, `color`.

[2017-03-13 06:27] chrisdembia commented on #1553
@aymanhab @aseth1 since both of you have worked on WrapObject since 3.3, please let me know if you have any insights. I can carve out time to add the necessary `updateFromXMLNode()`.

[2017-03-13 08:11] tkuchida opened #1575 "Incrementing XMLDocument::LatestVersion causes testStaticOptimization failure"
### To reproduce
- In `XMLDocument.cpp`, change `LatestVersion` from 30513 to 30514
- Run testStaticOptimization

### Expected result
Test passes

### Actual result
<pre>
Done, with failure(s): (testArm26_Millard2012EquilibriumMuscle,testModelWithPassiveForces)
</pre>

### Additional information
#1548 was the last PR to increment `LatestVersion` (from 30512 to 30513). The `Muscle::updateFromXMLNod

[2017-03-13 17:06] chrisdembia opened #1578 "Add/remove columns from a DataTable"
In my current research project, I find myself wanting to remove or add columns from a DataTable. For example, I might load a csv file of all states, and then want to create a table with only joint angles, and so I would want to load the csv file and remove all columns that aren't joint angles. Or, create a new table and add the columns that are the joint angles.

[2017-03-13 17:19] aymanhab commented on #1578
@chrisdembia I find myself with similar needs in the GUI. Ideally there would be some sort of annotation maintained with the datatable that says what's what (e.g. Columns 1-5 Coordinates, 7-20 Muscle states etc.) in cases where we create the files that are read into datatables at least this should be possible I think.

[2017-03-13 17:31] chrisdembia commented on #1578
We could have `StatesTrajectory::exportTable()` add those annotations.

[2017-03-13 17:52] jimmyDunne commented on #888
Firstly, I ran the ScaleTool on gait2392 though the 4.0-Matlab scipt interface. The moved marker locations are the same as in the outputreferences dir generated from OpenSim 3.

Reference R.ASIS
``` 					<location>   0.02342148   0.03628304   0.13084011 </location>```
4.0 R.ASIS
``` 					<location>0.023984452680014479 0.036570924839751662 0.13056692187007787</location> ```

Thanks, @ANKELA, for se

[2017-03-13 18:43] #1575 closed

[2017-03-13 18:44] tkuchida opened #1580 "Documentation for Component::finalizeConnections() is uninformative"
Current description is
<pre>
Connect this Component to its aggregate component, which is the root of a tree of components.
</pre>
which does not reveal that `finalizeConnections()` must be called before Socket-connected Components can be accessed.

[2017-03-13 20:02] tkuchida commented on #1580
Related: #890, #85, #384, #1068, #1107

[2017-03-13 20:16] tkuchida commented on #1406
Fixed by #1567
![](http://gifrific.com/wp-content/uploads/2012/04/Tina-Fey-giving-herself-high-five.gif)

[2017-03-13 20:16] #1406 closed

[2017-03-13 20:32] tkuchida commented on #1551
Should we be deprecating any/all of the Model::add:cow: methods, where :cow: = {ModelComponent, Body, Marker, Joint, Constraint, Force, Probe, ContactGeometry, Controller}? Stated another way, how does a user decide whether to add a Joint to a Model via `Model::addJoint()` or `Model::addComponent()`? AFAIK, both work now. Perhaps `Model::addJoint()` should just call `Model::addComponent()` under t

[2017-03-13 20:47] aseth1 commented on #1551
Good idea! All components are in included its `ComponenList` (regardless of the containing property), so we could make this update without any other changes.

[2017-03-13 21:32] klshrinidhi commented on #1578
As per discussion with Ajay & James, I will add `addColumn` function to `DataTable`.

[2017-03-13 21:36] tkuchida commented on #1179
Investigated overriding `get_location()`, `upd_location()`, and `set_location()` (which are inherited from Station) to throw exceptions. It doesn't look like this would be a "quick fix" since `set_location()` is being called somewhere via `Model::initSystem()`. We could print a warning, but these warnings would appear when `initSystem()` is called even if the user has done nothing wrong.

[2017-03-13 21:43] chrisdembia commented on #1179
I don't think `get_location()` etc are virtual. Anywho, if that isn't a quick fix, then it's probably easier to just change the inheritance hierarchy.

[2017-03-13 21:47] chrisdembia commented on #1578
Awesome :) Would `appendColumn()` be more consistent with `appendRow()`, or is there a difference between the two that we would want to signal by using `add` instead?

[2017-03-13 22:34] aymanhab commented on #1179
I do think that the right fix is changing the inheritance hierarchy indeed and not to override the method. Also the GUI accesses the Properties directly not through the custom interface get/set so that wouldn't have helped much. We probably need to size the scope of the change and its side-effects this late in the game before we commit.

[2017-03-14 00:40] aseth1 commented on #1179
IMHO the correct solution is to remove the `PathPoint` class altogether since it is an inappropriate base for representing both a stationary point and a moving point. The problem was not a new one, only exacerbated by the fact that we now have a clearer delineation between stationary (`Station`) and other points. With the introduction of `Point` a path can be a simply composed of a collection of P

[2017-03-14 08:33] tkuchida opened #1584 "Cryptic exception message if finalizeFromProperties() called after initSystem()"
To reproduce:
[code]
When :frog: is uncommented, the following exception message is reported:
<pre>
SimTK Exception thrown at Integrator.cpp:431:
  Integrator initialization failed apparently because:
Component::isCacheVariableValid: ERR- name not found.
 for component 'geometrypath_' of type GeometryPath
</pre>
Although this example may seem contrived, it was discovered in a "real world" situatio

[2017-03-14 16:03] #346 closed

[2017-03-14 18:36] aseth1 commented on #1584
I disagree that calling `finalizeFromProperties` after `initSystem` should be "harmless" in the sense that it does nothing. It is like calling *realizeTopology* after *realizeDynamics*, we wouldn't expect the dynamics cache variable in the `State` to remain valid, and they are not accessible.

After a call `initSystem` there should be no reason to call `finalizeFromProperties` to permit `printBasi

[2017-03-14 19:10] tkuchida commented on #1584
With my "user hat" :tophat: on, my thinking was that if the Model is already up-to-date with its properties, then `finalizeFromProperties` has nothing to do and nothing should change.

#1582 introduces the requirement that `isObjectUpToDateWithProperties()` must be true before calling `printBasicInfo()`. Here's the result if :frog: is replaced with `model.printBasicInfo();` in the example above wi

[2017-03-14 21:02] aseth1 commented on #1584
That's the crux of the issue. You are absolutely right- that's a high-priority bug.

[2017-03-14 21:48] chrisdembia commented on #1584
I could imagine that any component might modify properties during `extendAddToSystem()`. We should add a check in `testComponents()` to make sure that everything is up to date after initSystem().

[2017-03-14 22:07] aseth1 opened #1586 "Revisit using SWIG rename facility to expose commonly used operators"
In #1581 a fixed set of template operator* implementations are specialized and exposed as a `Rotation::multiply()` method available through scripting. It may be possible to use SWIG's `rename` facility to rename all (or a swath of) `operator*` methods on C++ to `multiply()` in wrapping. That would be a more generic way that would require less maintenance as pointed out by @aymanhab.

@chrisdembia

[2017-03-14 22:15] tkuchida opened #1587 "isObjectUpToDateWithProperties() should be true after calling initSystem()"
See discussion in #1584

[2017-03-14 22:17] tkuchida commented on #1584
Thanks for investigating. I've opened #1587 to track the `initSystem()` bug; the exception message issue described above isn't critical.

[2017-03-14 23:52] #1551 closed

[2017-03-15 00:47] chrisdembia opened #1588 "Component::updateFromXMLNode() should be copied to base classes"
XML versions 30508 and 30510 updated the XML format for connectors/sockets by implementing `Component::updateFromXMLNode()`. This code should be copied into base classes that had sockets before 30508/30510. The reason is made clear by what happened in #1577: update code for 30514 had to assume pre-30508 syntax because Joint doesn't have 30508 update code.

[2017-03-15 00:48] chrisdembia commented on #1588
Tom said in #1577:

As a result, I am updating the name of this issue.

[2017-03-15 00:55] tkuchida commented on #611
Fixed by #1567 and #1577

[2017-03-15 00:55] #611 closed

[2017-03-15 01:26] tkuchida commented on #1501
Fixed by #1557

[2017-03-15 01:26] #1501 closed

[2017-03-15 10:30] tkuchida commented on #1515
Opened issue to track in opensim32 repo; closing.

[2017-03-15 10:30] #1515 closed

[2017-03-15 23:27] jenhicks commented on #465
@jimmyDunne Did you have a chance to check whether this bug was fixed or not?

[2017-03-16 02:14] jimmyDunne commented on #465
I did tested the tool through the API and found that 'fixed' is maintained through adding a markers to a model, ModelScaler(), and MarkerPlacer()

[code]

[2017-03-16 03:54] jenhicks commented on #465
Ok -- I will add this to "need verifying" and we can double check everything works as expected in the GUI, as well (seems like it should).

[2017-03-16 18:08] aymanhab commented on #978
I (Ayman) Will check which function used by GUI for Abot dialog and update needs, @chrisdembia fixed configure opensim to use latest functions

[2017-03-16 18:09] aymanhab commented on #978
@aseth1 and @aymanhab will review and test

[2017-03-16 18:12] aymanhab commented on #1553
@aseth1 will review

[2017-03-16 18:15] aymanhab commented on #1498
Issue related to Geometry location was fixed in #1560, separate issue is open for locating visualizer executable #1572

[2017-03-16 18:15] #1498 closed

[2017-03-16 18:24] aymanhab commented on #1179
@aseth1 working on a fix that changes the class hierarchy, main concern is interaction with wrapping

[2017-03-16 18:25] #1504 closed

[2017-03-16 18:38] aymanhab commented on #392
Current plan is to drop export support and make importer part of the build system. We may need to take out the code for simmfilewriter out as dead code.

[2017-03-16 18:39] aymanhab commented on #701
Answer is yes! closing, other issues address specifics.

[2017-03-16 18:39] #701 closed

[2017-03-16 18:41] aymanhab commented on #738
This will be addressed by another issue #693

[2017-03-16 18:41] #738 closed

[2017-03-16 18:45] aymanhab commented on #1555
@chrisdembia thinks can be addressed but not critical to 4.0 Beta

[2017-03-16 18:53] aymanhab commented on #1497
Doesn't seem on critical path for 4.0, except if it turns out GUI needs functionality for model renaming support, will address then per @aseth1

[2017-03-16 18:54] aymanhab commented on #1492
Not critical path but would be good to have for 4.0, will affect serialization but not modify API.

[2017-03-16 18:56] aymanhab commented on #1586
Will create issue to cleanup swig wrapping to remove dead/unused "proxy" classes and fold this in.

[2017-03-16 19:04] chrisdembia opened #1590 "Clean up "unwrapped" SWIGTYPE_p classes."
The Java bindings show that there are lots of new "SWIGTYPE_p" classes; we should try to eliminate these.

[2017-03-16 19:05] chrisdembia opened #1591 "Add a DataTable::setRow(), for bindings"
Right now, it is not possible to use `updRow()` (?) to set a row in MATLAB. So it would be nice to have a `updRow()`. Reported by @jimmyDunne .

[2017-03-16 19:54] aymanhab commented on #1590
As of Alpha release of the API there are 113 such classes.

[2017-03-16 21:22] chrisdembia opened #1592 "Remove OPENSIM_HOME from travis"
Right now, we set and use the environment variable OPENSIM_HOME in `.travis-ci.yml`. We should remove this environment variable from travis, as we want to make sure users won't need to set this variable.

Raised by @aymanhab in #1574.

[2017-03-16 22:53] jenhicks commented on #693
Who is working on this?

[2017-03-16 22:53] jenhicks commented on #467
Who is working on this one?

[2017-03-16 22:53] jenhicks commented on #1179
What is the time estimate to complete @aseth1 ?

[2017-03-16 23:00] aymanhab commented on #467
@klshrinidhi is working on this per @chrisdembia

[2017-03-16 23:01] aymanhab commented on #693
@klshrinidhi is working on this per @chrisdembia

[2017-03-16 23:03] chrisdembia commented on #467
This issue will be addressed when @klshrinidhi edits the CMake files to organize dependencies for distribution.

[2017-03-16 23:05] chrisdembia opened #1593 "Document the various possible installation layouts, and related CMake flags"
In #1547, @aymanhab said:

[Simbody's README](https://github.com/simbody/simbody#layout-of-installation) describes the installation layout on each platform. We could also do something similar.

[2017-03-16 23:29] aseth1 commented on #1179
Working on changes discussed today and it should be ready to test soon. I am hoping to make a PR before I leave today.

[2017-03-17 17:52] aymanhab commented on #978
@chrisdembia The method called by the GUI  (to show in the About Dialog is opensimModelCommonJNI.GetCompilerVersion() and it returns blank as of API alpha).

[2017-03-17 18:00] chrisdembia commented on #978
Hmm...I am able to use the function in MATLAB:

[code]

(note, `opensimModelCommonJNI` should now be `opensimCommon`, or maybe `opensimCommonJNI`)

 It could be a Windows-specific issue, since I can't think of what we've done since the alpha to fix this. @carmichaelong @nickbianco since you have the 4.0 MATLAB bindings installed for Windows, could you check?

[2017-03-17 19:51] carmichaelong commented on #978
Tested this, with some caveats: 1) I tested on tgcs2017 branch. 2) Unsure what exactly I'm testing for.

I tried the following lines, none of which worked, but had different error messages:
[code]

[2017-03-17 21:03] chrisdembia commented on #978
Thank you; what about `opensimModelCommon.GetCompilerVersion()` (capital G)?

[2017-03-17 21:03] chrisdembia commented on #978
The method should exist; we're looking to see if it outputs a blank string.

[2017-03-17 21:10] nickbianco commented on #978
Also on tgcs2017 branch. The last command (with a capital G) worked for me.

[code]

[2017-03-17 21:15] chrisdembia commented on #978
Cool. Thank you.

[2017-03-17 21:16] chrisdembia commented on #978
I'm not sure what you meant but we do not use any OpenSim API functions in configureOpenSim.m (since we must assume the API is not yet configured with OpenSim); we parse the buildinfo.txt file.

[2017-03-20 21:51] tkuchida opened #1598 "It would be helpful to alert the user when non-base units are encountered"
`TimeSeriesTableVec3 markerData = TRCFileAdapter::read(markerDataFilename);` can load data from a .trc file with arbitrary units. An API that is aware of units would check for "Units" metadata and, when appropriate, perform a conversion (e.g., mm->m) after loading `markerData`. It is reasonable to expect OpenSim to do this automatically but it doesn't. Thus, it would be helpful if the user were al

[2017-03-20 23:50] chrisdembia commented on #1588
Similar behavior could occur with other abstract classes that implement `updateFromXMLNode`, such as AbstractPathPoint (see #1595).

[2017-03-21 01:06] chrisdembia opened #1599 "Component with 1-character-long name is omitted from state variable path"
If the name of a coordinate is two characters long, then getStateVariableNames() gives the correct output.

[code]

Output:

[code]

*However*, if the coordinate's name is 1 character long, its name is omitted from the path:

[code]

Output:

[code]

[2017-03-21 16:30] tkuchida commented on #1599
Perhaps `if (back >= front)` was intended [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.cpp#L748), [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.cpp#L763), and [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.cpp#L777)?

[2017-03-21 16:40] chrisdembia commented on #1599
I think you're right; nice find.

[2017-03-21 16:55] tkuchida commented on #1599
Should be covered by a test. Related: #1182.

[2017-03-21 17:17] tkuchida commented on #1598
A similar issue was reported on the Forum: ["Experimental Data Preview problem"](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=7553).

[2017-03-21 17:46] klshrinidhi commented on #1598
I agree. :+1:

[2017-03-21 17:46] klshrinidhi commented on #1591
Will get back on this.

[2017-03-21 22:53] jenhicks commented on #392
I double checked with Scott today and he is OK with this plan.

[2017-03-21 22:58] aseth1 commented on #1179
Fixed by #1595

[2017-03-21 22:58] #1179 closed

[2017-03-22 00:02] aseth1 opened #1603 "Avoid dynamic_casts in the inner loop of GeometryPath calculations"
In #1595 it became apparent that `dynamic_cast`s of `PathPoint` to test if they were `MovingPathPoint`s, or not, could be avoided if the the abstract interface were more complete. For example, implementing the pure virtual `getLocation(state)` avoids having to dynamic_cast to call `getLocation()` on Stations. Furthermore, if the virtual function that returns the partial velocity of a point with re

[2017-03-22 00:05] chrisdembia opened #1604 "Support importing a model from URDF"
Roboticists use the URDF file format for robot models. If we are interested in getting the robotics community to use OpenSim, it would be great if we could import URDF files. Simbody has a URDF reader, which it uses to simulate the ATLAS robot.

[2017-03-22 00:14] chrisdembia opened #1605 "Allow setting control values outside of a controller, for use in MATLAB"
In MATLAB, it is convenient to simulate/control a model without a Controller object. It would be great if the following were possible:

[code]

This may work already except that the integrator may actually take multiple steps, each of which would invalidate the controls cache.

This came up in discussion with @malborno and @aseth1 .

[2017-03-22 01:06] tkuchida commented on #1604
[simbody/URDFReader.h](https://github.com/simbody/simbody/blob/master/examples/TaskSpaceControl-Atlas/URDFReader.h)
[simbody/URDFReader.cpp](https://github.com/simbody/simbody/blob/master/examples/TaskSpaceControl-Atlas/URDFReader.cpp)

[2017-03-22 03:37] chrisdembia commented on #1572
I just chatted with @klshrinidhi about this. We can use `dladdr()` on Linux and macOS: http://stackoverflow.com/questions/1681060/library-path-when-dynamically-loaded. We can also use a manifest file that specifies the locations of libraries/executables, and tell the MATLAB/python bindings where to find the manifest file in our installation (similar to our OpenSim_buildinfo.txt).

We can work on t

[2017-03-22 19:11] #1553 closed

[2017-03-22 20:00] #1599 closed

[2017-03-23 17:19] carmichaelong opened #1607 "Using ClutchedPathSpring() out of box does not work"
This can be seen in the hopper example by trying to use a `CluthedPathSpring()` in place of the `PathActuator()` at this [line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Examples/ExampleHopperDevice/buildDeviceModel_answers.cpp#L112). This is  because the `stiffness` and `dissipation` parameters are set to `nan` when using the constructor without any arguments.

This also lea

[2017-03-23 17:50] chrisdembia commented on #1607
This behavior is consistent with `PathSpring` (https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/PathSpring.cpp) and `CoordinateLimitForce` (https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/CoordinateLimitForce.cpp).

At the least, we should document this ("Users must set the properties, as the defaults are NaN.").

[2017-03-23 18:13] chrisdembia commented on #978
Create separate issue for updating buildinfo information on confluence.

[2017-03-23 18:13] #1578 closed

[2017-03-23 18:15] jenhicks commented on #1554
Maybe fixed, @aymanhab will test

[2017-03-23 18:44] jenhicks commented on #392
@aseth1 will assess situation. Will not add new SIMM versions for 4.0

[2017-03-23 19:13] tkuchida commented on #206
From #1407:

[2017-03-23 19:22] tkuchida commented on #1588
Potential issues caused by completely updating a derived class before `Super::updateFromXMLNode()` is called could be avoided if we _complete_ the conversion from A to B before starting the conversion from B to C. We could do this by also passing the target version to `updateFromXMLNode()`. We would then be able to update to any desired version, which could also help test backwards compatibility w

[2017-03-23 20:34] tkuchida commented on #1598
@klshrinidhi What do you think about printing 1 line of the most basic info at the end of the `XXXFileAdapter::read()` methods? Perhaps something like
<pre>
Read XX rows and XX columns. Units are XX.
</pre>
for `TRCFileAdapter::read()`?

[2017-03-23 21:45] tkuchida commented on #1607
@carmichaelong will address. `ClutchedPathSpring::extendFinalizeFromProperties()` should check that all properties have suitable values and throw an exception if they don't. See, for example, [`Millard2012EquilibriumMuscle::extendFinalizeFromProperties()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Actuators/Millard2012EquilibriumMuscle.cpp#L109). Also see the description for

[2017-03-24 06:50] tkuchida opened #1609 "Socket<C>::findAndConnect() should always display message when ComponentNotFoundOnSpecifiedPath"
It seems that the user should be notified if `ComponentNotFoundOnSpecifiedPath` is thrown by `Socket<C>::findAndConnect()`, even though the error may be recoverable. In particular, perhaps we should uncomment [Component.h#L2936](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.h#L2936):
[code]
(though we should ensure that our favorite models load without reporting

[2017-03-24 20:01] chrisdembia opened #1612 "In MATLAB on Windows, cout is not sent to the Command Window"
OpenSim methods often spew out useful text, but this text does not appear in the MATLAB Command Window; this behavior might surprise users. For example, calling `Component::printOutputInfo()` would logically display its output in the MATLAB Command Window, but the current behavior is that such output only appears in the `out.log` file.

This was noted by @carmichaelong and @nickbianco while workin

[2017-03-24 20:05] chrisdembia commented on #1612
@aymanhab does the GUI do anything special to get cout to print to the Messages pane in the GUI?

[2017-03-24 21:06] aymanhab commented on #1612
@chrisdembia The GUI doesn't do anything special. I vaguely remember (from at least 10 yrs ago) that we created a logger to be accessed from both C++ and Java since streams were not portable cross language. If you look for "logger" you may find some clues if that code is still around :confused:

[2017-03-25 22:18] chrisdembia commented on #1607
Sorry for having listed `CoordinateLimitForce`; I was looking at `setNull()` by accident.

[2017-03-25 22:23] carmichaelong commented on #1607
No worries. It was quick to double check!

[2017-03-26 22:46] tkuchida commented on #1607
Fixed by #1614.

[2017-03-26 22:46] #1607 closed

[2017-03-27 04:12] chrisdembia opened #1617 "Clear documentation about building bindings in Debug"
It is unknown (to me) if it is really possible to build the Java/Python bindings in Debug. Our workflows do not really expect it though; for example, `org-opensim-modeling.jar` tries to load `osimJavaJNI`, not `osimJavaJNI_d`. It could be useful for developers to be able to build the bindings in debug (for... debugging), so I do not think we should prevent it. We should perhaps document or warn us

[2017-03-27 05:11] chrisdembia opened #1618 "Component::printInputInfo() should print "<no connectees>" if there are no connectees"
Currently, the output of `Component::printInputInfo()` may look like the following:

[code]

Since `activation` has no connectees, no connectee names are listed. It'd be neat if we could print `<no connectees>` after `activation`.

EDIT: the code *does* try to print `no connectees`, but `getNumConnectees()` seems to be giving the wrong information. I think the issue occurs for single-value Inputs,

[2017-03-27 05:17] tkuchida commented on #1618
Won't [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.cpp#L1534) print "no connectees" if `input->getNumConnectees() == 0`? Are you sure there isn't a connectee whose name is null?

[2017-03-27 05:18] chrisdembia commented on #1618
Yeah I made a mistake; I edited the original post.

[2017-03-27 06:16] chrisdembia opened #1619 "Add Model::getActuatorList() in bindings"
The bindings provide `Model::getBodyList()`, `Model::getMuscleList()`, etc. It would also be nice to have a `Model::getActuatorList()`; this would help for the TGCS example, in case we allow users to add multiple assistive devices to the hopper.

[2017-03-28 21:04] tkuchida commented on #1618
Perhaps add a check for `isConnected()`?
[code]

[2017-03-28 21:18] chrisdembia commented on #1618
That should work.

[2017-03-28 21:52] chrisdembia opened #1622 "GCVSplineSet is not available in bindings"
To facilitate using InverseDynamicsSolver in MATLAB, it would be great to wrap GCVSplineSet, which has a nice constructor that takes a Storage file.

This came up with @clnsmith's project during the March workshop.

[2017-03-28 22:20] chrisdembia opened #1623 "opensim-cmd run-tool does not load model for AbstractTools"
If a model is specified via the XML `model_file` field, AbstractTool will load this model in the derived class constructor. Right now, `opensim-cmd` does not invoke this derived class constructor; this causes `opensim-cmd run-tool` to not load model files for AbstractTools (analyze, cmc).

[2017-03-28 22:30] tkuchida commented on #1456
@jimmyDunne Please add to this list if/when you encounter methods with a similar issue. :coffee:

[2017-03-30 00:03] chrisdembia commented on #1605
Convert the controls in the Model to a discrete state variable.

[2017-03-30 16:59] carmichaelong commented on #1612
On Windows, using a python IDE, output is also sent to out.log rather than command windows. Seen during advanced user workshop.

[2017-03-30 19:22] tkuchida opened #1630 "InverseKinematicsTool does not support tracking coordinates only"
Reported during Advanced User Workshop:

*IKTool "requires" marker data / support coordinate tracking only*

[2017-03-30 19:36] tkuchida opened #1631 "IK fails when all markers attached to ground without informative user message"
Reported during Advanced User Workshop:

*IK failure when initial marker error is zero*

Verbal clarification from @aseth1:
IK fails if all markers are fixed to ground, for example, because the objective function is not dependent on the optimization variables. The user-facing error message is not informative (the optimizer throws an exception because the Jacobian is ill-conditioned). InverseKinema

[2017-03-30 22:06] tkuchida commented on #776
May also need to disallow renaming ground body (raised in Advanced User Workshop for OpenSim 3.3).

[2017-03-30 22:37] chrisdembia commented on #776
I like both are good ideas. The situation has definitely improved since 3.3. Ground is no longer in the ForceSet, but we could make ground an Unnamed property.

[2017-04-02 02:19] nikorose87 opened #1632 "exit code 139 (interrupted by signal 11: SIGSEGV) python"
Hi Chris,
Unfortunately, I could do scaling in the python API because I've got some errors setting the markers of a model. A piece of the code where the error is presented is shown below:

[code]
And I got the error of the title. So, I don't know if something in the API is not working well or If I'm doing something wrong.

Thanks and regards.

[2017-04-03 03:18] nikorose87 commented on #1632
Hi again

I've got another problem that generates the same error. In fact, I'm replicating the 'RunTutorialThree.py' but with a personal case of study in python 2.7. However, I got stuck doing scaling, IK and RRA because I haven't found a function that loads the results to the model, so I think that something internally makes the API break.

Here is the piece of code:
[code]
Thank you.

[2017-04-03 05:47] chrisdembia commented on #1632
Hey @nikorose87. Thank you for sharing code that causes this error. I have been able to reproduce the SIGSEGV. We have run into similar issues multiple times in the past, and it is usually a simple fix to how SWIG alters memory management between C++ and Python.

I'm not sure what you mean by "I haven't found the function that loads the results into the model." Could you clarify? I'm trying to fig

[2017-04-03 06:25] chrisdembia commented on #1632
Update: Using the latest OpenSim master bindings, I am unable to reproduce this error. Which commit of OpenSim are you using?

[2017-04-03 06:32] chrisdembia commented on #1632
@nikorose87 If you re-build OpenSim and find that the issue is gone, please close the issue. Otherwise, we can continue troubleshooting. Thank you.

[2017-04-03 15:54] tkuchida opened #1633 "Clean up class hierarchy for Tools"
It does not seem necessary to have both AbstractTool and Tool classes, and ScaleTool should not derive directly from Object. Noted in #1625.

[2017-04-03 15:55] #1623 closed

[2017-04-03 19:52] nikorose87 commented on #1632
Chris I'm using Opensim 4.0 swig 3.0.8, I build this opensim version last year on October, may I rebuild the version again?

On the other hand, I used the class `Storage` but I couldn't assign it to the model. And yes! I want to load a mot file in a model and visualize it.

Thanks!

[2017-04-03 20:04] chrisdembia commented on #1632
Ah great, then simply updating your source code should fix your problem. Rebuild the latest master (e.g., pull from GitHub again, or download the latest source zip: https://github.com/opensim-org/opensim-core/archive/master.zip). Note that 4.0 is not released, so it is not clear what you mean by "4.0."

The new StatesTrajectory class is designed to facilitate this workflow. This question is not we

[2017-04-03 22:04] aymanhab opened #1634 "WrapObjects are not attached to correct frame for visualization"
WrapObject's generateDecorations method places and computes the geometry relative to Ground. While this works if recreating the scene from scratch for every frame (As used in API visualizer) this construct wrong scene graph that results in wrap objects not moving with the Frames/Bodies they are attached to.
![opensim_snapshot 16](https://cloud.githubusercontent.com/assets/3972208/24633716/bdc7f640

[2017-04-04 16:45] nikorose87 commented on #1632
Hi again,

Unfortunately, I made the build twice and I got the following error doing IK:

`InverseKinematicsTool Failed: Error reading MetaData in file '0008~aa~Walking03.trc'. Unexpected key. Expected = DataRate. Received = dataRate.`

Maybe is something related with the uppercase sensitive class recognition.

[2017-04-04 17:30] chrisdembia commented on #1632
Yes, you should change `dataRate` to `DataRate`. Please close this issue if the original bug is gone.

[2017-04-04 18:38] nikorose87 commented on #1632
Thank you so much for the patience, but my skills in programming are not enough. Finally, the original piece of code of this problem with scaling was able to run. However, when I update the model with `initSystem()`, It produces the same error.

[2017-04-04 18:44] tkuchida commented on #1632
@nikorose87 Please open an issue on GitHub if you've found a bug in the software; [the OpenSim Forum](https://simtk.org/plugins/phpBB/indexPhpbb.php?f=91) is the appropriate place to post questions about using the software.

[2017-04-04 18:50] nikorose87 commented on #1632
Dear Sir
I'm so sorry about having done questions related with the software. However, another line in my python code produced the same error. Should I have to open a new issue?

[2017-04-04 19:15] tkuchida commented on #1632
Please provide a minimal working example. If it helps, [this test](https://github.com/opensim-org/opensim-core/blob/master/Applications/IK/test/testIK.cpp) demonstrates using the InverseKinematicsTool in C++.

[2017-04-04 20:57] chrisdembia commented on #1632
Or, in this case, a minimal failing example. 😆

[2017-04-04 21:29] jenhicks commented on #1634
Need to fix bug, update documentation, update test case to catch this bug. Review other objects that use generateDecorations to make sure they don't create the same issue.

[2017-04-04 21:36] jenhicks opened #1636 "Assembly of unprescribed coordinates unduly affected by PrescribedMotion of other coordinates"
Reported by Zach Lerner at the workshop.

[2017-04-04 21:38] jenhicks commented on #1636
Potentially a bug. Need to follow up with Zach to get model

[2017-04-04 22:37] aymanhab commented on #467
The layout we proposed was intended to keep the layout for each dependency matching the native distribution of that dependency. This allows for reusing/distributing the CMake files from our own environment as is to build user projects. On windows, the layout would contain :
- /bin/.. (all dlls and executables are copied here)
- /sdk/OpenSim/lib, include
-/sdk/Simbody/lib, include
-/sdk/BTK/lib, in

[2017-04-04 22:50] klshrinidhi commented on #467
Okay. Got it. I will get back soon.

[2017-04-04 23:01] chrisdembia commented on #467
Thank you @aymanhab and @klshrinidhi. Some other things to consider:

1. It might be nice to copy Simbody doxygen from Simbody's installation, but I think we should *not* copy Simbody examples (source or binaries).
2. simbody-visualizer: On Windows, I think it's fine if this goes in the root /bin/. But on macOS and Linux, it should stay in sdk/Simbody/libexec/simbody; otherwise, it won't be found

[2017-04-04 23:03] nikorose87 commented on #1632
Ok sir, so sorry. The scale and IK tools work fine because it prints the results of them. My code is shown below:
[code]
After running IK tool, the SIGSEV error appeared and I don't know why.

Thanks in advice.

[2017-04-05 01:12] #1247 closed

[2017-04-05 02:57] tkuchida commented on #1632
Here is a minimal working example in C++:
[code]
In your case, I suggest reading the model again (into another variable). @aseth1 do we want to support this functionality? I suspect that InverseKinematicsTool was not designed to permit reuse of the model after calling `run()`.

[2017-04-05 16:31] klshrinidhi commented on #467
Can you remind me what was the layout for Linux ?
Also, I don't have access to OSX/Windows locally to develop/test the build.

[2017-04-05 16:39] chrisdembia commented on #467
We didn't discuss a layout for Linux. It seems like we are using the same layout for macOS and Windows except for `simbody-visualizer`, so perhaps we should use the same layout on Linux as well.

You can get 90-day VirtualBox VMs of Windows (https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/).

I can test on macOS.

[2017-04-05 16:40] chrisdembia commented on #467
You could also use AppVeyor to test on Windows, though that workflow might not be very pleasant.

[2017-04-05 17:04] #1587 closed

[2017-04-05 17:13] aymanhab commented on #467
@klshrinidhi  the layout for the application install on OSX mirrors the NetBeans  install (since the GUI uses the same code base). If you install NetBeans on linux you should get a good idea about what  the layout should look like.

[2017-04-05 21:34] aseth1 commented on #1636
From Zach:

[Assemble_Error.zip](https://github.com/opensim-org/opensim-core/files/900849/Assemble_Error.zip)

[2017-04-05 21:40] aseth1 commented on #1636
Investigating this is on my TODO when I return, buy to if anyone @opensim-org/dev-team what to take a look, please do. If it isn't user/interface error, then my hunch is that it may be how the assembly goals are specified. Specifically, any prescribed coordinates should be excluded and perhaps they are not.

[2017-04-07 01:25] nikorose87 commented on #1632
Hi all!
I don't understand why do I need to update the model into another variable because the IK process doesn't modify or create models. It just creates motions for associating later into a model. That's why I used the `AnalyzeTool` but again The SIGSEV error appeared, here is the code:

[code]
Thanks for all!

[2017-04-11 21:50] jenhicks opened #1646 "Matlab or Python example showing predictive simulation"
March 2017 workshop request

[2017-04-11 21:52] jenhicks opened #1647 "Enable prescribing motions from a file"
Can do this via a script. Would be nice to better integrate

[2017-04-11 21:53] jenhicks opened #1648 "Provide a useful message when mobilities are coincident"
Reported at March 2017 workshop

[2017-04-11 21:56] jenhicks opened #1649 "Coordinates: report prescribed motion generalized force and power"
Reported at March 2017 workshop

[2017-04-11 22:04] tkuchida commented on #1648
Do you mean *when a model has redundant degrees of freedom* (topology dependent), or does this issue have to do with configuration (pose dependent)?

[2017-04-11 22:09] jenhicks commented on #1648
Good question. I'm not sure -- I transcribed from the whiteboard.

[2017-04-11 23:26] chrisdembia commented on #1648
This was an issue for the bicycle model. It would also be an issue for a four-bar linkage.

[2017-04-11 23:31] chrisdembia commented on #1647
The issue is that prescribed motion lives in the model, and the trajectory is presented as a really long value for an XML element. One potential interface is to provide a STO file of coordinate values to the tools, and the tools use the STO file to add prescribed motion to the model.

[2017-04-12 00:13] tkuchida commented on #1648
Seems to be related to #337, which advocates for a "formal error checking mechanism that makes sure all enabled degrees of freedom are actuated." A preprocessor that catches (and helps users fix) common modeling errors would be great.

[2017-04-12 18:31] #1556 closed

[2017-04-12 19:45] jimmyDunne opened #1650 "Required format for printing external loads files can't be met (Matlab)"
When printing out forces from a c3d, you have to rely on `STOFileAdapter()`, which prints external loads in a [non-compliant .mot format](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Motion+%28.mot%29+Files).

[code]

The output file header looks like this

[code]

There are a few issues with this. (i) the header information is not compliant with standard .mot file format, and (ii) th

[2017-04-12 20:19] klshrinidhi commented on #1650
* Something is definitely wrong with writing the header. I will try fixing that.
* About column order, it may be better if I write a method for DataTable to rearrange columns internally. The order of columns from C3DFileAdapter seems logical -- F,1 M1, P1, F2, M2, P2, ..... , Fn, Mn, Pn. So one could rearrange the columns of the forces table coming out of C3DFileAdapter using something like:
`tabl

[2017-04-13 18:20] jenhicks opened #1653 "MomentArmSolver computes incorrect moment arms for a model with a prescribed motion"
Figure out what's going on and add error + improved documentation at minimum

[2017-04-13 18:21] jenhicks commented on #1653
Jenny has example code/results

[2017-04-13 18:23] jenhicks opened #1654 "Allow plotting length of anything with a path (e.g., ligament)"

[2017-04-13 18:24] jenhicks commented on #1654
Issue moved to [opensim-org/opensim-gui #128](https://github.com/opensim-org/opensim-gui/issues/128) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-13 18:24] #1654 closed

[2017-04-13 18:26] jenhicks opened #1655 "Document how to create an OpenSim Vector in Python"
And if time permits, could create a utility similar to the Matlab one.

[2017-04-13 20:05] tkuchida commented on #1619
Fixed by #1638.

[2017-04-13 20:05] #1619 closed

[2017-04-13 20:18] aymanhab opened #1656 "InverseKinematicsTool leaves a stale KinematicsReporter in the Model post run"
InverseKinematicsTool  adds a KinematicsReporter for its internal working but doesn't remove it when done. This causes problems downstream since the reporter is created on the stack, once out of scope it's a 💣 waiting to explode.

[2017-04-13 20:24] tkuchida commented on #1656
:boom: likely occurring in #1632 (see posts 15 and 16).

[2017-04-13 20:26] tkuchida commented on #1618
Fixed by #1640.

[2017-04-13 20:26] #1618 closed

[2017-04-13 20:54] jenhicks commented on #1650
Additional steps discussed at dev meeting:
1) - add flag to C3DFileAdapter to output force mot in traditional format (default to new format)
Flag Name: UseTraditionalMotFormat (open to other suggestions)
2)  add a MotFileAdapter: compliant mot header format

[2017-04-13 22:10] tkuchida commented on #1650
I suggest `useSIMMColumnOrdering` because (1) "traditional" is ambiguous, (2) the .mot format is specific to SIMM (based on [this](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Motion+%28.mot%29+Files) Confluence page), and (3) IIUC the only difference will be the column ordering.

[2017-04-13 22:58] tkuchida commented on #1656
Fixed by #1657

[2017-04-13 22:58] #1656 closed

[2017-04-13 22:58] tkuchida commented on #1632
Fixed by #1657

[2017-04-13 22:58] #1632 closed

[2017-04-13 23:02] tkuchida commented on #1632
@nikorose87:

As stated in issue #1656, "InverseKinematicsTool adds a KinematicsReporter for its internal working but doesn't remove it when done". This issue has been fixed by PR #1657, which has been merged into master branch.

[2017-04-14 00:53] jimmyDunne opened #1659 "addMarker() has an incorrect behavior (Matlab)"
When adding markers using `model.addMarker()` I get weird behaviour that results in errors.

(Below) I make a basic model and add a marker (in Matlab)
[code]

If I look at the initial marker added, I get the correct answer for the name (and other variables I wont show here)

[code]

If I instantiate another marker, add it to the model, and then check the names, they are now incorrect (ordered and

[2017-04-14 01:15] aymanhab commented on #1659
Did u mean m2.setName () ?

On Apr 13, 2017 5:53 PM, "jimmyDunne" <notifications@github.com> wrote:

When adding markers using model.addMarker() I get weird behaviour that
results in errors.

(Below) I make a basic model and add a marker (in Matlab)

%% import java libraries
import org.opensim.modeling.*
model = Model();
model.setUseVisualizer(true);
r1  = Body('rod1', 1, Vec3(0), Inertia(0));

%

[2017-04-14 01:25] jimmyDunne commented on #1659
ahh, I see. That was an error on my part.

I was messing up some of the setName() property which, now fixed, seems to have solved the problem.

I guess all the markers need unique names..

[2017-04-14 01:25] #1659 closed

[2017-04-16 13:02] kidzik opened #1662 "Activating muscles in every step of the simulation"
Hi, I am trying to activate muscles one by one every 0.01 second in simulation. It used to work fine, when I was compiling a version from some old commit b3163b22be7bd4cccd8c073e02dd3abb52867031 . In the beta release 399c8d57a779dd5dde2916192f8b92bfc959e269 it seems to only activate muscles in the first step of the simulation and they are deactivated in all the other steps.
If I use `setExcitation

[2017-04-16 17:34] chrisdembia commented on #1662
The interface for `Manager::integrate()` changed. That could be it, but it looks like you're using the new interface correctly.

[2017-04-17 04:35] chrisdembia opened #1663 "[cmake] Set include directories on OpenSim library targets"
Right now, we expect client projects to use `include_directories("${OpenSim_INCLUDE_DIR}")` in their CMakeLists.txt. With modern CMake, this should no longer be necessary. Instead, we should be using `target_include_directories()` so that when a user does `target_link_libraries()`, the correct include directories are specified automatically.

See https://github.com/simbody/simbody/pull/552.

[2017-04-18 21:56] tkuchida opened #1666 "Assumptions about up-to-date flag may be incorrect in scripting"
`get...()` can be used in place of `upd...()` in scripting, so the Component's up-to-date flag may be incorrect.

[2017-04-18 23:11] chrisdembia commented on #467
PR #1664 addresses this issue, and @aymanhab and I just chatted about current progress. Some decisions we made:

- It is okay to have duplicates of the SimTK dlls for now. In the future, we could edit the SimbodyTargets-*.cmake files.
- On mac, Do not worry about properly copying dylibs for python; the priority is the GUI. Therefore, the distribution should use OPENSIM_PYTHON_STANDALONE=off.
- The

[2017-04-19 00:49] tkuchida opened #1668 "Introduce a Simbody-like staging mechanism in OpenSim"
Stages could include
- model building
  - properties unverified
  - properties finalized
  - connections satisfied
- simulating
- …

and perhaps include Simbody-like [SimTK::Stage](https://simtk.org/api_docs/simbody/3.5/classSimTK_1_1Stage.html)s to resolve issues like #413 and #603.

[2017-04-19 21:22] junja94 commented on #1662
I'm having the same problem with similar code.

[2017-04-19 21:33] chrisdembia commented on #1662
@kidzik What do you mean in `the first step`? You mean for `i = 0`, or for the first time step the integrator takes within each call to `manager.integrate()`?

[2017-04-19 22:12] kidzik commented on #1662
@chrisdembia I meant `i=0` - it basically blinks the muscles to red then and they are turned off throughout the rest of the simulation. I will check it more precisely on Monday. Thanks!

[2017-04-19 23:57] chrisdembia commented on #1662
Ah okay. My guess is that the `state` is not getting updated. That is `state.getTime() == 0` even for `i > 0`.

[2017-04-20 16:37] jenhicks commented on #1650
I like this suggestion @tkuchida  Is the format specific to SIMM or Motion Analysis products in general? @jimmyDunne @aymanhab ?

[2017-04-20 17:20] aymanhab opened #1670 "Manipulation of GeometryPath to insert/delete/changeType of PathPoints is broken"
OpenSimContext.addPathPoint() throws exception
java.lang.RuntimeException: PathPoint::getSystem() muscle1-P2 has no reference to a System.
Make sure you added the Component to the Model and called Model::initSystem().

OpenSimContext.deletePathPoint() crashes

OpenSimContext.replacePathPoint(..)  throws exception
java.lang.RuntimeException: Failed to connect Socket 'coordinate' of type Coordinate

[2017-04-20 17:51] aymanhab commented on #1650
Yes @jenhicks AFAIK. Also keep in mind that C-Motion processes files into this format when they export mocap data.

[2017-04-20 18:18] #978 closed

[2017-04-20 18:56] jenhicks commented on #1650
(1) Add TimeSeriesTable to Storage converter; private member function on Storage.
(2) Storage constructor that takes a filename uses this utility

[2017-04-20 22:43] aseth1 commented on #1670
Please supply some test cases and I will investigate. I assumed `testContext` was testing functions used by the GUI. It looks like `testContext` is not sufficient.

[2017-04-21 01:18] tkuchida opened #1675 "Skyscraper in muscle force plot with Analyze Tool"
### To reproduce
- download and unzip [skyscraper40.zip](https://drive.google.com/a/stanford.edu/file/d/0B1BKpngQdIZIVWRwbUFYcjE5QUU/view?usp=sharing)
- run `analyze -S Setup_Analyze_isokinetic.xml` at the command line
- in the resulting Tug_of_War_Millard_Iso_ForceReporter_forces.sto file, plot "LeftMuscle" vs. "time"

![skyscraper](https://cloud.githubusercontent.com/assets/4203505/25827932/6423

[2017-04-21 04:29] chrisdembia opened #1676 "ExampleLuxoMuscle, AnalysisPluginExample, BodyDragExample are not tested automatically, and no longer compile"

[2017-04-21 06:27] #1564 closed

[2017-04-21 22:08] tkuchida commented on #890
Ideally, also include pre- and post-conditions for methods like `finalizeConnections()`, `extendFinalizeFromProperties()`, and `initSystem()`.

[2017-04-21 23:32] carmichaelong commented on #1662
@chrisdembia I think at least part of the `state` is being updated. I wrote a simple case directly in C++. The initialization is about the same, and my loop looks like this:
[code]
The output is:
[code]

[2017-04-22 01:18] carmichaelong commented on #1662
Worked on this some with @chrisdembia. Still need more investigation. Initial work and some test cases added in branch `manager-initialize`

[2017-04-22 05:59] #462 closed

[2017-04-22 05:59] #693 closed

[2017-04-24 22:14] aymanhab commented on #1670
Created branch fix_path_manipulation_from_OpenSimContext to exercise PathPoint deletion that should fail testContext test case. Will add remaining calls after this one is fixed.

[2017-04-25 00:03] #1303 closed

[2017-04-25 15:21] kidzik commented on #1662
Just verified that I am getting the same values through the python interface
[code]
Back in b3163b22be7bd4cccd8c073e02dd3abb52867031 I was getting
[code]
using the same code https://github.com/stanfordnmbl/osim-rl/blob/master/tests/test.manager.py

[2017-04-25 17:39] aymanhab commented on #1670
Thanks @aseth1 PR #1681 includes the test and fails expectedly.

[2017-04-25 22:39] aseth1 opened #1682 "Improve the granularity of calls that out-date the Component w.r.t. its properties"
As of #1665 getting a writable `Component` will cause the owning `Component` (typically `Model`) to be *out-of-date* with its properties. This ensures that the resulting `System` is not stale, but it does incur a significant penalty for accidentally using `upd` variant instead of `getComponent` of `getComponentList`.

An alternative would be to add call-back invoked on `Object` upon property editi

[2017-04-25 22:46] #1584 closed

[2017-04-25 23:15] tkuchida commented on #1682
Related: #1666

[2017-04-25 23:53] aseth1 commented on #1675
The `AnalyzeTool` does not perform a forward dynamics simulation. The `controls_file` is likely being applied at each instant, but since excitation only affects the activation rate, which is not being integrated, there is no way to update the activation state at the next time frame. Instead the `AnalyzeTool` is likely computing the muscle equilibrium at its default activation.

The *skyscraper* bu

[2017-04-26 00:27] tkuchida commented on #1675
The behavior you describe in 4.0 is different from the behavior in 3.3. Has this change been documented somewhere?

[2017-04-26 03:38] aseth1 commented on #1675
I believe this is the same behavior since 2.4 and perhaps earlier. The `AnalyzeTool` never performed a forward simulation AFAIK.

[2017-04-26 03:48] tkuchida commented on #1675
I am not claiming that the `AnalyzeTool` performs (or ever performed) forward simulations. What I am saying is that the `AnalyzeTool` now behaves differently than it did before. (The tug-of-war example used to work.) Has this change in the behavior of the `AnalyzeTool` been documented? Users who have been relying on the old behavior in their workflows will be surprised when they upgrade to 4.0.

[2017-04-26 17:00] aseth1 commented on #1675
It is unclear whether the `AnalyzeTool` is behaving differently or if the solution to the muscle equilibrium (and/or other muscle model) are affecting the answer. Given how controls affect activations it is unlikely that the `AnalyzeTool` does not apply controls (and title of the issue) is the cause of the discrepency.

If the tutorial requires running the `AnalyzeTool` to compute the effect of ex

[2017-04-26 17:13] tkuchida commented on #1675
Ok @aseth1. I will update the example on Confluence. If there is anything else you would like me to do, please list it here.

[2017-04-26 17:31] aseth1 commented on #1675
I am just curious, if you do set the default_activation to 1.0 do you get the same answers as before? Is there any chance that was expected in the tutorial? Scanning the tutorial quickly I noticed:

But I'm not sure if that was the relevant section for this issue.
Thank you for investigating.

[2017-04-26 17:37] tkuchida commented on #1675
Yes, I carefully followed the instructions on Confluence. If you download the .zip file that is linked in the issue description, you will find that `default_activation` has been set to 1 in the model file.

[2017-04-26 17:51] chrisdembia opened #1683 "TGCS 2017 Remaining tasks"
Here's an EPIC list of remaining changes to make to the Hopper_Device in preparation for TGCS 2017.

1. Update the Hopper_Device README and make sure the README gets intsalled.
2. Consider rearranging the files so that it's clear which files the participant will edit.
3. Consider changing the default size of the InteractiveHopperGUI (it starts off too large on my mac).
4. ClutchedPathSpring is bid

[2017-04-26 18:13] aseth1 commented on #1675
Thanks for verifying. That suggests that in 4.0 the default_activation is not being applied. The tutorial seems fine if it requires the default_activation = 1.0 (in which case it is not relying on the controls).

[2017-04-26 18:35] aseth1 commented on #1675
I am investigating this.

[2017-04-26 19:25] aseth1 commented on #1675
`AnalyzeTool::createStatesStorageFromCoordinatesAndSpeeds` sets state variable values to zero if not found in the loaded .mot or .sto file. This bug was exposed when another bug, which always used the `default_activation` to solve for muscle equilibrium regardless of the provided state was fixed.

[2017-04-27 00:58] kidzik commented on #1662
Everything works well with @carmichaelong's suggestion (/hack) of recreating the manager
[code]
Which is ok for my application. Thanks!

[2017-04-27 07:42] tkuchida commented on #1675
#1548, I think. Should `AnalyzeTool::createStatesStorageFromCoordinatesAndSpeeds()` be setting unknown state variable values to `NaN` instead of zero?

[2017-04-27 07:57] tkuchida opened #1684 "List of Confluence updates for 4.0 release"
The following updates must be made to Confluence once the 3.3 version has been archived (please add to this list as necessary):
- [ ] [New features](http://simtk-confluence.stanford.edu:8080/display/OpenSim/New+Features+in+OpenSim+3.3)
- [ ] [Upgrade notes](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Upgrade+Notes+for+OpenSim+3.3)
- [ ] [Command line interface](http://simtk-confluenc

[2017-04-27 18:08] #1622 closed

[2017-04-27 18:10] #1634 closed

[2017-04-27 18:10] #1580 closed

[2017-04-27 18:14] jenhicks commented on #1609
Need to delete or update the comment

[2017-04-27 18:15] jenhicks commented on #1636
@aseth1 Couldn't reproduce in 4.0. Will test in 3.3

[2017-04-27 18:24] jenhicks commented on #1666
For 4.0, may need to focus on documentation and examples to make the distinction clear to users.

[2017-04-27 18:37] jenhicks commented on #1662
@carmichaelong will look into fixing issue.

[2017-04-28 01:16] chrisdembia commented on #1662
@carmichaelong I pushed some changes to the `manager-initialize` branch that uses `Integrator::reinitialize()`.

[2017-05-01 20:23] aymanhab opened #1685 "Sporadic Exceptions in getSystem() claiming no underlying System."
Started appearing after latest changes to master branch. After loading a model and calling initSystem on it, Trying to get transforms throws exception in Frame.getTransformInGround(state) claiming no System.

java.lang.RuntimeException: Component has no underlying System.
You must call initSystem() on the top-level Component (i.e. Model) first.
	In object 'ground' of type Ground.
	In file D:\Dev\s

[2017-05-01 20:38] aymanhab commented on #1685
This maybe model specific, reproduces with Matt DeMers ToyLandingModel_activeAFO in models repo but not Tug_of_war.

[2017-05-01 21:18] aseth1 commented on #1685
@aymanhab can you provide a bit more context by supplying the sequence of calls you made to elicit the failure?

[2017-05-01 22:00] aymanhab commented on #1685
@aseth1 It is a bit hard to provide specific context because once the model is loaded and initSystem is called on it, many tools/windows try to access it (e.g. to get Coordinates, Build navigator tree, Visualization, Topology view) sometimes from different threads and the order could depend on how long  it takes to open a window for example . If a specific behavior was changed recently to cause th

[2017-05-02 19:16] #1572 closed

[2017-05-02 23:19] kidzik opened #1687 "Modifying properties of bodies without reinitialization of the model"
Hi,
In the beta build I am trying to:
1. load a walker model,
2. add 'obstacles' (sphere contact bodies) for a forward simulation,
3. run the simulation,
4. change positions and sizes of the obstacles at the end,
5. rerun the simulation with the new properties of the obstacles.

If I run `initSystem` after each simulation, it recreates the visualizer, eats a lot of memory and breaks after a few si

[2017-05-02 23:47] tkuchida commented on #1687
A short-term solution could be to mount the obstacles on dummy bodies and connect the dummy bodies to ground with joints, effectively converting the obstacle positions from properties into states. You would then be able to adjust the obstacle positions (and then lock these new joints before simulating) without calling `initSystem()`.

Sounds like new geometry is always being drawn, but isn't visib

[2017-05-03 00:54] kidzik commented on #1687
Locked `FreeJoint` works great, I can move obstacles, thanks a lot!

Regarding the geometry, now when I can move it I see that it is correctly redrawn in the right location but the problem with size remains: when I make it larger it is redrawn larger, when I make it smaller it is redrawn the same size.
This is a smaller problem though: I can just draw contact geometry which is fine - the problem i

[2017-05-03 01:24] aymanhab commented on #1687
API visualizer doesn't support editing as expected, but if you can erase everything from the visualizer window before restarting then it may do the trick.
You may try changing the scale factors instead of recreating the Geometry but I doubt that would do it.

[2017-05-04 16:23] jenhicks opened #1690 "Create mechanism to start work on new documentation in confluence"
I would like to create a new copy of the Scripting and Development branch. Running in to bugs that I am working with support to figure out.

[2017-05-04 16:24] jenhicks opened #1691 "Import API Guide we wrote for Developer's Week to doxygen"
Need to decide where exactly to insert and how to break up pages/sections.

[2017-05-04 16:26] jenhicks opened #1692 "Create master list of new examples and existing examples to test/update"

[2017-05-04 16:29] jenhicks commented on #1692
As part of the process, please look through existing issues in the backlog as some potential examples are included there.

[2017-05-04 22:57] jimmyDunne opened #1693 "finalizeFromProperties() usage and exception messages"
Since it is a new procedure, I forgot that we need to call `finalizeFromProperties()` immediately after reading a model into memory (Matlab). So I spent a solid half hour trying to figure out why I was getting exceptions when trying to work with coordinates.

Doing this in Matlab, the exception was;

``
model.getCoordinateSet().get(0)

``
I don't find this helpful. It is also not helpful that aski

[2017-05-04 23:04] tkuchida commented on #1693
:+1: Perhaps `OPENSIM_THROW_IF_FRMOBJ(!isObjectUpToDateWithProperties(), ...);` is needed.

[2017-05-04 23:38] aseth1 commented on #1693
Will need to come up with a solution that does no require adding `OPENSIM_THROW_IF_FRMOBJ(!isObjectUpToDateWithProperties(), ...);`  on every getter!

[2017-05-04 23:44] aseth1 commented on #1693
I think we are seeing that the practical benefits of automatically calling `finalizeFromProperties()` upon Model construction outweighs the inconsistency of having to invoke  `finalizeFromProperties()` manually upon cloning (which is a less common usage). Once we have bugs under control, I will look into how we can get the model to be finalized after cloning so we can put this issue to rest.

[2017-05-04 23:59] tkuchida commented on #1693
Of course. Conceptually, the problem is that the user can interact with the CoordinateSet before it's meaningful. It should not be possible for the user to see a CoordinateSet of size zero unless the Model really can't move; before calling `finalizeFromProperties()`, the information given to the user should be that the size of the CoordinateSet is undefined (e.g., answer "I don't know" rather than

[2017-05-05 00:11] tkuchida commented on #1693
@aseth1 I'm wondering whether it would make any sense to include `OPENSIM_THROW_IF_FRMOBJ(!isObjectUpToDateWithProperties(), ...);` (or something like it) in the macro for getting properties (of Components). Here's why:
[code]
Would the second `cout` print the same number as the first one (i.e., from a stale CoordinateSet)?

[2017-05-05 18:11] tkuchida opened #1694 "Update documentation in SimbodyEngine"
Several methods were deprecated in SimbodyEngine but the documentation is now incorrect. For example, the documentation for `SimbodyEngine::getPosition()` indicates that `Frame::findLocationInGround()` should be used instead, but such a method does not exist (should be `Frame::getPositionInGround()`).

[2017-05-06 18:50] aseth1 opened #1696 "Remove AnalyzeTool::createStatesStorageFromCoordinatesAndSpeeds() method"
`AnalyzeTool::createStatesStorageFromCoordinatesAndSpeeds() ` is another method that attempts to form a States Storage in which the columns are in order of the StateVariables of the Model. This is what `Model::formStateStorage()` already does. Furthermore, it doesn't correctly initialize the state variable to its default value when not present in the input Storage and led to the  bug reported in #

[2017-05-07 02:16] tkuchida commented on #1675
Test again now that #1686 has been merged.

[2017-05-08 17:36] jimmyDunne opened #1697 "Test and update examples for 4.0 release"
## API Examples (from #1297)
- [x] Script to build a template actuators (see PR #541 (Shrinidhi)
- [ ] Convert dynamic walker example (C++ @chrisdembia,  MATLAB @jimmyDunne)
- [x] Convert hopper example (Chris)
- [ ] Convert between Millard and Thelen muscle models  (Ayman)
- [x] Pendulum with markers; output marker locations (James)
- [x] Plot muscle curves (James)
- [x] Show how to use the DataT

[2017-05-08 17:44] jimmyDunne commented on #1692
See #1697

[2017-05-08 19:19] nickbianco opened #1698 "C3DFileAdapter: very slow file reading to Tables"
Reading a c3d file's data to a Table using the C3DFileAdapter is currently very slow. I compared loading a c3d file (1 minute of walking data) using @jimmyDunne's `btk_loadc3d()` MATLAB script to the C3DFileAdapter and got the following results after 3 runs (Windows 7, 64-bit, i5 2.50 GHz):

btk in MATLAB: 0.39 +/- 0.07 seconds
C3DFileAdapter: 671.96 +/- 20.08 seconds

If you'd like to recreate th

[2017-05-08 20:18] aseth1 opened #1700 "Muscle equilibrium solve mishandles Newton steps to short fiber lengths"
When the current iteration steps to a fiber length < min_fiber_length, the fiber length is *clamped* to the minimum. Subsequent step estimates a length that overshoots the solution and then next step is back to a length that is < min_fiber_length, which gets clamped to the min. From this point on the solve is in endless cycle. A max count in which the min fiber length is *achieved* (regardless of

[2017-05-08 21:03] aseth1 commented on #1700
The crux of the issue is the ad-hoc implementation of the Newton solve.  A robust method will halve the step-size with the error increases due to a step (which is also the case above).  To test this hypothesis I halve the step-size every time in this case the algorithm converges to the correct solution (no more cycling back and forth between two bad solutions).

A positive change would be to abstr

[2017-05-08 21:16] chrisdembia commented on #1700
@humphreysb may be interested.

[2017-05-08 22:28] tkuchida commented on #1675
Tested on master after merge of #1686; now produces same behavior as in 3.3. (Updated title and issue description.)

[2017-05-08 22:30] tkuchida commented on #1700
See #1675.

[2017-05-09 17:21] aymanhab commented on #1685
This was actually a good catch due to a GUI bug/issue that resulted in using Ground from a previously closed model. Closing.

[2017-05-09 17:21] #1685 closed

[2017-05-09 18:33] aseth1 commented on #1685
Great. Glad the recently added exceptions exposed an issue rather than creating a new one.

[2017-05-09 20:37] aymanhab opened #1701 "Potential of holding to stale references in GUI and Scripting"
Under the cover, most Java and Python objects used across the API are references to C++ objects. It may be useful in some cases to avoid using references that could get stale e.g. feedback on issue #1681 PR, using IDs (if there's a unique one)  or indices may be better option

[2017-05-09 20:48] chrisdembia commented on #1701
We could also use some type of shared pointer; that way the object does not get deleted (no segfault), but we could also indicate somehow that the component is orphaned (runtime exception).

[2017-05-10 00:41] chrisdembia opened #1702 "Reading an empty file with CSVFileAdapter causes segfault"
Trying to read an empty file (one that exists but is empty) with `CSVFileAdapter` causes a segfault. I have not tested other file adapters.

The following should reproduce the bug:

[code]

Discovered by @nickbianco.

[2017-05-11 16:12] aseth1 opened #1705 "Rename initSystem() to finalizeSystem()"
Working on the documentation and in discussion with @tkuchida @chrisdembia and other, that the operations (stages) of the top-level (e.g. Model) in creating the underlying System, should be clear. We currently have `finalizeFromProperties()`, `finalizeConnections()` and `initSystem() as the major  steps or stages in forming a computational `System` that embodies the `Model`.

If we think of *final

[2017-05-11 19:20] aymanhab commented on #1705
I like a lot trying to comeup with a Staging mechanism (and ideally embed that somehow in the API documentation to indicate what calls are available at which stage) :+1:

For the actual name, I have a mixed feeling about using the word "finalize" altogether. In my mind if it's ever used it probably should be one finalize to do everything. Too many "finalize" dilutes the meaning that it means nothi

[2017-05-11 19:26] tkuchida commented on #1705
Potentially relevant: #1668

[2017-05-11 19:50] chrisdembia commented on #1705
I too think it would be good to brainstorm some alternatives to "finalize." I think "realize" is good, but it's taken.

[2017-05-11 19:51] chrisdembia commented on #1705
We would also need to rename "finalizeFromProperties" to "finalizeProperties()" or something like that.

[2017-05-11 19:58] aseth1 commented on #1705
Absolutely pertinent. Thanks.

I agree @aymanhab @chrisdembia with *finalize* but couldn't think of something better.  What is relevant about *finalize* is that after that *stage* the properties, connections, or System are locked-in. Attempting to make changes knocks you back down to previous stage.

[2017-05-11 20:52] chrisdembia commented on #1705
@aseth1 I agree that finalize can be seen as having the desired meaning. Here are some synonyms:

"Realize" is nice because it is somewhat 'directionless': things are happening both before and after each stage.

[2017-05-11 21:39] aseth1 commented on #1705
Some alternatives might be: *actualize*, *process*, *confirm*.

[2017-05-11 21:58] aymanhab commented on #1705
One way I've been trying is to start at the "names" of the Stage(s) which convey something about the status of the Component or Model (inline with @tkuchida in #16668) and then come up with names for methods to bring the model/component to that stage to see if it holds. For example the Model is first:
- Constructed
- Deserialized (populated from properties)
- Connected (connections satisfied, wire

[2017-05-12 23:37] jenhicks commented on #1690
OK ... I think I have figured this out. I can:

- Create a copy of the entire "Documentation" branch and the entire "Examples & Tutorials". These branches will be labeled with the prefix "__40__". We can make changes to the structure, as long as any new pages still use this prefix as well. These branches will be private to the dev team while we are editing.

- When we are ready to release, we will

[2017-05-12 23:40] jenhicks commented on #1690
Let me know if you have thoughts @aseth1 @aymanhab @jimmyDunne @chrisdembia @tkuchida

And I just realized that github interpreted the prefix as markup. The prefix is "_ _ 4 0 _ _" but with no spaces. This is defined by the plugin I'm using on confluence.

If everyone is reasonably happy with this, I can create the copies.

[2017-05-13 00:21] chrisdembia commented on #1690
@jenhicks I fixed the formatting for the `__40__` prefix in your earlier post.

This sounds good to me. It would be helpful to be able to compare/diff two different pages so that we can easily resolve any divergent edits between the 3.3 and 4.0 copies. It seems like there might be a free add-on for doing this: https://community.atlassian.com/t5/Confluence-questions/Can-I-compare-two-pages-in-diffe

[2017-05-13 00:32] aseth1 commented on #1690
This seems like the procedure we used for previous (major) releases of OpenSim.  Sounds good to me.

[2017-05-13 06:50] jimmyDunne commented on #1690
+1. Sounds like a good way of doing it given the tech.

[2017-05-15 17:36] jenhicks commented on #1691
#1706

[2017-05-15 17:38] jenhicks commented on #1690
Thanks for the feedback. I mean branch as in branch of a tree (the tree of pages on confluence). See the left nav tree.

[2017-05-15 17:48] jenhicks commented on #1684
Thanks for making this list Tom. I am going to break it up into separate issues so we can assign to (different) people and track incremental progress.

[2017-05-15 17:51] jenhicks opened #1707 "Update New Features and Upgrade Notes on Confluence"
- [ ] [New features](http://simtk-confluence.stanford.edu:8080/display/OpenSim/New+Features+in+OpenSim+3.3)
- [ ] [Upgrade notes](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Upgrade+Notes+for+OpenSim+3.3)
- [ ] Change Log

[2017-05-15 17:53] jenhicks opened #1708 "Update confluence documentation of the command line interface"
[Command line interface](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Command+Line+Utilities)

[2017-05-15 17:57] jenhicks opened #1709 "Document removal of reverse flag on confluence"
Joint constructors no longer have _reverse_ flag (appears on [this page](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Common+Scripting+Commands), [this page](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Part+II:+Building+a+Passive+Dynamic+Walker+Model), and likely others)

[2017-05-15 17:58] jenhicks opened #1710 "Update instructions for configureOpenSim.m on confluence"
http://simtk-confluence.stanford.edu:8080/display/OpenSim/Scripting+with+Matlab

[2017-05-15 17:59] chrisdembia commented on #1708
I can do this.

[2017-05-15 17:59] jenhicks opened #1711 "Update Python version number and use instructions on confluence"
[this page](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Scripting+in+Python) (see second comment on #1669). Comments from @chrisdembia:

[2017-05-15 17:59] jenhicks commented on #1684
Closing this issue -- I duplicated the list in other issues.

[2017-05-15 17:59] #1684 closed

[2017-05-15 17:59] chrisdembia commented on #1710
I can do this.

[2017-05-15 18:04] chrisdembia commented on #1711
I can do this.

[2017-05-15 18:13] aymanhab commented on #1690
Sounds reasonable. Thanks Jen.

On Mon, May 15, 2017 at 10:38 AM, Jen Hicks <notifications@github.com>
wrote:

[2017-05-15 18:15] jenhicks commented on #1690
Here's the 40 branch of the "Documentation" section (Users' Guide, scripting and development section, etc):
http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Documentation

I will work on copying the Examples and Tutorials next.

Viewing and editing will soon be restricted to the dev team. Let me know if you can't edit or view. I've made these restrictions at the top level. Please do

[2017-05-15 18:19] jenhicks opened #1712 "Document new visualizer in the User's Guide"
This page needs to be updated:
https://simtk-confluence.stanford.edu:8443/display/OpenSim/Navigating+the+Visualizer+Window
We may also want to add a section or change the name of this page, since we also need to include information about changing lighting, backgrounds, etc.

[2017-05-15 18:22] chrisdembia commented on #1690
Clicking that link brings me to a login page. After logging in, I am able to edit that page (though I did not make or save any edits).

When will we be able to edit the child pages? If I understand correctly, this will be necessary to edit the scripting pages, etc.

[2017-05-15 18:23] jenhicks opened #1713 "Plan structure for scripting and development documentation/examples on Confluence"

[2017-05-15 18:24] jenhicks commented on #1690
You can edit the pages. Just don't change any of the "Restrictions" (who can edit/view). I will control this from the top page. If you change children pages, we'll have to individually go and find/change permissions for those ones.

[2017-05-15 18:43] chrisdembia commented on #1690
Oh okay great; thank you.

[2017-05-16 07:38] chrisdembia commented on #1708
I've finished updating this Confluence page. See http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Command+Line+Utilities.

Here's a screenshot of the updated page:

![image](https://cloud.githubusercontent.com/assets/846001/26094717/ee77ff98-39cf-11e7-91c6-1313eabef4a0.png)

---

How do we proceed from here? Should I close this issue, or should someone review my changes to the Confl

[2017-05-16 15:55] jenhicks commented on #1708
Thanks Chris. You could move it to the "Needs verifying" pipeline and we can close after someone reviews.

[2017-05-16 22:52] chrisdembia commented on #1708
Okay thanks. I've moved this to the Needs Verifying pipeline and I await someone's review.

[2017-05-16 23:27] nikorose87 commented on #427
I've got the same error with some models

[2017-05-16 23:34] nikorose87 opened #1716 "RuntimeError: std::exception in 'SimTK::State & OpenSim::Model::initSystem()"
Hi

The week before I had to rebuild Opensim from source. Now, checking some algorithms the next error is shown:

This error is presented after doing scaling and before initiate IK. Precisely, in the `InitSystem()` of the model.

I don't know how this error appeared if last week my algorithms run well.
Thank you

[2017-05-16 23:38] chrisdembia commented on #427
Thank you for reporting.

[2017-05-16 23:38] tkuchida commented on #427
This issue pertains to [`Body::getInertia()`](https://github.com/opensim-org/opensim-core/blob/4446724f558fb15a4fb4fd6a2dbd2df3c20f9d6a/OpenSim/Simulation/SimbodyEngine/Body.cpp#L124), which is performing checks that should probably reside in `Body::extendFinalizeFromProperties()` (and an `OPENSIM_THROW_IF_FRMOBJ(!isObjectUpToDateWithProperties(), ...)` should be at the top of `getInertia()`).

[2017-05-16 23:38] chrisdembia commented on #1716
Do you know which commit you were using previously?

[2017-05-16 23:46] chrisdembia commented on #427
Related PR: #225

[2017-05-16 23:51] nikorose87 commented on #1716
I don't know which Opensim version I was using but I built it one month ago more or less. Now I have one built on last Friday.

[2017-05-17 00:01] chrisdembia commented on #1716
Thank you for reporting. Could you submit a minimal OSIM file that produces this error? You could attach it to this PR as a zip.

Do you indeed have two collinear axes in your CustomJoint?

[2017-05-17 00:08] nikorose87 commented on #1716
Well, basically I could. However, I work with models 2354 and 2392 to compare my own models. So you could try with those models. I attached the models just to see if something was changed in the API, nevertheless I checked in the GUI and everything seems to be ok.
[OpensimModels.tar.gz](https://github.com/opensim-org/opensim-core/files/1006155/OpensimModels.tar.gz)

[2017-05-17 00:10] nikorose87 commented on #1716
The error appear with any gait model, this is to say, models modified by 2392 and 2354 models

[2017-05-17 00:14] chrisdembia commented on #1716
Thank you for the files and additional information.

[2017-05-17 00:20] nikorose87 commented on #1716
No sir, I have the three translation and rotations.
Regards.

[2017-05-17 06:40] chrisdembia commented on #1710
The "Scripting with Matlab" confluence page provides links to the Matlab scripts in the GitHub repository. This is very handy. Right now, the commit hashes in the links are for an older version of OpenSim (presumably 3.3). When we release 4.0, we should make sure these links go to the 4.0 version of these files on GitHub. Or perhaps we should just always link to the version in the master branch? I

[2017-05-17 07:27] chrisdembia commented on #1710
I've updated the "configureOpenSim.m" section: http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Scripting+with+Matlab.

I decided to remove the "manual" instructions, since they are will be out of date for 4.0 and should not be necessary. I replaced the manual instructions with a description of what the configuring process entails.

[2017-05-17 07:27] chrisdembia commented on #1710
The "Setting up your Matlab Scripting Environment" section of the "__40__Scripting with Matlab" page is ready for review.

[2017-05-17 14:01] jimmyDunne commented on #1710
Scripting users aren't going to realize that `methods org.opensim.modeling.Model` is for viewing the methods without importing the libraries. Also, (only) saying `methodsview Model` also doesn't intuitively suggest to a user that you can do this on any class (scripting users often don't know what class means since they haven't done object orientated programming). I would suggest using two or three

[2017-05-17 17:09] chrisdembia commented on #1710
Thanks @jimmyDunne. I'll update the "Loading OpenSim Libraries" section and I'll create new manual instructions for setting up the environment (since the process has changed).

As for the links in the "Available Matlab Scripts" section, I think we should eventually have a branch on GitHub called "v4" that we update with each minor/patch release, and the links could be to this branch. That way, the

[2017-05-17 21:03] jenhicks commented on #1713
I've drafted a first proposal here:

https://docs.google.com/document/d/1g_opGGRYfna8nLuWI3dEixa6VE5z8rQkqxVlO2BbnnQ/edit?usp=sharing

[2017-05-17 21:04] jenhicks commented on #1713
@jimmyDunne @chrisdembia @tkuchida @aymanhab @aseth1

[2017-05-17 22:08] chrisdembia commented on #1713
@jenhicks I could not make comments on the Google doc so I am making comments here.

I like the consistency of calling things "X Guide" (e.g, "Scripting Guide"). I also like making "Scripting Guide" a direct child of "Documentation".

There seems to be considerable overlap between the "Introduction to the OpenSim API" Confluence pages and the API Guide google doc. And I think the API Guide was als

[2017-05-17 23:07] jenhicks commented on #1713
Thanks for the comments @chrisdembia. I updated editing settings I think while you were in the midst of reviewing.

My understanding of the API guide was that Ajay intended it more for C++ developers and C++ API users. This is worth discussing more. I don't think we should send scripting folks right to doxygen. But if there is overlap we can reduce/minimize, we should try to do this. This point wi

[2017-05-17 23:17] chrisdembia commented on #1713
Oh okay; I can now edit the Google doc. Let me know if I should copy my comments there.

I completely agree.

Okay; sounds good.

I didn't realize. I do like the current organization of the [Examples and Tutorials](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Examples+and+Tutorials) page.

I was referring to [this page](http://simtk-confluence.stanford.edu:8080/display/OpenSim/API+Exa

[2017-05-17 23:21] jenhicks commented on #1713
Thanks Chris. I annotated the google doc already with the suggestions and questions from our discussion.

Thanks for clarifying about the API example page. This was a stop gap to make the examples in the Developer's Guide more visible. If we move the Developer's Guide examples, we can just get rid of this page.

[2017-05-18 15:51] jimmyDunne commented on #1713
Everything above sounds great!

One suggestion I have; The Handling of C++ Templates in scripting is buried on a PDF link in the [Common Scripting Commands](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Common+Scripting+Commands) page. I would like to see that fleshed out into a stand-alone page; which can include conversion between C++ and Scripting, and examples for each call.

[2017-05-18 18:12] #1676 closed

[2017-05-18 18:21] #467 closed

[2017-05-18 18:25] jimmyDunne commented on #1662
Fix the interface so that Lukasz' bug wouldn't happen. Update timestepper in the future to facilitate.

[2017-05-18 18:34] #1670 closed

[2017-05-18 18:38] jimmyDunne commented on #1687
@kidzik Were you able to find workarounds? Anything high priority we could help with for the challenge?

[2017-05-18 18:42] kidzik commented on #1687
Yes, everything works now, thanks! I have some performance issues when adding multiple contact spheres -- I will post a small example with details soon. It's less urgent though. Thanks a lot!

[2017-05-18 18:43] jimmyDunne commented on #1693
Potential solution: override clone so that it calls finalizeFromProperties()

[2017-05-18 18:48] jimmyDunne commented on #1698
Need to add a benchmark to the test case. Profile each step to see where issue is coming from.

[2017-05-18 18:49] jimmyDunne commented on #1698
@aseth1 will profile

[2017-05-18 20:39] tkuchida commented on #1648
Possibly related: #1716

[2017-05-18 20:46] tkuchida commented on #1636
Moved to opensim32 repo [here](https://github.com/opensim-org/opensim32/issues/84).

[2017-05-18 20:46] #1636 closed

[2017-05-19 07:26] chrisdembia commented on #1716
@nikorose87 I was not able to reproduce this bug with the models you provided. It seems that you provided the generic models from the OpenSim distribution, but that the error occurred with a scaled model. Please upload files that you are sure reproduce the bug (this might involve sending over any MATLAB/Python scripts you're using).

[2017-05-19 15:21] nikorose87 commented on #1716
@chrisdembia I'm attaching the scaled model and part of the code done to scale this model

[code]
[Gait2354_Simbody.tar.gz](https://github.com/opensim-org/opensim-core/files/1014722/Gait2354_Simbody.tar.gz)

[2017-05-19 20:24] aymanhab opened #1720 "GeometryPath has addhoc method to control its color"
GeometryPath is used as a utility for computation and to visualize Muscles, PathSprings. It has no associated Appearance property so its behavior is inconsistent with other geometry (e.g. Opacity and Show/Hide status are not persistent). This breaks functionality that used to exist in version 3.3.

[2017-05-19 20:31] chrisdembia commented on #1716
I was able to reproduce the CustomJoint exception with the following code:

[code]

The issue is that the model file has commas where periods are expected:

[code]

This is probably related to your "locale" settings. Perhaps, in the past month, you changed some system-wide settings for whether your computer uses periods or commas for decimals? I have limited ability to test this on my computer, si

[2017-05-19 20:31] chrisdembia commented on #427
@nikorose87 I reproduced this warning with the model you provided in #1716:

[code]

I actually think your issue here is related to your issue in #1716, related to seeing commas where periods are expected, because the model you provided in #1716 has the following for the mass and inertia fields:

[code]

[2017-05-19 20:39] chrisdembia commented on #1716
@nikorose87 it would be helpful if you could explain any settings you may have altered that could have caused the use of commas.

To force property serialization to use periods, we could alter locale settings in the property serialization code (http://stackoverflow.com/questions/15220861/how-can-i-set-the-comma-to-be-a-decimal-point) (untested):

[code]

[2017-05-19 20:47] aymanhab commented on #1716
Thanks for the investigation @chrisdembia The application/GUI assumes the use of locale=US since that's what's used when we create the model/setup/data files. It would be more portable (and easier to share with co-authors/community) if everybody used the same US locate.

[2017-05-19 20:57] chrisdembia commented on #1716
Thanks Ayman. Does the GUI set any settings explicitly? It's not clear to me if we should explicitly force the OpenSim libraries to use locale=US, or if we should just expect users to set operating system options accordingly (I'm not even sure how the operating system settings work).

[2017-05-19 23:07] chrisdembia opened #1722 "AbstractDataTables cannot be used with SimTK::ClonePtr()"
Using `SimTK::ClonePtr` requires that a class `T` has a function `T* clone() const`. The AbstractDataTable class and its subclasses have a `clone()`, but it returns a `std::shared_ptr<AbstractDataTable>`. While this has the beneficial feature of making memory leaks less likely, it also means that we cannot use `SimTK::ClonePtr<TimeSeriesTable>`, etc.

[2017-05-20 00:46] nikorose87 commented on #1716
Well.
Thanks to all for the solution. I just changed the "locale" configuration and Inertia also the scaling process were solved. However, another error was shown but I will present in another issue.

Regards.

[2017-05-20 00:46] #1716 closed

[2017-05-20 00:48] nikorose87 commented on #427
The problem was solved in my case just changing the locale settings to US. Thank you.

[2017-05-20 00:55] nikorose87 opened #1723 "RuntimeError: std::exception in 'bool OpenSim::InverseKinematicsTool::run()'..."
Hi again @chrisdembia
Related to the #1716 issue, after solving that problem the next warning appeared:

And after that the next error was shown:

any idea about this error?
Thanks

[2017-05-20 00:58] chrisdembia commented on #1716
Thanks @nikorose87 . Could you explain how you changed the "locale" configuration? Such information would be useful for us to better understand this issue, and perhaps help other users avoid similar situations.

[2017-05-20 00:58] chrisdembia commented on #427
Thank you for the update.

[2017-05-20 00:59] chrisdembia commented on #1723
Are you sure that the TRC file you are trying to load exists and is in the expected location?

[2017-05-20 01:02] aymanhab commented on #1716
Just to clear up @chrisdembia The GUI uses locale mainly because it can be translated to different languages. We generally do not parse xml files on the GUI side so locale doesn't matter for that. The reason we switched to explicit specification of locale was so that preferences (e.g. sizes of muscles etc.) are stored as strings and parsed and if using wrong locale we used to end up with big-red s

[2017-05-20 01:05] chrisdembia commented on #1716
Okay thanks for the helpful explanation.

[2017-05-20 01:06] nikorose87 commented on #1716
Of course!
Well, probably my linux distro had configured the locale settings in US_format before. Now, after booting my system is likely linux set the NUMERIC locale to the place where you live. So, checking the locale config I had my native country configuration in numeric and consequently I just changed the file in: `/etc/default/locale`.

[2017-05-20 01:18] chrisdembia commented on #1716
Ah okay, thank you. I hope it is okay for you to use the US locale.

[2017-05-20 07:36] chrisdembia commented on #1698
I did some profiling and it seems that the issue is the resizing that `DataTable_::appendRow()` does (this takes up 66% of the time in testC3DFileAdapter). I tried to pre-allocate the matrix underneath the DataTable, but I was not successful. @aseth1 let me know if you want to chat about this.

[2017-05-20 20:55] chrisdembia opened #1725 ""DataType not specified" when reading version-1 STO file"
Attempting to read a version=1 STO file (see attached) using `import opensim; opensim.FileAdapter.readFile('<file-name>')` (in Python) causes the following error:

[code]

This is because the function `createSTOFileAdapterForReading(const std::string& fileName)` checks for a DataType metadata field.  I think if the STO file does not have a version number (that is, its version is 1), then it is par

[2017-05-21 00:48] chrisdembia opened #1727 "SimbodyEngine::scaleRotationalDofColumns ignores "factor" parameter"
The function `SimbodyEngine::scaleRotationalDofColumns()` has a parameter `factor`, but this parameter is ignored and `SimTK_RADIAN_TO_DEGREE` is used.

[2017-05-21 00:49] chrisdembia commented on #1727
Also, it would be helpful to have a function `SimbodyEngine::convertDegreesToRadians()` for `TimeSeriesTable` (right now, there is only a `SimbodyEngine::convertRadiansToDegrees()` for `TimeSeriesTable`).

[2017-05-21 00:51] chrisdembia commented on #1727
Lastly, all these functions use the `CoordinateSet`, which means they will ignore coordinates that are not in the `CoordinateSet` (joints added via `addComponent()`).

[2017-05-23 18:32] aymanhab opened #1729 "Binary vtp files can't be opened"
Up to version 3.3, we used vtk to read mesh files (vtp) so we handled them seamlessly. The API and new visualization doesn't use the vtk native libraries and accordingly fails to load binary vtp files (only ASCII vtp files). This showed in one user model/geometry for the OpenSim 4.0 paper (Apoorva's model).

[2017-05-23 18:36] tkuchida commented on #1729
3.3:
![image33x8](https://cloud.githubusercontent.com/assets/4203505/26370199/f815260c-3fab-11e7-99ed-ea487549e623.png)

4.0:
![image40](https://cloud.githubusercontent.com/assets/4203505/26370240/0d8985aa-3fac-11e7-8527-ee2c4948d197.png)

[2017-05-23 18:40] aymanhab commented on #1729
Thanks @tkuchida 💯

[2017-05-24 00:38] chrisdembia commented on #1698
Here's how I got the number of rows and column:

[code]

[2017-05-24 01:08] aseth1 commented on #1698
Thanks @chrisdembia for checking and suggesting a fix. I can confirm your findings in VS2015 profiler:
**87.1 %** -> `_depData.resizeKeep(_depData.nrow() + 1, _depData.ncol());`

[2017-05-24 03:50] chrisdembia commented on #1698
Ah; it seems like your profiler was more helpful. Let me know if you want to chat more.

[2017-05-24 20:39] chrisdembia commented on #1710
@aymanhab @jimmyDunne the Confluence instructions currently say the following:

OpenSimObject.setDebugLevel(3);

I'd like to remove this section, because I think the OpenSim exceptions no longer cause MATLAB to crash, in general. What do you think?

[2017-05-24 21:10] chrisdembia commented on #1710
@jimmyDunne I have tried to address your comments (http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Scripting+with+Matlab):

- Added more examples and comments to the "Loading OpenSim Libraries" section.
- Added new "manual setup" instructions.

[2017-05-24 21:14] aymanhab commented on #1710
I agree, exceptions are handled better and don't cause a crash of Matlab, this only happens if dereferencing null pointers. Feel free to remove.

[2017-05-24 21:15] chrisdembia commented on #1710
Thanks @aymanhab; I have gone ahead and removed the section. If others disagree, we can easily add it back.

[2017-05-25 18:13] aymanhab commented on #1650
@aseth1 will follow up with @klshrinidhi

[2017-05-25 18:19] aymanhab commented on #1662
@carmichaelong did investigation, will ping @sherm1 on best way to modify state between integration intervals.

[2017-05-25 18:20] aymanhab commented on #1675
PR in review

[2017-05-25 18:22] aymanhab commented on #1700
PR in review

[2017-05-25 18:36] aymanhab commented on #1698
PR in review

[2017-05-25 18:42] aymanhab commented on #1729
Will manually convert our vtp files to ascii and ask users to do that using Paraview for their own files.

[2017-05-25 18:47] chrisdembia commented on #1729
This example might be helpful: http://www.vtk.org/Wiki/VTK/Examples/Cxx/IO/WriteVTP

[2017-05-25 18:49] aymanhab commented on #1725
Need test case, assume doubles if older sto file

[2017-05-25 18:52] aymanhab commented on #1723
Need minimum example to reproduce.

[2017-05-25 18:55] aymanhab commented on #1722
For a large table shared_ptr seems appropriate, need to understand the problem better. Please provide usecase @chrisdembia

[2017-05-25 18:56] aymanhab commented on #1720
PR in review

[2017-05-25 19:01] aymanhab commented on #1687
Thanks @kidzik Feel free to close if no outstanding issues.

[2017-05-25 19:19] nikorose87 commented on #1723
Dr. Ayman, I'm playing the complete error, like this:

And the complete files are shown below. Maybe some files are useless.
[Gait2354_Simbody.zip](https://github.com/opensim-org/opensim-core/files/1029982/Gait2354_Simbody.zip)

Basically the error is presented doing IK, after scaling.

I hope it can be useful.

Thanks

[2017-05-25 21:42] chrisdembia commented on #1723
Ah okay; this is the same issue as with #1726, but for TRC files. The file you have has `\r\n` line endings, but on Linux, the line endings are expected to be `\n`, so the `\r` remains in the parsed string.

As a workaround, use `dos2unix` (or `set ff=unix` in Vim) to convert the TRC's line endings to `\n`.

[2017-05-25 21:55] #1687 closed

[2017-05-25 21:56] chrisdembia opened #1732 "C3DFileAdapter::read() assumes time starts at 0."
Based on discussion with @jimmyDunne, this assumption might be reasonable, in which we could just document this behavior.

[2017-05-25 23:03] nikorose87 commented on #1723
Thank U all!

[2017-05-25 23:19] chrisdembia commented on #1723
This is still a bug; I'll be updating a PR soon to fix this without the need for a workaround.

[2017-05-25 23:52] nikorose87 commented on #1723
Ok, sorry!

[2017-05-26 00:10] chrisdembia commented on #1723
No need to apologize; thanks again for the bug reports.

[2017-05-26 03:06] chrisdembia commented on #1711
I have updated this confluence page to provide instructions for macOS, and to clarify that Python 3 is not supported (I tested this locally and could not yet achieve Python 3 support).

I still have to update the Windows setup instructions (I want to remove the suggestion to use Enthought Canopy).

http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Scripting+in+Python

[2017-05-26 03:06] chrisdembia commented on #1711
I also updated the "Available Example Scripts" section.

[2017-05-26 03:15] chrisdembia commented on #1711
I also want to update the Python instructions to include some Python-specific aspects of the interface (iterating through components, getting concrete types from getComponent(), etc.). I might also like to create some simple python examples based on the python tests.

[2017-05-26 07:17] chrisdembia commented on #1113
In the process of updating the confluence page on Python, I've made a branch that extends support to python3: https://github.com/opensim-org/opensim-core/tree/python3.

[2017-05-26 07:18] chrisdembia commented on #1113
I'll let the rest of the team decide if we should try to merge this soon or wait until after 4.0 is released.

[2017-05-26 20:31] chrisdembia commented on #979
@aymanhab let me know if you think we can close this, based on the [list in DEVELOPING.md](https://github.com/opensim-org/opensim-core/blob/master/DEVELOPING.md#cmake-options-for-packaging-a-binary-distribution).

[2017-05-26 20:34] chrisdembia commented on #1593
I am closing this; see #1664.

[2017-05-26 20:34] #1593 closed

[2017-05-26 20:40] chrisdembia commented on #1271
I'm almost positive that this has been addressed #1664: we no longer use paths to Simbody's original installation in the OpenSimConfig.cmake file. We can reopen if we find the issue still exists.

[2017-05-26 20:40] #1271 closed

[2017-05-26 21:09] chrisdembia commented on #1655
See https://github.com/opensim-org/opensim-core/pull/459 for some sample documentation.

[2017-05-27 14:56] aymanhab commented on #979
The part related to API has been addressed, the GUI layout on platforms other than windows is still work in progress but doesn't belong to this repo/issue. I'm closing.

[2017-05-27 14:56] #979 closed

[2017-05-27 16:56] chrisdembia commented on #979
Okay yes; we will need another list for the GUI. Having that layout will be useful for writing new confluence documentation.

[2017-05-27 17:22] chrisdembia commented on #55
There's also a need to be able to filter a TimeSeriesTable, which could be different from a Filter component. I suggest adding a a static function to Signal that takes a TimeSeriesTable and returns a new filtered table.

[2017-05-29 06:57] chrisdembia commented on #1655
I've added some documentation to http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Scripting+in+Python.

(I know the following does not belong in this issue) I still need to add documentation of accessing subcomponents (and to mention that safeDownCast is often not necessary in Python), and using sockets/inputs/outputs. I also want to make an "example" version of the DataTable test.

[2017-06-01 00:06] aseth1 opened #1736 "Unify the equilibrium solver for Thelen2003 and Millard2012Equilibrium Muscles"
Both `Millard2012EquilibriumMuscle` and `Thelen2003Muscle` implement very similar muscle force equilibrium solvers using Newton's method. The differences were further diminished by PR #1728, which patched both implementations to address #1700.

The challenge is mainly one of defining an interface to resolve the different naming conventions since the two solvers use different local methods to evalu

[2017-06-01 00:09] tkuchida commented on #1736
Related: #366

[2017-06-01 00:42] #1702 closed

[2017-06-01 05:58] #1727 closed

[2017-06-01 06:28] aseth1 opened #1738 "Use the same mechanism to handle default color for all GeometryPath consumers"
PR #1721 Introduces a mechanism for handling Muscle default color by having `Muscle::constructProperties()`  set the default appearance color to a color defined by `Muscle` (Red). If the deserialized `Muscle`'s `GeometryPath` has a value for the color property then the `Muscle` will use that color instead. `Ligament`, `PathSpring`, `ClutchedPathSpring`, etc... should adopt the same mechanism. Righ

[2017-06-01 18:05] jenhicks commented on #1650
@jimmyDunne can you supply materials for a test case

[2017-06-01 18:06] #1698 closed

[2017-06-01 18:10] #1058 closed

[2017-06-01 18:12] jenhicks commented on #1653
Will document for now. Not a new issue.

[2017-06-01 18:18] jenhicks commented on #1488
Related #1542

[2017-06-01 18:28] jenhicks commented on #1609
Leaning towards deleting the comment.

[2017-06-01 18:37] #1723 closed

[2017-06-01 22:17] aseth1 commented on #1650
1. The order of the columns is not the issue nor is a SIMMMotionFile header required. An .mot is only required because it seems to be what the GUI uses to decide that the file contains GRFs. In other words, the previewer will assume GRFs if it loads a *.mot*. Loading ant *.sto* file leads to an error (which is really a bug in 3.3).

2. What appears to be strictly required is that the columns label

[2017-06-02 05:31] tkuchida commented on #1609
Simplest solution may be to keep commented out for the beta (but remove mention of hackathon) and re-introduce pre-release if deemed necessary.

[2017-06-02 16:02] AnCaPepe opened #1739 "Document that CoordinateActuator::getCoordinate() requires calling Model::initSystem()"
After loading a .osim file containing a CoordinateActuator and calling finalizeFromProperties() on it, I can find it in the list returned by getActuators()/updActuators(), indexed by its name string.

However, using Python bindings, the object is identified as a base OpenSim::Actuator one, not having the getCoordinate() method available. Using C++ directly I can dinamic_cast it to a CoordinateActu

[2017-06-02 19:08] tkuchida opened #1740 "Unused property in PathWrap should be removed/hidden"
From [PathWrap.h L65](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Wrap/PathWrap.h#L65):
[code]
Issue arose on the Forum ([topic 7826](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=7826)).

[2017-06-02 19:30] chrisdembia commented on #1740
Only the ancient creators know the hidden use of this mysterious property.

[2017-06-03 01:45] chrisdembia opened #1744 "Sporadic failure of testExternalLoads on AppVeyor, sporadic segfaults of testExternalLoads and testControllers on UNIX"
@aymanhab raised this earlier: testExternalLoads is failing sporadically on AppVeyor:

[code]

I saw this on the 64-bit build (https://ci.appveyor.com/project/opensim-org/opensim-core/build/6582/job/bvto06yaaub062lp).

[2017-06-03 01:50] tkuchida opened #1745 "isEqual() always declares equality if two doubles or two angles are within 1e-7"
It seems dangerous to expose a method that declares equality based on a fixed, arbitrary tolerance. Note the "TODO" comments:
- [comparing doubles](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Property.cpp#L52)
- [comparing Transforms](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Property.cpp#L91)

[2017-06-03 01:54] tkuchida commented on #1732
See comments in C3DFileAdapter.cpp, [L121](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/C3DFileAdapter.cpp#L121) and [L243](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/C3DFileAdapter.cpp#L243).

[2017-06-03 01:55] chrisdembia commented on #1745
I think those functions are used to determine if two Objects are equal (they are called by `Object::operator==()`). Perhaps they could be renamed.

[2017-06-03 01:56] chrisdembia commented on #1732
I think it would be good to additionally provide user-facing documentation, perhaps in the class description for C3DFileAdapter.

[2017-06-03 02:04] tkuchida commented on #1732
I agree; I was not advocating against that. The comments on these lines should be updated if a design decision has been made about start time.

[2017-06-03 17:38] chrisdembia opened #1746 "testControllers fails sporadically on Travis-CI OSX"
In #1741, @aymanhab observed that testControllers failed on Travis-CI OSX. I restarted that build and then the test passed. So it seems we may have a sporadic failure for testControllers. The test also passes on my local machine (OSX).

[code]

[2017-06-03 18:14] chrisdembia commented on #1739
We provide a method to downcast in the bindings:

[code]

This is documented [here](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Common+Scripting+Commands).

Please close this issue if this works for you.

Note that in 4.0, `m.getComponent('knee_actuator')` should directly give you a CoordinateActuator, removing the need to downcast.

[2017-06-03 22:01] Bitiquinho commented on #1739
Thanks for answering that quickly

Both methods allow me to acquire a **CoordinateActuator** object, but the **getCoordinate()** method now returns me a **NoneType** result, similarly to how in C++ I end up getting a **NULL** pointer

[2017-06-03 22:04] chrisdembia commented on #1739
Ah I see. Call `m.initSystem()` first. I've renamed this issue.

[2017-06-04 00:50] Bitiquinho commented on #1739
Oh, that works now. Thanks a lot !

Will this ticket remain open for now ?

[2017-06-04 00:52] chrisdembia commented on #1739
Yes; thank you for checking.

[2017-06-05 21:01] tkuchida opened #1747 "Images missing from Confluence page"
[\_\_40\_\_Taking Snapshots and Making Movies](http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Taking+Snapshots+and+Making+Movies)

E.g., "1. Click the camera button [blank space] in the current 3D View Toolbar."

[2017-06-05 21:05] jenhicks commented on #1747
These are actually missing in the live page (so not a prefix or copy issue)

http://simtk-confluence.stanford.edu:8080/display/OpenSim/Taking+Snapshots+and+Making+Movies

[2017-06-05 21:18] tkuchida opened #1749 "Screenshots from GUI must be updated on all Confluence pages"
E.g., from [\_\_40\_\_Property Editor](http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Property+Editor):
![property-2](https://cloud.githubusercontent.com/assets/4203505/26803578/8a7ad580-49f9-11e7-8151-02b31020a292.png)

The "reverse" property no longer exists for Joints, and properties now include Connectors, etc.

[2017-06-05 21:26] tkuchida commented on #1709
Searched "OpenSim Documentation" space for "reverse"; updated the following pages:
- [\_\_40\_\_{WIP} Common Scripting Commands](http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__%7BWIP%7D+Common+Scripting+Commands)
- [\_\_40\_\_Common Scripting Commands](http://simtk-confluence.stanford.edu:8080/display/OpenSim/__40__Common+Scripting+Commands)
- [\_\_40\_\_Property Editor](http://si

[2017-06-05 23:24] #1675 closed

[2017-06-05 23:24] #1700 closed

[2017-06-07 05:41] #697 closed

[2017-06-07 17:33] #1693 closed

[2017-06-08 00:32] chrisdembia opened #1753 "testWrapping: should check for regressions"
According to #1752, testWrapping does not perform a regression test on simulating wrap surfaces. I think it would be good to add a regression test that the simulation results do not change.

[2017-06-08 05:57] chrisdembia opened #1754 "TwoFrameLinker updateFromXMLNode() does not handle offset frames correctly"
Right now, the `updateFromXMLNode()` code for `TwoFrameLinker` will add offset frames if the location/orientation properties are nonzero, but the code will not properly set the socket connectee names to point to these offset frames. Instead, the connectee names remain as the original bodies specified in the old model.

The intent of [this line](https://github.com/opensim-org/opensim-core/blob/b327

[2017-06-08 06:09] chrisdembia commented on #1754
I've created a fix, but it is intertwined with my progress on #1751. I might try to separate out the fix into a self-contained PR.

[2017-06-08 17:32] chrisdembia opened #1755 "Socket::connect does not completely handle orphans"
Right now, `Socket<[...]>::connect()` handles the case where the connectee is an orphan (see [here](https://github.com/opensim-org/opensim-core/blob/010aeea5b10a504a5982da0a95f8822f8d3d2b04/OpenSim/Common/ComponentSocket.h#L351). However, the function does not handle the case where the socket's owner is also an orphan. This occurs when someone specifies the connectees for a Joint before the Joint

[2017-06-08 22:10] aseth1 opened #1757 "Upgrading testCMCEMGDrivenArm_"
Raised in #1756. The `testCMCEMGDrivenArm_` tests perform CMC as in `testCMCArm26` but includes an additional `MuscleStateTrackingTask` that attempts to have the *BIClong.activation* muscle state track a given *EMG* signal. This feature is not widely used and it is unclear if it works as expected because this test does not verify that the tracking task is achieved.

The test compares to the standa

[2017-06-10 06:30] tkuchida commented on #1740
Looks like `getStartPoint()` and `getEndPoint()` are called [in `GeometryPath::applyWrapObjects()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/GeometryPath.cpp#L942) (and elsewhere). [`PathWrap::getStartPoint()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Wrap/PathWrap.h#L91) returns `get_range(0)`, so the `range` property may b

[2017-06-10 23:19] chrisdembia opened #1758 "Avoid duplication of student and teacher versions for C++ Hopper Device example"
The MATLAB Hopper Device example has student and teacher versions of some files, but we avoid duplicating entire files by using CMake to generate the student version automatically from the teacher version by extracting the "answers."

We could use CMake to avoid duplication for the C++ version of the Hopper Device example as well, as suggested by @aseth1 in #1737.

[2017-06-11 07:40] chrisdembia opened #1759 "In updating XML of VisibleObject DisplayGeometry, orientation from transform not preserved"
I do not believe that the updateFromXMLNode code for updating VisibleObject DisplayGeometry properly carries over the DisplayGeometry's orientation portion of the transform.

I discovered this bug by inspecting [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/PhysicalFrame.cpp#L352), which I think should say use `"orientation"` instead of `"rotation"`.

[2017-06-12 01:17] chrisdembia opened #1760 "Actuator::updateGeometry() generates a Clang warning"
The signature of the virtual `Actuator::updateGeometry()` is different from the one on Muscle; the muscle function takes a `State`. This generates a Clang warning: "'OpenSim::Muscle::updateGeometry' hides overloaded virtual function".

I think we should (a) remove `Actuator::updateGeometry()` (it doesn't seem to be used) or we change its signature to contain a `State`, so that the virtual function

[2017-06-12 02:32] chrisdembia opened #1761 "OffsetFrame's "orientation" property should describe the units (radians or degrees)."
The comment for the orientation property of OffsetFrame should specify if the orientation should be provided in radians or degrees.

https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/OffsetFrame.h#L70

[2017-06-12 03:47] tkuchida commented on #557
I've read the discussions in #538 (not the one by Nate Silver), #186, [Forum topic 6800](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=6800), and above. Why is it necessary or desirable for an arbitrary Component to hold onto a set of scale factors? I can see why we would want a scaling property for, say, a mesh (to avoid writing new geometry files during an iterative scaling procedure

[2017-06-12 04:43] aymanhab commented on #1759
Thanks for reporting @chrisdembia My recollection is that this was tested with existing models that needed conversion and that none actually had non trivial transform for visibleObject since it was never exposed in the GUI while the transforms attached to DisplayGeometry were available and were thoroughly tested. I'm curious how you ran into this (to understand the scope). If the xml tag is incorr

[2017-06-12 05:50] chrisdembia commented on #1759
I did not find any models that specified non-zero orientations for the DisplayGeometry's transform (but I did not look at at all that many models). I had to edit a pre-existing model to observe the bug.

I discovered this while working on #1751, since I am editing the `PhysicalFrame::createFrameForXform()` function.

[2017-06-12 06:14] chrisdembia commented on #776
Furthermore, the Ground property now appears at the top of XML files, above other elements like `<publications>....` I think it makes more sense to put the Ground property next to the BodySet, etc.

[2017-06-12 06:34] chrisdembia commented on #206
Do you have an idea for how to write such a test? We at least need to add `updateFromXMLNode()` for PointToPointSpring before the release.

[2017-06-12 06:41] chrisdembia commented on #206
Perhaps we just need to just search the repo for each usage of the `OpenSim_DECLARE_SOCKET` macro.

[2017-06-12 06:46] chrisdembia opened #1762 "Bouncing block model does not load."
The reason seems to be that it uses a PointToPointSpring, which does not have updateFromXMLNode() code for sockets.

Related #206, https://github.com/opensim-org/opensim-gui/issues/68

[2017-06-12 16:12] jenhicks commented on #776
@chrisdembia This issue is currently slated for post-4.0. But if ground is appearing at very top of xml file, we probably should address for 4.0. Perhaps a separate issue is warranted?

[2017-06-12 16:31] aymanhab commented on #1759
Thanks @chrisdembia that explains. Feel free to submit PR for the fix/label-change.

[2017-06-12 16:47] chrisdembia opened #1763 "XML Ground appears as first element in Model, above <publications>, etc."
The Ground property now appears at the top of XML files (unless the Model also has subcomponents in <components>), above other elements like <publications>. I think it makes more sense to put the Ground property next to the BodySet, etc.

This was originally raised in #776.

[2017-06-12 17:09] aymanhab commented on #1763
@chrisdembia If the order is based on the order of declaration of properties then it might be easy to move the declaration line down without changing any APIs. Would that work?

[2017-06-12 17:31] chrisdembia commented on #1763
Yes; the fix is that simple (I think it's actually the `constructProperty_()` calls we need to reorder). We just need to agree on the ordering.

[2017-06-14 22:58] chrisdembia commented on #1590
I had suggested delaying this but I now realize that examining these classes can reveal bugs we introduced into the bindings when the bindings were split up into multiple modules. See #1764 for an example.

[2017-06-15 02:13] jimmyDunne opened #1765 "Using IKSolver - Matlab Segfault"
I keep getting segfaults in Matlab when trying to run a simple iksolver script. I have attached a zip containing the script, a model, and the marker file. I am not getting any usable error messages printed to OpenSim log files or the Matlab crash dump.

[iksolver_test.zip](https://github.com/opensim-org/opensim-core/files/1076376/iksolver_test.zip)

[2017-06-15 07:23] tkuchida opened #1767 "Confluence documentation is not Mac-friendly"
For example, from [the "Excitation Editor" page](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Excitation+Editor):

"Holding the CTRL button down turns on selection mode."

I think should be CTRL + :apple: for Mac users.

[2017-06-15 18:12] jenhicks commented on #1650
@jimmyDunne Is working on some matlab scripts to test this. Emailed @aseth1 with a couple questions. Short version is that we can probably deal with it on the Matlab side.

[2017-06-15 18:15] jenhicks commented on #1720
Need to verify that you can show/hide/wireframe/change transparency/color of muscles

[2017-06-15 18:20] jenhicks commented on #1765
Add log

[2017-06-15 18:29] jenhicks opened #1768 "Duplicate names for bodies cause exception"
@jimmyDunne commented on [Wed Jun 14 2017](https://github.com/opensim-org/opensim-gui/issues/175)

There is an exception if the model has the same name for multiple bodies or joints. There is a testing model attached.

[subject01.osim.zip](https://github.com/opensim-org/opensim-gui/files/1075736/subject01.osim.zip)

---

@jenhicks commented on [Thu Jun 15 2017](https://github.com/opensim-org/opens

[2017-06-15 19:35] jimmyDunne commented on #1765
[logs.zip](https://github.com/opensim-org/opensim-core/files/1078778/logs.zip)

[2017-06-15 21:01] tkuchida commented on #1768
I think duplicate names are permissible, but all full paths must be unique.

[2017-06-18 21:51] chrisdembia opened #1770 "TableReporter gives error if it has 0 inputs."
The following code (in MATLAB) causes the given error:

[code]

This is because `AbstractDataTable::setColumnLabels()` does not allow an empty list of column labels. As a consequence, TableReporters with no inputs (no calls to `addToReport()`) generate an exception message. However, I think it's fine for a TableReporter to have no inputs (in this case, nothing would be reported).

@jenhicks report

[2017-06-18 22:17] tkuchida commented on #1770
Seems like this situation would arise if the user forgot to call `addToReport()`, in which case a warning might be nice. Either solution would be better than a java.io.IOException.

[2017-06-19 00:57] #1113 closed

[2017-06-19 08:39] tkuchida opened #1772 "Provide a table summarizing and comparing OpenSim Tools"
The potential uses of and differences between SO, CMC, and other Tools may be unclear. Perhaps add a summary table, similar to [these slides by Tim Dorn](http://simtk-confluence.stanford.edu:8080/download/attachments/4489509/SimulationPipeline_TimDorn_Feb2013.pdf?version=1&modificationDate=1360089653546&api=v2), that compares features, benefits, limitations, potential uses, etc.

[2017-06-19 08:43] tkuchida opened #1773 "Port improvements on "The Strength of Simulation" example to 40 version of documentation"
[The Strength of Simulation: Estimating Leg Muscle Forces in Stance and Swing](http://simtk-confluence.stanford.edu:8080/display/OpenSim/The+Strength+of+Simulation%3A+Estimating+Leg+Muscle+Forces+in+Stance+and+Swing)

In [Part I](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Part+I%3A+Leg+Muscle+Force+Estimation+in+Swing):
- [x] Add a note at the end of Section B indicating how close t

[2017-06-19 09:28] tkuchida opened #1774 "Improvements to "Pulling Out the Stops" example"
[Pulling Out the Stops: Designing a Muscle for a Tug-of-War Competition](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Pulling+Out+the+Stops%3A+Designing+a+Muscle+for+a+Tug-of-War+Competition)

- [ ] In [Section C](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Designing+a+Muscle+for+a+Tug-of-War+Competition), it is unnecessary to save results because they aren't used later.

[2017-06-19 09:34] tkuchida opened #1775 "Improvements to "From the Ground Up" example"
[From the Ground Up: Building a Passive Dynamic Walker Model](http://simtk-confluence.stanford.edu:8080/display/OpenSim/From+the+Ground+Up%3A+Building+a+Passive+Dynamic+Walker+Model)

- [ ] Provide initial conditions that produce a couple steps of walking for a sense of satisfaction after correctly building the model.
- [x] The instruction "create a text file" should be more specific to avoid crea

[2017-06-19 09:42] tkuchida commented on #337
Raised in BIOE/ME 485 class: it would be helpful if Static could skip over bad time points and/or make it easier to track down which time point failed.

[2017-06-19 12:03] tkuchida commented on #1697
- [ ] MATLAB script for extracting muscle path points, including points on wrapping surfaces if possible.

[2017-06-20 00:07] aseth1 commented on #1765
The issue appears to be double deletion of the `MarkerWeight`s here:
[code]

Which is saying that the `Set` of markerWeights owns the `MarkerWeight` which is created, but Java is also deleting it upon garbage collection.

If we give the Set of MarkerWeights its own clone, then it can do with it as it pleases:

[code]
I was unable to get it to fail mysteriously after the change, but I was not alway

[2017-06-20 04:25] chrisdembia commented on #1775
I've addressed two of the easier tasks above.

[2017-06-20 17:34] aseth1 opened #1778 "OffsetFrame should consistently use rotation and translation to desrcribe its Transfrom"
Previously we used  `location` and `orientation` to locate a physical connection's reference frame (e.g. in `Joint`s, `Constraint`, `Force`)  but as of 4.0 we've abstracted that information to Frames and specifically `OffsetFrame` now contains the `Transform`. To promote consistency with `Transform`'s *rotation* and *translation* we should consider renaming `OffsetFrame`'s `orientation` property t

[2017-06-20 20:01] jimmyDunne commented on #1765
Thanks, Ajay!!

I substituted in `.cloneAndAppend`. I ran the function in a loop with 1000 iterations without a crash, so it seems to be working well!

Thanks for looking into it!

-j

[2017-06-20 20:01] #1765 closed

[2017-06-20 21:47] aseth1 opened #1780 "Are both Model::updateMarkerSet() and replaceMarkerSet() necessary?"
`Model::updateMarkerSet(newMarkerSet)` takes the union of the existing marker set, which may not be what users intend/expect. During scaling, I was expecting that the provided *<marker_set_file>* replaces that of the model. The comment is ambiguous.

[2017-06-20 21:51] aseth1 opened #1781 "Model::updateMarkerSet() and replaceMarkerSet() should not invoke initSystem()"
`Model::updateMarkerSet()` and `replaceMarkerSet()` are helpers for model (properties) editing. The Tool should invoke `Model::initSystem()` when it is done editing and ready to compute.

[2017-06-20 22:04] aseth1 commented on #1780
At a minimum `Model::updateMarkerSet(newMarkerSet)` could be renamed to `appendMarkerSet()` with a comment clarifying in the case of collisions (marker with same name present in the Model) that the new definition replaces the existing.

[2017-06-21 03:22] chrisdembia opened #1784 "Avoid need to manually set Working Directory in Visual Studio when debugging"
Right now, to debug a test case, you must set the working directory properly so that the test can find the files it needs. With CMake 3.8, we can avoid the need to set this working directory manually, using the VS_DEBUGGER_WORKING_DIRECTORY target property.

[2017-06-21 10:39] tkuchida commented on #1772
A table summarizing and comparing strategies for simulating contact would also be helpful. See the Forum threads [here](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=7465) and [here](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=4203), for example.

[2017-06-21 11:37] mitkof6 opened #1785 "The model maintains its own state"
Hi,

I am having this issues that was not present in an [older ](https://github.com/mitkof6/opensim-core/tree/stable_1) version of OpenSim that I use. I am porting my code for the new version v4.0.0_beta.

I maintain a model and a working model which is an identical copy of the original model. I noticed that when I try to compute quantities such as the system Jacobian the two models returned diffe

[2017-06-21 17:29] chrisdembia commented on #1785
I think that you cannot use the state from one instance of a model with a different instance of the model. This is because the state's cache contains pointers back into the model. I'm not sure if this is new to 4.0 (https://github.com/simbody/simbody/pull/414/files#diff-f37d0f0d5ba0cad81170fb9f2cee1150)
 or was also true for 3.3. If it's new to 4.0, we should fix it. Otherwise, it would be great i

[2017-06-21 18:04] mitkof6 commented on #1785
Basically, I have a generalized force which must compute all the forces that act on the model (that is why I use `getRigidBodyForces`). For me to get them I have to realize to dynamics stage and to disable the ForceController so that I will not get an infinite loop. But since the state is const I can't disable any force so I have a working copy of the model. Then I figured out that I need to have

[2017-06-21 18:14] chrisdembia commented on #1785
I can read your code in more depth later but can you try invalidating the cache in your `workingState` before you start using it?

[2017-06-21 18:16] mitkof6 commented on #1785
Can you please tell me the method to invalidate the whole cache?

[2017-06-21 18:21] chrisdembia commented on #1785
Perhaps `state.invalidateAllCacheAtOrAbove(SimTK::Stage::Instance);`.

[2017-06-21 18:21] chrisdembia commented on #1785
See related issue https://github.com/opensim-org/opensim-core/issues/1455.

Also, I just opened an issue in Simbody (https://github.com/simbody/simbody/issues/567).

[2017-06-21 18:24] chrisdembia commented on #1785
As you can see, from `Model::getWorkingState()`, the model does have a member variable that is a State, but I don't know if it is used for any calculations.

[2017-06-21 19:48] mitkof6 commented on #1785
Invalidating the cache did not produce the correct result. I tried different combinations, both on the actual state and the working state. My intuition tells me that the problem originates in the fact that the two models produce different results given the same state. Please note that I have calculated variables that do not depend on the parallel executors (e.g. system Jacobean). This was not a pr

[2017-06-21 20:43] chrisdembia commented on #1785
Ah good point.

@aseth1 and I have been chatting about this...he suggests trying to replace
[code]
with
[code]

Also, it should not be necessary to update the cache variables UDot, UDotDot, etc.; just Y should need to be copied over.

How different are the results between the two situations? Could you show numbers?

[2017-06-21 22:07] mitkof6 commented on #1785
I can't change to this because I am getting the errors in the `Parrallel::Task`. I have removed the unnecessary UDot. I also tried to link OpenSim v4.0.0_beta with a different version of Simbody which I use ([version](https://github.com/mitkof6/simbody/tree/stable_1)). But it seems that the error is present, thus I think that some new changes to OpenSim and a combination of missuse cause this stra

[2017-06-21 22:18] chrisdembia commented on #1785
Thanks. I wonder if the structure in the error can help us pinpoint the bug. Why is there no error in the upper block?

[2017-06-21 22:39] mitkof6 opened #1786 "Suggestions about the building process"
1)
It happens that I build OpenSim both for Debug and Release. This is because many libraries do not come up with a RelWithDebInfo (e.g. Qt). While docopts seems cool, it installs a Debug and Release version with the same name (e.g. it does not configure its docopt-targets-debug/release.cmake file correctly), thus this can cause problems. I suggest to make a PR (I will see if I have time) or maybe

[2017-06-21 22:53] mitkof6 commented on #1785
Is it possible that the state layout is accessed differently between the two models? The actual model (_model) contains a couple of ModelComponents that have a set of cache variables that are used to store some extra computations for efficiency.

[code]

Differences:

[code]

[2017-06-21 23:06] chrisdembia commented on #1785
I don't know of any way that this would be the case.

How exactly do you create `workingModel`?

[2017-06-21 23:15] mitkof6 commented on #1785
At some point I load the model form a file. I remove a set of excluded forces which in this case is the generalized force controller (to solve the infinity loop problem in case of a force controller). I have another type of controller which is not a Force but a Controller. I have two modes one for performing torque driven simulation and one for muscle driven (by the Controller). I also copy the fo

[2017-06-21 23:21] chrisdembia commented on #1786
Thanks for this.

We initially copied docopt.cpp directly into the repo, but @klshrinidhi preferred to keep it separate. It would be great if debug builds worked smoothly with docopt. Perhaps you could consider submitting a PR to docopt. Switching out the library for something else might be quite a bit of work and could introduce bugs.

When configuring opensim-core, set `OPENSIM_COPY_DEPENDENCIES

[2017-06-22 16:40] chrisdembia opened #1788 "Move our fork of BTK from klshrinidhi to opensim-org"
We are using a fork of BTK that is under @klshrinidhi's GitHub username. We should move the fork to opensim-org, and also ensure that we comply with BTK's license concerning our modifications to the BTK source code.

[2017-06-22 19:35] chrisdembia commented on #1786
To add onto "Perhaps you could consider submitting a PR to docopt.": it might be as simple as having docopt.cpp define `set(CMAKE_DEBUG_POSTFIX "_d")`.

[2017-06-23 01:43] aseth1 commented on #1780
Actions from today's meeting:
1. eliminate `Model::replaceMarkerSet(const SimTK::State& s, const MarkerSet& aMarkerSet)` because editing the Model should not require a `State` and have a sideeffect of creation/initialization of the `System`. Also, the `ScaleTool` in the API uses `updateMarkerSet()` which causes an inconsistency with the GUI if it uses `replaceMarkerSet()`.

2. rename `Model::updat

[2017-06-23 07:13] mitkof6 commented on #1786
[PR](https://github.com/docopt/docopt.cpp/pull/80)

[2017-06-23 18:39] clnsmith opened #1790 "WISCO_Ligament implementation"
Hi all,

After a long delay... I have the ligament model working and ready for input. Still needs some cleanup.

https://github.com/clnsmith/wisco_opensim/blob/master/plugin/WISCO_Ligament.cpp
https://github.com/clnsmith/wisco_opensim/blob/master/plugin/WISCO_Ligament.h

A lot of the comments in those files are from the previous OpenSim 3.3 version and need updating.

Here is a document with a gen

[2017-06-23 18:59] clnsmith opened #1792 "TableReporterVector not adding all channels to tabel"
Not sure if this is an implementation error or a user error:

Right now I am doing something which boils down to this:

TableReporterVector reporter = new TableReporterVector();
reporter->setName("vec_report");

reporter->addToReport(frc.getOutput("tri_data"));  //SimTK::Vector Output
reporter->addToReport(frc.getOutput("vertex_data"));   //SimTK::Vector Output

model.addComponent(reporter);

run

[2017-06-23 19:07] chrisdembia commented on #1792
Hmm...loooking at the code (https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Reporter.h), I would have expected that the labels are `{"tri_data", "vertex_data"}`. Are the `tri_data` columns correct?

[2017-06-23 20:13] aymanhab opened #1793 "Excessive enforcement of build type consistency"
My understanding is that while on windows mixing release and debug libraries is prohibited, it is not the case on osx and other platforms. While trying to compile OpenSim core as debug (to troubleshoot a specific problem at the OpenSim core level) the build failed because it claimed dependencies were not built in debug configuration, is this how it's supposed to work?

[2017-06-23 20:43] aseth1 commented on #1792
I believe `TableReporter` is specialized for `Vector<double>` to expect and report only one input (see [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Reporter.h#L331). A list input of Vectors would require looping over the number inputs as is in the generic implementation.

[2017-06-23 20:46] aseth1 commented on #1793
I build *opensim_dependencies* in debug and the I have no issues.

[2017-06-23 20:54] clnsmith commented on #1792
hmm I made the simple case I wrote out above, and the column labels come out as Chris described.

Within my more complex code I am still getting the column labels as I described above. I'm trying to isolate what the difference between the two cases are, i'll keep you posted.

[2017-06-23 21:07] clnsmith commented on #1792
So heres the difference:

If I run a simulation (ie manager.integrate) then the labels work out as Chris suggests.

If don't run a simulation, and just pose the model (ie model.realizeReport(state)) as I do in an analysis, then I get the case Ajay pointed out.

[2017-06-23 21:28] aseth1 commented on #1790
Thanks @clnsmith for sharing your code with us. This is a very nice alternative to the current Ligament class. Having different ways of initializing the stiffness and rest length parameters seems particularly helpful and less error prone for users. We are happy to give you feedback on your ligament as a plugin, but I would strongly encourage you to work with us to get your class into OpenSim code

[2017-06-23 22:42] chrisdembia commented on #1792
@clnsmith thanks for the additional information. What about the data themselves? Do they correspond with the column labels?

[2017-06-23 22:44] chrisdembia commented on #1792
There might be an issue with the fact that column labels are set in two different places ([here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Reporter.h#L231) and [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Reporter.h#L339)), but the code for actually appending data seems to be the same in both cases.

[2017-06-23 23:08] aseth1 commented on #1790
Just to clarify, we do think there is a need for a replacement (e.g. example #240) and it would be good to document the issues you wanted to overcome by implementing your class before getting started. It doesn't have to be long at all.

[2017-06-23 23:13] chrisdembia commented on #1790
I agree with @aseth1 (except about replacing the existing ligament :) ). In case you haven't already seen it, make sure to check out the CONTRIBUTING.md file in this repo.

[2017-06-23 23:17] aseth1 commented on #1792
You're right. The specialized `implementReport` should not overwrite the labels, instead it could create additional column meta data that are the element-labels (for elements of the Vector) instead of hijacking the labels obtained from the inputs.

[2017-06-23 23:32] chrisdembia commented on #1792
@clnsmith by default, the Manager does not cause any reporting with the new Reporters. You must set a `report_time_interval`. Can you check if the table from the manager has any rows?

[2017-06-24 00:50] chrisdembia opened #1794 "Speed up travis-ci build times"
We can try reintroducing `ccache`, and we can remove the Linux clang build (use gcc to build the bindings on linux).

[2017-06-24 01:48] clnsmith commented on #1792
Good call. If I set a report_time_interval then the manager.integrate gives the single input (tri_data[0]... ) result. The data looks correct for that single input, (although it is Vector with 8000 elements, so I could be missing something).

I think just adding documentation that the Vector reporter can only take one input is enough to prevent my error. In the long term it would be nice to be abl

[2017-06-24 02:45] clnsmith commented on #1790
Totally agree on moving it into opensim-core. I'll work on putting together the PR.

[2017-06-24 04:45] chrisdembia commented on #1793
Currently, this is the expected behavior. However, I agree that we could be more flexible.

I'll submit a proposed change.

[2017-06-24 21:06] chrisdembia commented on #1153
This was fixed by #1628 .

[2017-06-24 21:06] #1153 closed

[2017-06-24 21:07] chrisdembia commented on #1257
Closing for now. This might be fixed by #1610 .

[2017-06-24 21:07] #1257 closed

[2017-06-24 21:58] chrisdembia opened #1797 "Add link to new "html_developer" doxygen on Confluence"
Also, we need to make sure to host both `html_user` and `html_developer` after the release.

[2017-06-24 21:58] chrisdembia commented on #1797
Related: #1796, #650

[2017-06-24 21:58] chrisdembia commented on #650
Related: #1796

[2017-06-24 22:39] tkuchida commented on #650
Upon merge of #1796, duplication will be <5 Mb so I think this issue will then no longer be relevant.

[2017-06-25 03:21] chrisdembia commented on #1793
@aymanhab it sounds like it's discouraged (https://stackoverflow.com/questions/11658915/mixing-debug-and-release-library-binary-bad-practice), but I would think that at least mixing release with relwithdebinfo is okay. I've submitted a PR that I think strikes a good balance

[2017-06-25 21:13] #1793 closed

[2017-06-26 17:59] chrisdembia commented on #1794
https://github.com/opensim-org/opensim-core/tree/speedup_travis_ci_june2017edition_trusty

[2017-06-27 00:00] chrisdembia commented on #1794
CCache is now working with GCC and on macOS, but not on Linux with Clang. This is because we download separate Clang binaries.

[2017-06-27 21:39] tkuchida opened #1804 "Numeric properties load with many extraneous digits"
For example, the mass_center property of femur_r in gait1018_wArms.osim is "0 -0.17 0" in the .osim file but "0 -0.17000000000000001 0" appears in the GUI (opensim4.0Beta0627_win64.zip). Particularly undesirable for an introductory tutorial.

[2017-06-27 23:43] chrisdembia opened #1805 "updAbstractPropertyByIndex index out of range"
I've seen this exception with the GUI on macOS (https://github.com/opensim-org/opensim-gui/issues/190) and someone reported it with @kidzik's reinforcement learning environment (https://github.com/stanfordnmbl/osim-rl/issues/20). @kidzik, do you have any more information about this issue?

[2017-06-27 23:59] aymanhab commented on #1805
Seen it too sporadically. Would be great to reproduce consustently.

On Jun 27, 2017 4:43 PM, "Christopher Dembia" <notifications@github.com>
wrote:

I've seen this exception with the GUI on macOS (opensim-org/opensim-gui#190
<https://github.com/opensim-org/opensim-gui/issues/190>) and someone
reported it with @kidzik <https://github.com/kidzik>'s reinforcement
learning environment. @kidzik <https

[2017-06-28 00:31] kidzik commented on #1805
I was getting that error with something like below. Whenever I save references to model objects (forces, muscles etc) in a python list and then recreate the object exactly the same way, I can't access the properties. I ended up ditching the references lists ( 21cc8adb3e77e969f209d8e4405320885e71c5f3 ) and the problem disapeared. I just assumed that I am doing something wrong in python and moved on

[2017-06-28 04:37] chrisdembia opened #1806 "SWIG warning about redefining `clone()`"
Oops...I introduced a SWIG warning in PR #1742:

[code]

[2017-06-28 07:04] chrisdembia opened #1807 "Speed up building of doxygen by unzipping MathJax once"
See https://github.com/opensim-org/opensim-core/pull/1796#issuecomment-311573847.

[2017-06-28 07:10] chrisdembia commented on #1807
There also seems to be a bug with how I set up the CMake targets that causes MathJax to be unzipped *every* time you build doxygen (rather than only the first time you build doxygen).

[2017-06-28 07:21] chrisdembia commented on #1807
Okay, so the scenario I just experienced where the unzipping occurred for repeated builds of doxygen was because I used an old build directory where <build-dir>/MathJax.zip was actually MathJax 2.5, not 2.7. @tkuchida are you using an old build directory? If so, could you delete <build-dir>/MathJax.zip, re-run CMake, and build doxygen twice?

[2017-06-28 07:35] tkuchida commented on #1807
Yeah, the old MathJax.zip file was the problem. Thanks! I'll let you decide whether to leave this issue open (MathJax.zip is still unzipped twice, but only on the first doxygen build).

[2017-06-28 07:37] chrisdembia commented on #1807
Thanks for trying that.

[2017-06-28 09:53] chrisdembia commented on #1807
I started to address this but then I realized that you would end up with *two* MathJax folders in the html directories, `MathJax-2.5-latest` and `MathJax-2.7.0`, which I think is an even worse outcome. We could detect if a 2.5 ZIP is already in the build directory, and then delete the html directories, but I think the scale of the problem doesn't warrant such a solution. I think it's fine to just

[2017-06-28 09:53] #1807 closed

[2017-06-28 11:16] tkuchida commented on #1804
Another example (from Confluence):
![](http://simtk-confluence.stanford.edu:8080/download/attachments/3376207/function-3.PNG?version=1&modificationDate=1349822297234&api=v2)

[2017-06-28 22:05] #1694 closed

[2017-06-28 22:12] chrisdembia opened #1811 "Travis-CI scripts are running to completion even if an intermediate step has an error"
For example:

[code]

This could be a bash syntax bug introduced by recent changes to the travis script to enable ccache.

[2017-06-29 09:06] tkuchida opened #1812 "McKibben actuator is not wrapped"
Missing from [OpenSim/Actuators/RegisterTypes_osimActuators.cpp](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Actuators/RegisterTypes_osimActuators.cpp), [Bindings/actuators.i](https://github.com/opensim-org/opensim-core/blob/master/Bindings/actuators.i), etc.

[2017-06-29 09:16] tkuchida commented on #1812
Arose in [Forum topic 7941](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=7941).

[2017-06-29 16:46] kenembanisi opened #1813 "Model::printDetailedInfo() causes crash in version 3.3 (in ControllerExample)."
Hello,

In my experience, the controllerExample.cpp code crashed everytime I ran it. However, I observed that after I commented out the following line, it worked properly:
osimModel.printDetailedInfo( si, std::cout );

This might be me or something with the setup. I thought to share it here.

Thanks.

[2017-06-29 16:55] aseth1 commented on #1813
@kenembanisi thank you for sharing the issue! We will definitely investigate.

[2017-06-29 22:23] chrisdembia opened #1814 "testREADME and README are out of date (with how to use Manager::integrate())."
The [test](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Tests/README/testREADME.cpp#L126) uses the new `integrate()` call, but the README itself does not.

[2017-06-30 16:58] chrisdembia commented on #1805
Thanks @kidzik, I am able to get that segfault locally.

[2017-06-30 16:59] chrisdembia commented on #1805
The crash log has this at the bottom of the stack:

[code]

[2017-06-30 17:12] chrisdembia commented on #1805
Simply adding this line in `test()` brings back the `getAbstractPropertyByIndex()` exception:

[code]

The complete test is:

[code]

And the error is:

[code]

[2017-06-30 17:26] chrisdembia commented on #1805
So, actually, in this example, `forces` contains pointers to objects that have been deleted. You simply need to add a `self.forces = []` before `self.forces += ...` and the exception goes away. So at least in this case, there is a bug in the script. That doesn't mean that there isn't also a bug somewhere in the SWIG wrapping or the C++ libraries.

It is easy to accidentally hold onto these "dangli

[2017-06-30 17:27] chrisdembia commented on #1805
@aymanhab what's the expected behavior with SWIG when an underlying C++ object has been deleted?

[2017-06-30 17:37] chrisdembia commented on #1805
The following also produces the exception:

[code]

[2017-06-30 17:49] chrisdembia commented on #1805
I tested commit 589340c985c163f2cce336af83a77d3062e6e63e, from about May 27, and got the same exception. So I'm not sure how old this behavior is. @aymanhab when did you start seeing the MarkerSet exception?

[2017-06-30 18:12] aymanhab commented on #1805
@chrisdembia I can't reproduce this consistently. The marker set issue I saw was because of the method replaceMarkerSet that was stale and didn't reconnect the model after replacing markers, so likely unrelated. I'd like to know if others are seeing it and if in general GUI use or during scaling specifically.

[2017-07-03 16:40] jimmyDunne commented on #1650
@aseth1 STOFileAdapter writes a (forces) file with the below header;

[code]
Storage class can not read that header information. I can open the file if I (manually) change the header to this;

[code]
The STOFileAdpater should be updated.

[2017-07-03 16:57] chrisdembia commented on #1650
@jimmyDunne are you trying to load the file with the Storage class or with the STOFileAdapter class?

[2017-07-03 17:11] aymanhab opened #1815 "Methods invoked from Tools that exercise editing should document behavior"
While tools haven't primarily changed for 4.0, the semantics/behavior of the methods (that are still available) have changed. Because we consider some of these methods as "Editing" now, an explicit call to initSystem is required. This caused problems that were hard to find earlier for ScaleTool (issue with replaceMarkerSet) and later with AnalyzeTool (updateModelForces). We should either document

[2017-07-03 18:52] jimmyDunne commented on #1650
The STOFileAdapter() does the writing, the Storage() class does the reading. The exception occurs in 4.0 but it seems that this is also an issue in previous versions.

[2017-07-03 18:54] chrisdembia commented on #1650
What if you load the file with the STOFileAdapter?

We were planning on modifying the constructor to Storage so that it could read version-2 storage files by using the STOFileAdapter. I'm not sure whose plate that's on.

[2017-07-03 18:59] jimmyDunne commented on #1650
`STOFileAdapter().read()` works. When usning Storage, I get;

[code]

[2017-07-03 19:14] aseth1 commented on #1650
The `Storage` reading a version 2 file, in 4.0 is a good idea to ease the transition, but it won't help trying to read .sto and .mot files into the GUI since it appears that the GUI motion previewer has its won reader that expects:
[code]
Perhaps we can add an `writeAsVersionZero` on `STOFileAdapter` that flattens the Table and writes out the expected header for the GUI (at least in 3.3) and other

[2017-07-03 19:19] aymanhab commented on #1650
@aseth1 GUI does no parsing of its own, it uses the constructor of the Storage class as is.

[2017-07-03 20:27] aseth1 commented on #1650
Thanks Ayman. For some reason I thought `nColumns`, `nRows` were not a strict requirement of Storage. I was wrong.  It is that Storage takes a multitude of number of columns/rows descriptors, like `nc`, `nCols` and `datacolumns`.

Nonetheless, a `writeAsVerisonZero` (or `One`) that writes out one variant of these required tags, would work. Alternatively, the MATLAB script using the `STOFileAdapter

[2017-07-03 20:55] aymanhab commented on #1650
No worries, thanks @aseth1

[2017-07-04 00:18] jimmyDunne commented on #1650
I have managed to hack the column/row numbering on the Matlab side by editing (deleting all the existing values and adding nColumn and nRow entries) the meta key values.

I can now print a header that looks like  this;
[code]

This is a hack on the Matlab side that should work for now. But there needs to be a fix for how the headers get printed in the sto files.

I am still getting an exception in

[2017-07-05 18:29] aseth1 commented on #1650
@jimmyDunne I'll take a look.

[2017-07-05 18:33] aseth1 commented on #1650
@jimmyDunne I have the file load in 3.3 but there is nothing being shown. Should there be forces being drawn?

[2017-07-05 19:56] jimmyDunne commented on #1650
Yep.

[2017-07-06 18:13] aseth1 opened #1819 "C3DFileReader should "clean up" metadata"
Metadata like CalibrationMatrix and Corners for forces are useful and should be eliminated. They could also include useful things like Units and DataRate.

[2017-07-06 19:06] chrisdembia opened #1820 "Data files printed with 4.0 on Mac cannot be read in 3.3 on Windows"
Reported by @jimmyDunne. This is likely because 4.0 on macs uses only LF line endings, while 3.3 on Windows is expecting CRLF.

- https://stackoverflow.com/questions/6089231/getting-std-ifstream-to-handle-lf-cr-and-crlf/6089413#6089413
- https://gist.github.com/josephwb/df09e3a71679461fc104

[2017-07-06 19:36] chrisdembia commented on #1820
@jimmyDunne says that it might be the intermediate step of saving the MOT file in Excel that changes the line endings to be incompatible with Windows.

[2017-07-08 21:27] tkuchida opened #1821 "Visualizer doesn't fill entire window"
![viz](https://user-images.githubusercontent.com/4203505/27989244-74bc28fc-63e9-11e7-8f57-257a46ba0beb.png)
Note the white rectangle at the bottom of the window.

opensim_embeddedBrowser062717Win64.zip on Windows 7.

[2017-07-08 21:27] tkuchida commented on #1821
Posted to wrong repo!

[2017-07-08 21:27] #1821 closed

[2017-07-09 18:23] tkuchida opened #1822 "Wrap SimTK::Array_<CoordinateReference> as SimTKArrayCoordinateReference for consistency"
Not sure whether the intention was to allow use of `InverseKinematicsSolver` in MATLAB, but it isn't currently possible (or, if there is a workaround, it isn't obvious). [The constructor](http://myosin.sourceforge.net/1809/classOpenSim_1_1InverseKinematicsSolver.html#abb7799dcaff64b08356b090689efe02f) takes a reference to `SimTK::Array_<CoordinateReference>` but only a few types of `SimTK::Array_`

[2017-07-09 18:39] chrisdembia commented on #1822
In my opinion, ff that's the only class that needs to be wrapped for the solver to be useful, then we should add that one line to the appropriate SWIG interface file.

[2017-07-10 17:42] jimmyDunne commented on #1822
I have written a script for using the IK solver in Matlab. This has worked with only tracking Marker data, but I do create CoordinateRef Objects

[code]

[run_iksolver.m.zip](https://github.com/opensim-org/opensim-core/files/1136516/run_iksolver.m.zip)

[2017-07-10 17:55] tkuchida commented on #1822
Why are `SimTK::Array_`s of these data types wrapped as `SimTKArrayBlah`
[code]
but a `SimTK::Array_` of type `CoordinateReference` is wrapped as `ArrayCoordinateReference`?

[2017-07-10 23:31] jenhicks opened #1823 "Clarification and Further Simplification of the Visualizer Controls"
A few questions and issues:

1) Can we have the visualizer controls be closed by default?

2) File, Edit and Add dropdowns: I don't know how most of these work and I don't think most of the ISB users will be using them. Can we hide?

3) When I click on "Scene Light" noting happens

4) For the model light, sometimes I see a set of axes/planes appear, but I don't know what to do with this. I tried t

[2017-07-10 23:32] #1823 closed

[2017-07-10 23:32] jenhicks commented on #1823
Issue moved to [opensim-org/opensim-gui #272](https://github.com/opensim-org/opensim-gui/issues/272) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-12 20:07] chrisdembia opened #1825 "DataTable::toString() need not throw an EmptyTable exception"
Mentioned here: https://github.com/opensim-org/opensim-core/pull/1771

[2017-07-13 09:40] chrisdembia opened #1827 "Add plot to doxygen for CoordinateLimitForce"
Here's what I made for the TGCS example, based on feedback from Colin Smith.

![coordinatelimitforce](https://user-images.githubusercontent.com/846001/28229862-604aeaca-6899-11e7-9517-02a5e25f34fd.png)

[code]

[2017-07-13 23:08] jimmyDunne opened #1829 "OpenSim uses Matlab's home dir to run tests, Not one specified by OpenSim"
When running Matlab tests (locally), `ctest -R Matlab`, the tests get run in the Matlab working directory (set and managed in Matlab), not in opensim-build-dir/Matlab (where we want it to run).

Some Matlab tests use resources copied to opensim-build-dir/Matlab, so will fail. This can be tested with `ctest -R Matlab_Simbody`.

You can get the tests to pass by opening Matlab and changing the workin

[2017-07-14 01:33] chrisdembia commented on #1829
You can also set MATLAB to set its working directory based on the directory where you start it.

[2017-07-14 20:31] chrisdembia commented on #1829
@jimmyDunne you actually fixed this in #1704:

[code]

Consider carrying this fix over to #1434.

[2017-07-16 08:53] tkuchida opened #1831 "[ISB] Provide doxygen for ISB workshop"
There was some discussion of adding a GUI scripting part to the workshop. If so, it might be helpful to provide participants with the doxygen corresponding to the API version on which the GUI was built. Could post in a semi-permanent location or include in the .zip that is distributed.

[2017-07-16 16:14] chrisdembia commented on #1831
Internet at a conference may be spotty so ideally, it's in the zip. My mac builds have included the user doxygen. The doxygen is large, so I don't think we should include the developer doxygen.

[2017-07-17 16:14] aseth1 commented on #1831
Sounds good to me. We should also have @apoorvar or @jenhicks briefly explain what it is and how they can find additional commands (methods) there. Very few will be familiar with programming and even fewer will know what Doxygen is.

[2017-07-18 11:12] tkuchida opened #1832 "ControlSetController isn't wrapped"
Trying to investigate an issue reported on the Forum where controls provided for a forward simulation via `AbstractTool::setControlsFileName()` aren't being applied (from [Forum topic 7998](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=7998); investigation still in progress). A workaround could be to add a `ControlSetController` to the model before passing the model to `ForwardTool`, b

[2017-07-18 11:50] tkuchida commented on #1832
A working workaround is to add a `PrescribedController` to the Model first:
[code]
If this is the expected workaround, then the issue can be closed---though it might be worthwhile to investigate why `setControlsFileName()` wasn't working (or provide an explanation or sample code in the doxygen).

[2017-07-18 16:39] tkuchida commented on #1832
The user reported on the Forum that using `setControlsFileName()` results in a setup file that correctly applies the controls when used in the GUI, but the ForwardTool that generated the setup file does not apply the controls when `run()`.

[2017-07-18 19:23] aseth1 opened #1833 "Model _lengthUnits and _forceUnits generally unused"
`Model` has `_lengthUnits` and `_forceUnits` members and related properties that are exposed to users. They do not have any effect on the `Model` or its computations and therefore is confusing for users.

I think we should get rid of them in 4.0 to eliminate confusion. For the two cases that  `_lengthUnits` are used (`MarkerPlacer` and `ModelScaler` both deailing with `MarkerData`) these should al

[2017-07-19 00:50] aseth1 commented on #1832
@tkuchida using a `PrescribedController` is a good (preferable) workaround, but `setControlsFileName()` should have worked. I can get the ForwardTool in the GUI to use a controls file (which should be calling `setControlsFileName()` to do that) and was able to run a forward simulation with supplied controls.

[2017-07-19 00:56] tkuchida commented on #1832
@aseth1 There is no issue with the GUI. Please read the post immediately above yours.

[2017-07-19 07:10] mitkof6 commented on #1832
Hi @tkuchida I had similar problems [issue](https://github.com/opensim-org/opensim-core/issues/1351) with setting the controls of the model and maybe this is related. I concluded that the default controls override the controls that are set by the user. I was investigating this quite a lot. If you need further details please let me know and I will look at this again. Hope this helps!

[2017-07-19 07:41] tkuchida commented on #1832
Hi, @mitkof6! Thanks for the note. #1351 may be related, but I suspect one issue here is with `AbstractTool` and the implementation of `setControlsFileName()` ([it seems to assume that the necessary ControllerSet already exists](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/AbstractTool.cpp#L803)). Interestingly, configuring a `ForwardTool` in MATLAB and calling

[2017-07-19 23:58] chrisdembia opened #1835 "MATLAB initSystem() with setUseVisualizer(true) causes MATLAB crash (simbody-visualizer crashes if OSX_DEPLOYMENT_VERSION > [user's OSX version])"
This was experienced by one of the participants for the TGCS tutorial. I can provide more details later.

[2017-07-20 01:22] aseth1 opened #1836 "Preview Experimental Data works for Markers OR Forces"
As separate motion previews.  When attempting to sync motions, markers/forces disappear but the motion player time keeps advancing.

Additionally, making either data file current, afterwards, fails to display the current markers or forces data.

[2017-07-20 01:53] aseth1 commented on #1836
Interestingly it just worked on Mac, but not on Windows 10.

[2017-07-20 17:43] jimmyDunne commented on #1835
I have seen this behavior in my code as well. The visualizer instance won't close, and if you force close it, Matlab will crash soon after.

[2017-07-20 18:40] tkuchida commented on #1415
Specifically requested at TGCS workshop.

[2017-07-20 19:04] chrisdembia commented on #1835
Ah it would be great if you could show met this when I get back.

[2017-07-20 19:07] chrisdembia commented on #1415
Thank you for adding that note!

[2017-07-20 22:44] tkuchida commented on #1744
testExternalLoads is also segfaulting on Travis ([example](https://travis-ci.org/opensim-org/opensim-core/jobs/255831134)).

[2017-07-20 23:24] #1415 closed

[2017-07-21 19:00] tkuchida commented on #518
Also reported on the Forum ([topic 8037](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=8037)).

[2017-07-22 18:56] pavitrakumar78 opened #1838 "[docopt]Correct way to build and install docopt in Windows?"
Hi,

I am having some trouble building docopt. I am using the source inside opensim-core's dependencies folder. After configuring and generating with default options on CMake, when I try to build it in VC 2013, it shows many errors.

[code]
Is this the correct way to build it on my own?

My environment:
Windows 10
GCC version 5.4.0 (MinGW)
MS-Visual Studio 2013 (Ver. 12) + Visual C++ Redistributab

[2017-07-22 19:00] aymanhab commented on #1838
Vc 2013 is too old, unsupported. Upgrade to 2015 or 2017

[2017-07-22 19:07] pavitrakumar78 commented on #1838
@aymanhab Oh! Thank you for the info!

[2017-07-22 19:07] #1838 closed

[2017-07-23 10:54] pavitrakumar78 opened #1839 "Python ImportError - No module named '_common'"
Hi,

I have built and installed opensim with python bindings in Windows 10 with python 3.5. The build was successful and so were the tests.

[code]

I built opensim using the following commands:
[code]

But when I try
`import opensim` in python, I get the following error:

[code]
Should I add any dir to `PATH` in windows?

[2017-07-23 11:12] chrisdembia commented on #1839
Yes; add `<...>/opensim-core/bin` to your PATH.

[2017-07-23 11:49] pavitrakumar78 commented on #1839
@chrisdembia There is no folder named `bin` in the opensim-core folder. The only `bin` folders I see are in BTK, docopt and simbody.

[2017-07-23 11:54] chrisdembia commented on #1839
Oops; sorry, I mean in `opensim_install`

[2017-07-23 11:59] pavitrakumar78 commented on #1839
@chrisdembia Hmm ... weird... `opensim_install` has only 1 folder called `sdk`. So its `opensim_install>sdk>python>opensim>simbody` and nothing else. Did I build it incorrectly?..