[2019-06-20 16:04] #2421 closed

[2019-06-20 16:04] #2261 closed

[2019-06-20 17:48] aseth1 commented on #2502
This is likely the case in 3.3 as well. Nothing was fundamentally changed between 3.3 and 4.0 w.r.t. IK.
Seeing the solution diverge, it maybe possible that round-off error is contributing to a slightly different initial condition for the next time step.  @sherm1 can comment before we invest too much time into investigating. I agree that even at low accuracy (0.0001) we wouldn't expect angle diffe

[2019-06-20 21:01] sherm1 commented on #2502
If I understand the post, @jimmyDunne is reporting that repeated runs on the *same* machine, with *identical* initial conditions, are producing different answers. That means roundoff can't be the explanation because it is deterministic and would be identical from run to run.

I only know of a few ways for this kind of behavior to occur:
- intentional randomization (that is, there is literally a ca

[2019-06-20 21:03] aseth1 opened #2505 ".mot and .sto files with NaNs are not plotted correctly"
If the file is selected in the plotter the data seems to be read in correctly:
`Storage: read data file =F:\Users\aseth\Downloads\NanExample\Running_GRF_cop_nans.mot (nr=2460 nc=28)`

But when plotted, only the subset prior to a NaN is plotted no matter what column the NaN appears in. For example, there are no NaN's in the forces (just in CoP) but only the time prior to the NaN in the CoP column i

[2019-06-20 21:38] aseth1 commented on #2256
@jimmyDunne what are CoP coordinate values set to when the vertical force is below threshold? AFAICT the attached file only produces a NaN when the vertical GRF crosses zero and that is only because the force is biased to some -15N when there is no load.

Adding an eps doesn't fix the problem if we can get vertical forces below zero. Instead it just shifts the problem. The correct solution, IMHO,

[2019-06-21 14:56] marnunez opened #2506 "Can't open model/trc files with non ASCII names"
### Sample
[code]
### Environment
Current master build, Python 3.7.3, Windows 7 x64, swig 3.0.12

[2019-06-21 20:12] aseth1 commented on #2502
I just ran IK four times using the same setup file and Inverse Kinematics Tool in the GUI but saved to four different locations at low accuracy.

![image](https://user-images.githubusercontent.com/6494122/59948791-198f4a80-9426-11e9-8170-7567cdde2c25.png)

@jimmyDunne in your test were you looping/running IK in MATLAB?

[2019-06-21 20:16] jimmyDunne commented on #2502
Yep. Ill repeat the test some other way and see what I get. Thanks for running.

[2019-06-21 20:33] aseth1 commented on #2502
In MATLAB:
![image](https://user-images.githubusercontent.com/6494122/59949598-6f64f200-9428-11e9-9c42-3c712880c33f.png)

Caveats are: this is on WinX64 not MacOSX, and I kept getting this error:

[code]
requiring me to evaluate each line one by one and then the for loop and that worked. Not sure what that is about.

[2019-06-21 20:43] jimmyDunne commented on #2502
You have to change read() to readFile since that has changed since the application release. The code is there, you just need to change what is commented out.

[2019-06-21 22:12] aseth1 commented on #2502
That's not it. If I copy and paste your script in the command window it runs fine (that's how I plotted results above). If run the script it gives me that error. Very weird. I wouldn't worry about it.

[2019-06-22 02:23] aymanhab commented on #2388
@nickbianco you may want to check the build artifact of PR #2504 to see if the issue has been fixed. Thank you.

[2019-06-22 19:29] mkjung99 opened #2507 "Matlab_testOsimC3D throws an exception while RUN_TESTS_PARALLEL run"
Hello,

After building the current latest master branch, and I performed the RUN_TEST_PARALLEL.
Then all tests passed except one,  Matlab_testOsimC3D.

Following is the log of that failure:
[code]

Environments: Current master build, Windows 10 x64, VS 2017 x64(v140 option), JDK 1.8.0_211, SWIG 3.0.9, Python 3.7.3 x64(Anaconda), MATLAB 2019b X64

Best regards,
Moon

[2019-06-24 18:14] jimmyDunne commented on #2418
@jimmyDunne add to changelog

[2019-06-24 18:29] jimmyDunne commented on #2256
In discussion, we feel that this is a pre-processing step that needs to be decided by the user. The fix is to have thorough documentation in the 'Preparing your Data' section that describes the problem and points users to solutions.

@aseth1, can you add more comments and I can draft.

[2019-06-24 19:05] aseth1 commented on #2256
One proposal is this:

1. Always read experiment force data as forces and moments as measured by the plate (e.g. about its origin). No NaNs because there is no COP calculation.
2. Write a COPProcessor that takes force-plate table (1.) and converts moments to CoP and free moment. This can produce NaNs. To avoid NaNs the processor takes 2 additional arguments: i) vertical force threshold (below whic

[2019-06-24 19:14] aseth1 commented on #2463
@aymanhab this change somehow affected `TimeSeriesTableRotation` such that calling `table. getMatrix.getElt()` no longer works. It seems as though `SimTK::Matrix_<Rotation>` is no longer wrapped.

[2019-06-24 20:11] aymanhab commented on #2438
Indeed the files contain activations for disabled muscles which are used downstream to color. The GUI colors by values from a file regardless of the source of this file. Now looking into SO itself which seems to be the offending party.

[2019-06-24 20:21] aymanhab commented on #2463
@aseth1 Indeed you can't get the Matrix of Rotations directly per Sherm's feedback
https://github.com/opensim-org/opensim-core/pull/2467#issuecomment-498876581,
but there's a workaround. Take a look at the testcase Java_TestXsensDataReader and let me know if you can work around it.

[2019-06-24 22:09] #1960 closed

[2019-06-24 23:05] aymanhab commented on #2438
It appears SO never considered the enabled/appliesForce flag at all. All loops cycle through actuators without ever checking the flag AFAIK,  Please let me know if you have reason to believe otherwise @jimmyDunne @tkuchida @aseth1 Not clear how involved this fix will be.

[2019-06-24 23:21] tkuchida commented on #2438
It doesn't look like [the SO test](https://github.com/opensim-org/opensim-core/blob/master/Applications/Analyze/test/testStaticOptimization.cpp) covers this scenario. There should be a test case where a muscle is set to enable=false and throws if the muscle force is nonzero. #1188

[2019-06-25 21:52] aymanhab commented on #2438
PR in place to fix the issue and produce result files with no activations or forces for disabled actuators. Color of disabled muscles stay fixed during playback but now is red (because that's what's in the state) 😕 Investigating if we can change that to something else (either :blue or gray)

[2019-06-27 16:05] jimmyDunne opened #2511 "Analytical Contact Mesh"
{User request from Workshop}

Cube, Cone, Sphere.

[2019-06-27 16:07] jimmyDunne opened #2512 "Function Based Bushing does not apply rotational damping"
{Reported during workshop}

[2019-06-27 16:43] aymanhab commented on #2512
Thanks @jimmyDunne, Was there a sample model provided to work with?

[2019-06-27 17:18] jimmyDunne commented on #2512
I edited an existing model.

[2019-06-27 17:18] jimmyDunne commented on #2512
No, not that I am aware of.

[2019-06-27 17:35] jimmyDunne opened #2513 "Add Cube Analytical Geometry"
There is currently no cube analytical geometry

[2019-06-27 17:46] aymanhab commented on #2513
There's a Brick with arbitrary half-length(s) why is it not adequate?

[2019-06-27 18:01] jimmyDunne commented on #2513
There is no record of a brick so not sure how I was supposed to find it unless I knew it was called 'brick'. I don't think brick is a good name, it is not a supra-class of shape.

[2019-06-27 18:01] #2513 closed

[2019-06-27 18:27] tkuchida opened #2515 "Model marker radius cannot be changed"
Raised in [Forum Topic 10568](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=10568). Seems like [ModelDisplayHints](https://simtk.org/api_docs/opensim/api_docs/classOpenSim_1_1ModelDisplayHints.html) might be the place for this, given that it already handles `marker_color`. All markers would be the same size (though they're already required to be the same color).

[2019-06-28 22:12] dpkong opened #2517 "Constraint::Custom::Implementation override wrong function when implementing acceleration constraint"
I define a acceleration constraint implementation inherited from Constraint::Custom::Implementation
I am sure I initialize Implementation(matter, 0, 0, 1) and override the calcAccelerationErrors function
But it still ask me to override the calcVelocityDotErrors because in runtime it is called and virtual function was called.
After I override calcVelocityDotErrors in the acceleration constraint imp

[2019-06-28 22:30] dpkong commented on #2517
Sry, wrong place to post, move to simbody

[2019-06-28 22:30] #2517 closed

[2019-07-01 18:46] aymanhab commented on #2345
@jimmyDunne should this be moved back to the product backlog then if no plan to fix now? Thanks

[2019-07-01 22:56] nickbianco opened #2518 "Storage::getSize() is misleading"
The `getSize()` method on `Storage` returns the number of underlying `StateVector`s that object holds. However, some users (including @chrisdembia and I) might expect it to return something else (e.g. the length of the data vectors).
https://github.com/opensim-org/opensim-core/blob/a69f85372b5c6dc8d252e0977679f98a09362d4b/OpenSim/Common/Storage.h#L80
https://github.com/opensim-org/opensim-core/blo

[2019-07-03 10:01] pariterre opened #2520 "Superbuild won't find Blas/Lapack when using anaconda environment for installation directory"
Hi there!

Problem:
When compiling using the superbuild method (building dependencies automatically) and targeting a conda environment for the CMAKE_INSTALL_PREFIX variable, the simbody dependency won't find Blas/Lapack installed in that particular environment. That is because the superbuild creates a subfolder "CMAKE_INSTALL_PREFIX/simbody" and will define this new path as the "CMAKE_INSTALL_PREF

[2019-07-03 17:57] aymanhab commented on #2256
@jimmyDunne Can you comment on where this stands? and if it should stay under the sprint board, thanks

[2019-07-03 17:59] aymanhab commented on #2463
We resolved the issue with access to matrix elements (also used in java test case).  @malborno can you comment if this is useful and should be merged in or not yet, and if not what the hold-up, thanks.

[2019-07-03 18:02] aymanhab commented on #2438
I'm working on a fix to the coloring issue in the GUI but I think this issue is separate from wrong SO results. I can open a separate issue and we close this one.  Thoughts @jimmyDunne @tkuchida

[2019-07-04 20:28] tkuchida commented on #2438
@aymanhab I agree with opening a new issue over at [opensim-gui](https://github.com/opensim-org/opensim-gui/issues).

[2019-07-05 23:36] aymanhab commented on #2512
fixed by PR #2514

[2019-07-05 23:36] #2512 closed

[2019-07-05 23:37] aymanhab commented on #2511
Not sure what that means exactly, can you clarify @jimmyDunne ? Thanks

[2019-07-05 23:43] aymanhab commented on #2438
This can be closed, GUI issue https://github.com/opensim-org/opensim-gui/issues/1123  opened.

[2019-07-08 16:17] #2438 closed

[2019-07-08 16:21] jimmyDunne commented on #2511
A user requested the ability to generate analytical contact meshes like we generate analytical contact geometry.

[2019-07-08 18:14] aymanhab commented on #2375
My investigation so far:
- The attempted loading of the meshes happens during construction (Mesh::extendFinalizeFromProperties invoked from componentsFinalizeFromProperties ) so we have no place to control this loading unless we pass a flag to the constructor, or include it as a property in the file which could lead to more confusion downstream. Would like to hear your thoughts @jimmyDunne or ment

[2019-07-08 18:24] aymanhab commented on #2496
Should this be marked as Done @jimmyDunne ?

[2019-07-09 18:17] #2496 closed

[2019-07-09 18:18] aymanhab opened #2521 "getActivation for a disabled muscle returns a bogus number"
What is the expected behavior when you ask a disabled muscle for its Activation (or Color).  I'm trying code examples and I'm always getting an activation value between 0.0 and 1.0

[2019-07-09 18:33] jimmyDunne commented on #2375
I think everyone is in agreement that we should find a way to stop these warnings, so whatever the best system is for dealing with that would be good. If it is to add properties, then we should explore that.

[2019-07-11 17:58] aseth1 commented on #2521
Muscles are not disabled. A Force component that  "appliesForce" is obvious that it has to compute whatever it needs (including internal states) to compute and apply  a force. What should happen if  a Muscle does not apply force? Is seems you would prefer that the muscle states are not computed. But then should you be able to ask a disabled muscle how long its fiber is? AFAICT Muscles handle the a

[2019-07-11 18:27] aymanhab commented on #2521
Thanks for the feedback @aseth1 I guess bogus was an overstatement, inconsistent is a more accurate word. I'll update accordingly.
The main issue that I'm trying to address though is how to show/color muscles that do not "apply_force" when applying a state either live or in playback. Are you suggesting the answer depends on the muscle model? Would the user want to draw distinction between muscles

[2019-07-11 18:31] aymanhab commented on #2521
@tkuchida would love to hear your thoughts as well.

[2019-07-11 19:04] chrisdembia opened #2524 "Use SWIG 4.0 to support documentation in Python and Java."
SWIG 4.0 supports translating Doxygen documentation into Python and Java documentation. We should consider upgrading to SWIG 4.0.

http://www.swig.org/Doc4.0/SWIGDocumentation.html#Doxygen

[2019-07-11 20:38] jimmyDunne commented on #2256
I have written some info [here](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Motion+%28.mot%29+Files), @jenhicks does this look okay? Should I also put a note in the ID documentation?

[2019-07-11 23:30] aseth1 commented on #2521
I am not suggesting, I am simply stating that Muscles do compute an activation state independent of whether or not they apply force. Furthermore, in one case (Millard) the calculation is different whether the flag is true or not (activation rate = 0). Now, whether this is the correct thing to do or not is up for debate. I think it is poorly defined and more problematic than useful.

We have to ask

[2019-07-12 00:00] aseth1 commented on #2256
@jimmyDunne thanks for documenting this. There are few things  to clarify:

1. If you have NaNs it is precisely because the force has gone to zero. When the foot is off the floor the COP is truly NaN. You can get away with putting in a number/value because the force is zero. However, the user has to be careful, because if you use some arbitrary number and the COP value is far from that value, the

[2019-07-13 13:15] vinaym815 opened #2526 "Add finalizeConnections() to multiple C++ Example files and throw exceptions on bad models"
Please add finalizeConnections() command to the the list of C++ examples that follows, as deserializing the saved model without it causes issue.

1) OpenSim/Examples/ExampleMain/OutputReference/TugOfWar_Complete.cpp   (line 289)
2) OpenSim/Examples/checkEnvironment/checkEnvironment.cpp  (line198)
3) OpenSim/Examples/CustomActuatorExample/toyLeg_example.cpp  (line 220)
4) OpenSim/Examples/MuscleExa

[2019-07-13 13:30] tkuchida commented on #2526
The lines of code you have referred to are calling `Model::print()`. If these lines don't work, it likely means that you are trying to save the file to a directory where you do not have write access.

[2019-07-13 13:33] vinaym815 commented on #2526
The printing works fine, but when I try to load the saved model in a different script and initialize it I face the  issue.

[2019-07-13 13:58] tkuchida commented on #2526
Ah, thanks for clarifying. Yes, it seems that it is necessary to call `Model::finalizeConnections()` before serializing, as in [this example](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Test/testForces.cpp#L627). A potential source of confusion is that `Model::initSystem()` calls the `finalize...()` methods under the hood, so an explicit call to `finalizeConnections(

[2019-07-13 15:26] jimmyDunne commented on #2526
Thanks, @vinaym815. Would you be willing to make the changes and submit a PR? We are always keen to get community contributions to improve the code 😉

[2019-07-13 20:33] aymanhab commented on #2526
I'd vote to have print call the method internally unless there's strong reason against it. This has the benefit of not exposing and requiring users to understand the rather complex internals of how models are wired which may undergo changes in the future.

[2019-07-13 20:58] tkuchida commented on #2526
@aymanhab Not sure that would be permitted/desirable since `Model::print()` is const, but I agree that it would be better if the user didn't need to worry about the internal details—at least in typical use cases.

[2019-07-14 15:58] aymanhab commented on #2526
@tkuchida from a  user perspective I find it troubling that I need to call finalizeConnections even though there's no explicit reference to any "connections" earlier, at least in some of these examples (e.g. checkEnvironment). Another reason an explicit staging would've been useful IMHO.

[2019-07-15 16:43] aymanhab commented on #2521
Thanks @aseth1 for the very informative answer. Would be great to hear what other developers/users answer the 5 questions above as well as your answers Ajay 😃
@jimmyDunne @chrisdembia @tkuchida @jenhicks @nickbianco

[2019-07-16 05:25] tkuchida commented on #2521
I don't think it should matter too much what activation or fiber length is reported by a disabled muscle since one should not expect these values to be meaningful anyway. Ideally, `NaN`s would be reported since numbers (even zeros) could be misinterpreted as being meaningful (by users, the GUI, etc.). IMHO, disabling a muscle should remove its states from the system (like removing the battery :bat

[2019-07-16 14:23] marnunez commented on #2506
Is this more likely to be a wrapper issue or a core issue?

[2019-07-16 16:54] jimmyDunne commented on #2506
Hi, Marcos-

Thanks for opening this issue, it is much appreciated. This problem is most likely in how the C++ libraries deal with different character types (core). Taking a cursory look into how to accommodate non-ASCII character types, we feel that the solution is non-trivial and, unfortunately, we don't have the bandwidth right now to address it. We will keep the issue open, and we have added i

[2019-07-16 18:06] #2395 closed

[2019-07-16 18:07] #2418 closed

[2019-07-16 18:09] jenhicks commented on #2487
@jimmyDunne Need to add to changelog (under bug fixes)

[2019-07-16 18:10] #2463 closed

[2019-07-16 18:18] jenhicks commented on #2256
@jimmyDunne will document and  create an open issue around visualization of reaction forces with NaNs.

[2019-07-16 19:23] jenhicks commented on #2499
Proposal: Make convenience constructors (readFile() ) protected, and instead have users create an instance of reader, set parameters, and then use generic read function.

reader = C3DFileAdapter()
reader.setCOPlocation(...)
tableMap = reader.read()
forces = reader.getTable(tableMap, "Forces")

Changes to interface should not have a huge effect on users as long as we update matlab utility scripts.

[2019-07-16 22:13] aseth1 commented on #2526
@aymanhab in these examples the model is being edited-- components added and properties changed. While there is no explicit reference to "connections" I don't see it as unreasonable to still interpret that the interconnections of the model are changing. After all, components are being added to the Model.

We could also move the `print()` to after the System is initialized in many cases  as in `che

[2019-07-16 22:27] aymanhab commented on #2526
@aseth1 there's already an open issue from 2 years ago by @tkuchida for this staging mechanism https://github.com/opensim-org/opensim-core/issues/1668

Similar to how we do explicit clone before we print in
https://github.com/opensim-org/opensim-core/blob/840bfac5d28a70a16335f441950bf669407031e2/OpenSim/Simulation/Test/testContactGeometry.cpp#L174

We can keep print const and internally clone and

[2019-07-16 23:26] aseth1 commented on #2526
@aymanhab #1668 is not a proposal, it is a request to introduce such a mechanism. What is your proposal for the mechanism? How would you introduce a  SimTK::Stage for model building and simulation in OpenSim? How would you leverage it to avoid the explicit calls to the current "staged" methods? How would this be different other than calling `Model::realize(Connections)`? If that is a more desirabl

[2019-07-17 03:52] aymanhab commented on #2526
Thanks for the feedback @aseth1, I'll copy your comments regarding stages to issue #1668 so we can continue the discussion there.

1. Regarding the name finalizeConnections, I find it meaning very little, if you're constructing components and adding them to a model. Something like "finalizeEditing" would be more sensible for users to follow but again it's outside the scope of this PR.  Best if aut

[2019-07-17 14:44] vinaym815 commented on #2526
After going through c++ examples, I was trying to edit gait2354 model, serialize it, deserialize it (another script) and run some simulations. However, I couldn't do so since none of the examples suggested the use of finalizeConnections before printing. When I tried to load the error-laden model in OpenSim Application, it gave me an error (Figure below) regarding finalizeConnections, and that's ho

[2019-07-17 17:12] aymanhab commented on #2526
Thanks @vinaym815 for explaining, I was just trying to understand if the list of examples/fixes is exhaustive.  Thank you.

[2019-07-17 21:23] vinaym815 commented on #2526
@aymanhab Sorry, it's not exhaustive. I just looked at some of the c++ examples.
Thank you

[2019-07-18 11:52] marnunez commented on #2506
Thanks for the response @jimmyDunne, I'm not fluent on C++, I was just checking whether this was a superficial problem or a deep rooted one. Strangely enough, OpenSIM 3.3 didn't use to have this issue. I'll try and work around this for the time being.

[2019-07-18 14:54] jimmyDunne opened #2528 ".getParentFrame() and .getChildFrame() shoulder return PhysicalOffsetFrame"
When trying to get the frames of a joint, so that we can change the translation and orientation, it seems weird to have .getParentFrame() and get_frames(index) return different things.

I would (did) assume that .getParentFrame() and .getChildFrame() would return the concrete PhysicalOffsetFrame and allow me to alter the translation and orientation. However, they returned the PhysicalFrame type, w

[2019-07-18 16:32] tkuchida commented on #2528
The API permits parent and child frames to be any PhysicalFrame (which includes Body). Originally, a PhysicalOffsetFrame (POF) was inserted only if the parent/child was not at a body's origin; otherwise, the Body would be used as the parent/child frame. PR #2312 changed the logic so that POFs are *always* created (which makes the process of adjusting the position of a joint's parent/child the same

[2019-07-18 16:48] aymanhab commented on #2528
Thanks @tkuchida, while the code to migrate old models now creates two offset frames regardless, it appears the API still has constructors that take PhysicalFrame(s) only, these will need to be updated/changed AFAICT. Maybe able to delegate the call to different constructor with 0 offset vectors.

[2019-07-18 17:41] aymanhab commented on #2526
@chrisdembia I understand the reason for the try/catch block around "Object::warnBeforePrint", however this allowed examples and test cases to produce bad files that are going to cause problems downstream. I removed the try/catch locally and a few more test cases failed.

What do you think about a 'strict' mode (where we run our examples/tests) without the try/catch block and lenient mode for user

[2019-07-18 17:45] aymanhab commented on #1668
Quoting @aseth1 in #2526

Staging is necessary in Simbody to manage a hidden cache in the State for an entire System. What is the analogous Cache that we need to keep up-to-date? It seems this would be properties themselves. Some properties (like Socket connections) can only be valid after other properties (list of subcomponents) are defined. There is another "staging" order that involves the orde

[2019-07-18 17:45] aymanhab commented on #1668
Quoting @aseth1 in #2526

Staging is necessary in Simbody to manage a hidden cache in the State for an entire System. What is the analogous Cache that we need to keep up-to-date? It seems this would be properties themselves. Some properties (like Socket connections) can only be valid after other properties (list of subcomponents) are defined. There is another "staging" order that involves the orde

[2019-07-18 18:11] chrisdembia commented on #2526
I’m fine with that.

[2019-07-19 17:08] aymanhab commented on #2526
I opened a PR to turn the warning to Exception so that we don't produce bad files in our examples and test cases. #2529

[2019-07-21 06:08] tkuchida commented on #2499
LGTM, just so long as there's only one read-related method in the public interface. :book:

[2019-07-22 13:26] jimmyDunne opened #2533 "Matlab tests don't seem to be working locally"
Matlab tests don't seem to be running locally out of the box.

[code]

There was some previous work on setting the Matlab home dir in #1829

[2019-07-22 18:05] jenhicks opened #2534 "CI builds are failing on latest linux"

[2019-07-22 18:24] aymanhab commented on #2499
Thanks for the feedback @tkuchida Some investigation shows the following items that should be good to discuss at some point:

1.  The factory feature of FileAdapter::readFile is used in STOFileAdapter_<>::readFile so that the return type of the table is dictated and so that the concrete type of Adapter is hidden.
2. Same issue for TimeSeriesTable constructor from file, and for Storage constructor

[2019-07-22 19:21] aymanhab commented on #2534
PR #2531 in progress to address.

[2019-07-24 21:05] chrisdembia commented on #2499
As I mentioned in the dev meeting, these two functions actually have two different uses. `read()` is for use by users, and `readFile()` is for use by tools. Users should not really ever need `readFile()` unless they do not want to assume the type of file they are reading.

I think the issue is mostly just one of naming. `readFile()` should be renamed to something like `readGeneric()` or `readAnyFi

[2019-07-25 22:19] aymanhab commented on #2499
Had a good discussion with @chrisdembia about the various use cases and will continue to update the code in the PR to eliminate calls to readFile altogether and will see how it looks. @chrisdembia pointed out that we can utilize the table constructor from file directly without creating a reader explicitly to avoid downcasting.

[2019-07-26 22:01] jimmyDunne commented on #2256
Documented [here](https://simtk-confluence.stanford.edu:8443/display/OpenSim/C3D+%28.c3d%29+Files) and [here](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Motion+%28.mot%29+Files#Motion(.mot)Files-Nansinyourforcefile)

[2019-07-28 11:13] mitkof6 commented on #2076
@aymanhab I have prepared a project that reproduces this behavior as part of a demo for TGCS. Currently, only Linux is supported because I have problems porting gmp library for Windows (not tested on Mac). I am working on a Windows version. You will have to build the C++ source code and run CalculateFeasibleMuscleForces first. Then to reproduce this behavior run the

`CalculateFeasibleJointReactio

[2019-07-29 21:27] aymanhab commented on #2499
PR #2535 is ready for review. Only C++ codebase was updated, Java and python bindings and test cases will be updated once changes to the interface are agreed upon. As of now:
- All readFile methods have been removed (commented out).
- For Adapters returning one table of specific type, the explicit reference to Adapter was removed and the constructor of TimeSeriesTable from file is used instead whi

[2019-08-08 18:24] jenhicks commented on #2499
@aseth1 @chrisdembia @tkuchida Can we get a volunteer to review within the next week?

@jimmyDunne Will test on Matlab side now that the bindings have also been updated.

[2019-08-08 18:31] #2487 closed

[2019-08-08 21:59] aymanhab commented on #1829
@jimmyDunne Can you explain where are these tests located? Thank you

[2019-08-08 22:11] jenhicks commented on #2256
I made some tweaks. I think this is OK to close.

[2019-08-09 16:03] apoorvar opened #2536 "validateRow function - when importing storage files, how to handle "duplicate" times?"
When working with time series tables, the validateRow function checks that the time steps associated with the table are in strictly increasing order (which is a generally good check). An issue arises when trying to use OpenSim's file adapter tools to read in files that have duplicate times (e.g., see attached RRA results file from Ben Wheatley; last two timestamps are 1.599 seconds).

As far as th

[2019-08-09 18:55] jimmyDunne commented on #1829
/Bindings/Java/Matlab/tests

[2019-08-12 13:11] #2256 closed

[2019-08-12 19:51] aymanhab commented on #2533
The magic line that makes the tests run follows

One test case fails for C3D but I think this is specific to this test since other tests open files/models without an issue. Same happens when you run "Matlab - run tests" target in MSVC. Please confirm eitherway @jimmyDunne

[2019-08-12 21:55] jenhicks commented on #2499
@carmichaelong Are you available to review? Thanks!

[2019-08-12 22:03] jenhicks commented on #2533
Try to create a shortcut on Mac.

[2019-08-12 22:04] jimmyDunne opened #2537 "4.1 Release Tasks"
- [x] Double check that all Matlab Tests Pass locally
- [x] Document Python 3 update on Confluence. Use vanilla Python as the default version for instructions. Add note about building from source for 2.7
- [x] Update splash screen
- [x] Update GUI doc landing page
- [x] Write what's new section on confluence
- [x] Other confluence/user guide updates
- [x] Post new doxygen
- [x] Add new html files

[2019-08-12 22:21] carmichaelong commented on #2499
Yes I can review the PR.

[2019-08-13 16:44] jimmyDunne commented on #2533
This seems to work fine now (MacOS, Terminal, Make). I am not having issue. Thanks @aymanhab

[2019-08-13 16:44] #2533 closed

[2019-08-13 16:49] jimmyDunne commented on #2499
Below are the three most common uses of the updated interface from this PR in Matlab. Everything looks good and (local) testing of writing with the Adapters is great.
[code]

[2019-08-14 21:20] jenhicks commented on #2526
Need to update the changelog.

[2019-08-15 19:18] chrisdembia opened #2538 "Distribute SWIG interface files"
For Moco, it'd be great if opensim-core's installation included SWIG interface files and any other SWIG inputs (`OpenSimHeaders_*.h`).

[2019-08-17 16:28] chrisdembia commented on #36
There's a nice new logging library `spdlog` that is either header-only or just 2 files:

https://github.com/gabime/spdlog

[2019-08-17 19:34] sherm1 commented on #36
We've been happy users of spdlog in Drake for a long time.

[2019-08-17 21:37] chrisdembia commented on #36
Oh that's useful to know! Do you use the `spdlog` namespace as-is or do you modify it somehow to fit better within Drake? Do you copy the source code or bring it in as a third-party dependency?

[2019-08-18 00:02] sherm1 commented on #36
Drake has dozens of external dependencies and almost never incorporates the code locally. Instead we use Bazel to pull the code from its repo and build it locally, specifying a particular SHA and then upgrading those frequently to stay current. Here is the Drake directory containing the instructions for fetching the external: https://github.com/RobotLocomotion/drake/tree/master/tools/workspace/spd

[2019-08-19 04:31] aymanhab commented on #36
Thanks @sherm1 for chiming in, definitely looks very promising.

[2019-08-19 20:48] aymanhab commented on #2534
While not supporting latest linux (requires upgrade to btk and simbody) PR #2531 upgrades clang to version 5 (from 3.5) making it less urgent to migrate to latest Linux and clang.

[2019-08-19 20:49] aymanhab commented on #2534
This can be moved out of the sprint backlog once PR has been merged.

[2019-08-24 16:21] yurivict opened #2543 "Python's distutils fails to build bython bindings"
https://github.com/opensim-org/opensim-core/blob/master/Bindings/Python/setup.py

```setup.py``` is supposed to be able to build the bindings by itself, but it fails:
[code]

The point of ```setup.py``` is usually that it is able to build the python module just having the dependency software installed, regardless of anything else.

[2019-08-24 16:47] yurivict commented on #2379
4 tests still fail.

@aymanhab Do you happen to know who can help to fix test failures?

[2019-08-24 17:07] aymanhab commented on #2379
What code base are you using @yurivict ? We run ci on linux and all latest tests pass on master, we need to find out the reasons for failure (tolerance, seg-fault etc.) fix would be different based on cause.

[2019-08-24 17:11] aymanhab commented on #2379
Log from first report shows not being able to estimate memory usage on your system, this is not a bug, though we could handle it more gracefully if detected. Please retry with latest code base.

[2019-08-24 17:11] yurivict commented on #2379
I use the current master a2574fcda.
I build it on FreeBSD 12 in the port directory.

[2019-08-24 17:16] yurivict commented on #2379
I am running the latest code base.

[2019-08-24 17:25] yurivict opened #2544 "Please allow to build the python and Java bindings separately from the C++ library"
Multiple python versions can be installed at the same time, while C++ librrary is just one package.

In order to allow multiple versions of python to use OpenSim there should be a way to build/install the Python binding separately.

For example, you can add the ```OPENSIM_PYTHON_ONLY``` cmake variable that would build the python module using the pre-installed OpenSim package.

[2019-08-24 20:51] yurivict opened #2545 "Python bindings shold not install setup.py"
```setup.py``` is only needed to build a python package and doesn't need to be installed.

[2019-08-24 21:14] yurivict commented on #2544
Same for the Java binding. I have to enable the Java binding for all users in the FreeBSD port, but people who don't need the Java binding should be able to install the C++ library without having Java.

[2019-08-28 03:16] chrisdembia opened #2550 "Fix doxygen warnings about PERL_PATH, etc."
Newer versions of doxygen produce the following warnings:

[code]

[2019-09-04 13:40] Marlies93 opened #2553 "Bug in loading of Thelen Muscle Parameters"
We encountered a problem, when loading two different osim-models in the same Matlab session.

**Models:**
- Model 1: Has explicitly defined values for the Thelen muscle parameters "KshapeActive" and "Flen". It is based on Hamner's running model.
- Model 2: Does not have a definition of the Thelen muscle parameters "KshapeActive" and "Flen" in the osim-file. It is the gait14dof22musc_20170320.osim

[2019-09-04 15:18] jimmyDunne commented on #2553
Hi, Marlies-

Thanks for opening an issue!

I am having trouble reproducing your observed behavior. I have attached a zip that contains two models as you have described— one custom model with altered KShapeActive and Flen properties for the rect_fem_r muscle, and one default model that has KShapeActive and Flen properties commented out for the rect_fem_r_muscle. Below is the included script to per

[2019-09-04 16:47] aymanhab commented on #2553
I think the key is to provide the model files since users can change the default settings for all future instances of a specific type in the osim file itself.

[2019-09-04 18:36] jenhicks opened #2554 "Update any additional places where we use readFile"
Search for stoFileAdapter().readFile() or trcFileAdapter().readFile()

[2019-09-04 18:41] chrisdembia commented on #2538
I already created this issue :)

[2019-09-04 20:12] jenhicks opened #2555 "Review and update OpenSense documentation"
Update to address new set-up (since it is part of GUI distribution).
Address feedback from alpha testing.

[2019-09-05 07:14] Marlies93 commented on #2553
@jimmyDunne, you are right. The problem does not occur for your example.

@aymanhab, yes, that's the key. In our model 1 based on Hamner's model we define a default Thelen muscle in the osim file. However, in my opinion this default parameters should be only valid within this model. Hence, they should not be valid anymore if I load a new osim file. Otherwise, the specific model is never fully defi

[2019-09-05 15:24] jimmyDunne opened #2557 "Update API Guide for reading and writing data"
https://simtk.org/api_docs/opensim/api_docs/md_doc_APIGuide.html

See section on "Data Handling Classes"

[2019-09-05 15:47] jimmyDunne commented on #2554
I haven't been able to find any uses of STOFileAdapter().read(*) or TRCFileADapter().read(*) in any Python or Matlab production code. I also checked the GUI repo in case of use in the GUI scripts (we don't). Seems like we tend to still use Storage() when reading in motion files.

We should update the API documentation API Guide for reading and writing data (https://github.com/opensim-org/opensim-c

[2019-09-05 16:19] jenhicks commented on #2554
Are you OK with closing this then?

[2019-09-05 17:16] #2554 closed

[2019-09-05 23:48] chrisdembia opened #2559 "Moving opensim-moco into opensim-core"
The opensim-moco contains a lot of code that belongs better in opensim-core. Here's a list:

- [x] ModelProcessor #2712
- [x] TableProcessor #2713
- [x] analyze() #2718
- [x] visualize() #2717
- [x] DeGrooteFregly2016Muscle #2714
- [x] ModelFactory #2715
- [x] Stopwatch
- [x] Catch2 testing framework #2716
- [x] format()
- [x] SmoothSphereHalfspaceForce
- [x] ActivationCoordinateActuator
- [x] req

[2019-09-09 19:49] jenhicks opened #2560 "Add APDM example data for OpenSense"

[2019-09-10 05:32] aymanhab commented on #2553
@Marlies93 I agree with your assessment that this is a bug, leaking muscle parameters between models. It doesn't  affect most users because the models we distribute do not typically have default objects, there would also be no problem if all models had default objects, it's only when you mix/match models with and without default objects. Will keep this open so it doesn't fall through the cracks, i

[2019-09-10 07:01] Marlies93 commented on #2553
Thanks for your help!

[2019-09-10 16:49] aymanhab commented on #2553
@apoorvar I saw a default muscle in your model distribution, would it be possible to push the changes to individual muscles to remove the default? Other places @jimmyDunne where defaults could be leaking? Thank you.

[2019-09-10 16:59] jimmyDunne commented on #2553
Some of the [tool setup files have defaults](https://github.com/opensim-org/opensim-models/blob/554c54ef2805fd5ae25b5f9a6ef315754a6a6155/Tutorials/Estimating_Joint_Reaction_Loads/gait2392_SO_weak_Residual_Actuators.xml). My guess would be this wouldn't be an issue in CMC ( since CMC doesn't generate a new model), but perhaps there is some case where a tool could generate a new model using these de

[2019-09-10 17:57] apoorvar commented on #2553
Should be possible. I'd have to check, but I think the default muscle just
had the default muscle-model values for any given parameter, so we possibly
could just remove the default muscle all together with no effect to the
model.

On Tue, Sep 10, 2019 at 9:59 AM jimmyDunne <notifications@github.com> wrote:

[2019-09-10 18:44] aymanhab commented on #2553
Typically these Actuators are fully specified in the Actuators file, it's model components that can lead to this issue. We should discuss solutions and tradeoffs of convenience vs. error-prone:
- Disable defaults completely
- Make defaults have proper scope (file).
Would be good to hear from @chrisdembia if this is relevant to his work.

[2019-09-16 03:24] bmmi opened #2563 "NaNs in state values when read .sto file for models with locked coordinates in python"
There are NaNs in state values when read sto file for models with locked coordinates with python API,
Here is a test to reproduce the error.
[code]

[2019-09-16 13:08] marnunez opened #2564 "ik_marker_errors.sto and ik_model_marker_locations.sto are hardcoded filenames in IKTool"
This is quite troublesome for batch processing with python/MATLAB, where one has mutiple .trc files for a single model file and many IKtools running in paralell,  where the last one to finish overwrites the ik_marker_errors.sto and ik_model_marker_locations.sto files.

[2019-09-16 13:26] jimmyDunne commented on #2564
I don't know if that is a viable solution. If you are at the point where you need to run IK in parallel, IMHO, you should be using the IK solver directly.

There is a rough example of using the solver [here](https://github.com/jimmyDunne/opensim-matlab/blob/71b425d024d9015054f46c6b8d1f2a9beeaa559e/solvers/solverIK.m)

[2019-09-16 13:53] marnunez commented on #2564
Oh no, I wasn't describing a solution, I was describing the situation. "ik_marker_errors" and "ik_model_marker_locations" are hardcoded filenames in the IKTool. Overwriting the errors file is not an intended outcome.
Perhaps a <report_errors_filename> and a <report_marker_locations_filename> tag could do the trick.

[2019-09-16 14:01] jimmyDunne commented on #2564
Yep, I know they are hardcoded. My point is that the IKTool shouldn't be used by people who are doing computations in parallel. All the tools were specifically designed to be used by the GUI and command line and have been retrofitted to _kind-of-work_ through scripting. You shouldn't be relying on them as you are. Use the IKSolver so you can get fine grain control on what you want to do and the ou

[2019-09-16 14:05] marnunez commented on #2564
Thanks @jimmyDunne , I'll look into it, it's time for a rewrite.

[2019-09-16 14:25] jimmyDunne commented on #2564
Thanks for posting an issue! We will keep it open so (hopefully) we can update the tool someday ;)

[2019-09-16 20:34] jimmyDunne opened #2565 "Improving OpenSim for parallel processing"
It seems like the use of OpenSim in parallel processing is becoming more common. There are things that we could improve on the OpenSim side to make it easier for people to use, for example, the Matlab parallel processing toolbox.

There are some examples of user issues [here](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=10895&p=30220&start=0&view=), [here](https://simtk.org/plugins/ph

[2019-09-17 18:25] rampagedog12 opened #2566 "OpenSim 4.0 API Python 3"
OS: Windows 10

My OpenSim is installed via binary file.
I get the error when using Opensim API in the python 3 environment.

[code]

There is no error when I switch to python 2.

I check the document, for python 3, I should build from source??
I get other errors building from source, when BUILD_PYTHON_WRAPPING and BUILD_JAVA_WRAPPING are checked.
[code]
I conda install swig, but it doesn't work.

[2019-09-17 19:06] aymanhab commented on #2566
Not sure what's your platform but latest build of master branch is now against Python 3.7, you may try that by following the links on github for Windows, can point you to the Mac osx build. We typically build and test against standard python from python.org not other pythons from vendors (Anaconda, Canopy ...) Since each one is built on top of low level system libraries/runtime there could be inco

[2019-09-17 19:13] rampagedog12 commented on #2566
@aymanhab Sorry, I forgot to mention the system. It is Win 10. I didn't install Chocolatey, because I thought it may mess up.... Now I am installing Chocolatey and keep trying..

[2019-09-17 19:28] aymanhab commented on #2566
Try OpenSim 4.1 Beta from here [https://ci.appveyor.com/project/opensim-org/opensim-core/builds/27371266/job/bi3g1cdnt5yycgpm/artifacts] it comes with Python 3 wrapping provided and a few extra bug fixes, the build script uses python 3.7

[2019-09-17 19:44] rampagedog12 commented on #2566
I got error when building 4.0.
[code]
I will try 4.1 later

[2019-09-17 20:53] rampagedog12 commented on #2566
@aymanhab OK I made it.. I think the error may be caused by expiration of my MatLab.

[2019-09-17 20:54] #2566 closed

[2019-09-20 15:52] aymanhab opened #2567 "APDM format7 fails parsing"
Reported by user testing of OpenSense with files exported from latest APDM software

[2019-09-20 17:10] modenaxe opened #2569 "Visualizer does not display correctly first point of a muscle GeometryPath when using MovingPathPoint"
Hello, the visualiser does not seem to display correctly the first point of a muscle GeometryPath when the first point is defined using a MovingPathPoint (see image below). You can find here ([a model and motion file](https://github.com/opensim-org/opensim-core/files/3636998/bug_visualizer.zip)) to replicate the issue. If you load the osim file and the Walk.mot file, you will see a Thelen muscle m

[2019-09-20 18:17] jenhicks commented on #2557
@aymanhab can you take a first pass

[2019-09-20 19:03] aymanhab commented on #2557
Sure, where is it on confluence? can you post a link? Thanks

[2019-09-20 19:08] jimmyDunne commented on #2557
https://github.com/opensim-org/opensim-core/blob/master/doc/APIGuide.md

[2019-09-20 20:03] aymanhab commented on #2569
@modenaxe Thanks for reporting, but the moving pathpoint is expressed in ground frame is that the expected behavior? It sure will not move with the model regardless of the motion, am I missing something here?

[2019-09-23 10:09] modenaxe commented on #2569
@aymanhab the locations of all points in the muscle are expressed in ground frame as a (non-constant) function of the coordinate pelvis_tx of the motion trial. The expected behaviour should be a "normal" geometry path connecting pelvis and femur through many via points, as in figure below. We use this approach for visualizing muscles paths that we derive from another tool, and it worked in OpenSim

[2019-09-23 16:51] tkuchida opened #2571 "Installation instructions should provide a recommendation for where to install OpenSim"
AFAIK we recommend that users install OpenSim to a folder for which their user account always has write access (i.e., a non-system directory). Perhaps we should alert users of this in the installation instructions since most people naturally install software to a system directory.

[2019-09-23 17:03] tkuchida commented on #2571
https://simtk-confluence.stanford.edu/display/OpenSim/Installing+OpenSim

[2019-09-23 19:50] jenhicks commented on #2571
@aymanhab What are the recommendations? I'm happy to add a note in the confluence doc.

[2019-09-23 20:21] aymanhab commented on #2571
@jenhicks On Windows, if you ask the installer to install into "C:/Program Files/OpenSim 4.0' for example, the installation will abort due to Error opening file for writing. The default given by the installer is C:\OpenSim 4.0 which is not a system folder. Yes, we should tell users to choose a folder that they can write to. Not sure the behavior on osx since I don't have my Mac with me today.

[2019-09-23 20:28] jenhicks commented on #2571
I added the following to the confluence page Tom linked to. Feel free to edit or add additional details.

[2019-09-23 20:37] aymanhab commented on #2571
Looks great, it would be good to check the osx limitations as well which I can try on my Mac later (worst case is if it allows the installation to go through but fails to open/operate properly afterwards).

[2019-09-25 04:53] aymanhab opened #2573 "Visualizer custom settings"
The following changes to default visualization lead to better visuals per @tkuchida

1. Skeletons look different because I changed the camera's field of view,
2. the color and intensity of the sunlight,
3. the intensity of the ambient and camera lights,
4. added a blue light under the model,
5. changed the color of the bones, and
6. hacked in texture mapping by computing fake texture coordinates.

[2019-09-25 16:53] jimmyDunne opened #2574 "Add remove() methods for Model components"
The model has to remove methods for Analysis, Probes, and Controllers. It would be useful to have similar methods for Forces, Bodies, and Joints.

This would be particularly useful in the AddCustomFeet.m Dynamic Walking script.

[2019-09-25 20:18] aymanhab commented on #2573
@jenhicks Please let me know if/what part you think we should include in 4.1

[2019-09-25 23:58] aymanhab commented on #2573
@tkuchida I added annotation to indicate difficulty, impact. You're in a better position to judge difficulty/impact since you've been on both sides @tkuchida so please feel free to chime in.

[2019-09-26 08:17] mitkof6 opened #2575 "C3DFileAdapter exports only markers and external forces"
c3d files contain a rich set of information, such as emg from analog sources. Currently, the C3DFileAdapter provides access only to the marker and external force measurements. As more and more people will start using this functionality, I recommend that at least we provide access either to the underlying btk object or export all the information into OpenSim's table objects.

[2019-09-26 10:48] tkuchida commented on #2573
Thanks @aymanhab. A few questions:
(a) How do you plan to implement these? Knobs on the "View Controls" panel?
(b) Some of these would be easy to do but difficult to do well. For example, IIRC changing the camera's field of view requires a GUI restart, I think because the clipping planes aren't recomputed. Automatically updating clipping planes would take some code to do right (e.g., to avoid cutt

[2019-09-26 14:49] clnsmith commented on #2565
All of my high throughput computing is done through the command line (linux) and I have not run into issues yet doing this with OpenSim.

The big thing I learned from our SIMM C code that I used at UW Madison was that memory leaks and memory errors possible in C/C++ can cause new issues in parallel computing. An example, is a for loop that writes to an index one larger than the actual size of an a

[2019-09-26 15:03] clnsmith commented on #2565
https://github.com/opensim-org/opensim-core/issues/2564

I have always found the GUI tools to be very clumsy for batch processing in MATLAB. The IK solver comment ^ makes sense. Having a version of the tools that were easy to initialize in MATLAB and alter the properties would definitely help for parallelization.

The output files are another issue for massive parallelization. 10,000+ .mot files i

[2019-09-26 15:48] jenhicks commented on #2573
Thanks @aymanhab and @tkuchida . As far as what we might include in 4.1, I think the scope would be anything that involves changing a default setting/parameter that would lead to visuals that are better for most users.

For changes that are more difficult or would require tweaking on a user-by-user basis,  I think this would be longer term so that we could develop a nice interface for setting and

[2019-09-26 21:23] aymanhab commented on #2499
Any reason this is not closed yet? @jenhicks @jimmyDunne

[2019-09-26 21:31] aymanhab commented on #2217
The issue reappeared on AppVeyor, the timing test fails in one configuration and not the other! Obviously we can't control how ci servers prioritize jobs. I'm hesitant to double the time in general but maybe we can double it on appveyor machines only since these seem to be much slower. Other thoughts @chrisdembia @tkuchida ?

[2019-09-26 23:21] tkuchida commented on #2217
@aymanhab The conversation continues in #2218 and #2221. I have the same suggestion now as on Jul 18, 2018: "Perhaps the wall clock speed test should be skipped on CI?"

[2019-09-27 14:44] jimmyDunne commented on #2499
No reason. All the instances of readFile have been addressed in Python and Matlab code.

[2019-09-27 14:44] #2499 closed

[2019-09-27 16:54] aymanhab commented on #2217
Since we don't have this granularity, the options are to skip test altogether on CI (I prefer not to do it since it's the only test that uses the BTK library), or just comment out the timing section which will be removed on all platforms. I'm leaning to the latter since measuring timing on ci is rather fragile anyway.
@chrisdembia would love to hear your thoughts as well.

[2019-09-27 17:00] tkuchida commented on #2217
Could also move just this timing test into a separate test file that is skipped on CI but run locally 🐫

[2019-09-27 17:28] aymanhab commented on #2217
I thought about that too @tkuchida but didn't like the code duplication 🦆 🦆

[2019-09-27 17:30] aymanhab commented on #2567
Need to verify with user datafile before closing.

[2019-09-27 17:44] chrisdembia commented on #2217
I think we simply introduce an environment variable into the test to control whether or not the timing is run.

[2019-09-27 19:55] chrisdembia opened #2579 "Try using the latest version of CasADi rather than our own fork."

[2019-09-27 23:05] dheerajakula opened #2581 "Test #94: python_tests failed while building"
os = windows10
cmake version = 3.11.0
ms-vs = visual studio 15 2017
python version = Python 2.7.16 32 bit
swig version = swigwin-4.0.1
BUILD_PLATFORM = Windows:x86

Followed the readme on **Building from the source code** **On Windows using Visual Studio**. Succesfully built dependencies using **Superbuild**. Opened _C:/opensim-core-build/OpenSim.sln_ succesfully built **ALL_BUILD**.  Build **RUN_

[2019-09-28 00:54] aymanhab commented on #2581
The swig version you're using is more recent which can introduce unknowns.

Good trying to test 32 bit environment, however we stopped supporting 32 bit a while ago. Can you build x64 instead so we can reproduce. Thanks

[2019-09-28 03:33] dheerajakula commented on #2581
Even if the tests got failed, I was able to build **INSTALL** and run the example code on **readme.md** in python. I think I may get problems down the line when using  model.getMuscleList() or model.getBodyList(). Anyways I will try to compile in 64-bit to be sure and update here.

[2019-09-28 13:02] dheerajakula commented on #2581
Got the same exact error with 64 bit version too. Using the same swig version.

1>======================================================================
1>CUSTOMBUILD : error : test_component_filter (test_access_subcomponents.TestAccessSubcomponents)
1>----------------------------------------------------------------------
1>Traceback (most recent call last):
1>  File "F:\Github_Workspace\opensim-c

[2019-09-30 17:12] #2569 closed

[2019-09-30 17:12] aymanhab commented on #2569
Issue moved to [opensim-org/opensim-gui #1141](https://github.com/opensim-org/opensim-gui/issues/1141) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-30 17:52] #2557 closed

[2019-10-01 18:52] aymanhab opened #2583 "DecorativeGeometry scale factors could be negative"
This came up during review of PR #2576 we should investigate if/when it makes sense to handle the special meaning assigned to these -ve scale factors, likely relevant when non 3D objects (e.g. annotations and text) are included in the scene.

[2019-10-02 23:01] chrisdembia commented on #2579
Sorry, this was for Moco.

[2019-10-02 23:01] #2579 closed

[2019-10-02 23:03] chrisdembia opened #2584 "Give names to SimTK::Constraints."
Right now, Moco writes the values of Lagrange multipliers to Storage files. The names used for these multipliers multiplier variables are sensitive to the order in which constraints appear in a model. This is because we loop through constraints at the Simbody level, not the OpenSim level.

Unfortunately, there is no current way to go from a SimTK::Constraint back to the OpenSim component that adde

[2019-10-03 11:46] mitkof6 opened #2585 "Expose maxIteration to the user when performing computeInitialFiberEquilibrium"
I was performing MuscleAnalysis on the gait2392/54 models (with the kinematics that come with v3.3) to calculate the fiber length and velocity of the muscles. It is important to equilibrate the state of the muscles before the analysis. However, when inspecting the length and velocities of some muscles (e.g., vas_int or soleus) there appear to be spikes and discontinuities. The tool correctly warne

[2019-10-03 11:47] mitkof6 commented on #2585
I also tested this with different muscle models (Millard, Thelen) and on OpenSim 3.3/4.0.

[2019-10-03 15:39] jimmyDunne opened #2586 "setShowShadow() is broken through Matlab API"
From forum post [here](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=11018&p=30558&start=0&view=)

In Matlab, when trying to use setShowShadow() method on visualizer, exception is returned.

[code]

[2019-10-04 16:00] aymanhab opened #2587 "Force hasGeometryPath method usage"
API for Force has a method to check if the Force has a GeometryPath property however it provides no generic way to access this GeometryPath if it actually exists. For GUI usage to associate the Force with the visualization of the GeometryPath we end up using getPropertyByName() which is not very robust.

[2019-10-07 22:28] jimmyDunne opened #2589 "SimTK::Array_<OpenSim::CoordinateReference> not wrapped for Matlab"
According to the [wiki](https://simtk-confluence.stanford.edu/pages/viewpage.action?pageId=34242607), `SimTK::Array_<OpenSim::CoordinateReference>` should be wrapped as `ArrayCoordinateReference` for Matlab. This doesn't seem to be the case, currently.

[2019-10-07 22:30] jimmyDunne commented on #2589
Seems to be available as `SimTKArrayCoordinateReference'. Is that intentional (and I should change the wiki documentation) or is the template name incorrect?

[2019-10-07 22:41] aymanhab commented on #2589
Since no namespace qualifier is specified, and since OpenSim::Array and simtk Array have different interfaces, I'd lean to change documentation rather than the code.

[2019-10-07 22:47] #2589 closed

[2019-10-08 16:55] aymanhab commented on #2587
The fact that the method hasGeometryPath is virtual makes it possible to misuse by clients to return true without having a GeometryPath property. Could be better to declare the method "final".

[2019-10-08 19:35] aseth1 commented on #2587
IMHO 'hasGeomtryPath()' should not be part of the API. Any Component can contain any other Component type including GeometryPath. Also there should be no requirement for Force to know what a GeometryPath is. The fact that we have to add this method to Force reflects a higher level issue. Perhaps we should revisit our visualizing logic.

[2019-10-14 15:24] marnunez opened #2593 "Opensim & Simbody online api reference docs are down"
Just to let you all know. Guess I'll be dusting off some docs from previous builds.

[2019-10-14 15:37] jenhicks commented on #2593
Thanks for the heads up ... we will look into what is causing the issue.

[2019-10-14 17:00] jenhicks commented on #2593
The doxygen is up again. Can you confirm you are able to access as well?

[2019-10-14 17:11] marnunez commented on #2593
Confirmed, thanks!

[2019-10-14 17:15] jenhicks commented on #2593
Thanks again for reporting ... closing the issue.

[2019-10-14 17:15] #2593 closed

[2019-10-15 18:07] aymanhab opened #2597 "github Action to build on ubuntu is failing"

[2019-10-16 00:35] carmichaelong opened #2598 "Bindings can be built without OPENSIM_COPY_DEPENDENCIES on"
The "import opensim" step will fail in Python if the OpenSim build had OPENSIM_COPY_DEPENDENCIES off because it can't find Simbody. We should probably force this to be on if the bindings are checked to be built.

@aymanhab also suggested that we could move OPENSIM_COPY_DEPENDENCIES to an Advanced option to make it easier for users looking to do a standard build.

[2019-10-16 20:10] pariterre commented on #2309
@jimmyDunne and @chrisdembia
I've just notice (by chance) that C3D standard has officially evolved towards being able to read larger files with potentially larger number of points and analog data.

I therefore come back to you since BTK won't follow these modifications of the standard resulting in future c3d files not being properly read. Currently ezc3d is not reading these new features either (t

[2019-10-16 20:17] chrisdembia commented on #2309
@pariterre would you be willing to help with integrating ezc3d into OpenSim? This could take some effort.

[2019-10-17 16:14] jimmyDunne opened #2599 "Use Matlab Examples to use the refactored OpenSense utilities"
Related to #2595

[2019-10-18 14:24] pariterre commented on #2309
@chrisdembia

In the short term I have quite a few work to do, so it will be impossible for me to find the time for this.
However, I would definitely be willing to help implementing during the next months, or even leading the implementation. If so, I think it would probably be a good idea that I join you guys for a short while, so I could focus on the implementation and have the resources nearby.

[2019-10-19 00:22] chrisdembia opened #2601 "Fix docopt issues for VS2019."
First noticed in #2596

[2019-10-19 09:32] Justinemmerich opened #2602 "Need Help with C3DFileAdapter - c3dExport.m Matlab"
Hey Guys,

I know this is not the right place to ask for help, but I did not found anyone else having the same problem. I am trying to convert a c3d-file with the provided c3dExport.m into trc or other kinematic file. The c3dExport.m file has to be placed in Bindings/Java/Matlab/Utilities to access osimC3D.m.
Inside the osimC3D.m, C3DFileAdapter is used but could not be found.

**mathlab output:**

[2019-10-19 13:03] tkuchida commented on #2602
Please see the documentation for the C3DFileAdapter class here: https://simtk.org/api_docs/opensim/api_docs/classOpenSim_1_1C3DFileAdapter.html. There is an example of how to use it in Matlab under the heading "MATLAB example".

[2019-10-19 14:17] Justinemmerich commented on #2602
Hey Thanks for your quick response.
I managed it now to do not get `Unrecognized function or variable 'C3DFileAdapter'.` Error by using the `configureOpenSim.m.` Silly me!

Now I recognized that C3DFileAdapter() methods wants to export kinematics and forces. Kinematic in trc and forces in mot file. Is it possible to export trc file only, because the method tries to access the forces provided in th

[2019-10-21 17:34] jimmyDunne commented on #2602
This is a [known issue](https://github.com/opensim-org/opensim-core/issues/2421) and [has been  fixed](https://github.com/opensim-org/opensim-core/pull/2495). It will ship with the upcoming release or you could build locally using the current Master Branch.

[2019-10-21 17:34] #2602 closed

[2019-10-21 17:55] aymanhab commented on #2602
Build is available here if you want to try it out
https://ci.appveyor.com/project/opensim-org/opensim-gui/builds/28187530/artifacts

Thank you

[2019-10-22 23:18] marnunez commented on #2602
Good God, are those kept? Really, really nice. Newbie request here, but could artifacts be kept in every current build, so as to have https://ci.appveyor.com/project/opensim-org/opensim-gui/build/artifacts as a permanent link to the latest successful opensim-gui build?

[2019-10-23 15:11] aymanhab commented on #2602
Good idea @marnunez 👍  At the moment every build has a unique ID/URL but it could be possible to copy/upload it to a fixed place at the end of the build script. Will look into it when I have a chance.

[2019-10-25 20:25] chrisdembia opened #2605 "Python example tests are failing because of the cma dependency"
I'm looking into this.

For future information, Python examples are tested, so we should not use `[ci skip]` (https://github.com/opensim-org/opensim-core/pull/2604).

This is in contrast to Matlab examples, which are not tested. Not until they make Matlab free 🤞 .

[2019-10-25 20:25] chrisdembia commented on #2605
I hope to submit a fix today.

[2019-10-25 20:44] tkuchida commented on #2605
Sorry, I didn't remember examples are tested. We could just ignore the optimization example (albeit at the risk of decay).

[2019-10-25 23:01] chrisdembia commented on #2605
No problem. I’ll try that but it’s turning out to be not as straightforward as I hoped.

[2019-10-25 23:20] tkuchida commented on #2605
Perhaps:
[code]

[2019-10-25 23:51] chrisdembia commented on #2605
That's a good strategy in general, but then if someone does have cma, the test will run. And a 3-minute test is a bit long.

[2019-10-29 00:13] tpauli commented on #2417
Are there any news on the topic? I am currently running into the very same issue, and had to create a work-around by printing to XML, changing it as XML and print to file again, then reload using the InverseKinemtaicsTool.

[2019-10-30 17:07] marnunez commented on #2256
Sorry for reviving this issue, but I'm currently facing this COP + free moment conundrum.

Newer BTS gaitlabs have the ability to merge the resultant vectors of two or more adjacent force platforms as if they were one, and the output is expressed on global coordinates, COP, forces and torque. If I'm not mistaken, there's no easy way to export this into a c3D apart from faking a custom size type-1

[2019-11-01 17:51] aymanhab commented on #2417
@chrisdembia Two questions.

1. Is it intentional that PropertyHelper is not available in Python? How are templatized methods/properties handled?
2. We could handle this more surgically, would you prefer that option?

@tpauli I see there's a setModel method on the tool, is there a reason you need to go through the xml file rather than create the model and call setModel on the tool using a script?

[2019-11-01 19:51] chrisdembia commented on #2417
Not intentional. Templates are handled the same as with Java, I think.

Do we really want to support PropertyHelper in Python? My preference is to add `setModelFileName()`. Some people may want to use the API to simply edit the XML.

[2019-11-02 06:02] tpauli commented on #2417
@aymanhab It's interesting, I have tried to used that method before posting to this issue, but when trying to run the tool, it was complaining that the model `Unassigned` (as read from the XML) wasn't loaded. But I cannot reproduce this error any longer. The tool runs when called from a script and the model was set using the aforementioned method. However the model file path is still not printed t

[2019-11-04 14:35] GeorgiosGiarmatzis commented on #2445
Hi Gattia!
I am also trying to load a plugin in python and although I did everything I read, still I get the error that there is no such attribute to the module opensim. I call the function as opensim.LoadOpenSimLibrary().
Do you have any idea what's wrong?

[2019-11-04 18:18] #2605 closed

[2019-11-04 18:29] aymanhab opened #2609 "Log RRA mass adjustments to a separate file"
User request:
For RRA, I was wondering if the table of output text with the suggested mass changes to the model, i.e. beginning with "Summary of Mass Adjustments to Reduce Residuals" and ending with "Note: edit the model to make...", could be written to a separate text file in a similar way to the average residuals. This would allow quick update of the model segment mass properties using the API -

[2019-11-04 18:30] aymanhab commented on #2609
@chrisdembia I believe this could be achieved with the new logging mechanism?

[2019-11-04 18:44] chrisdembia commented on #2609
I think the ideal scenario here is to print a model with the modified mass properties.

[2019-11-04 19:26] jimmyDunne commented on #2609
Agree with @chrisdembia, it would be great to have an option to just print model directly to file. Otherwise, users will have to manage their own Scripts to read the log and transform the model.

[2019-11-07 20:18] jenhicks commented on #2423
@nickbianco Is this still an issue?

[2019-11-07 20:21] #1941 closed

[2019-11-07 20:31] jenhicks commented on #2571
@aymanhab were you able to try this out on your Mac?

[2019-11-07 20:36] nickbianco commented on #2423
I believe so, although I haven't tested recently. Have there been changes in core to address this?

[2019-11-07 20:38] aymanhab commented on #2571
@jenhicks The defaults offered are perfectly fine on osx I never needed to change it.

[2019-11-07 20:42] #2571 closed

[2019-11-07 20:48] jenhicks commented on #2526
@aymanhab Can you update the changelog (for issue #2529)? Then I believe we can close this issue.

[2019-11-07 20:56] aymanhab commented on #2526
@jenhicks I don't think this rises to the level that interests users, we had bad examples that we fixed so they create correct model files. If you still think it's useful I'll add a note to the changelog so let me know.

[2019-11-07 20:58] #2488 closed

[2019-11-07 21:00] #2478 closed

[2019-11-07 21:02] jenhicks commented on #2526
Just to confirm, you don't think that PR #2529 warrants a note in the changelog? (I agree that the fix to the examples does not need to be noted in the changelog)

[2019-11-07 21:04] #2462 closed

[2019-11-07 21:07] jenhicks commented on #2460
@chrisdembia Is this high or low priority?

[2019-11-07 21:11] aymanhab commented on #2526
Good point, while the method warnBeforePrint is private, the change in behavior indeed affects the public print method so I'll add a note.

[2019-11-07 21:27] chrisdembia commented on #2460
This is low priority. The workaround we used is to just give column labels. There is a potential for unexpected behavior, though. Perhaps a user is computing RMS error and loops through all columns in a table and doesn't realize that there are missing columns: the resulting error will be incorrectly low.

[2019-11-07 21:29] chrisdembia commented on #2423
This issue occurred before the change to the interface for reading/writing tables. So even if the issue still exists, it might be very unlikely that someone runs into it. Perhaps we can close for now.

[2019-11-07 21:30] jenhicks opened #2612 "Refactor OpenSense Utilities to reduce repeated code and aid troubleshooting"
Goals are to:
- [ ] Create unified code to compute and apply a heading correction
- [ ] Ensure for the heading correction that users can specify both a positive and negative axis for the heading direction
- [ ] For the heading correction, ensure that rotation occurs in the correct direction ... or alternately compute the necessary rotation (old code just computes an angle between two vectors)
- [

[2019-11-07 21:31] jenhicks commented on #2599
I think more generally, we need to update the examples to reflect the opensense utility refactoring. I will change the name of the issue unless there is a reason to keep this separate. @jimmyDunne

[2019-11-07 21:31] jenhicks commented on #2612
@aymanhab Does this issue accurately reflect what you are working on or plan to work on for the refactor?

[2019-11-07 21:32] jenhicks commented on #2423
OK ... will close for now. Thanks!

[2019-11-07 21:32] #2423 closed

[2019-11-07 21:44] aymanhab commented on #2612
@jenhicks yes this is accurate. I'd add that we want to add the ability to specify heading direction and imu to opensim transform entirely in XML. Pre-refactoring there was no XML interface to calibration and the one for IKStudy was deficient.

[2019-11-07 21:48] jenhicks commented on #2612
Thanks ... I updated the list.

[2019-11-07 22:05] jenhicks commented on #2526
Thanks ... closing this issue.

[2019-11-07 22:05] #2526 closed

[2019-11-07 22:17] aymanhab commented on #2612
@jimmyDunne any updates on the testing so far before I make my next round of changes? Thank you

[2019-11-07 23:10] jenhicks opened #2615 "Tools to detect gait events"

[2019-11-07 23:11] jenhicks opened #2614 "Tools to calculate hip joint centers"
Users often do this on their own ... could be helpful to include as part OpenSim

[2019-11-07 23:22] jenhicks opened #2613 "Add more crosslinking in the OpenSim documentation"
For example, in the user guide for IK, link to relevant examples, videos, forum questions, etc. and vice-versa.

[2019-11-11 16:25] jimmyDunne commented on #2560
We have a data conversion script included but we couldn't get a suitable tracking example done due to sensor issues. The plan is to not include a full tracking example in 4.1.

[2019-11-11 16:50] jimmyDunne commented on #2585
Thanks, @mitkof6! It looks like this is currently hardcoded, for example in the [Thelen2003Muscle](https://github.com/opensim-org/opensim-core/blob/2fc6dc1d23734f3b5f8d58c3b3833871e756c675/OpenSim/Actuators/Thelen2003Muscle.cpp#L342). It would be good to have this as changeable by the user. Though, I am struggling to think about how that would be implemented. Would you have a  a single method on a

[2019-11-11 17:06] tkuchida commented on #2585
Might be simpler to permit more iterations (up to some fixed higher limit) if the algorithm is making progress (which would need to be monitored).

[2019-11-11 17:29] jimmyDunne commented on #2585
Good point, @tkuchida. It would be good if there was some internal evaluation on progress with some high upper bound just in case. That may take some more development time but would be worth it. I don't think this will make it into the next Update but we will keep on the development list for upcoming sprints.

[2019-11-11 17:32] jimmyDunne commented on #2575
We would love to support more data types but I don't think we will be able to address it until we decide when to remove BTK for a different C3D reading package. Will keep in the list.

[2019-11-11 18:20] aymanhab commented on #2601
Important since this VS2019 is the default from Microsoft now

[2019-11-11 18:24] aymanhab commented on #2581
Please post description/log of your latest build environment. which version of python you're using, and where you got it from. Automated builds run regularly with python 3.7 from python.org on windows x64 machines. Build logs here https://ci.appveyor.com/project/opensim-org/opensim-core/builds/28701353

[2019-11-11 18:26] aymanhab commented on #2563
@chrisdembia Can you clarify if this is the expected behavior when using StatesTrajectory? Thanks

[2019-11-11 18:28] aymanhab commented on #2544
Why do you have to @yurivict ? What issues/failures do you run into if you turn off both Java and Python bindings? and on what platform(s)?

[2019-11-11 18:31] aymanhab commented on #2507
@jimmyDunne I believe you run these tests locally on your machine, does this reproduce for you? I understand @mkjung99 is on Windows with possibly different Matlab version.

[2019-11-11 18:38] jimmyDunne commented on #2507
All Matlab tests, run locally, seem to pass. This may have been issue in June when the issue was posted but was subsequently fixed.

![image](https://user-images.githubusercontent.com/5296507/68611588-7a2c2c00-0488-11ea-8f5f-2f0ffcb49e6b.png)

[2019-11-11 18:39] aymanhab commented on #2503
We need to build the libraries debuggable to get more informative crash log. I suspect the issue has to do with trying to open the output files while they are locked/in-use by a previous iteration. If you add a line to wait for a keyboard input inside the loop we can easily check if this is the issue.

[2019-11-11 18:41] aymanhab commented on #2538
@chrisdembia The main problem here is that the SWIG wrapping uses the custom decorated version of SimTK headers that can be digested by SWIG. We don't want to distribute these files pending SWIG upgrades/improvements. Can we do without these files from Bindings\SWIGSimTK?

[2019-11-11 18:50] aymanhab commented on #2507
Thanks @jimmyDunne, Please check with the latest master and report back @mkjung99 so we can investigate further or close. Thank you

[2019-11-11 20:00] chrisdembia commented on #2538
Ah good point; I hadn't thought about that.

 The better solution is that we bring Moco into `opensim-core`. This issue would just be a temporary solution.

[2019-11-11 21:23] jenhicks commented on #2505
We are not able to reproduce, so closing. If you experience again @aseth1 please re-open and share the file. Thanks!

[2019-11-11 21:23] #2505 closed

[2019-11-11 21:30] #2567 closed

[2019-11-11 21:32] #2217 closed

[2019-11-11 21:35] #494 closed

[2019-11-12 09:37] chrisdembia commented on #2563
That's an interesting scenario. The idea was that any unspecified states would be NaN to avoid accidents, but I don't think I tested a scenario with a locked coordinate.

[2019-11-12 21:37] chrisdembia commented on #2601
I don't have a Windows machine that's easy to use, so I would prefer if someone else could look into this.

[2019-11-13 21:35] antoinefalisse commented on #2566
Hi @aymanhab, I am having troubles getting Python 3.7 to work. I am on Win 10 and I built OpenSim from source (master branch) with Python 3 without troubles. I added the bin folder to the path and ran `python setup.py install` without issues. I now have an egg file `opensim-4.1-py3.7_old.egg` in my `anaconda3/Lib/site-packages`. Yet running `import opensim` within spyder gives me the following:

[

[2019-11-13 21:53] rampagedog12 commented on #2566
@antoinefalisse I am not sure... Could you test it in python 3.6? I remember my teammate has a problem when he used the newer version of python, but I don't remember the error message... Another problem I encountered was PYTHONPATH, but I don't think it causes the problem you mentioned.

[2019-11-13 22:14] aymanhab commented on #2566
@antoinefalisse can you try python 3.7 from python.org? We use this in our test environment with no issues for a few months already. Is there a chance you're using 32 bit version of python and loading x64 libraries or vice versa?

[2019-11-13 22:32] nickbianco commented on #2566
@antoinefalisse the issue could be a mismatch between Visual Studio versions used to build Python and OpenSim. Not totally sure though. I had a similar issue when using Moco through Python and I had to use a dependency walker tool to solve it (I was had built with SNOPT but hadn't included the snopt.lib file in my path).

[2019-11-13 22:34] nickbianco commented on #2566
I would also double check the Spyder is loading your Windows environment correctly. You may want to try importing OpenSim through Python a different way (i.e. command line or Powershell).

[2019-11-13 22:39] chrisdembia commented on #2566
The Python error is pretty vague. You can get a better sense of which library dependency is causing an issue by using either Dependency Walker http://www.dependencywalker.com or Dependencies https://github.com/lucasg/Dependencies

[2019-11-14 13:50] antoinefalisse commented on #2566
Thanks all for your help, I realized that typing `import opensim` in the IPython console was giving the error above, whereas running a script with `import opensim` saved in the `opensim-core-install\sdk\Python` folder was working. So I added the following lines on top my script:

[code]

and it worked fine. Seems thus to be a path issue (note that `.../opensim-core-install/bin` is in my computer p

[2019-11-14 18:54] aymanhab commented on #2601
@chrisdembia Can this safely be moved to done based on PR #2618 ?

[2019-11-14 18:55] chrisdembia commented on #2601
Yes!

[2019-11-14 22:08] nickbianco commented on #2566
I don't think you should need to include the location of the OpenSim Python libraries directly in your path, Anaconda should handle that for you after the .egg file is installed. It could be that Spyder (or IPython) is loading the wrong Python environment on start-up. I don't use either frequently, but when I've used Spyder, I try to launch it from Powershell with the conda environment I want acti

[2019-11-14 23:04] carmichaelong commented on #2566
It's definitely important to make sure that the right Anaconda environment is being used. Both of my installs have been with Spyder with the Anaconda package.

Depending on how annoying the workaround is, it might be worth trying to delete the folder that OpenSim installs into the python distribution (e.g., for my Anaconda3 install, it's located at `C:\Anaconda3\Lib\site-packages\opensim-4.0-py3.7

[2019-11-18 20:36] #2601 closed

[2019-11-18 20:41] jenhicks opened #2622 "Move CI builds to GitHub Actions"

[2019-11-24 08:58] aymanhab opened #2625 "Unify InverseKinematicsTool with corresponding IMUInverseKinematicsTool"
also unify command line interface opensim-cmd and opensense

[2019-12-02 20:42] jenhicks commented on #2555
@aymanhab will test the command line interfaces and update documentation as needed.

[2019-12-05 15:35] jimmyDunne commented on #2599
Done. Merged in #2627

[2019-12-05 15:37] jimmyDunne commented on #2555
updated CMD interface got merged in #2628

I have updated the confluence page accordingly.

[2019-12-05 15:41] jimmyDunne opened #2631 "Increase speed of tools when dealing with large experimental files"
Improvements in speed could be made by reading initially reading in a small block of data and beginning tool while a second process continues to read data as needed.

[2019-12-05 20:45] chrisdembia opened #2635 "Update Simbody to include macOS Catalina fix"
Simbody's visualizer needed to be fixed for macOS Catalina. We should update to the latest Simbody. But first, we need to create a new release of Simbody that includes the fix.

[2019-12-06 15:53] antoinefalisse opened #2637 "Compiling Matlab bindings"
@aymanhab, I am having troubles building the Matlab bindings with the latest version of opensim-core. I am working with MSVC2015 and have tried different versions of SWIG (3.0.12 and 4.0.1) and JDK (8u231 and 10).

When I build `Java - osimJavaJNI`, I get:
[code]
Any idea about what could go wrong? Building the Python bindings works fine.
Thanks

[2019-12-06 16:19] aymanhab commented on #2637
@antoinefalisse Likely this has to do with the very long file name generated, can you specify a shorter build path/directory name? We use swig 3.0.9 and do not support swig 4.0+ yet

[2019-12-06 16:21] aymanhab commented on #2637
Python doesn't generate a file per class so will not have this issue. Note that this is not a Java compilation issue (JDK) or C++ compilation issue (VS) it's more trying to load/open a file that may actually exist!

[2019-12-06 18:36] antoinefalisse commented on #2637
Thanks @aymanhab, that was an easy one.

[2019-12-06 18:36] #2637 closed

[2019-12-07 02:02] chrisdembia commented on #2635
See https://github.com/simbody/simbody/issues/679 and https://github.com/simbody/simbody/pull/680

[2019-12-09 17:41] #2635 closed

[2019-12-11 18:18] aymanhab commented on #2631
@mitkof6 mentioned refactoring the tools to allow for streaming mode where data-frames are read/processed one at a time rather than read entirely in advance. This would lend itself to realtime processing and speed startup. Any reference code you can share @mitkof6 Thanks

[2019-12-11 21:48] mitkof6 commented on #2631
The approach that I followed was to re-implement all the tools from scratch. I wanted to have simple, light-weighted classes that can be easily maintained, extended and used like signal processing blocks. I started examining the rtosim repository:

https://github.com/RealTimeBiomechanics/rtosim

However, as you can see, even for IK the code becomes obsolete, hard to maintain or understand:

https:

[2019-12-11 21:54] mitkof6 commented on #2631
Each tool had to have its own reference of the Model, because the model and state are actually coupled. In my context, I was solving different problems (IK, ID, SO, JR) together, therefore, the realization of the state might affect the behavior of the tools. I find that if the tool is somehow decoupled, the code can be parallelized, improved and maintained easily.

[2019-12-13 14:27] vbotics opened #2641 "Cannot access method 'convertMillimeters2Meters()'"
Hi @jimmyDunne

I was using your example in `Bindings/Java/Matlab/examples/c3dExport.m` to convert a c3d file.

I came across the following error while executing `c3d.convertMillimeters2Meters();`

Error: Cannot access method 'convertMillimeters2Meters' in class 'osimC3D'.

I dug in further to see that in class osimC3D, this function was called internally while calling `writeMOT()`.

Thanks for th

[2019-12-13 14:56] jimmyDunne commented on #2641
Hi, Vishal-

Thanks for letting us know that you found an issue!

I am not sure if you are using the current OpenSim master branch or an older version? I updated the class a few months back to expose convertMillimeters2Metes() so it should be available in the latest version. The [current example](https://github.com/opensim-org/opensim-core/blob/master/Bindings/Java/Matlab/examples/c3dExport.m) sho

[2019-12-13 15:14] vbotics commented on #2641
Oh yes, my bad. I was using the old osimC3D file. But I am glad because it was being handled internally. :) I'll download the new utility file and use it 👍

I just had a question regarding `c3d.rotateData()`. Does it handle the rotation of Marker and Force data together? Does it rotate the force data separately?

Thanks,
Vishal

[2019-12-13 15:23] jimmyDunne commented on #2641
Sounds good :)

It does both forces and markers together. To me, that made more sense since you would always want to apply the same rotation to both. Is there perhaps a use case when you would want to do them separately?

Thanks for asking the question-- I just had a quick look at the code and realized that this may throw an exception now-- in 4.0, the C3DFileAdapter() couldn't read C3Ds that cont

[2019-12-13 15:26] jimmyDunne opened #2642 "osimC3D may throw an exception during rotateData()"
The rotateData() method assumes there are both valid force and marker tables to be rotated. This was always true in 4.0, but an improvement in C3DFileAdapter() made it feasible to have empty tables if no data were collected.

I will test with a force-less C3D and post a fix.

[2019-12-13 15:29] aymanhab commented on #2642
James, I fixed that already in 4.1 and empty tables ate returned if no
data. Please double check just in case.

On Fri, Dec 13, 2019, 7:27 AM jimmyDunne <notifications@github.com> wrote:

[2019-12-13 15:33] jimmyDunne commented on #2642
That is totally true, Ayman. The issue may be in osimC3D.m. During the call to do rotations, I assume that there are valid force AND marker tables. We tested that the fixes you made return empty tables (they do), but I didn't test osimC3D to see how it deals with empty tables (the tests use a c3d with both markers and forces).

[2019-12-16 13:32] idhamari opened #2643 "Maybe a bug, InverseKinematicsTool different error messages with different run"
This issue happens in windows, in linux everything works just fine with the same files.

In Windows 10 and OpenSIm 4.0 each time I run, I get different behavior. Some times it works,

     InverseKinematicsTool completed 107 frames in 0.019s

sometimes I get:

     InverseKinematicsTool Failed: bad allocation
     InverseKinematicsTool Failed, please see messages window for details...

and sometim

[2019-12-16 14:05] vbotics commented on #2641
I was concerned if we had to rotate the markers and force plate axes separately because it looks like in the Mokka screenshot below:
![image](https://user-images.githubusercontent.com/10283521/70909873-b534f880-200e-11ea-9732-a358bba79dbb.png)
But after rotating the lab coordinates to match with OpenSim coordinates both markers and force plate looks just as expected. So that's good even if individ

[2019-12-16 15:11] jimmyDunne commented on #2641
Do you think `wanted_markers` could be the OpenSim model of interest, since it has the model (should) contain a list of model markers you care about?

[2019-12-16 15:47] vbotics commented on #2641
Yes, I totally agree with that. It's just because the .trc file could become very heavy. In my case, Vicon created a lot of virtual markers. there were a total of 117 markers in the c3d file, and out of which 39 were used in the model and rest 78 markers were not of any use.

Thanks a lot, James! It was very helpful :)

[2019-12-16 19:49] jenhicks opened #2644 "Clean up comments for IMU Placer settings"

[2019-12-17 12:27] idhamari commented on #2643
Investigation in progress, so far:

The first error, **Failed: bad allocation**, happens  when trying to print the value of totalSquaredMarkerError [in this line](https://github.com/opensim-org/opensim-core/blob/6c37b5e76e2c8c0fb1ec67ce2b9ddbffd9a23449/OpenSim/Tools/InverseKinematicsTool.cpp#L387):

                cout << "Frame " << i << " (t=" << s.getTime() << "):\t"
                    << "to

[2019-12-17 13:31] idhamari commented on #2643
A temporary workaround is to put the whole  error report [if block]( https://github.com/opensim-org/opensim-core/blob/6c37b5e76e2c8c0fb1ec67ce2b9ddbffd9a23449/OpenSim/Tools/InverseKinematicsTool.cpp#L366) inside a try ... catch.

This way, at least the motion file will be generated.

[2019-12-17 19:27] aymanhab commented on #2644
@jenhicks Can you tell describe which specific comment needs cleaning/how? Thanks

[2019-12-17 19:31] chrisdembia opened #2646 "On Travis-CI, CMake is finding JDK 13 rather than JDK 8"
Travis-CI builds are failing because CMake is finding JDK 13, but we need JDK 8:

[code]

[2019-12-17 19:32] chrisdembia opened #2647 "Travis-CI builds rely on encrypted environment variables in PRs from forks"
PRs from forks do not get access to encrypted environment variables, and we rely on these variables regardless of if the PR is from a fork, causing the build to fail.

We should detect if a PR is from a fork and avoid relying on the encrypted environment variables in this case.

[2019-12-17 19:52] aymanhab commented on #2644
![CaptureIMUPlacer](https://user-images.githubusercontent.com/3972208/71029136-9fcdd600-20c3-11ea-9e46-ac5c618d5c1a.PNG)
Doe sthis look fine (from latest master build)?

[2019-12-17 22:56] jenhicks opened #2648 "Update cmake to include python version of OpenSense example files in the distribution."
We need to decide whether to copy over the model and data files in the distribution or tell people where to find them.

[2019-12-17 23:06] jenhicks commented on #2648
Probably easiest to just have cmake make a copy.

[2019-12-18 00:31] jenhicks commented on #2644
There is a space missing before the last sentence.

The last part should be: "IMU Space to OpenSim. Default (0, 0, 0)." So a period and space are missing.

[2019-12-18 17:57] jenhicks opened #2653 "Change executable shortcuts to more descriptive names"
ReadX -> ReadXsens
ReadA -> ReadAPDM

Need to update the documentation as well.

[2019-12-18 18:06] jenhicks opened #2654 "Clean up the command line help for opensense"
(1) opensense executable help command uses inconsistent filenames (settings.xml vs settingsFile.xml). Let's just use settings.xml

(2) The Confluence page describes the orientations.sto file written by opensense -ReadX, but it would be nice if the command-line help documented this also.
Add (for ReadX and ReadA): Creates a storage file with the orientation data for each sensor, where each column i

[2020-01-01 12:53] clnsmith opened #2659 "InverseDynamicsTool cannot read coordinates_file using full path column labels for joint coordinates"
I wanted to run InverseDynamicsTool on a results file generated using the StatesReporter, however, the InverseDynamicsTool can only read coordinates_files that have the columns labeled with only the coordinate name.

Since full paths (/jointset/gnd_pelvis/pelvis_tilt) and full paths with value (/jointset/gnd_pelvis/pelvis_tilt/value) are now common in 4.0+ the reader should be updated to accept th

[2020-01-01 13:09] clnsmith opened #2660 "ScaleTool does not scale default coordinates"
The scale tool does not affect default coordinates.

If a model has a translational DOF with a non zero default coordinate, it makes sense to me that this should be scaled. For example, in a patellofemoral joint where the femur frame is between the condyles and the patella coordinate system is located at the patella COM, the default coordinate value for AP translation must be non-zero for the pate

[2020-01-02 04:39] aymanhab commented on #246
Also reported on forum post here https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=11359&p=31596&start=0&view=

[2020-01-14 18:35] carmichaelong opened #2662 "cancelling a save file action with external loads leads to NullPointerException"
With 4.1-2020-01-11-db0fa3e8

Steps:
- Load 2354
- Open ID tool
- Go to external loads, check external loads, load subject01_walk1_grf.xml
- Click edit button, then hit save, then hit cancel in save dialog box
- Red error icon shows up in bottom left

[code]

[2020-01-15 19:07] #2653 closed

[2020-01-15 19:09] #2612 closed

[2020-01-15 19:09] #2599 closed

[2020-01-15 19:10] #2555 closed

[2020-01-15 19:11] #2648 closed

[2020-01-15 19:11] #2644 closed

[2020-01-15 19:11] #2654 closed

[2020-01-16 10:23] kingjin94 opened #2664 "Compilation and ctest on Linux (Ubuntu 18.04)"
The ctest for the python modules fails with the current instructions on the main page, as needed libraries from opensim cannot be found. A working solution for me was to install first (make -j8 install), then add <open_sim_install>/lib/ to LD_LIBRARY_PATH and then running the ctest.

[2020-01-16 20:06] #2662 closed

[2020-01-16 20:06] aymanhab commented on #2662
Issue moved to [opensim-org/opensim-gui #1165](https://github.com/opensim-org/opensim-gui/issues/1165) via [**ZenHub**](https://www.zenhub.com/)

[2020-01-20 15:00] janEbert commented on #2215
Hey, sorry I never fixed this. After failing to build OpenSim on one machine and then it taking too long on another, I don't think I'll go through the steps again just to implement this simple fix.
I should really have written much sooner!

[2020-01-21 03:53] chrisdembia commented on #2215
No problem.

[2020-01-22 21:55] jimmyDunne commented on #2507
tests pass locally, including testOsimC3D. The issue can be closed.

[2020-01-23 10:05] sebastianskejoe opened #2666 "osimC3D can't open files without forces"
It appears that osimC3D is unable to read a C3D-file if the file doesn't contain force measurements. I've tested with the Vicon Motion Systems/TableTennis.c3d file from [Sample00](https://www.c3d.org/sampledata.html) which fails with the following error:
[code]

[2020-01-23 14:17] jimmyDunne commented on #2666
Are you using the current Master Branch of OpenSim or the 4.0 application? This was updated in #2495

[2020-01-23 18:51] aymanhab commented on #2537
Tutorials live in a different repo opensim-models at
https://github.com/opensim-org/opensim-models/tree/master/Tutorials/doc

[2020-01-23 19:32] jenhicks commented on #2537
No wonder I couldn't find them in the GUI repo ;). Do you have the files you need then?

[2020-01-23 19:33] jenhicks commented on #2537
Ah ... I see that they are html docs and not pdfs. Is it possible to use PDFs instead? This might be less error prone and would result in fewer files in the repo.

[2020-01-23 21:49] aymanhab commented on #2537
We used pdf for a while but changed to html for a couple reasons:
- Online version in confluence is html, we don't need to freeze it into pdf that's hard to compare/diff/modify
- In sync. with user guide, help and other links all using html, we just switch url based on whether online/offline.
- Not sure all browsers handle pdf the same on windows/mac, while html is better supported.
We can change

[2020-01-23 22:08] jenhicks commented on #2537
Ah ... ok. I think it is fine to switch to html then. I just sent a zip with the html files.

[2020-01-27 07:18] sebastianskejoe commented on #2666
This was 4.0 - apologizes for not checking the issue tracker properly. Closing this issue.

[2020-01-27 07:18] #2666 closed

[2020-01-31 19:32] aymanhab opened #2668 "Investigate integration of RTOsim into OpenSim"
The project https://github.com/RealTimeBiomechanics/rtosim holds some potential for handling live data and large data sets.

[2020-01-31 19:50] aymanhab commented on #2668
The steps needed will likely include:

- Compiling the code with OpenSim 3.3
- Make a branch to migrate to 4.1 code base
- Limit the scope if needed
- Run IK in parallel on marker data or long trials
- Run IK with IMUs on long trials

[2020-02-03 08:29] aymanhab commented on #2625
Fundamentally the two are very close functionally and use the same solver under the hood, differences to account for:
- Class hierarchy
- Properties specific to IMU tracking vs Markers
- Transforming data is built into the IMU version, while done externally for Marker based.

[2020-02-12 20:11] tkuchida opened #2673 "Update C3D-related Python, Matlab, and C++ examples"
As reported on [the Forum](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=11502). [This example in the doxygen](https://simtk.org/api_docs/opensim/api_docs/classOpenSim_1_1C3DFileAdapter.html#ac2eb67cb6bac08281775988cd46fa604) doesn't seem to work, and [the examples in the User's Guide](https://simtk-confluence.stanford.edu:8443/display/OpenSim/C3D+%28.c3d%29+Files#C3D(.c3d)Files-Readin

[2020-02-13 17:46] aymanhab opened #2674 "TRCFileAdapter is very slow reading large files"
This was traced to using appendRow on every line of the data file. A similar fix was done for other readers and need to be ported to TRCFileAdapter

[2020-02-13 17:51] aymanhab commented on #2674
Working on a fix to help @malborno and Johanna

[2020-02-18 06:21] vinaym815 opened #2677 "Muscle Wrapping With Multithreading"
I have modified the GitHub page example to include a wrapping cylinder. The muscle wrapping works correctly when the code is single-threaded but jumps around randomly when multithreading.

Example Code: https://github.com/vinaym815/OpenSimExample/blob/master/GitHubExample/src/main2.cpp

![Bug](https://user-images.githubusercontent.com/35987596/74709333-410f0f00-5262-11ea-9e19-38e334d089af.png)

[2020-02-19 16:48] mitkof6 opened #2679 "PrescribedForce cannot get force, point and torque if rename FunctionSet"
If one changes the names of the FunctionSet for the force, point and torque in the PrescribedForce component, then they are not recognized correctly.

For example, the FunctionSet for the force should be defined:

`<FunctionSet name="forceFunctions">`

if it is defined with a different name:

`<FunctionSet name="force_functions">`

 then it is not recognized thus applies zero force. The same holds

[2020-02-19 19:01] #2537 closed

[2020-02-19 19:02] #2507 closed

[2020-02-19 19:06] jenhicks commented on #2673
@aymanhab Is working on incorporating the examples into the build environment, so we don't need to maintain separately. When code is merged, we can update links in confluence to the correct branch/version of the code.

[2020-02-20 18:58] aymanhab opened #2681 "Scaling a model loses custom geometry/meshes"
Reported on forum and by many local users in the past
https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=11542&p=32299&start=0&view=

[2020-02-21 18:18] aymanhab commented on #2681
One easy fix that works is to create the model, give it a file/path at the same folder as the starting model. The downside is that if the user saves the model in a different folder the problem will re-occur.  but that's the same as any model with custom geometry

[2020-02-21 18:21] aymanhab commented on #2681
@jenhicks @tkuchida @carmichaelong @chrisdembia what are your thoughts? Do you typically save the model manually? Specify a destination model file name in the setup file?

[2020-02-21 18:23] aymanhab commented on #2681
Anybody else using Scaling workflow that would be interested in this discussion?

[2020-03-02 17:49] jenhicks opened #2682 "Plan for OpenSense Simtk Project Page"
Should we keep this or remove? We at least should update to point to the 4.1 OpenSim release.

[2020-03-03 19:14] aymanhab commented on #2677
@carmichaelong and @chrisdembia any thoughts on whether this is supposed to work? Thank you

[2020-03-03 19:20] chrisdembia commented on #2677
This should not work; the muscle wrapping code is not thread-safe. I don't know the exact details, but we ran into this issue back when adding parallelism to forces.

[2020-03-04 21:13] jenhicks commented on #2682
I updated the project page:
https://simtk.org/projects/opensense

And asked Henry to lock the forum. (Old posts will be visible, but new posts will not be allowed). I added a note in the forum (that we will highlight) to go to the OpenSim project.

Let me know if you have any other feedback and suggestions.

[2020-03-04 22:24] jenhicks commented on #2682
Just an FYI ... if you are a project moderator, you will still have the ability to post to the forum. But others are not able to (Henry verified).

[2020-03-08 12:45] aseth1 opened #2686 "Thelen2003Muscle equilibrium solve failure"
@chrisdembia reported during a developer meeting that Scott Uhlrich encountered this failure only for specific  model and state values affecting a single muscle. The failure can be reproduced but it is not clear why the algorithm fails to find an equilibrium since it does not appear to be a singularity in fiber or tendon force production. The  Newton solve fails to find appropriate step size and f

[2020-03-09 19:05] Student297241 opened #2688 "Matlab fails to create an OpenSim model from .osim file. Throws Java exception java.io.IOException"
Good Afternoon,

I was trying to run the simpleOptimizerExample.m and example2DWalking.m (found in /opensim-moco-install-dir/Resources/Code/MatlabExamples).  Both scripts  gave me the following error:

Java exception occurred:
java.io.IOException: Object: Cannot open file "specific .osim filename here". It may not exist or youdo not have permission to read it.
	Thrown at Object.cpp:105 in Object()

[2020-03-09 19:20] aymanhab commented on #2688
@chrisdembia Are there instructions somewhere about how to use these scripts? Obviously " "specific .osim filename here" needs to be replaced with an actual file name but I'm not sure if that is described elsewhere. Also, since 4.1 doesn't include Moco, I'm not sure if this is supposed t work.

[2020-03-09 21:12] chrisdembia commented on #2688
simpleOptimizerExample.m is part of opensim-core, but the Moco example should not be expected to run with OpenSim on its own.

I think @Student297241 edited the error message.

My guess is that @Student297241 must change the current directory appropriately before running the examples.

[2020-03-09 21:15] Student297241 commented on #2688
Hi,

The scripts I am trying to run were provided with the Open Sim package - I downloaded them when I down loaded the package and installed it on my computer

Here are the specific scripts

I was trying to get familiar with the opensim matlab interface before trying to use Moco

[2020-03-09 21:19] chrisdembia commented on #2688
Please redirect your questions to the OpenSim or Moco forums. GitHub should be used for proven bugs or requested features, not for troubleshooting.

[2020-03-10 03:39] aymanhab commented on #2688
Thanks for the clearup, closing since no issue was actually reported here. Please post to user forum @Student297241 Thank you

[2020-03-10 03:39] #2688 closed

[2020-03-11 06:40] tnamayeshi opened #2689 "Induced Accelerations can not be run when external loads are present"
When running "Induced Accelerations" analysis with "External Loads", OpenSim returns:

As I investigated in the source code, this happens because OpenSim search for force body "appliedTo" and "expressedIn" in model body set and if the force applied to or expressed in "ground" it will fail to find it!

Error source is in "**applyContactConstraintAccordingToExternalForces**" function in "**InducedAc

[2020-03-15 15:58] aseth1 commented on #2689
@tnamayeshi thank you for reporting this issue. Can you please indicate what case you are trying run and what you are trying to achieve? The logic of InducedAccelerations is intended to replace the applied external (ground reaction) force at the point of application with a constraint. If the applied point is in Ground then the external force has has no affect on the model and should be ignored. I

[2020-03-23 09:21] UserUsingGit opened #2692 "Python API statesTrajectory.createFromStatesStorage() opens second OpenGL window"
Hello, I am trying to visualize a trajectory from a motionfile using the statesTrajectory class and the simbody visualizer. It is working so far, but there are two OpenGL windows opening. The second (unwanted) window seems to open when calling createFromStatesStorage(model, mot_storage, True, True).
Here is the source code:

[code]
Is there a way to suppress the second OGL window opened? Thanks al

[2020-03-24 18:39] aymanhab commented on #2559
Moving DeGroote muscle to opensim-core is high priority so that users don't have to juggle muscle models to use/visualize results from Moco in GUI. What is involved @chrisdembia @nickbianco ?

[2020-03-26 20:08] aymanhab commented on #2681
This came up a couple more times during the Match 20 workshop, so higher priority. Thoughts @jenhicks

[2020-03-26 20:09] aymanhab opened #2696 "XSens exported quaternions differ from OpenSense converted ones"
Reported in March 20 workshop

[2020-03-26 22:48] jenhicks commented on #2681
I will put it in the sprint backlog for now so we can discuss how to prioritize.

[2020-03-26 23:01] aymanhab opened #2697 "Distributed Matlab script crashes Matlab"
Reported as bug on simtk.org, the script in question is KneeReflex_answers.m and it crashes in initSystem call

[2020-03-27 17:39] aymanhab commented on #2697
@carmichaelong can you try to reproduce? @chrisdembia are you familiar with this example/issue?

[2020-03-27 17:52] carmichaelong commented on #2697
Just tried it with the 4.1 release and didn't run into any issues. On Windows 10 Pro, Matlab 2019a

[2020-03-27 17:56] chrisdembia commented on #2697
I'm not familiar.

[2020-03-27 17:56] nickbianco commented on #2697
This script was written for the Dynamic Walking workshop in 2018.

[2020-03-27 17:56] aymanhab commented on #2697
Thanks @carmichaelong, it crashed for me using stock 4.1, but didn't when I used my own build (ReleaseWithDebugInfo). Likely a bug that's hard to reproduce. Hopefully more granular logging can capture it.

[2020-03-27 17:59] aymanhab commented on #2697
Thanks @chrisdembia @nickbianco will leave open until we get to the bottom of it.

[2020-03-29 16:23] jenhicks commented on #2674
@aymanhab Is this issue Done?

[2020-03-29 16:26] jenhicks commented on #2673
What if any documentation (confluence, doxygen) changes are still needed to mark this as done? @aymanhab

[2020-03-29 16:35] jenhicks commented on #2668
@aymanhab Is this something you still plan to investigate further or can we close?

[2020-03-29 16:40] jenhicks commented on #2450
@aymanhab Is this issue still relevant?

[2020-03-29 16:43] jenhicks commented on #2559
@chrisdembia Is this issue up-to-date? I think one key task we talked about was formulating a plan/rough timeline for integration. Let us know how we can help. I chatted with Scott a couple weeks ago and he agreed that the integration sounded like a good plan (in terms of how we spend development resources/time). @aymanhab

[2020-03-29 16:46] jenhicks commented on #2692
Closing this issue ... Let us know if the suggestion doesn't work.

Here's a link to the forum for future, similar questions:
https://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=91&pluginname=phpBB

[2020-03-29 16:46] #2692 closed

[2020-03-29 16:59] jenhicks commented on #2646
What's the status of this one @chrisdembia ?

[2020-03-29 17:04] chrisdembia commented on #2646
This can be closed due to #2652.

[2020-03-29 17:04] #2646 closed

[2020-03-29 17:53] aymanhab commented on #2674
Yes, and can be closed.

[2020-03-29 17:58] aymanhab commented on #2673
Confluence has some links to github code, the code changed from 4.0 to 4.1, now we include links to both by pointing to specific branches. Do we want to maintain that or stick with 4.1? if the former then we're done, if the latter, just remove the reference to 4.0 code/API

[2020-03-29 17:59] aymanhab commented on #2668
We can move this to back burner, when we implement pipelines this may become relevant but not for now.

[2020-03-29 18:00] aymanhab commented on #2450
No, can be closed. As much as file reading go this is perfectly fine now

[2020-03-29 19:10] aymanhab commented on #2681
Issue moved to [opensim-org/opensim-gui #1182](https://github.com/opensim-org/opensim-gui/issues/1182) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-29 19:10] #2681 closed

[2020-03-29 19:31] #2674 closed

[2020-03-29 19:32] jenhicks commented on #2673
The current live confluence is for both 4.0 and 4.1. So let's leave as is and call this issue "Done".

[2020-03-29 19:32] #2673 closed

[2020-03-29 19:33] #2450 closed

[2020-04-01 13:10] antoinefalisse opened #2700 "Mapping Simbody and OpenSim states"
Hi,

When using a model with kinematic chains going up and down the pelvis (e.g., a model with lower limbs and arms), the indices of the states might be different in OpenSim vs Simbody. This is annoying when writing code combining OpenSim and Simbody functions.

In Moco, there are [utilities ](https://github.com/opensim-org/opensim-moco/blob/master/Moco/Moco/MocoUtilities.h#L435) to map the state

[2020-04-01 20:07] stingjp opened #2701 "Documentation for Model.calcMassCenterPosition() not available"
The model method to calculate center of mass does not show documentation. It isn't clear what frame the center of mass is calculated in when looking at the API documentation.

[2020-04-01 20:47] aymanhab commented on #2701
Thanks @stingjp

@chrisdembia The doxygen page https://simtk.org/api_docs/opensim/api_docs/classOpenSim_1_1Model.html doesn't claerify the frame while the cpp file has the info, is there a better way to document Outputs?

[2020-04-01 20:59] chrisdembia commented on #2701
We decided to not add documentation for Outputs because it would be redundant with the documentation for the function used by the Output. We should definitely add Doxygen documentation for `calcMassCenterPosition()`, etc.

[2020-04-02 14:19] #2682 closed

[2020-04-02 14:22] jenhicks opened #2702 "Fast IK with IMUs: document and/or provide some models"
@aymanhab commented on [Wed Jan 30 2019](https://github.com/opensim-org/sprints/issues/3)

As OpenSense command line user, I want to run IK with IMU sensor data as quickly as possible since trial times can be long.

---

@aymanhab commented on [Wed Jan 30 2019](https://github.com/opensim-org/sprints/issues/3#issuecomment-459040508)

@aseth1 You indicated this is either model specific or specific t

[2020-04-02 14:28] jenhicks commented on #2538
@chrisdembia Is this issue still relevant given our Moco integration plan?

[2020-04-02 15:04] chrisdembia commented on #2538
Nope.

[2020-04-02 15:04] #2538 closed

[2020-04-02 15:28] jenhicks commented on #2283
@carmichaelong Could you investigate whether this is still an issue?

[2020-04-02 15:29] #162 closed

[2020-04-02 15:30] #488 closed

[2020-04-02 15:30] #698 closed

[2020-04-02 15:32] #1107 closed

[2020-04-02 15:38] jenhicks commented on #1172
Let's update the readme.md to refer to the contributing.md and API guide in doxygen.

[2020-04-02 15:41] #1463 closed

[2020-04-02 15:49] #2100 closed

[2020-04-02 15:49] #2101 closed

[2020-04-02 15:53] #2216 closed

[2020-04-02 15:53] #2247 closed

[2020-04-02 15:57] jenhicks opened #2703 "Create example showing how to use inputs and outputs"
Clean up the tutorial we ran at ISB a couple years ago and used in webinars

[2020-04-02 17:01] carmichaelong commented on #2283
Looks like it's still an issue. Tested on OpenSim 4.1 distribution on Windows 10 Pro with CMake 3.15.2.
* Both examples' CMakeLists.txt are not setup for independent projects.
* CMakeLists.txt for `DataAdapter` references non-existent files
* By inspection, looks like 3 files in `DataAdapter` refer to other files that do not exist
* CMake throws some warnings that no cmake_minimum_required command

[2020-04-02 17:56] chrisdembia commented on #2283
We can copy how the other examples provide CMakeLists for the installation, or replicate what Moco does to automatically generate such CMakeLists using CMake macros.

[2020-04-02 18:41] aymanhab commented on #2625
Proposal here https://docs.google.com/document/d/1t2minWJJ_XqSHsCqMiVTk2ko5wSVMONbz6FlqUtHLDE/edit?usp=sharing

[2020-04-03 16:33] joaobelo92 opened #2704 "Segmentation fault for python bindings when buildin from source (macos)"
Hi, I'm trying to build opensim from source with Python bindings, but I get a segmentation fault when I import it (in python). I am using pyenv and the following cmake settings:

cmake ../opensim-core \
      -DCMAKE_INSTALL_PREFIX="~/opensim_install" \
      -DCMAKE_BUILD_TYPE=RelWithDebInfo \
      -DBUILD_PYTHON_WRAPPING=ON \
      -DPYTHON_INCLUDE_DIR=$(python -c "from distutils.sysconfig impo

[2020-04-03 16:57] aymanhab commented on #2704
Swig version 4.0+ is not supported, please use swig 3.0.9 - 3.0.12 unless you plan to investigate and fix the swig wrapping for 4.0.1 which would be much appreciated.

[2020-04-03 16:57] chrisdembia commented on #2559
I've started working on requiring NumPy for the Python bindings.

[2020-04-04 21:41] chrisdembia commented on #2281
Related: #2559

[2020-04-04 21:41] chrisdembia commented on #2014
Related: #2559

[2020-04-05 09:47] annshorn opened #2707 "Error in Bindings/Java/"
Hi, I made all steps for macOs and when made this:

`opensim_build anna$ make -j8`

I got this errors:

[code]

this is all output:
[code]

if it can be useful, this is my previous step with dependencies:

[code]

What should i do to solve my problem?
Thank you in advance.

[2020-04-06 10:57] joaobelo92 commented on #2704
Thank you for the quick reply @aymanhab.
Using swig 3.0.12 I was able to build and import opensim on my system's python.

However, when using the pyenv python version I selected in Cmake I still get an error. I can use the built in python version from macOs, but in case you know what is the problem let me know:

Traceback (most recent call last):

  File "<stdin>", line 1, in <module>
  File "/Use

[2020-04-06 10:57] #2704 closed

[2020-04-06 20:03] aymanhab commented on #2696
This boils down to the method SimTK::Rotation.convertRotationToQuaternion() returning a Quaternion different from Xsens:
e.g. Matrix: {0.075197	-0.079913	0.993961	-0.573480	-0.818912	-0.022453	0.815761	-0.568328	-0.107408}
converts to q{0.19292,0.70737,-0.23092,0.63959} by the above method, while XSens conversion returns q{-0.192923	-0.707375	0.230922	-0.639591}
Since cos(a/2) is -ve in XSens resu

[2020-04-06 21:36] aymanhab commented on #2696
Thanks @sherm1, will dig deeper into how these quaternions are used downstream by our orientation tracking.

[2020-04-07 18:12] aymanhab opened #2709 "Find new place for IMUInverseKinematicsTool::previewExperimentalData"
This debugging method doesn't belong within the IMUInverseKinematicsTool class but could be useful in other contexts. Code is still there but needs to be moved out, likely to a standalone utility or to a utility class of debugging tools.

[2020-04-07 21:25] aymanhab opened #2710 "Report IMU tracking errors when running InverseKinematics on IMU data"

[2020-04-08 01:55] #1882 closed

[2020-04-08 03:00] chrisdembia opened #2711 "Add implicit support to Millard2012EquilibriumMuscle"
In #2687 @mjhmilla said

https://github.com/opensim-org/opensim-moco contains DeGrooteFregly2016Muscle that provides an implicit form and which we use extensively in Moco.

It would be great to also add implicit support to the 2012 Equilibrium model.

[2020-04-08 06:33] chrisdembia opened #2712 "Move Moco's ModelProcessor into opensim-core"
Moco's ModelProcessor provides an XML-serializable pipeline of modifications to make to a model.

[2020-04-08 06:34] chrisdembia opened #2713 "Move Moco's TableProcessor into opensim-core"
Moco's TableProcessor provides an XML-serializable pipeline of operations to TimeSeriesTables.

Moco's version does not yet support TimeSeriesTableVec3, but @nickbianco mentioned that perhaps a "flatten-operate-repack" approach might be sufficient.

[2020-04-08 06:36] chrisdembia opened #2714 "Move Moco's DeGrooteFregly2016Muscle into opensim-core"
Moco contains a new muscle model, DeGrooteFregly2016Muscle, that belongs in this repository. However, we must improve this muscle's support for CMC and forward simulations (using explicit differential equations), and improve test coverage.

[2020-04-08 06:37] chrisdembia opened #2715 "Move Moco's ModelFactory into opensim-core"
Moco has a ModelFactory class for creating models such as N-link pendulums, and for modifying models by removing muscles, adding reserves, etc.

[2020-04-08 06:38] chrisdembia opened #2716 "Use Catch2 testing framework"
Moco uses the Catch2 testing framework, which makes writing tests much easier. Before bringing Moco's test into this repository, we must add support for Catch2 to opensim-core.

[2020-04-08 06:39] chrisdembia opened #2717 "Move Moco's visualize() free function to opensim-core"
Moco has a very handy visualize() free function for animating a trajectory using the Simbody Visualizer.

Related: https://github.com/opensim-org/opensim-core/pull/2590

[2020-04-08 06:40] chrisdembia opened #2718 "Move Moco's analyze() free function to opensim-core"
Moco contains an analyze() free function that evaluates outputs along a trajectory.

[2020-04-08 13:54] UserUsingGit commented on #2692
Sorry for the late answer. It worked perfectly, thank you very much! Next time, I will post relating questions to the SimTK forum.

[2020-04-08 23:11] aymanhab commented on #2717
@chrisdembia I'm thinking of promoting this function to a utility program (that can be invoked thru opensim-cmd) that includes visualization of marker data and IMU data. Thoughts?

[2020-04-08 23:15] chrisdembia commented on #2717
That would be fantastic!

[2020-04-09 15:13] jenhicks opened #2720 "Provide access to IMU-Based IK in the GUI"

[2020-04-09 15:14] #2720 closed

[2020-04-09 15:14] jenhicks commented on #2720
Issue moved to [opensim-org/opensim-gui #1188](https://github.com/opensim-org/opensim-gui/issues/1188) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-09 15:58] cversteeg opened #2721 "Integrator step fails due to underflow (Required condition 't1>t0' was not met."
I am trying to do some reinforcement learning to move an arm around with opensim-rl, but am encountering issues with two different models that I am trying.  From searching previous posts, I have found previous issues related to this where the culprit was an underflow on the integration step. The solutions advised previously have been tighter integration accuracies, but those haven't worked reliabl

[2020-04-09 16:10] cversteeg commented on #2721
Also, visualizing the model during the training process shows that it often fails at similar postures. Could there be something with the geometry that makes it especially stiff?

[2020-04-09 16:28] chrisdembia commented on #2707
This is caused by using SWIG 4; our bindings only work with SWIG 3.0.8 through SWIG 3.0.12.

[2020-04-09 18:27] cversteeg commented on #2721
More info: Shrinking the muscle activations by a scalar seems to have made the problem less severe. I am able to get it to run consistently now. Perhaps excessive co-contraction in the model increased the stiffness about the joints to a point where it becomes unstable?

[2020-04-09 23:12] aymanhab opened #2723 "Visualize mocap and imu data in API"
There's no utility as of now to allow users to inspect mocap data or IMU data in the API, through Matlab or Python making debugging quite hard or next to impossible.

[2020-04-09 23:14] chrisdembia commented on #2721
By default, OpenSim uses Simbody's adaptive-step integrators. When the derivatives reported by the ordinary differential equations are large, the time step becomes very small.

Simbody does provide fixed-step integrators, and you can also specify a minimum step size.

This seems to be an issue with a stiff model; your question might be more appropriate for the OpenSim forum. There, you can show th

[2020-04-09 23:14] #2721 closed

[2020-04-10 19:13] aymanhab opened #2724 "Document CMake requirements on dependecies"
When incorporating new libraries into opensim-core, the library is assumed to have some specific layout (platform dependent). That typically includes "cmake" folder and have specific contents in this folder that defines include and lib paths etc.
If this is documented somewhere that would be great (appreciate a link here for future reference), if not we need to document these requirements so that

[2020-04-10 20:44] jenhicks commented on #2724
@aymanhab Are there specific dependencies for which this is an issue? I'm having trouble understanding what the specific action items are. Thanks!

[2020-04-10 21:34] aymanhab commented on #2724
The specific action is documentation. There are variety of ways libraries can be included, @chrisdembia did the magic to help Ezc3d conform to a convention that's basically undocumented. That is unsustainable long term.

[2020-04-10 21:43] jenhicks commented on #2724
So you are asking @chrisdembia to document or provide a link to the documentation for the steps he took to integrate the ezc3d libraries?

[2020-04-10 21:43] chrisdembia commented on #2724
I can attempt this.

[2020-04-10 21:44] jenhicks commented on #2724
Thanks. The developing.md doc seems like the right place.

[2020-04-10 22:09] aymanhab commented on #2724
Thanks @jenhicks and @chrisdembia This came along during the review of a PR and I didn't want to put it on hold pending documentation. developing.md could be a good place indeed.

[2020-04-11 02:09] chrisdembia commented on #2724
See #2726

[2020-04-12 09:25] aseth1 commented on #2723
@aymanhab this would be great to add to 4.2. We've had a previewer for marker data [here](https://github.com/opensim-org/opensim-core/blob/2fc6dc1d23734f3b5f8d58c3b3833871e756c675/OpenSim/Sandbox/futureMarkerPreview.cpp) and that has been integrated in OpenSense with `ExperimentalMarker` and was part of [`IMUInverseKinematicsTool`](https://github.com/opensim-org/opensim-core/blob/1e22b11c22feb6c29

[2020-04-13 01:11] jimmyDunne opened #2731 "Build failure due to numpy headers"
Mac 10.15.4 (Fresh Machine)
Python 3.7 (Homebrew)
Numpy is installed in /usr/local/lib/python3.7/site-packages/numpy
Numpy arrayobject is found in /usr/local/lib/python3.7/site-packages/numpy/core/include/numpy

I am getting a build failure on a new machine seemingly related to numpy.

[code]

![image](https://user-images.githubusercontent.com/5296507/79084495-155c5280-7d02-11ea-9bd3-4e152bab4011.

[2020-04-13 23:11] jenhicks commented on #2710
@aymanhab This was something that came up as useful info to help with the IMU project (with Mazen, Hannah).

[2020-04-13 23:18] 5petko opened #2732 "Install Failure XCODE IDE"
Mac OS X Catalina
Python 3.7
SWIG 3.0.12

BUILD succeeded
RUN_TESTS_PARALLEL succeeded
INSTALL FAILED

Undefined symbols for architecture x86_64:
  "SimTK::CacheEntryInfo::recordPrerequisiteVersions(SimTK::StateImpl const&)", referenced from:
      SimTK::CacheEntryInfo::markAsUpToDate(SimTK::StateImpl const&) in Component.o
  "SimTK::CacheEntryInfo::validatePrerequisiteVersions(SimTK::StateImpl c

[2020-04-14 00:09] 5petko commented on #2732
Found out the INSTALL BUILD had a different debug setting. Made it same as BUILD

[2020-04-14 00:09] #2732 closed

[2020-04-14 08:41] aymanhab commented on #2710
Thanks @jenhicks for the heads up, PR #2733 has a fix.

[2020-04-14 10:19] #2707 closed

[2020-04-14 18:57] jimmyDunne commented on #2731
@chrisdembia any suggestions on approaches I could use to fix?

[2020-04-14 19:01] chrisdembia commented on #2731
Just saw this issue; sorry about that.

Try setting `PYTHON_NUMPY_INCLUDE_DIR` to `/usr/local/lib/python3.7/site-packages/numpy/core/include` (remove `/numpy` from the end).

[2020-04-14 21:10] jenhicks commented on #2724
Would be helpful to do this before integrating spdlog ... Ayman can "test" the documentation

[2020-04-14 21:21] jenhicks commented on #2717
From @chrisdembia and @nickbianco : could call it "playback()" or "animate()".

[2020-04-14 21:30] chrisdembia opened #2734 "[Mac] Building a plugin with the distributed binary SDK looks for MacOS10.13.sdk for Accelerate.framework"
@aseth1 reported that building a plugin on Mac with the 4.1 expects a MacOS10.13.sdk for linking to Accelerate.framework using an absolute path. We should change this to a relative path somehow.

This is actually a Simbody issue, because it's Simbody that links to Accelerate.framework.

[2020-04-14 21:47] chrisdembia opened #2735 "Move ScapulothoracicJoint into opensim-core"
https://github.com/opensim-org/ScapulothoracicJointPlugin

[2020-04-14 21:49] chrisdembia commented on #36
Chris: Actuators, Analyses
Nick: Tools
Carmichael: Applications folder

[2020-04-14 21:54] chrisdembia commented on #36
List the print() functions and decide whether or not this is logged.

[2020-04-15 00:06] jimmyDunne commented on #2731
Thanks, Chris. That solved it. Looking forward to using the new features :)

[2020-04-15 00:06] #2731 closed

[2020-04-15 09:04] annshorn opened #2736 "Example of force application"
Hi, I have a question about how properly realization force application into point.
I took model from [this](https://github.com/stanfordnmbl/osim-rl/blob/master/osim/models/arm2dof6musc.osim)

And my code repeat your code in example of usage:
[code]

This code works well, but moving of  hand represents a damped pendulum (and I need not).
I tried apply different functions with force from [here](http

[2020-04-15 10:11] annshorn commented on #2736
UPD.
I took [this](https://github.com/drt-ftl/OpenSim4.0/blob/334f95b624cac4647f9e93b828dd86a08a6bd790/Bindings/Java/Matlab/Dynamic_Walker_Example/AddCoordinateActuator.m) code for Matlab and rewrite it for my case:

[code]

but my picture of motion also didn't change :(

[2020-04-15 10:40] #2736 closed

[2020-04-15 14:51] aymanhab opened #2737 "Build failures due to missing Numpy"
GitHub Actions on Mac and Windows fail due to missing Numpy, also reported by other users (@jimmyDunne) need to make the process of finding numpy and populating PYTHON_NUMPY_INCLUDE_DIR more robust.

[2020-04-15 14:55] aymanhab commented on #2710
@malborno Not sure if you can try PR #2733 to see if reporting is helpful or can be improved. No GUI build yet but can trigger one if needed, also maybe helpful to Hannah.

[2020-04-15 15:10] moorepants commented on #2737
CMake can find NumPy: https://cmake.org/cmake/help/v3.17/module/FindPython.html

NumPy also has this function: https://numpy.org/devdocs/reference/generated/numpy.get_include.html which is generally helpful.

[2020-04-15 16:27] chrisdembia commented on #2737
@aymanhab I see you are working on this directly on master, which is not great but I understand given the fact that the GitHub Actions are run only on master.

It would be great to fix this in the same way we do for Moco, which successfully uses GitHub Actions and NumPy.

https://github.com/opensim-org/opensim-moco/blob/82a13eb2c3fb6ce9aa88547f4e1895e467409c23/.github/workflows/continuous_integrat

[2020-04-15 16:32] aymanhab commented on #2737
@chrisdembia yes unfortunately it has to be done on master . Thanks for the pointer.

[2020-04-15 19:32] aymanhab commented on #2737
I updated the files for github actions and they're building now (past numpy issue), however will leave this issue open since we don't know how common was @jimmyDunne scenario, maybe fixed by upgrading Cmake as suggested by @moorepants

[2020-04-15 21:31] cversteeg commented on #2721
Thanks for the response! I have gotten the model to work for thousands of epochs, but it still invariably hits this issue. I tried to set a minimum step size for the integrator, but it seems like it is  encapsulated inside the Manager class in python. The methods for setIntegratorMinimumStepSize() aren't part of the class as they are in the C++ documentation. How do I ago about setting that parame

[2020-04-15 21:51] chrisdembia commented on #2721
The opensim Python package should provide `Manager.setIntegratorMethod()`, `Manager.setIntegratorMinimumStepSize()`, `Manager.setIntegratorAccuracy()`. I'm not sure if these updates made it into `osim-rl`; do you know, @carmichaelong ?

[2020-04-15 22:13] carmichaelong commented on #2721
IIRC, the version of OpenSim that `osim-rl` uses didn't have those changes. I'm not sure when it was last updated. There might have been some changes into the specific branch of OpenSim that `osim-rl` uses that exposed only `setIntegratorAccuracy()`.

[2020-04-16 01:10] chrisdembia commented on #36
I'll take ExampleComponents.

[2020-04-16 01:21] chrisdembia commented on #36
I'll leave Simulation to someone else, though I am creating a PR soon in which I did update ControlSet.cpp.

[2020-04-16 18:03] aymanhab opened #2740 "Consider making Solvers into Components"
Original discussion started along PR #2733 Copied here for future reference by @aseth1

The Component abstraction is not only for ModelComponents but for Solvers and Operators and other calculators that use System resources. It would be straightforward to make Solver derive from Component. InverseKinematicsSolver would have ListOutput with a Channel for every error. These would include Coordrinate

[2020-04-16 18:12] aymanhab commented on #2740
I sure like the idea of using outputs in Solvers as you clearly laid out, however I don't think deriving from Component as it stands now is the best way to go about it, just read the comments at the top of Component.h, look at the list of methods and you'll undoubtedly see that it's not a great fit even though that was the original intention. I can go into specifics but if we agree on the need to

[2020-04-16 19:27] RobertCalise commented on #2737
I'm getting what I think is a similar error. MacOS 10.15.4, cmake 3.17.1 installed by Homebrew. Following the process described in the README. I can successfully build on Ubuntu 18.04, but not my Mac.

[code]

I ran `make --debug=j` to see if it would shed some light on what's going on, and the output I get is:

[code]

So even though PYTHON_NUMPY_INCLUDE_DIR is set in ~/.zshrc, it's still not fin

[2020-04-16 21:48] chrisdembia commented on #2737
@RobertCalise `PYTHON_NUMPY_INCLUDE_DIR` is a CMake variable that should be set for you automatically; can you show the output of `cmake . -LAH` from your `opensim-core` build folder?

I think setting `PYTHON_NUMPY_INCLUDE_DIR` as an environment variable will have no effect.

It may be easier to resolve this over a quick phone call; you can contact me via my email address on my GitHub profile.

[2020-04-16 22:13] RobertCalise commented on #2737
@chrisdembia will email you shortly.

PYTHON_NUMPY_INCLUDE_DIR is nowhere to be found in that output, shown here:
https://gist.github.com/RobertCalise/b7c562c99821fcf922d91916dcfd891a

[2020-04-16 23:57] chrisdembia commented on #2737
@RobertCalise resolved the issue by clearing the CMake cache and getting rid of pyenv.

[2020-04-17 13:44] joaobelo92 commented on #2735
I would really appreciate this feature. I don't have experience with C++, but if anyone wants to guide me I would spend time implementing this.
I am a CS PhD student with experience in other programming languages.

[2020-04-17 14:22] SepehrRa commented on #2076
@mitkof6 I have a similar problem in running CMC in  Matlab did you found a solution? Here is my code.
[code]
@chrisdembia I can not change the "force data file" directory by using `setForceSetFiles`. It considers directory which is in 'subject01_walk_grf.xml'. So when I want to apply CMC on dataset with different external force it would not change.  Do you have any idea? Thank you.

[2020-04-17 16:12] chrisdembia commented on #2735
@aseth1 said he needs to make a few changes to the plugin before it's ready to include.

Have you been able to use the joint as a plugin?

If @aseth1 is interested in you leading the integration, I could provide any guidance.

Also, you can create a fork of opensim-core and try including the joint in your own build.

[2020-04-17 18:37] mitkof6 commented on #2076
If the set external force does not work, then you should write the external loads setup file and use the `cmc.setExternalLoadsFileName()` instead. Here is an example how I avoid this problem.

[code]

Please note that if you use OpenSim v3.3 you should use ForceSet instead of SetForce. Keep in mind that the setForceSetFile might be ignored if called in wrong order.

[2020-04-17 18:38] chrisdembia commented on #2076
Thank you so much for sharing that, @mitkof6 !

[2020-04-18 05:07] SepehrRa commented on #2076
@mitkof6 Thank you. It solved based on your idea, except I changed `printToXML` to `print`. Because MATLAB did not recognize  `printToXML`. Here is the code.
[code]

[2020-04-18 09:17] joaobelo92 commented on #2735
Hi @chrisdembia.
Although I am able to load the plugin successfullyon Windows, I get an error when trying to load it on mac:
[code]

I also tried with OpenSim 4.0 and got the same issue.

Will do!

[2020-04-18 19:15] chrisdembia commented on #36
I'm also working on Common.

[2020-04-21 21:44] chrisdembia commented on #36
I updated the checklist in the top post based on our dev meeting today.

[2020-04-22 13:39] aseth1 commented on #2740
@aymanhab `Component` was originally written with this purpose in mind.

https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.h#L26-L42

Please let me know which statement you believe contradicts  this intent for `Component`. Solvers and other computation components often need direct access to and modify the underlying MultibodySystem including additional System resourc

[2020-04-23 20:11] carmichaelong opened #2746 "MovintPathPoint inherits location property from Point but does not use it"
Follow-up from https://github.com/opensim-org/opensim-models/pull/126

[2020-04-23 20:30] aymanhab opened #2748 "Unify error reporting for all quantities in IK"
Arose during discussion of PR #2733, since error reporting of orientations is different (table of errors) while legacy IK doe snot report list of errors but rather the max error and worst marker names.

[2020-04-23 20:42] aymanhab commented on #2740
Thanks @aseth1

Here are the comment at the top of Component.h
"
 * The abstract Component class defines the interface used to add computational
 * elements to the underlying SimTK::System (MultibodySystem). It specifies
 * the interface that components must satisfy in order to be part of the system"

Obviously Solvers in general are not a part of the SimTK:System, though they interact with it.

T

[2020-04-28 13:31] aseth1 commented on #2735
@joaobelo92 and @chrisdembia I am happy to oversee the move. Please use the opensim_40_compatible branch to begin with. The big addition will be to add a corresponding test to *testJoints*.  Test joints compares Joints defined in OpenSim with mobilizers and/or constraints implemented directly in Simbody.  The Simbody side is basically what the joint does within `extendAddToSystem()`. It should als

[2020-04-28 14:37] antoinefalisse opened #2752 "OpenSense - IMUInverseKinematicsTool - results_directory"
Hi,

I was playing around with OpenSense through MATLAB and noticed that `set_results_directory()` is not very intuitive. From what I understand (based on [this code](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Tools/IMUInverseKinematicsTool.cpp#L213)), the results will be saved in a folder (e.g., IK_results) **within the folder where the MATLAB script is**. I find it "annoying

[2020-04-28 16:20] aymanhab commented on #2752
Thanks for reporting @antoinefalisse Totally agree.

[2020-04-28 21:17] #2625 closed

[2020-05-01 18:08] aymanhab opened #2757 "Doxygen warnings coming from ActivationCoordinateActuator.h"
1>D:/src/opensim-core/OpenSim/Actuators/ActivationCoordinateActuator.h:56: warning: Conditional section with label                                                              does not have a corresponding \endcond command within this file.
1>D:/src/opensim-core/OpenSim/Actuators/ActivationCoordinateActuator.h:53: warning: Conditional section does not have a corresponding \endcond command within t

[2020-05-01 21:37] chrisdembia commented on #2757
This is fixed on the `feature_logging` branch:

https://github.com/opensim-org/opensim-core/blob/38937261eb39fcb6515747b0fcc0b2b328b6ffe2/OpenSim/Actuators/ActivationCoordinateActuator.h#L32-L45

[2020-05-02 02:16] daichi-3110 opened #2758 "I want to know about how to simulate when external force is applied."
I am using McKibbenActuator in OpenSim. Is it possible to find out how much the muscle resists when an external force is applied to the model and it is moved? If a constant external force is applied, it will continue to move. In reality, I think the muscles will resist and become immobile.
The model is https://simtk.org/projects/finger

[2020-05-02 14:07] jenhicks commented on #2758
Thanks for the question. This type of inquiry is best suited for our user forum, linked below. Please post your question there.

https://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=91&pluginname=phpBB

[2020-05-02 14:07] #2758 closed

[2020-05-05 21:53] carmichaelong opened #2761 "BodyKinematics file comments are not self-consistent"
All 3 files from `BodyKinematics` analysis have inconsistencies in the notes:

From `pos` file:

`inDegrees=no` and `Angles are in degrees` are not self-consistent.

Something else to check is if #2208 is related or not.

[Jumper_BodyKinematics.zip](https://github.com/opensim-org/opensim-core/files/4583782/Jumper_BodyKinematics.zip)

[2020-05-07 16:58] aymanhab commented on #246
@carmichaelong did you have a chance to check this with the fix to https://github.com/opensim-org/opensim-gui/issues/1182 Thanks

[2020-05-07 19:37] carmichaelong commented on #246
I did not recall checking mesh, only the Geometry. Separately, seems like this issue also documents a separate issue about how some components are scaled and some are not (rather than just a visualization issue)?

[2020-05-09 05:12] aymanhab opened #2762 "Cleanup Swig warnings"
Lots of warnings running swig, would be good to reduce/fix to avoid clutter and to catch new issues

[2020-05-11 07:26] Prakyathkantharaju opened #2763 "python install error: from . import _simbody ImportError: libSimTKmath.so.3.7:"
Hello,
I am trying to install opensim for python3.8, using the instruction :
https://github.com/opensim-org/opensim-core.
During the install
`ctest -j8`
Only 2 python test is failing.
To debug this I performed following step:

- `sudo python3 setup.py install` in the opensim-core/lib/python3.8/site-packages
- `python3 -c "import opensim"`
I am getting following error:
`>>> import opensim
Traceback

[2020-05-12 07:56] martinandrovich opened #2766 "CMake find_package() cannot find OpenSim"
After following the guide and successfully building and installing OpenSim on my Ubuntu 18.04 machine via the super build approach, there was an error when trying to find the package in `CMakeLists.txt`:

[code]

The issues can be resolved by adding the following (with `~/opensim/` being the install directory):
[code]

It would be nice if the guide mentioned a proper way of handling this or added

[2020-05-12 08:00] chrisdembia commented on #2766
Hey @martinandrovich, `FindOpenSim.cmake` is an older mechanism, and I think using an OpenSim Config file is more appropriate.

Specifying `OpenSim_DIR` or `CMAKE_PREFIX_PATH` in downstream projects is standard practice with CMake.

We give a tip about this here:

https://github.com/opensim-org/opensim-core/blob/2f5d4b09722e57359e2ff1787328527050a4d34e/cmake/SampleCMakeLists.txt#L17-L21

[2020-05-12 08:13] martinandrovich commented on #2766
Oh okay, was not aware of that (not a CMake power-user to be honest), thanks @chrisdembia . And yes, I found that sample file as well, but I thought that running the install command would actually make the config file available for CMake without having to do it manually.

[2020-05-12 14:53] chrisdembia commented on #2766
Any suggestions for how we can make the instructions/documentation/sample clearer?

[2020-05-12 17:50] martinandrovich commented on #2766
The guide was actually fine; maybe an example in the end of how to use OpenSim with CMake would be helpful, or at least a mention or reference to the `SampleCMakeLists.txt` file.

Also, I noticed that the `OPENSIM_COPY_DEPENDENCIES` configuration option does not show up per default when using the CMake GUI (it is hidden under advanced, but set to true).

An `apt install opensim` option would be am

[2020-05-12 21:07] #2716 closed

[2020-05-13 09:52] annshorn opened #2767 "AttributeError: module 'opensim' has no attribute 'IMUInverseKinematicsTool'"
Hi, it's a little bit strange for me that module 'opensim' has no attribute 'IMUInverseKinematicsTool', this is standard code that I want to run:

[code]

Gives:
[code]

What's happen and how to solve it? :)
Thank you in advance.

PS. This model (arm26_calib.osim) and file (data_from_sensor_orientations.sto) work fine in matlab, but I need actually all in python

[2020-05-13 14:37] aymanhab commented on #2767
@annshorn thanks for reporting, the class IMUInverseKinematicsTool is available only since version 4.1, if you're using an earlier version or have connected python on this machine with an earlier version of OpenSim you'll see this error. Please check what version(s) you have on your machine.

[2020-05-13 15:23] Linardos opened #2768 "How to use GUI on linux?"
After successfully building from source, how can I open the GUI? Considering I am using an ubuntu machine.

[2020-05-13 20:19] aymanhab commented on #2417
This came up recently on the forum. Should be easy to include PropertyHelper in Python as we do for Java. Tool's model filename was done as part of refactoring to use new Properties.
@carmichaelong @chrisdembia

[2020-05-13 21:00] marnunez commented on #2763
Hi! Try running make install before ctest. I use a python script (https://github.com/marnunez/opensim-build) to build the current master, check the environment variables as well. Ah, and make sure you either choose ezc3d or btk if you're planning on building the GUI

[2020-05-13 21:01] chrisdembia commented on #2417
That sounds like a good idea to me.

[2020-05-13 22:28] aymanhab commented on #2763
Your CMakeCache refers ro SWIG 4.0 which is not supported yet, please revert to use SWIG version 3.0.9 or 3.0.12, if that resolves the problem please close this issue. Thank you

[2020-05-14 10:27] #2767 closed

[2020-05-14 13:37] marnunez commented on #2768
Hi! This repository is only for the core library, the GUI itself is in [opensim-gui](https://github.com/opensim-org/opensim-gui). Instructions on how to build it are in the docs, and there's a [full Linux installer](https://github.com/opensim-org/opensim-gui/pull/1181) now!

[2020-05-14 16:48] annshorn opened #2771 "Failed tests and ModuleNotFoundError"
Hi, there is another problem that I faced. I went through rules and on the step:
`ctest -j8`

I got this:

[code]

My main goal is the opportunity to import OpenSim into Jupiter notebook. And after doing installation still can't import (ModuleNotFoundError: No module named 'opensim')

Is it because of not all tests passes?

[2020-05-14 17:17] aymanhab commented on #2771
test failures have no downstream effect, so unrelated but may indicate problems with your build/environment. Likely you didn't build C3D support, make sure you choose value other than None for OPENSIM_C3D_PARSER is using latest master branch, or turn on WITH_BTK if using 4.1 code base.  This likely will take care of the java test failures. Python failures likely due to using unsupported python, ou

[2020-05-14 18:02] annshorn commented on #2771
In the "CMakeCache.txt" in opensim_build changed

[code]

to

`OPENSIM_C3D_PARSER:STRING=WITH_BTK`

It gives:
[code]

About python actually I don't understand: I use python 3.7 from anaconda - is it not supported?

[2020-05-14 18:10] chrisdembia commented on #2771
Do you mean `OPENSIM_C3D_PARSER:STRING=BTK` (no `WITH_`)?

Python 3.7 from Anaconda is supported if you are building from source (as you are). The issue may be that you are trying to import the python libraries using a version of python different from the one that CMake found and used to build OpenSim's python library.

[2020-05-14 18:10] #2768 closed

[2020-05-14 18:10] chrisdembia commented on #2768
Thanks for replying, @marnunez!

[2020-05-14 18:12] aymanhab commented on #2771
- You should use CMake GUI to make these changes rather than edit the cache: since you're using latest master, use BTK from the dropdown and point CMake to where this is located.
- As @chrisdembia pointed out, you need to make sure the same python used for building in (CMake)  is used for installing/running.

[2020-05-14 18:49] annshorn commented on #2771
"CMakeCache.txt":

<img width="715" alt="Снимок экрана 2020-05-14 в 21 32 27" src="https://user-images.githubusercontent.com/49962972/81971895-78efdd80-962a-11ea-9708-76b2fe62d852.png">

And screen of the calling Jupiter:

<img width="821" alt="Снимок экрана 2020-05-14 в 21 33 27" src="https://user-images.githubusercontent.com/49962972/81972033-ab99d600-962a-11ea-9a89-0580a6bc498e.png">

for me pa

[2020-05-14 19:39] aymanhab commented on #36
Tested logging in Matlab/Windows. Default behavior is nothing to shell, all messages go to opensim.log, changing level indeed changes what's written to the file. What else to test?

[2020-05-14 20:01] chrisdembia commented on #36
Run the following and ensure that you see output in the Matlab Command Window.

[code]

Ensure that you only see OpenSim output after `pre`

[2020-05-14 20:08] aymanhab commented on #36
Thanks @chrisdembia this worked as described 👍

Separately I tried to call Logger.addFileSink and that didn't create a file but this seems unrelated to Matlab so I'd mark Matlab testing done.

[2020-05-14 20:12] chrisdembia commented on #36
Great!

[2020-05-15 15:41] annshorn commented on #2771
<img width="850" alt="Снимок экрана 2020-05-15 в 18 40 10" src="https://user-images.githubusercontent.com/49962972/82069105-8b761f80-96db-11ea-9879-da3d13763590.png">

<img width="428" alt="Снимок экрана 2020-05-15 в 18 40 34" src="https://user-images.githubusercontent.com/49962972/82069132-94ff8780-96db-11ea-88e7-5fbb3af60418.png">

[2020-05-15 16:27] chrisdembia commented on #2771
Can you run `ctest --output-on-failure -R python_tests` and share the output?

[2020-05-15 16:39] annshorn commented on #2771
<img width="632" alt="Снимок экрана 2020-05-15 в 19 39 14" src="https://user-images.githubusercontent.com/49962972/82074660-c714e780-96e3-11ea-8888-17b6dc27538e.png">

[2020-05-15 16:43] chrisdembia commented on #2771
Hmm...I wonder why the `--output-on-failure` flag isn't helping to show more output from the test.

Perhaps we could address this quicker over a phone chat; you can email me (see my GitHub profile).

[2020-05-15 16:54] annshorn commented on #2771
Ok, wrote you, please check your spam (because maybe my mail can got into spam)

[2020-05-17 04:51] zan3566 commented on #2076
Hi,
Could you share your running CMC tool in Matlab script with me?
I am stuck at this step

thank you so much!

[2020-05-19 02:34] chrisdembia commented on #2737
@aymanhab is this resolved?

[2020-05-19 02:36] chrisdembia commented on #2771
@annshorn and I looked further into this...the segfault is related to Anaconda. If we use Homebrew's Python, there is no issue. I was able to reproduce the segfault locally.

[2020-05-19 02:47] aymanhab commented on #2737
Yes, seems to be working and github Actions work, will close

[2020-05-19 02:47] #2737 closed

[2020-05-19 07:49] #2771 closed

[2020-05-19 16:10] chrisdembia commented on #2771
I think I've fixed this issue. Some background:

- https://github.com/pybind/pybind11/issues/1579
- https://github.com/shogun-toolbox/shogun/issues/4068
- https://github.com/deeptools/pyBigWig/issues/58
- https://github.com/djsutherland/shogun-feedstock/commit/657e9be019578c8fb7d1fd930d73707dea469ee2
- https://github.com/lisitsyn/shogun/commit/961f6109c2a8abab4941bcdde1a19dfe70c440f1
- https://git

[2020-05-19 23:10] RobertCalise opened #2774 "Segmentation fault when importing opensim"
When trying to import opensim, I am seeing a segmentation fault. I've tested it using opensim-core built from source and using the bindings provided by the OpenSim 4.1 installable package; both have the same end result.

[code]

Operating system is MacOS 10.15.4 (19E287); Python is installed via homebrew; have tried this in and out of a virtual environment. In troubleshooting, I also found #2704,

[2020-05-19 23:15] RobertCalise commented on #2774
(I realize the above example uses the OpenSim 4.1 package, I'm rebuilding from source and will post another crash if necessary using the opensim-core bindings.)

[2020-05-19 23:26] chrisdembia commented on #2774
Hey, @RobertCalise , I believe we just fixed this issue; #2771 . The fix was merged earlier today; let us know if that helps.

[2020-05-19 23:38] #2309 closed

[2020-05-20 01:00] RobertCalise commented on #2774
Hey @chrisdembia, unfortunately, that did not. I am using the latest commit as part of my build process and it is still resulting in a segmentation fault.

[2020-05-20 04:40] chrisdembia commented on #2774
Can you show your `CMakeCache.txt` file? Specifically, the values of the variables starting with `PYTHON_`?

[2020-05-20 19:52] Prakyathkantharaju commented on #2763
@aymanhab I tried with swig 3.0.12, which did not resolve the issue.

[2020-05-20 20:06] aymanhab commented on #2763
I would start at using python 3.6 from python.org as we build/test against that on every commit (log here: https://github.com/opensim-org/opensim-core/runs/690040928 (uses python 3.6 on ubuntu 18.04). Once you have this going, you should make changes, if necessary, one at a time to figure out what breaks the build since we can't reproduce all the variety of os/python-distribution combinations.

[2020-05-21 01:20] Prakyathkantharaju commented on #2763
@marnunez Thank you code worked for the python installation.
I am still figuring installation with GUI.
@aymanhab Thank you for your help.

[2020-05-21 01:20] #2763 closed

[2020-05-21 21:32] chrisdembia commented on #2712
@carmichaelong this could be a nice issue to bite off, if you have time.

[2020-05-21 21:34] chrisdembia commented on #2713
@carmichaelong this issue is a little bigger than #2712 because we want to templatize `TableProcessor`; there is some more information over at https://github.com/opensim-org/opensim-moco/issues/628.

[2020-05-26 22:36] aymanhab opened #2780 "Enable specifying weights for Orientation tracking in IK"
As of now the orientation weights are available internally but are not exposed to users in XML. Needed for ongoing research.

[2020-05-26 22:37] aymanhab opened #2781 "Model Calibration before IK fails for some configurations"
Reported by @malborno

[2020-05-27 19:40] carmichaelong opened #2782 "BodyKinematics and PointKinematics acceleration calculation issues"
See: https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=11925&p=33869&start=0&view=

[2020-05-27 20:59] #36 closed

[2020-05-27 23:35] carmichaelong commented on #2782
With the pendulum model, also tried using `/|com_acceleration` with an `OutputReporter` which was in agreement with the erroneous `BodyKinematics` and `PointKinematics` acceleration calculations

[2020-05-28 15:19] Prakyathkantharaju commented on #2664
Hello , I am not you were able to install, but this might help:
https://github.com/marnunez/opensim-build

[2020-05-29 13:28] mitkof6 opened #2783 "Problem building java binding on Arch Linxu"
I am getting the following error at the end of the compilation when the binding are compiled:

[code]

Do you have any directions how to fix this?

[2020-05-29 13:56] marnunez commented on #2783
Which SWIG version are you using?

[2020-05-29 15:18] mitkof6 commented on #2783
Hi. I used SWIG 4.0.1.

[2020-05-29 15:25] chrisdembia commented on #2783
opensim-core does not yet support SWIG 4 :(

[2020-05-29 15:29] mitkof6 commented on #2783
Thanks. I did not expect to have backward compatibility issues. For python it seems to work with newer versions, but not with Java. Maybe this error can be fixed. Are you aware of this issue?

[2020-05-29 15:33] chrisdembia commented on #2783
We are aware of this issue, and we do not have a fix yet. I think it's a bug with SWIG. If you find a fix, that would be great :)

https://github.com/opensim-org/opensim-core/issues/2707
https://github.com/opensim-org/opensim-core/issues/2524

[2020-05-29 17:52] mitkof6 commented on #2783
A quick fix is to comment:

[code]

in `Bindings/common.i`. Do you think that this object will be used?

[2020-05-29 18:01] chrisdembia commented on #2783
Unfortunately, yes, it's used here:

https://github.com/opensim-org/opensim-core/blob/c00135abd92d4d7ac155d1e604dfa1612493ea3c/Bindings/Java/Matlab/Utilities/osimC3D.m#L64-L71

[2020-05-31 02:35] aymanhab opened #2785 "Describe new logging capabilities in changelog for 4.2"

[2020-06-01 21:35] chrisdembia commented on #2622
We should revisit this, now that the GUI is using GitHub Actions.

https://github.com/opensim-org/opensim-core/blob/master/.github/workflows/continuous_integration.yml

The script needs to be updated to be triggered on push/pull requests, to deploy binaries, to cache the builds of dependencies, to use ezc3d instead of BTK, and to perhaps use VS2019 instead of VS2017.

We should be able to work off

[2020-06-02 21:25] aymanhab opened #2787 "Provide more details on OpenSense heading correction"

[2020-06-02 21:27] aymanhab commented on #2787
Confluence https://simtk-confluence.stanford.edu/display/OpenSim/OpenSense+-+Kinematics+with+IMU+Data

[2020-06-02 21:30] aymanhab commented on #2787
Code https://github.com/opensim-org/opensim-core/tree/master/OpenSim/Simulation/OpenSense

[2020-06-03 06:23] hamed-kouchebaghi commented on #1175
hello
I have this very problem (SimTK Exception thrown at Xml.cpp:820:
Error detected by Simbody method Xml::Element::getAs(): The given Node was not an Element; it is a NoNode. Use Element::isA() to check before calling Element::getAs().) when trying to visualize arm26 model through MATLAB.
do I have to have opensim version 3.3 on my pc?

thank you,
Hamed

[2020-06-03 19:43] BlackWolf734 opened #2788 "how to contact you?"
a team of russian developers are working on the new education project based on vr tecnologies. We are looking for specialists who can help us, join in our team or get some advices. I hope you are interested in this idea.
contact us:
email: khodzhaevvva@mail.ru
skype, telegram, whatsapp, tel.:+79013634227

[2020-06-03 20:08] aymanhab commented on #2788
You can contact us using simtk project page at https://simtk.org/projects/opensim or directly on github

[2020-06-03 20:09] aymanhab commented on #2788
Since this is not an actual issue, will close.

[2020-06-03 20:09] #2788 closed

[2020-06-04 08:16] mjhmilla opened #2789 "Millard2012EquilibriumMuscle::extendFinalizeFromProperties(): construction of ForceVelocityInverseCurve"
This bug comes thanks to a post by Saurabh Kothari to the forum here:

https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=11970&p=34029&start=0&view=

Summary:
1. In Millard2012EquilibriumMuscle.cpp in extendFinalizeFromProperties the parameters conSlopeAtVmax and eccSlopeAtVmax are set to be 0.1 if they happen to be less than 0.1.

2. However the parameters eccSlopeNearVmax and conSlopeNea

[2020-06-04 22:30] aymanhab opened #2791 "Support running IK on live data"
As of now, the InverseKinematicsSolver caches the data that it is solving for, this limits the ability of clients to provide data on the fly which is needed for live data processing.

[2020-06-04 23:36] aymanhab commented on #2791
One idea is to decouple the data producer (could be file/table or device) from the data consumer (solver) in this case. This approach was tried in https://github.com/RealTimeBiomechanics/rtosim.  A solution that enables the solver to read data from a Queue that could be populated from either a table or live data should solve this problem. Issues to consider:
- Thread safety /synchronization
- In c

[2020-06-05 16:34] annshorn opened #2792 "Specified motion of model without IK Tools"
Hi :)

As I understand, the IK/ID tools allow analyzing the motion of the model with a specified motion file (.mot or .sto).

Like I take a model, load tools, and run it - at this moment I can't "control" my model, I mean, I can only see how model simulates the movement from the loaded file.

Example:
[code]

Is it possible to somehow make this movement from the file the default movement of the mo

[2020-06-06 01:19] chrisdembia opened #2794 "SWIG warning for StringLogSink"
SWIG generates a warning when wrapping StringLogSink:

[code]

[2020-06-11 19:44] aymanhab commented on #2794
Can this be closed @chrisdembia via #2794 and #2798 ?

[2020-06-11 19:48] aymanhab commented on #2792
Hi, I don't think this belongs to the issues. There's ongoing work on tools that enable tracking of motion or IMU data directly (e.g. Moco) but this is outside the scope of openim-core as is. What do you think @chrisdembia @nickbianco ?

[2020-06-11 19:50] #2794 closed

[2020-06-11 19:51] chrisdembia commented on #2792
CMC and Moco both seem appropriate here. @annshorn please ask this question in the forum: http://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=91&pluginname=phpBB

[2020-06-11 19:51] #2792 closed

[2020-06-11 19:57] aymanhab commented on #2334
Failures:
- testInducedAccelerations/subject02_running_arms
- testStaticOptimization/ModelWithPassiveForces activations
- testCMCWithControlConstraintsGait2354/testGait2354 states

[2020-06-11 20:42] aymanhab commented on #2334
[so_diffs.pdf](https://github.com/opensim-org/opensim-core/files/4767212/so_diffs.pdf)
Static Optimization Activation diffs

[2020-06-11 20:59] aymanhab commented on #2334
CMC states diff
[cmc_states_diff.pdf](https://github.com/opensim-org/opensim-core/files/4767284/cmc_states_diff.pdf)

[2020-06-11 21:19] aymanhab commented on #2334
Will need to account for different column labels as well as the fact that the time range/window is different. @chrisdembia can you comment. Thanks

[2020-06-12 08:16] adamkewley opened #2801 "Linking OpenSim causes downstream applications to create a log file"
Minor, non-breaking issue. Close it if it's intended/not big enough to address.

If I write a trivial C++ application that `#include`s the OpenSim headers:

[code]

And then compile + link it into an executable, followed by running the resulting executable:

[code]

Then an empty `opensim.log` is created in the current working directory.

My expectation is that linking, but not using, a library sh

[2020-06-12 18:14] aymanhab commented on #2334
Here's an updated cmc_states_diffs after manually changing the headers.
[cmc_states_diff.pdf](https://github.com/opensim-org/opensim-core/files/4772551/cmc_states_diff.pdf)

[2020-06-12 19:00] aymanhab commented on #2801
@adamkewley Thanks for reporting.
Basically the log file is useful to report/help-troubleshoot issues including loading of dynamic libraries which is done implicitly for you. Depending on log-level you may see messages there indicating what types of objects are available to the code etc. as such this is expected behavior, low-level integrators may do without this mechanism.

I'd also clarify that

[2020-06-14 07:32] #2724 closed

[2020-06-14 07:32] #2170 closed

[2020-06-14 12:02] adamkewley commented on #2801
Sure, again, no biggie.

The possible drawback of that architecture is that any application that links OpenSim is going to produce a `opensim.log` file in the current dir of the executing process. Fine enough when (e.g.) a desktop manager is always booting (e.g.) the GUI with the same working directory, but it can cause confusion for CLI developers, who typically use a range of working dirs.

For

[2020-06-15 18:53] chrisdembia commented on #2559
I created a branch in this repo `moco` into which I've merged the `opensim-moco` repository. I roughly followed these steps to perform the merge: https://stackoverflow.com/questions/1425892/how-do-you-merge-two-git-repositories

The merge had the conflicts listed below; I accepted the `opensim-core` version in these conflicts. These conflicts still need to be resolved through subsequent PRs.

warn

[2020-06-15 21:21] aymanhab opened #2803 "Plugin cmake file has spurious variables"
CMakeLists.txt for plugins contain OPENSIM_INSTALL_DIR variable based on OPENSIM_HOME which has been abandoned since version 3.x and now leads to confusion, reported by users.
![image002](https://user-images.githubusercontent.com/3972208/84707384-70cddb00-af13-11ea-9db7-dddb3d31abbe.png)

[2020-06-15 21:58] aymanhab commented on #2803
The user had OpenSim 3.3 installed which may have contributed to the problem.

[2020-06-16 15:40] aymanhab commented on #2803
This issue applies to all distributed examples' CMakeLists.txt, any reason to keep, @chrisdembia? It's a backdoor but it comes with much luggage that we better close in my opinion.

[2020-06-16 16:41] chrisdembia commented on #2803
No reason. It would be great to provide some hint as to what value to provide for `OPENSIM_INSTALL_DIR`.

[2020-06-16 16:42] chrisdembia commented on #2803
The issue in the above example is that the user chose a 32-bit generator; the issue above does not seem related to the OPENSIM_HOME environment variable.

[2020-06-16 16:56] aymanhab commented on #2803
The user had VS 2015 so it may not have worked anyway, it is still the case however that the two CMake variables are confusing, even worse the fact that OPENSIM_HOME is used to populate one of them when we dropped it a year and a half ago and we have no plans to maintain.

[2020-06-16 17:00] chrisdembia commented on #2803
The two variables are confusing, but `OpenSim_DIR` (in general, `<package>_DIR`) is always generated by CMake; it tells you which package was actually found.

Typical usage of CMake is that users set `CMAKE_PREFIX_PATH` to the install directory of OpenSim. They can also set `OpenSim_DIR` to the location of `OpenSimConfig.cmake`.

I think it's too confusing for users to know to set `OpenSim_DIR` to

[2020-06-16 17:07] aymanhab commented on #2803
Thanks @chrisdembia I think updating the example files to remove reference to OPENSIM_HOME as well as provide help to setting the variables would be a significant improvement. (The user was also confused between the OpenSim folder under Documents (where the examples are installed, and the actual Install folder so we need to be crystal clear). I can take a  stab at it or we can pass on to others wi

[2020-06-16 17:25] aymanhab commented on #2801
@adamkewley thanks for the feedback. I think we are in sync. regarding the current behavior.

Considering the tradeoff between making it easy to log/troubleshoot vs. making it possible to not produce the log file I'd lean to leave the default behavior as is, close this issue and open a different one (or modify this one to something like) to: Enable loading OpenSim libraries without creating a log

[2020-06-16 17:28] chrisdembia commented on #2801
We could introduce an environment variable to control the logging to file.

I think it is abnormal behavior for a library to log to a file by default, but this has also been OpenSim's behavior for a while; I wonder if our users now expect it. One improvement we made was renaming the log files from non-descript `out.log` and `err.log` files to `opensim.log`.

[2020-06-16 18:23] chrisdembia commented on #2559
- [ ] What to do with `build_on_*` scripts?
- [ ] Should opensim-models still be a submodule?
- [ ] Merge Moco doxygen with core doxygen?
- [ ] Merge CHANGELOG?

[2020-06-16 18:46] adamkewley commented on #2801
@aymanhab @chrisdembia , all sounds good and useful points. Feel free to close this off and I'll PR separately.

If I get a spare bit of time, I can try and PR for the environment variable change. I imagine it'll be something along the lines of `auto path = env_var_set ? path_with_fallback_mechanism : "opensim.log"` (not exactly that, but basically that). The main time consumption is probably goin

[2020-06-17 01:06] nickbianco commented on #2388
This one slipped by me. Confirmed that the fix works for DeGrooteFregly2016Muscle in Moco, where we originally encountered it.

[2020-06-17 01:06] #2388 closed

[2020-06-17 23:56] aymanhab commented on #1612
This should be closed by the new logging feature (spdlog), any reason not to close, @chrisdembia, @nickbianco?

[2020-06-18 00:04] #1612 closed

[2020-06-18 16:58] aymanhab commented on #2334
Here's a more meaningful diff between results on branch vs master for CMC test case
[cmc_master_vs_branch.pdf](https://github.com/opensim-org/opensim-core/files/4800018/cmc_master_vs_branch.pdf)

[2020-06-18 17:02] jenhicks commented on #2334
Thanks @aymanhab . These differences seem more reasonable. Did you ever figure out why the kinematic curves are so different for the standard?

[2020-06-18 17:03] aymanhab commented on #2334
Diffs for IAA
[IAA_master_vs_branch.pdf](https://github.com/opensim-org/opensim-core/files/4800044/IAA_master_vs_branch.pdf)

[2020-06-18 17:05] aymanhab commented on #2334
@jenhicks I had to manually change the labels since one of them was old format while the other was new format so it's possible I made a mistake in manually editing the labels that caused an offset at some point, would be hard to reconstruct but I can retry if you feel warranted.

[2020-06-18 19:55] aymanhab opened #2807 "opensim-cmd viz throws Regular Expression related exception and aborts on windows"
latest build on master, try opensim-cmd viz produces:

[error] regex_error(error_stack): There was insufficient memory to determine whether the regular expression could match the specified character sequence.

[2020-06-18 20:00] chrisdembia commented on #2807
Darn. I thought that restricting the Options descriptions to one line kept us safe from this issue. Could someone using Windows look into this?

[2020-06-18 20:38] aymanhab commented on #2807
@chrisdembia I can try but not sure what options/knobs to tune since the previous fix seemed like a result of a lucky observation. Any hints or pointers to avoid starting from scratch would be helpful.

[2020-06-18 22:48] aymanhab commented on #2334
@aseth1 I have a branch that removes the property kinematics_of_external_loads and the corresponding filtering option, as well as a port of the fix to IAA that you approved earlier which is now necessary. There are three test failures in: testStaticOptimization, testIAA, testCMCWithControlConstraintsGait2354
Attached above are the differences between master and branch for the cases that fail. Can

[2020-06-19 07:38] #2717 closed

[2020-06-19 07:38] chrisdembia commented on #2715
@carmichaelong fyi the ModelProcessor/ModelOperators depend on the ModelFactory, so it may make sense to move the ModelFactory in the same PR.

[2020-06-22 20:56] aseth1 commented on #2781
Would be nice to document what the configuration dependent failure is. Can you describe the issue?

[2020-06-22 21:32] aymanhab commented on #2781
@aseth1 In the example provided by @malborno that fails calibration, the subject is facing a random direction.  The IMU-z axis is aligned with subject Pelvis-x (users can populate this info based on IMU placement) but heading correction was trying to align IMU-z with Ground-x (which is hard to define for users in random configurations since pelvis rotation between ground and pelvis is arbitrary).

[2020-06-22 23:28] aymanhab commented on #2781
More details regarding the workflow used above by @malborno :

- Marker data was used to scale and pose the model
- Resulting pose had non-zero pelvis rotation
- Pose resulting from previous step is set as a default-pose which is used to place/register the IMUs to the model.
- Because of non-zero pelvis rotation, ground-x and pelvis-x are not aligned.
- The previous mechanism could have worked by

[2020-06-23 09:48] antoinefalisse opened #2812 "XSensDataReader not working with MT Manager 19.2 (last version)"
Hey,

When exporting data with the latest version of MT manager (19.2), the update rate is no longer reported in the output .txt files (it was the case with the previous version - MT manager 4.6). This causes problems when reading the data with the XSensDataReader (see [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/XsensDataReader.cpp#L61)). I have looked for options

[2020-06-23 16:27] jenhicks commented on #2781
Thanks @aymanhab for the additional details. @aseth1 please let us know your thoughts or if you have additional questions.

RE you comment on the PR, my understanding is that if you specify a pelvis rotation of zero in the default pose and the subject begins walking forward from the calibration pose, you will still get meaningful pelvis rotation, etc. values. @aymanhab have you run some tests to v

[2020-06-23 16:41] aymanhab commented on #2781
@jenhicks That's exactly what's tested in the testOpenSense test case, running IK on a calibrated model with 0 pelvis rotation, results downstream will see no change. I'm beefing up the test case to include calibration with non-zero pelvis rotation.

[2020-06-23 16:55] jenhicks opened #2813 "Clarify doxygen landing page"
On this page: https://simtk.org/api_docs/opensim/api_docs/

Change:

….then this documentation contains excessive information and you should check out the user API documentation.

to:

….then this documentation contains excessive information and you should check out the Scripting and Development (https://simtk-confluence.stanford.edu/display/OpenSim/Scripting+and+Development)  documentation.

Make

[2020-06-23 21:24] aseth1 commented on #2781
@aymanhab Thanks for the more detailed description. I see now, and the fix makes sense in this case, I think.  A quicker solution, however, would have been to set the pelvis rotation to zero in calibration pose. It is not very realistic to know the pelvis rotation at calibration time, and this was only known by "cheating" and using the marker-based solution. As noted, the user will have to zero th

[2020-06-24 05:01] ruddbull commented on #2289
Hi Chris,

I have the same issue when trying to use the scaling tool. I tried to rearranged the column but it worsened the situation. Now it only receive 3 keys instead of 8. Can you please take a look?

cheers
[Static_1.zip](https://github.com/opensim-org/opensim-core/files/4823282/Static_1.zip)

[2020-06-24 06:04] ruddbull commented on #2289
Please disregard previous message .... Problem solved :-)

[2020-06-24 20:03] aymanhab commented on #2781
Thanks for the feedback @aseth1
I beefed up the test case to include a model with non-zero pelvis rotation. Results with the fix (green-pelvis) and with manually zeroing out pelvis rotation (orange-pelvis) are shown below
![opensim_snapshot_bothways](https://user-images.githubusercontent.com/3972208/85619289-ec681000-b616-11ea-9489-bc83e5c02b83.png)
The placement looks reasonable, but the pose loo

[2020-06-24 20:42] carmichaelong commented on #2781
I think this is the case due to [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/OpenSense/OpenSenseUtilities.cpp#L249) and [this line](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/OpenSense/IMUPlacer.cpp#L136) which haven't been changed in the PR.

I thought that this should be the case too, but it @aymanhab's test with data abov

[2020-06-24 23:51] aymanhab commented on #2781
@carmichaelong The only difference above is pelvis_rotation. Here's my interpretation:
There's no guarantee that IK (done on markers) will produce a solution that has 0 for pelvis_tilt, list and non-zero for pelvis_rotation, only that the three rotations composed match the orientation, so overriding the solution of one coordinate leads to wrong global orientation as seen in the picture above (you

[2020-06-25 19:47] chrisdembia commented on #2559
I've encountered an issue with Moco and doxygen. I created a doxygen but report: https://github.com/doxygen/doxygen/issues/7873

[2020-06-25 20:36] carmichaelong commented on #2781
Thanks, @aymanhab. I was playing around with the series of rotations, and I can see how this would make sense. I think I'm also now seeing how setting pelvis_rotation to 0 as a "pre-process" step to the heading correction calculation is an issue. Perhaps instead what should be done is to perform a space-fixed Y rotation that would set the pelvis_rotation to 0?

[2020-06-25 21:05] #2807 closed

[2020-06-26 20:01] aymanhab opened #2821 "Review Documentation of Soccer example"
Review instructions and download for Soccer example at
https://simtk-confluence.stanford.edu:8443/display/OpenSim/Soccer+Kick+Example

[2020-06-26 20:42] aymanhab commented on #2812
Thanks for reporting @antoinefalisse, we worked with a specific data-file/formats that we had access to, if there's a new format that we can support, please feel free to attach/send documentation or describe here, or in a PR that builds on existing XSensDataReader class. Thank you

[2020-06-29 11:13] antoinefalisse commented on #2812
Hey @aymanhab, here is an example of what I get out of the latest version of MT manager (19.2 - I assume the version new users will have when starting with Xsens):

[MT_01200454_000-000_00B40DE4.txt](https://github.com/opensim-org/opensim-core/files/4844982/MT_01200454_000-000_00B40DE4.txt)

As you can see, there is no information about the update rate anymore. Since [that rate is required by the

[2020-06-29 16:40] aymanhab commented on #2812
@antoinefalisse Thanks for looking into this, we can disable the check and assume a fixed DataRate if not specified (as is the case here) but what is this data rate then? Is it documented somewhere else either in files or in the XSens documentation? Also I remember user reporting that XSens being capable of exporting Quaternions directly, is that something we need to support? Thank you.

[2020-06-30 07:57] antoinefalisse commented on #2812
@aymanhab I am not sure about the data rate. In the documentation of MTw Awinda (see attached document, table 1, p34), they recommend an update rate depending on the number of sensors being used. But based on what my colleagues told me, they can still choose between several update rates. For instance, we used 15 sensors so it was recommended to use 60Hz but I guess we could have picked 40Hz as wel

[2020-06-30 21:32] aymanhab commented on #2334
@aseth1 Hope you'll have a chance to look at the plots above and give us feedback to move ahead with this PR if possible. Thank you.

[2020-07-06 17:12] jenhicks opened #2825 "Update Documentation of how to use the command line tools"
e.g. https://simtk-confluence.stanford.edu/display/OpenSim/How+to+Use+IAA

[2020-07-06 22:08] anacsousa1 opened #2827 "Python ImportError ModuleNotFoundError in Ubuntu"
Hi, I am trying to install OpenSim in Ubuntu 18.04, but I am getting `ModuleNotFoundError: No module named 'opensim'` when trying to import opensim through python.

Versions installed:

- Ubuntu 18.04 64bit
- cmake 3.10.2
- g++7.5.0
- python 3.6.9
- swig 4.0.2

Everything compiles without errors. However, when running the tests, it fails for python_examples and python_tests.
I attached the error o

[2020-07-06 22:18] chrisdembia commented on #2827
Hey @anacsousa1, thanks for attaching the log. The key message is `ImportError: libSimTKmath.so.3.7: cannot open shared object file: No such file or directory`.

I suspect the issue is how you set `LD_LIBRARY_PATH`. Are the OpenSim libraries indeed located at `~/opensim-core/lib`, or are they in a `x86_64-linux-gnu` subdirectory?

[2020-07-06 22:22] chrisdembia commented on #2697
Is this the same Visualizer crash we saw with BIOE485?

[2020-07-06 22:42] anacsousa1 commented on #2827
I am not entirely sure, but I believe they are in opensim-core/lib:
[code]

Is that it?

[2020-07-06 22:45] aymanhab commented on #2827
SWIG 4.0 is not supported.

[2020-07-06 22:49] chrisdembia commented on #2827
Ah yes, install `swig3.0` instead. I do not know how you successfully built the bindings if you used SWIG 4.0.

[2020-07-06 22:51] anacsousa1 commented on #2827
Hi @aymanhab and @chrisdembia, thanks for the answer.
I installed both swig3 and 4, I just checked the CMakeCache again that I am building for swig3.0:

[code]

[2020-07-07 01:05] aymanhab commented on #2827
The error log refers to /home/ana/opensim-core-build/Bindings/Python/RelWithDebInfo/opensim/ which is a build folder rather than an install folder, maybe that's the issue with LD_LIBRARY_PATH. You should install first and then import the opensim package from the install location. Not sure how the test case is setup to handle this, but the github action builds and tests with python 3.7 so you may t

[2020-07-07 21:48] aymanhab opened #2828 "Replicate build-releases using github actions"

[2020-07-07 22:20] Justinyu1618 commented on #2827
I'm getting this exact same issue. @anacsousa1 were you able to find a solution?

[2020-07-07 23:52] anacsousa1 commented on #2827
I got some help from a colleague, and we were able to fix it by:
1. Running the setup.py for opensim from the build directory
[code]
2. Adding the library directory to the path
`export LD_LIBRARY_PATH=~/opensim-core/lib`
3. Making python3 the default
`sudo update-alternatives --install /usr/bin/python python /usr/bin/python3`

As it is fixed, I am closing the issue. Thanks for the comments and sug

[2020-07-07 23:52] #2827 closed

[2020-07-07 23:55] chrisdembia commented on #2827
Thanks a bunch for sharing your fix.

[2020-07-08 18:24] carmichaelong opened #2830 "Further improvements to heading correction algorithm in OpenSense"
Follow up from #2810

- Add option to choose "forward" direction on model's base segment (body), rather than assuming x-axis
- Add option to choose a different segment to define forward direction, rather than assuming the base segment of a model (e.g., not all human models may build the pelvis as the base segment)
- Provide an option to make an additional rotation somewhere in the algorithm so tha

[2020-07-09 09:24] crkaushik93 opened #2831 "Not able to spawn the whole model issues in the model please help"
![imp file](https://user-images.githubusercontent.com/53141800/87022362-4a2b5900-c1ce-11ea-96ef-9f4ed5588e39.PNG)

[2020-07-10 20:38] chrisdembia commented on #2831
Go to Edit > Preferences and update your Geometry Path setting.

[2020-07-10 21:08] aymanhab commented on #2831
Thanks @chrisdembia
Since this is not related to his repo, and it belongs to the forum, I'll close the issue. Thanks for reporting @crkaushik93

[2020-07-10 21:08] #2831 closed

[2020-07-16 21:19] aymanhab commented on #2334
@jenhicks and @carmichaelong This issue contains the before and after files after removal of kinematics for external loads

[2020-07-16 23:54] jenhicks commented on #2334
@aymanhab I am OK with updating the standard. Per our discussion, can you let us know the tolerances?

[2020-07-17 00:00] carmichaelong commented on #2334
I'm also OK with updating the standard. Comparison look very good for the CMC and SO solutions.

Overall, IAA looks pretty good too, though the total X and Z accelerations do change a little bit (and now indicate that the person isn't quite in steady state). I wonder if the CMC solution that the test is run against used the external loads option?

[2020-07-17 00:01] aymanhab commented on #2334
@jenhicks For testRunningModel(CMC) states tolerances are 0.6 except for velocities at 0.2
StaticOptimization activation tol = 0.025, Forces 2.5
IAA tol = 0.15

[2020-07-17 17:09] jenhicks commented on #2334
Thanks @aymanhab A tolerance of 0.6 seems pretty big for activations (CMC). Am I understanding correctly?

[2020-07-17 17:36] aymanhab commented on #2334
Actually the test that is failing is not testCMCWithControlConstraintsRunningModel which I mentioned above but testCMCWithControlConstraintsGait2354 which has tolerance of .02 and velocity tolerance at .25 https://github.com/opensim-org/opensim-core/blob/8a4171e248890a0fcdbb40ec80814ab90d465245/Applications/CMC/test/testCMCWithControlConstraintsGait2354.cpp#L83
Sorry about the mixup.

[2020-07-17 20:15] jenhicks commented on #2334
Thanks ... that seems more reasonable. I'm OK with changing the standard. But why are they so high for the other test?

[2020-07-17 20:51] aymanhab commented on #2334
The other test compares kinematics separately but comparison of states have been like this since the test was split off from another test in 2014.

[2020-07-17 21:09] jenhicks commented on #2334
OK. Thanks

[2020-07-20 03:18] sustliuyoufu opened #2840 "C:\opensim-core-source\dependencies\BTK\Code\BasicFilters\btkMergeAcquisitionFilter.cpp(816): warning C4309: "??": ???? ? [C:\opensim-core-dependencies-build\BTK\build\Code\BasicFilters\BTKBasicFilters.vcxproj]"
Hey,Excuse Me,I have some question when i execute "cmake --build . --config RelWithDebInfo",There are some warning in my windows Poershell   such  as:
 _c:\opensim-core-source\dependencies\ezc3d\include\Data.h(62): warning C4251: "ezc3d::DataNS::Data::_frames": class"std:
:vector<ezc3d::DataNS::Frame,std::allocator<_Ty>>"??? dll ??? class"ezc3d::DataNS::Data"?????? [C:\opensim-core-depende
ncies-b

[2020-07-22 17:13] carmichaelong opened #2842 "BodyKinematics header always says angular velocity and acceleration are in body's frame"
From a [forum post](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=12244&p=34707&start=0&view=):
User says that whether `express_results_in_body_local_frame` is True or False, the header does not change

[2020-07-22 17:14] chrisdembia commented on #2842
Wow, BodyKinematics is getting really popular.

[2020-07-23 12:23] aseth1 commented on #2334
I looked at the latest results and here are some observations and thoughts:
1. SO: any differences in the application of external forces will have a direct affect on residuals, so the results seem consistent with the differences between ik kinematics (external loads) vs rra kinematics (analysis input).  The FX residual has a range of ~20 N and the difference is  about 0.4 N (less than 2%) and the

[2020-07-23 19:18] chrisdembia opened #2845 "Model::getControlsTable() should use absolute paths to actuators for column labels"
With https://github.com/opensim-org/opensim-core/pull/2836, PrescribedController now accepts column labels that are absolute paths to actuators.

`Model::getControlsTable()` currently produces column labels that are names of actuators, not absolute paths to actuators. For consistency with states storages, the controls table should now use absolute paths to actuators.

This would improve consistenc

[2020-07-23 19:34] aymanhab commented on #2329
@chrisdembia I received email from a user trying to do this with OpenSim 4.2. This seems like a good direction to go for future demos/teaching etc. Is there a documentation somewhere as to what is currently supported and how to test and/or upgrade with the next version or to test/use dev version. Thank you.

[2020-07-23 20:07] chrisdembia commented on #2329
Are you thinking for Python or for C++? I think we should first try to support Python. We need to create a Conda packge for OpenSim. Here's the latest on that: https://github.com/conda-forge/staged-recipes/pull/11894

[2020-07-23 20:18] aymanhab commented on #2329
Totally agree with Python.

[2020-07-28 15:42] chrisdembia commented on #2840
If these are warnings, you can ignore them.

Your description is confusing because your title mentions BTK but your top comment mentions ezc3d.

[2020-07-28 21:42] AbhinavGupta121 opened #2848 "Optimizer failed to converge IK solutions in required iterations"
Hey! I received the following error msg while using IK tool on an open sim 3.3 model.

"InverseKinematicsTool Failed: AssemblySolver::assemble() Failed: SimTK Exception thrown at Assembler.cpp:871:
  Method Assembler::assemble() failed because:
Optimizer failed with message: SimTK Exception thrown at InteriorPointOptimizer.cpp:261:
  Optimizer failed: Ipopt: Maximum iterations exceeded (status -1)

[2020-07-29 23:25] #2757 closed

[2020-07-29 23:29] chrisdembia opened #2849 "Doxygen 1.8.18 no longer processes our Q_PROPERTY macro correctly"
Doxygen 1.8.18 (actually, the issue might occur starting in the upcoming 1.8.19 release) does not process our property macros like before.

To document OpenSim Properties, We are leveraging Doxygen's support for Qt's Q_PROPERTY macro. But apparently we were using incorrect syntax. Doxygen has become more stringent about the syntax when using the Q_PROPERTY macro, and so our generated Doxygen docum

[2020-07-31 08:01] adamkewley opened #2851 "Tests broken on master branch when building in Debug mode"
Looking into the cache variable fix, which I'll PR, but there seems to be other tests broken. Might also be related to the CV merge but they look like they're kind of unrelated, and might have slipped in from other merges.

I don't currently have time to bisect + rebuild + retest the master branch to figure out where these problems came in. I'll PR the cache variable fix, but these tests are still

[2020-08-03 03:13] nikorose87 opened #2852 "libspdlog.a(spdlog.cpp.o): relocation R_X86_64_32S against `.rodata' can not be used when making a shared object; recompile with -fPIC"
Hi there,

I am having troubles compiling opensim in my ubuntu 16.04 version, I have included BTK, Python and Matlab wrapping options. I have built simbody, docopt and spdlog (I compiled the latest versions). Simbody did all test good. There is an error  when building libosimCommon.so and is the following:

[code]
I have searched in the web and I found the following, however it did not work.

[htt

[2020-08-03 13:43] rmndrs89 opened #2853 "Could not find git for clone of BTK"
I was trying to follow the instructions [here](https://github.com/opensim-org/opensim-core#on-ubuntu-using-unix-makefiles) to install OpenSim on Linux Ubuntu 20.04.1 LTS.

However, I get stuck when using the CMake GUI, and the following error is thrown:

    error: could not find git for clone of BTK
Call Stack (most recent call first):
  /usr/share/cmake-3.16/Modules/ExternalProject.cmake:3236 (_

[2020-08-03 15:39] aymanhab commented on #2853
This step should be automated for you since the CMake files specify the repo/commit for BTK. We default to not building any C3D support but continuous integration uses EZC3D. Unless you have personal preference to use BTK, and plan to read C3D files, you can choose to superbuild ezc3d instead (when building dependencies) and choose EZC3D when building opensim-core.

[2020-08-03 15:47] aymanhab commented on #2852
Any reason to set SUPERBUILD_spdlog=OFF? The baked in version of spdlog is regularly tested in continuous integration and works, it appears you're building your own version or have a different installation of spdlog that's built using a different set of flags and that causes the problem downstream. Please superbuild spdlog and make sure you link to the correct version and let us know.

[2020-08-03 17:10] nikorose87 commented on #2852
Thanks @aymanhab

I had to include the superbuild version of spdlog to make it work. Now, It's working so far. However, docopt and simbody do not need the superbuild mode, they can be included directly.

[2020-08-03 17:14] chrisdembia commented on #2852
Your build script doesn't show how you previously installed spdlog, but it seems like if you use the `-fPIC` flag when compiling spdlog, then your custom-built spdlog will work with OpenSim.

[2020-08-03 17:14] #2852 closed

[2020-08-03 17:18] chrisdembia commented on #2853
It seems that you have not installed `git`. Run `apt install git`.

[2020-08-07 15:00] Sugiartowahyu opened #2856 "Cmake find_package() cannot find SimbodyConfig.cmake"
Hello,
i have a problem with taking the right version of SimbodyConfig.cmake.
<img width="942" alt="Cmake error" src="https://user-images.githubusercontent.com/69356716/89658420-d19fe100-d8ce-11ea-8b46-ef617b2c200e.png">

here is my coding for the find_package() in CMakelist.txt. I have inserted the directory, where the file is located.
<img width="490" alt="Cmakelist" src="https://user-images.git

[2020-08-07 18:08] Sugiartowahyu commented on #2856
Solved. I forget to set the program in CMake to 64-bit (x64). (The lib files are also in 64-bit, so yeah, must be carefull in configuring with CMake).

[2020-08-07 18:08] #2856 closed

[2020-08-09 12:16] Sugiartowahyu opened #2857 "Problem with updating the OpenSim C++ v3.3 into v4.1"
Hello,

i have been strugling to updating/changing the codes of OpenSim C++ from v3.3 into v4.1. (i'm using OpenSim v4.1)
i still want to use the class and function "manager" to do my forward dynamic, but because the structure of the codes has been changed since the upgrade to v4.1, i have no idea until now how to have a same results after changing/updating the codes to v4.1.
the snapshot below is

[2020-08-09 13:58] tkuchida commented on #2857
There might be some helpful code in [testManager.cpp](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Test/testManager.cpp). Also see the examples and explanations in the doxygen documentation for the [`Manager::integrate()`](https://simtk.org/api_docs/opensim/api_docs/classOpenSim_1_1Manager.html#aadec36a0fcf34c2654d9737baf4a961d) method.

[2020-08-11 10:34] #2857 closed

[2020-08-11 19:15] Sugiartowahyu opened #2858 "Inputing the values of the external torque per time step to the TorqueActuator while CMC Simulation in Simulink"
Hello,

Right now i want to do a CMC (Computed Muscle Control) simulation to get the needed muscle forces under consideration of external torque in simulink. So this external torque (as a function of the input kinematics) will help the osim model to tracking the given reference/input kinematics.
But i'm struggling to input the calculated external torque from my other simulink block to the CMC-bloc

[2020-08-12 04:27] vinaym815 commented on #2677
The bug is with opensim-core/OpenSim/Common/Mtx.cpp
The shared variables in the class Mtx are responsible for the trouble. An easy fix would be allocated these variables on the stack within different functions. The functions that would require modifications are: Transpose, Multiply, and Invert.
Also, the Rotate(const double aAxis[3],......) have not been implemented

[2020-08-16 19:54] pariterre opened #2860 "Difference between BTK and EZC3D for type 1 and 3 force platform"
Dear @aymanhab

As discussed last week, I added support for Type 1 and 3 force platforms in EZC3D.
However, I found different behavior between, my implementation and the BTK implementation. I wanted to have your input on what should be the behavior for ezc3d.

For type 1:
When using type 1 force platform, BTK ignores the tag Location for the force platform (being either OriginForcePlateForm or Cen

[2020-08-18 14:06] adamkewley commented on #2851
`testDataTable` fault is because a non-`const` operator overload is triggering some internal check in a Simbody matrix to think that it's being edited, which is disallowed on that particular matrix instance, so it dies. Easy fix: just `static_cast<const T>(...)` the temporary.

The actuator fault has been a huge pain in the ass because that error message is spurious. What I thought was happening w

[2020-08-18 15:35] sherm1 commented on #2851
Hi @adamkewley. In a variable step integrator, taking too large a step can (and frequently does) cause spurious exceptions. The right response in that case is to reduce the step size and retry rather than report the essentially meaningless exception. However, that is not supposed to go on forever! Once the step gets to a minimum size it should _not_ suppress the exception but report it as the caus

[2020-08-20 08:38] adamkewley commented on #2851
Thanks @sherm1 - makes sense. I've patched around it in OpenSim (to get it compiling + passing tests in debug mode again).

I could have a quick look into simbody to see if there's some--probably, rather hacky--way of bubbling the correct exception. Maybe some lower limit on the step size (e.g. if the time delta is <1e-30 then throw up the exception).

Another idea would be to count the exceptions

[2020-08-20 08:38] #2851 closed

[2020-08-20 17:11] pariterre commented on #2860
Hi again!

I have some more news regarding this. And I think it will necessitate that we make a decision together.

1) One of my test C3D (type-1) has its gravity oriented on the Y-axis. But I am not sure there is a way to detect that. Unfortunately, since I don't have more C3D of that type, I don't know if it is common or just the one the person provided. The obvious problem is that a lot of assu

[2020-08-23 04:26] nikorose87 opened #2864 "Seems like InverseDynamicsTool is generating a XML version error"
Hello,

I am generating all the inverse dynamic process in a series of trials in gait. I have a python script to generate automatically all XML files to perform from scaling to ID.

The script was behaving well until IDtool had to work. The error is the following:

  Error detected by Simbody method Xml::Element::getAs(): The given Node was not an Element; it is a NoNode. Use Element::isA() to che

[2020-08-24 16:47] nikorose87 commented on #2864
Thanks @aymanhab
Unfortunately, It did not work. I added `nrows` and` ncolumns` to the header, changed the extension from `sto` to `mot`, but the error is still there.

[2020-08-24 16:58] aymanhab commented on #2864
So, did you change the ID Tool setup file to use an actual .osim model file rather than an .mot file under the tag <model_file>?

[2020-08-24 21:25] mitkof6 opened #2865 "Memory leak during integration"
I was trying to figure out why we get memory leaks in [osim-rl](https://github.com/stanfordnmbl/osim-rl/issues/10). I use a slightly different custom version of osim-rl. However, it seems that everything points towards the integrate function of the Manager. The new version of the Manager does not have a reset mechanism and therefore one must delete the manager and create a new one. I have a minimu

[2020-08-24 21:31] mitkof6 commented on #2865
This problem pops up when we integrate the model. Although one would expect that if we reset the manager frequently then space would be freed, but this is not the case. This is something that is needed when one trains an RL agent with the OpenSim environment.

[2020-08-25 02:21] nikorose87 commented on #2864
Thanks in advance @aymanhab. I was confused about the coordination file location. Now it works. Sorry

[2020-08-25 02:21] #2864 closed

[2020-08-25 04:15] aymanhab opened #2866 "Tests fail in debug mode on windows"
This seems related to the refactoring of the ComponentPath as shown in the stacktrace below
`>	osimCommon_d.dll!`anonymous namespace'::normalize(std::string path) Line 140	C++
 	osimCommon_d.dll!OpenSim::ComponentPath::ComponentPath(std::string path) Line 252	C++
 	osimCommon_d.dll!OpenSim::AbstractSocket::checkConnecteePathProperty() Line 281	C++
 	osimCommon_d.dll!OpenSim::Component::finalizeFro

[2020-08-25 15:44] aymanhab commented on #2860
For type 1, if we can detect the situation and throw an exception early on (that this is not supported) we strike a reasonable compromise if changing the direction in code is too much work to support a very small slice of users.

[2020-08-25 15:49] aymanhab commented on #2860
I can arrange a zoom call and include @carmichaelong so we can discuss type-3 platform, how large are the unleveling errors. Let me know your availability by email and we'll schedule. Thank you

[2020-08-26 18:59] aymanhab commented on #2866
@adamkewley When you have a chance can you run tests on Windows in Debug mode? If not what's the expected behavior when normalize is fed an empty string? returning the empty string causes problems downstream. It's not clear what assumptions are made about ComponentPath now. Thank you.

[2020-08-26 19:57] adamkewley commented on #2866
@aymanhab sure, I'll have a look. Can't be until next Monday though (holiday atm). I thought I emulated the behavior of empty strings to match the previous implementation. Is this specifically debug mode in Windows?

[2020-08-26 21:35] aymanhab commented on #2866
Thanks @adamkewley Indeed this is only in Windows/Debug mode. STL libraries/classes on windows have extra checks in debug mode that are tripping at corner cases (e.g. "cannot seek string iterator after end"). Will try to work around these until you're back. Enjoy the holiday 🍺

[2020-08-27 06:26] adamkewley commented on #2866
Yeah, it seems like the issue is that the code relies on str[str.size()]
being legal. It should be legal in c++11 onwards because, after c++11, a
basic_string<T> is defined to be a contiguous sequence of T, terminated by
T{}. But str.front() might have an additional constraint in that it
shouldn't be called on empty strings, despite str[0] == str[str.size()]
being legal, and despite front being de

[2020-08-27 13:05] itayco421 opened #2867 "AttributeError: module 'opensim' has no attribute 'simulation' Error"
hey, I am a new user at OpenSim just trying to import it to my py code (Via Conda env-Pycharm):

`C:\Users\itayc\anaconda3\envs\openSim\python.exe "C:/Users/itayc/ExoSkeleton Project/Python/Test_0.py"
Traceback (most recent call last):
  File "C:/Users/itayc/ExoSkeleton Project/Python/Test_0.py", line 1, in <module>
    import opensim
  File "C:\Users\itayc\anaconda3\envs\openSim\lib\site-packages

[2020-08-27 23:44] nikorose87 opened #2868 "Having wrong results on IDtool with force platform Type 3"
Hi Opensim team.

I do not know If I should write in the forum, but probably, this could be also an API issue. I am coding an iterating process to calculate the Dynamic Joint Stiffness in human Gait (moments and angles). Also, my data has type-3 force platform information, so I had to built the API with one of latest versions of [ezc3d](https://github.com/pyomeca/ezc3d/tree/type1_3). After doing S

[2020-08-30 13:30] mcmips opened #2869 "opensim for python 3.8"
How can I get opensim to install in python 3.8 for google colab? Please help.

[2020-08-30 17:50] aymanhab commented on #2869
@kidzik Can you clarify what is the workflow that's supposed to work here:
1. What code base is used?
2. How is it built/compiled on what platforms?
3. How is it tested, packaged and distributed?
@carmichaelong If you're familiar of this let me know so we can maintain collectively.

[2020-08-30 17:51] pariterre commented on #2860
Hi @aymanhab and @carmichaelong !
I am currently in vacation up to next week, so I am free for discussion anytime from September 7th, except on Wednesday and Friday morning from 9AM to 12PM (Eastern time)

[2020-08-30 21:59] nickbianco commented on #2869
Based on a recent post on the Moco forum, there may be issues with installing OpenSim in Python 3.8: https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=1815&t=12387&p=0&start=0&view=&sid=0e54eee37b6d796a511ab14df68a3750.

Moco issue: https://github.com/opensim-org/opensim-moco/issues/655.

@mcmips are you able to install on Python 3.7?

[2020-08-31 05:15] kidzik commented on #2869
There are two relatively easy ways to run OpenSim in colab.
1. Setting up a jupyter notebook locally and connect colab to it
2. Installing conda and opensim conda distribution in colab
Both installation methods are described here in the context of reinforcement learning with osim-rl
https://colab.research.google.com/drive/1Kbubb9_L-MDtjt0nHVYR_zF9CK1Onz4C?usp=sharing
Simbody visualizer will be ava