[2016-08-11 20:08] tkuchida commented on #1179
Actually, it would have been easier to spot if `location` were being set to `Vec3(0)` or `Vec3(huge_number)`; I didn't immediately notice there were missing line segments in gait10dof18musc.

What is the proposal? Should MovingPathPoint derive from Point? If so, ConditionalPathPoint would be the only descendant of PathPoint—should PathPoint be absorbed into ConditionalPathPoint?

[2016-08-11 20:13] chrisdembia commented on #1179
Does the same hold true for calculations that use the location, like moment arm or path length? I think `Vec3(huge_number)` might be nearly as good of a red flag as `NaN`, but `Vec3(0)` would not be.

Something like that. @aseth1 doesn't want special PathPoint classes at all. Just Point classes that the muscles use.

[2016-08-11 22:04] tkuchida commented on #1179
Good point. Perhaps `Vec3(huge_number)` then, or just throw an exception if `MovingPathPoint::get_location()` is called.

Okay, I won't go after this, then. Thanks for the heads-up.

[2016-08-12 04:38] sherm1 commented on #467
We haven't gotten anywhere close to packaging yet with Drake. It's still build-from-source. For that Kitware made us switch to git submodules for our externals (we have a *lot* of them). Very nice conceptually but some sketchy behavior. Submodule glitches have ruined some of my local branches. Mostly works though, at least with Kitware working on it.

[2016-08-12 13:00] chrisdembia commented on #467
Okay thank you for sharing.

[2016-08-12 13:06] chrisdembia commented on #1179
Yeah I don't think the fix is straightforward.

[2016-08-13 00:30] tkuchida opened #1182 "Add more extensive tests for traversing Components by path name"
Off-by-one error in string parsing algorithm was not caught by existing tests.

[2016-08-13 02:57] tkuchida commented on #1165
`getCoordinateSet()` is also called in Bindings/Python/tests/test_swig_additional_interface.py and potentially other python tests as well (tagged from #1178).

[2016-08-13 03:03] tkuchida commented on #1182
- Also ensure leading periods are tested; see `traversePathToComponent()` (tagged from #1181).
- Potentially improve exceptions to be more specific and to use `OPENSIM_THROW_FRMOBJ`.

[2016-08-15 04:11] tkuchida commented on #1118
### Use case
In exampleHopperDevice.cpp (Step 3, Task B):
[code]
is connecting an output to an input, but the word "connect" appears in the *middle* of the line. Perhaps
[code]
would be better because "connect" appears at the beginning.

[2016-08-15 14:27] chrisdembia commented on #1118
Your proposal is very similar to how [Qt's signals and slots](http://doc.qt.io/qt-4.8/signalsandslots.html) work:

So I think it should work!

The main issue I forsee is that Java does not support free functions--only static class methods. Python does allow free functions, so we can achieve the same syntax in Python and C++.

[2016-08-16 06:06] #399 closed

[2016-08-16 06:17] tkuchida opened #1185 "Add tests for Millard2012AccelerationMuscle or label "experimental""
Millard2012AccelerationMuscle isn't being tested thoroughly (e.g., with CMC) and many changes have been made to EquilibriumMuscle that have not been propagated to AccelerationMuscle. We should either add tests or indicate in the doxygen that AccelerationMuscle is still experimental.

[2016-08-16 19:08] tkuchida opened #1188 "Replace "standards" files with knowledge-based checks in system-level tests"
Unit testing (e.g., verification/regression tests for activation dynamics models) should compare against hand-derived equations and "standards" files. System-level testing (e.g., Tools) should use higher-level tests (e.g., certain muscles should have higher activations than certain other muscles; running a forward simulation using CMC results should produce kinematics that are similar to the kinem

[2016-08-16 20:36] aymanhab opened #1190 "improve standards files in testVisualization"
As of now w euse a surrogate (text file) to test that visualization primitives have not changed due to code changes as a surrogate to actual visualization which can't be practically tested cross platform without user intervention. This issue is a place holder to come up with alternatives or implement improvements.

[2016-08-16 20:38] aymanhab commented on #1190
As of now each primitive writes out all its attributes/members regardless of what's used and how. without trying to map into human readable quantities because for example, most colors do not map up to names (only a handful) draw options are enums (converting to string to compare is an additional source of errors due to spaces, case conversion etc.)

[2016-08-16 20:57] tkuchida commented on #1118
I've added the "Needs Discussion" label. We should all agree on what we want before starting to implement (see #1116).

[2016-08-16 21:15] chrisdembia commented on #1118
If the `connect(Obj1, signal1, Obj2, slot2)` syntax is possible in MATLAB, then I support this syntax.

[2016-08-16 23:39] tkuchida commented on #1118
@aymanhab Do you know whether it's possible to swig an `OpenSim::connect()` method into Matlab?

[2016-08-17 16:40] aymanhab commented on #1118
Free standing functions do not exist in Java but we can hack some workarounds,
 1.  if we leave it to swig it becomes a static method of the corresponding module class (and look something like opensimSimulationJNI.connect( , , ,  )
 2.  we can add a class called "connect" (in Java Only)  and have it delegate the call, but usually class names are nouns not verbs.
 3. It'd feel cleaner and more exte

[2016-08-17 17:04] chrisdembia commented on #1118
I feel that a class like ConnectionMaker, etc. would be confusing to users, but you make a good point about perhaps wanting other related methods. I think the model should just have the methods then:

[code]

[2016-08-17 21:22] carmichaelong commented on #1175
Errors come from [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Model.cpp#L169) and [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/Model.cpp#L173) for VisibleObject and WrapObjectSet, respectively. If the XML element does not exist in the file, the method attempts to perform a `clone` on `element_end()`, which throws

[2016-08-17 21:33] aymanhab commented on #1175
Definitely, this code should all be defensive since you don't know if these
xml elements existed in old format files. Please submit a PR with this
guard/change and I'll review it, or take over if it turns ourt to be more
involved. Thanks.

On Aug 17, 2016 2:22 PM, "carmichaelong" <notifications@github.com> wrote:

[2016-08-17 22:20] aseth1 commented on #1118
The `Component` is the connection maker and the manager of its connections,  thus adding another Object will only obfuscate that fact.  I like the convenience of the proposed interfaces and we could free  up `Component::connect()` to do this if we renamed the current `Commponent::connect()` (maybe to `finalizeConnections()` in keeping with `finalizeFromProperties()`), since it confusing with the a

[2016-08-17 22:24] aseth1 commented on #1190
@aymanhab Adding the image is nice for reassuring the developer that nothing has materially changed, but when the test still fails, what do you do? I have a test failure now due to the fact that the order has changed, which should not fail the test- or should it?

[2016-08-17 22:29] tkuchida opened #1192 "Assign a unique ID to each Component"
### What is a unique ID?
A [universally unique identifier (UUID)](https://en.wikipedia.org/wiki/Universally_unique_identifier) is a 128-bit value like `123e4567-e89b-12d3-a456-426655440000`. UUIDs can be generated randomly with near certainty of uniqueness using
- [Graeme Hill's CrossGuid library](https://github.com/graeme-hill/crossguid) (uses MIT license)
- [Boost's "Uuid" library](http://www.bo

[2016-08-17 22:46] aseth1 commented on #1118
I tend to think both examples in the *Use case* above equally confusing by virtue of their length.
Perhaps this would be easier to understand?

[code]

[2016-08-17 23:00] aseth1 commented on #881
I agree Component::`getXXX("name")` should not do a find. Instead we should find the Component and then get what we want from it. It is then unnecessary to have `findConnector`, `findInput` and `findOutput`

[2016-08-17 23:04] tkuchida commented on #1118
I like `Component::connect(Output, Input)`. We could enforce not only that the Input is a member of the Component, but also that the Output is a descendant (if, philosophically, we allow a Component to "see" only its descendants); however, if the philosophy is moving towards UUIDs (#1192), then connecting to arbitrary Outputs seems fine.

The first example in the *Use case* above is the current de

[2016-08-17 23:16] aseth1 commented on #1118
Currently, you can connect to any Output that is part of your tree not just your descendants.

I meant **both** the existing and the proposal are both equally confusing by virtue of their length. Yes, breaking them up improves them in both cases as well. That is my point. Breaking it up makes it readable in both cases.

We should able to overload `connect()` to permit both orders to meet different

[2016-08-17 23:20] #1104 closed

[2016-08-17 23:31] tkuchida commented on #1118
The issue is not with readability or parsing, it is that we are unnecessarily constraining the way the user can think about model building. The comment at the top of the issue describes the problem I'm trying to solve: as a user, it is more natural for me to think "I want to connect this Output to my ConsoleReporter" rather than "I want to update the Input of my ConsoleReporter to connect to this

[2016-08-18 00:47] aseth1 opened #1194 "Limit and reduce use of OpenSim::Array"
In addition to OpenSim::Set there is wide use of OpenSim:;Array. We should eventually move to exclusive use of `std::` containers so that we don't have to maintain unnecessary code and run into unexpected bugs (e.g. #1119) from less than ideal implementations.

Also came up in #1146 where our test utilities use OpenSim::Array for containing tolerances:

[2016-08-18 01:43] tkuchida opened #1195 "Throw an exception if equilibrate method fails in Thelen2003Muscle"
Analogous to issue #391 (PR #1186) for Millard2012*Muscle.

[2016-08-18 02:03] tkuchida opened #1196 "testInitState incorrectly reported memory leak due to unsigned int wrap through zero"
[This recent AppVeyor failure](https://ci.appveyor.com/project/opensim-org/opensim-core/build/4304/job/vr7ac6gbwtj80gii#L1380) is due to [this test in testInitState.cpp](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Test/testInitState.cpp#L161), which does not consider that memory can sometimes be freed "behind the scenes". The subtraction `getCurrentRSS() - mem0` can,

[2016-08-18 17:04] humphreysb opened #1197 "Graphiz as dependancy in Ubuntu build notes"
Under the list of dependencies for building OpenSim for Ubuntu:

You may also need to install graphviz; it was not installed on a fresh ubuntu machine.  When I tried to build opensim with doxygen, "DOXYGEN_DOT_EXECUTABLE" could not be found.

FYI:
1) I installed doxygen by building from source so graphiz may be part of the deb/rpm files but not build from source (?)
2) graphiz can be installed wit

[2016-08-18 17:46] aymanhab commented on #1192
@tkuchida Very nicely summarized and articulated :+1:.

I'd add to the Problems Solved:
1. The mechanism is not specific to "Components" so any object can have a uuid (e.g. Appearance/Material or other OpenSim objects that don't fit the Component abstraction fully).
2. In contexts where multiple instances of a Model could be used (e.g. GUI) ComponentPathName may never be unique and we jump through

[2016-08-18 17:53] aymanhab commented on #1190
@aseth1 Actually as it is the test will fail since the file has the primitives in "processing" order which is similar to how state names/vectors were used in the past. Indeed this is not very robust but that's why the standards file is kept short so you can diff, and update the standard if the order is different but the contents are same but I'm open to suggestions for improvements.

[2016-08-18 17:58] carmichaelong commented on #1175
Closing this issue with the merge of PR #1193. @clnsmith check if the master branch fixes the issue, and either re-open the issue if it doesn't or start a new issue if it causes any downstream issues.

[2016-08-18 17:58] #1175 closed

[2016-08-18 18:13] aseth1 commented on #1190
One idea is to do away with the standard files altogether. The essence of the test is that the correct silo of decorative geometry is created by the Model (as top level with contributions from all its subs). Serializing that Silo forces the test to be text diff exercise which is far to stringent. Instead, why not create the standard silo programmitcally and the compare the two silos. We can then g

[2016-08-18 18:31] aymanhab commented on #1190
That could be an improvement @aseth1 but I think the crux of the matter is not whether the objects are built programmatically or from a file vs. whether order matters (if that was a list of objects in memory and the comparison went in order then the test would fail, though the fix would be easier. The primitive DecorativeGeometry and subclasses live on the Simbody side so changing them is a big de

[2016-08-18 19:54] aymanhab commented on #1118
I tend to agree with @tkuchida s mental picture that connection is not done by a component (asymmetric) but by a "higher level authority" that connects two wires. Earlier I mentioned ConnectionManager, but that could also be a static class method of Component, eitherway that fits the mental picture more than an Object.method paradigm as far as I can tell.

[2016-08-18 20:22] aseth1 commented on #1118
I think the two connect() variants could also be static methods of Component instead of overloaded member functions.

[2016-08-18 21:24] aseth1 commented on #1016
Now that PathPoints are Components using the factory would have had the same issues (if any). I suggest going ahead and creating the new PathPoint of the desired concrete type and simply adding it to the list. Property editing already has the effect of forcing an initSystem() (which performs finalizeFromProperties()->connect()->addToSystem() ...) so I don't forsee adding Components in the GUI as a

[2016-08-18 21:32] aymanhab opened #1199 "Renaming Components Functionality"
As of version 3.3, Objects that can be renamed in the GUI are Models, and Markers we need to make sure that's still functional in 4.0 (especially if using connection to get results from Markers, post rename). Longer term we should strive to keep model intact post a rename since the name is used for wiring at the moment.

[2016-08-19 20:21] tkuchida opened #1200 "Base classes should provide "developer's guide" information for writing new derived classes"
- Force
- Joint
- Constraint
- Muscle
- Geometry
- Actuator
- …

[2016-08-19 21:13] #1196 closed

[2016-08-20 00:19] tkuchida commented on #1100
Fixed by #1120

[2016-08-20 00:19] #1100 closed

[2016-08-20 00:19] tkuchida commented on #958
Fixed by #1120

[2016-08-20 00:19] #958 closed

[2016-08-22 21:02] jimmyDunne opened #1202 "C3DFileAdapter is undocumented in doxygen"
Can't find any doxygen C3DFileAdapter documentation on [myosin.sourceforge](http://myosin.sourceforge.net/) or on local builds.

[2016-08-22 21:14] tkuchida commented on #1202
Related to #1068

[2016-08-22 21:46] jimmyDunne opened #1203 "Accessing C3DFileAdapter() through Java Wrap"
Accessing force and marker data through Python interface is

`
adapter = osim.C3DFileAdapter()
tables = adapter.read(os.path.join(test_dir, 'walking2.c3d'))
markers = tables['markers']
forces = tables['forces'] `

forces = tables['forces'] Does not work through Java-Matlab. Using ('force') doesn't work either.

How do I access the tables in Java-Matlab?

[2016-08-23 08:46] claudia-lat commented on #765
Thanks for your efforts.
Just a comment on my installation experience: when I ran the two command lines I found the error 'Error: Formulae found in multiple taps' because I had another dependency on simbody.  So I changed  the name of the formula and the ran `brew install opensim-core`.

[2016-08-23 09:19] sebastianskejoe opened #1204 "Heap corruption when building a model in MATLAB"
Hi,

I have tried to convert the simple Python API example (#1183) to MATLAB, which resulted in this code:
[code]

However, if I run this code multiple times in the same MATLAB-session I get a heap corruption:

`Unhandled exception at 0x00007FF8E618E6FC (ntdll.dll) in MATLAB.exe: 0xC0000374: A heap has been corrupted (parameters: 0x00007FF8E61E22B0).`

It doesn't seem to ever happen during the fir

[2016-08-23 16:04] chrisdembia commented on #1202
Nice catch. Maybe we have to define the `WITH_BTK` preprocessor macro in the Doxyfiles.

[2016-08-23 16:06] chrisdembia commented on #1202
@jimmyDunne would you be interested in trying to fix this? I think the fix is  to edit [these lines](https://github.com/opensim-org/opensim-core/blob/master/doc/doxyfile_shared.in#L1547):

[code]

[2016-08-23 16:07] chrisdembia commented on #1203
What does `methods(tables)` or `methodsview(tables)` show?

[2016-08-23 16:44] jimmyDunne commented on #1203
![methodsview](https://cloud.githubusercontent.com/assets/5296507/17900953/3d2c44fe-6916-11e6-80d4-cb4a37456759.png)

[2016-08-23 16:46] jimmyDunne commented on #1202
Sure. Will edit and put in a PR.

[2016-08-23 17:27] aymanhab commented on #1204
This looks like a crash in deleting the Model, likely because some objects in the model have been deleted already by the garbage collection. If you add a line in the destructor "of Object" after the end of model construction, you'll find out  what object deletion is problematic (done more than once). You can force garbage collection at the end of your code so the behavior is more predictable.

[2016-08-23 17:30] chrisdembia commented on #1204
I'm pretty sure the culprit is this line:

[code]

I fixed this issue for Python (see #1178), but not for Java/MATLAB.

[2016-08-23 17:39] aymanhab commented on #1204
Can we "Clone" the StepFunction on the call line to see if that fixes the problem?

[2016-08-23 18:16] chrisdembia commented on #1203
Yeah; looks like you have to use `tables.get('forces')`.

[2016-08-23 18:17] chrisdembia commented on #1204
Good idea; @sebastianskejoe can you try that?

[2016-08-23 18:25] jimmyDunne commented on #1203
Thanks, that seemed to solve my most immediate problem.

[2016-08-23 18:25] #1203 closed

[2016-08-23 23:27] jimmyDunne opened #1206 "Writing TableVec3 to file"
I am trying to write a tableVec3 to file. CSVFileAdapter and STOFileAdapter do not accept a Vec3 table. TRCFileAdapter (which accepts TableVec3) requires a data rate to write to a file — results from a forward simulation do not have a constant data rate, so I can't write using that.

How would I print Vec3 results from a simulation?

[2016-08-24 00:14] jimmyDunne commented on #1202
#1207

[2016-08-24 00:14] #1202 closed

[2016-08-24 00:35] jimmyDunne commented on #1206
related to #1158

[2016-08-24 05:32] chrisdembia commented on #1206
I think you have to wait for #1158 to be merged.

[2016-08-24 21:59] aseth1 opened #1208 "Need an effective process for performing design reviews before code reviews"
**Problem**
PRs often include discussions about implementation details that are a direct consequence of design decisions. Changes in design and high-level goals cause frustration/confrontation regardless of if the resulting code is stronger for it or not.  The main issue is that detailed design discussions are happening too late in the dev process where too much time is already invested in a parti

[2016-08-24 22:28] jenhicks commented on #1208
Thanks @aseth1 for the nice summary. @klshrinidhi chatted about this a little. This sounds like a good idea to me. How about a DesignDocs folder in OpenSim under the opensim-core repo (similar to Sandbox)? It seems like it might be nice to keep the design details in the same repo.

[2016-08-24 22:43] chrisdembia commented on #1208
This is similar to OSRF's `gazebo_design` repository, publically accessible here: https://bitbucket.org/osrf/gazebo_design. They use the markdown format.

They chose to use a separate repo, but I think it would be fine for us to use the same repo (at least for the first few).

[2016-08-24 22:55] jenhicks commented on #1208
Thanks for sharing the osrf link @chrisdembia. I like how they have a template markdown file and simple "how to create a project" steps.

[2016-08-24 23:30] aseth1 commented on #1108
An "advanced" part of the example could be to create a plugin that includes and registers the Device and the SignalGenerator. That avoids the issue of nested models altogether and shows the user how to get their custom components loaded in the GUI. Since the objective of this example is to highlight how to create new (custom) Components and hook them up then adding the plugin is the next logical e

[2016-08-24 23:50] chrisdembia commented on #1108
If creating a plugin can be done in a way that does not make this example confusing/convoluted, then I think that could be good. I think it is also fine for this to be an API-only example. There could be other examples that are not intended to be didactic and thus could be more complicated and include building a plugin.

[2016-08-24 23:53] tkuchida commented on #1108
Perhaps we can just provide the code that creates plugins from the "teacher" versions of the hopper example? Then, in a workshop, the "students" would be able to build the plugins and see the model in the GUI even if they were unable to complete the other tasks. :rabbit:

[2016-08-24 23:57] chrisdembia commented on #1108
@tkuchida I like that idea, though it is odd if the teacher version puts those classes in a plugin (library) while the student version does not.

[2016-08-24 23:59] aseth1 commented on #877
We can inspect each Component's property list of Connectors (e.g. `get_connectors()`) and cycle through them and ask if it `isConnected()`. This could be a built in filter for ComponentList (`isConnected` is true for all or false for any of its Connectors). Would this be sufficient?

[2016-08-25 00:01] chrisdembia commented on #877
I liked the idea of a built-in ComponentListFilter!

[2016-08-25 00:17] aymanhab commented on #1108
In my mind, examples should be simple to follow and modify. Plugins is an artifact of our type registration/serialization that would pollute the simple mental picture. It'd be good if "advanced" denotes advanced functionality to the user.

 I'd lean toward making a shell class called Device (if we're not going to introduce a general container) and have the whole registration idea hidden from the e

[2016-08-25 00:20] chrisdembia commented on #1108
Are you suggesting putting `HopperDevice` into the OpenSim libraries (e.g., `Tools` or `Simulation`)? I don't think that is a good idea.

[2016-08-25 00:20] aymanhab commented on #877
I like the idea as well, but in terms of use-case, it appears that you'd need a list of Components that do "not" meet the filter so you can give feedback to user rather than cycle only through components that are fully connected. What do you guys think?

[2016-08-25 00:21] chrisdembia commented on #877
I agree with @aymanhab, the filter should be `ComponentListFilterUnconnected` or something

[2016-08-25 00:22] chrisdembia commented on #877
Or `ComponentListFilterConnectionStatus` and could take a boolean to decide whether it filters connected or unconnected components.

[2016-08-25 00:23] aymanhab commented on #1108
It can be its own library (e.g. experimental, or future), the issue is more of hiding the plugin stuff from users, if this's their first encounter with the OpenSim API.

[2016-08-25 00:52] aseth1 commented on #606
I think there are at least two issues being mangled here. First is whether or not Component should have a constructor which takes filename which it uses to construct as an Object that deserializes from that file.  I am fine if we decide to remove it but I don't think it is causing any problems, and if you derive a concrete Component and you want that deserializing constructor you have to explicitl

[2016-08-25 01:16] aseth1 commented on #314
-> `model.getComponent<WrapObject>(wrapObjectName)`

I was unaware of this change. It appears @aymanhab made this change 2yrs ago?
Are you sure you still need it?

please specify what functionality was changed/removed to disable what was working before. My belief is that the code (by Kevin) to update the state from properties and vice-versa remained intact since it accessed and restored state valu

[2016-08-25 01:42] aseth1 commented on #1108
What about `SignalGenerator`? While I agree that the example should be simple, I would also be frustrated to learn that my Components (that are now easy to create and even display in the Visualizer) cannot be loaded into the GUI. I rather see the actual way of doing it (artifact or not) so I can load my models with my components in the GUI. The solution perhaps is to have an additional part or sep

[2016-08-25 03:16] aymanhab commented on #1108
I'd add that we should also consider whether we should try to include some incarnation of this example in Python or Java/Matlab (where Extension has not been tested), or have a different example that just assembles pre-existing Components

[2016-08-25 05:48] chrisdembia commented on #1108
Part of this example is teaching people how to create their own inputs/outputs, which means creating their own component.

[2016-08-25 07:33] aseth1 opened #1209 "Provide informative messages when encountering orphaned Components"
Although the use of `auto` is convenient it is leading to more errors in user code. When a method returns a typed pointer `auto` yields a correctly typed pointer, however, if the type returns a `const T&` (reference) auto is happy to give you a copy of type T if you do not explicitly request a reference, `auto&`.  This is very problematic for all our methods that return references into a Model wit

[2016-08-25 09:24] tkuchida commented on #1209
Some ideas come to mind… don't know whether any of these would be appropriate or feasible. Tagged with :apple:, :banana:, and :cherries: for commenting.

## Strict stages to model building
Could be implemented locally or globally.
  1. :apple: *Local* – Each Component has knowledge of whether or not it is an orphan, and its properties/connectors cannot be modified until it has been adopted by anot

[2016-08-25 09:40] tkuchida commented on #1208
:+1: Sounds like a great thing to try.

[2016-08-25 11:59] sebastianskejoe commented on #1204
So if I change the code to:
[code]
I still get crashes. Sometimes the same crash as before and sometimes the crash happens during deletion of one of the pin joints:
[code]

Only if I outcomment both the call to prescribeControlForActuator and the calls to addJoint, it no longer crashes.

[2016-08-25 16:29] chrisdembia commented on #1209
We could encourage the use of `auto&&`, which I think may solve some issues. I don't fully understand `auto&&` yet, though. http://stackoverflow.com/questions/13230480/what-does-auto-tell-us

[2016-08-25 16:32] chrisdembia commented on #1204
Thanks for the detailed information. @aymanhab @klshrinidhi , `Model::addJoint` doesn't have the same memory management fix in the java swig interface file: https://github.com/opensim-org/opensim-core/blob/master/Bindings/Java/swig/java_simulation.i

[2016-08-25 16:38] aymanhab commented on #1209
My first thought (after the shock) is to abandon using auto in user facing code/examples. This would help users who copy a block of code to modify, and also makes the C++ code parallels the scripting code. Will also help avoid narly classes appearing across the interface.

If the auto is using an operator to return the copy, can we "delete" that operator?

[2016-08-25 16:40] chrisdembia commented on #1209
There are also good reasons to use the copy constructor.

[2016-08-25 16:43] aymanhab commented on #1204
Aha, great find @chrisdembia and @sebastianskejoe I guess addJoint was introduced only in 4.0 so this pathway hasn't been tested. Will open a PR for it.

[2016-08-25 17:11] aymanhab commented on #1208
Sounds like a good idea. We should decide who is the target audience as that may dictate placement and lifetime.

[2016-08-25 17:26] aymanhab commented on #1016
Thanks @aseth1 Will test and report back

[2016-08-25 17:37] aymanhab commented on #606
@aseth1 Thanks for the nice summary. I agree on waiting for major changes (e.g. World/Environment) till post 4.0 when we have full hierarchical models, so the distinctions are justified. Can you write what the code snippet for model initialization from file would look like under your proposal? As of now it looks like (about a couple hindered times in our code base):
`Model m = Model('file.osim');

[2016-08-25 17:58] aymanhab commented on #314
First item, great, that wasn't possible before making WrapObject into a component, now it is possible :+1:

MarkerSet from file, used by GUI to import a marker set, I think it'd be useful but would like to hear from @jimmyDunne or @chrisdembia if they used it.

For the last two, there are case where we know the model isn't changing (e.g. the plotter, changes coordinate value in a range to compute

[2016-08-25 18:22] jenhicks commented on #1208
We will call the documents DevelopmentProposals. And it will live under OpenSim. Use OSRF process. They will be markdown files. Every proposal will go in its own folder.

Categories to add to the template include:
- Effects on Bindings
Describe how you will access the functionality from scripting. Should it be wrapped. If so, how will wrapping be handled.

- Backwards Compatibility
Will the projec

[2016-08-25 18:24] jenhicks commented on #1208
Include a readme.md, as well.

[2016-08-25 18:29] jenhicks commented on #1208
Tag PRs with "DevProp" -- add this to the readme.md

[2016-08-25 19:25] jenhicks commented on #606
Proposal is to remove the step of building the component tree from finalizeFromProperties and update the method for traversing through the component tree.

[2016-08-25 20:46] aseth1 commented on #314
@aymanhab thanks for the added details:

It sounds like it could be important. Do you know why that constructor was removed/replaced? Feel free to put it back in.

I believe that or holding onto the backup state will also work.

I don't think you want to map indices either. This would be a great use case for the `StatesTrajectory`. You could rely on it to map from .STO to States for playback. What

[2016-08-25 20:57] chrisdembia commented on #314
I think being able to deserialize a MarkerSet is important.

StatesTrajectory should be useable in its current state for motion playback. But I think it would be good to be able to map indices; #1112.

[2016-08-25 20:58] aseth1 commented on #1209
:+1:  It would be helpful for those reasons and worth doing IMHO. It doesn't solve the issue (could forget `&` on fully qualified type) but empirically that wasn't such a big issue before we started using `auto`, so hopefully it would reduce misuse.

[2016-08-25 21:03] aymanhab commented on #314
Perfect, thanks @aseth1 and @chrisdembia for the feedback. Will definitely try the StateTrajectory as a first choice. The interface from Java looks promising @chrisdembia except for some iterators that are unusable. Will tackle then.

[2016-08-25 21:36] aseth1 opened #1212 "Test the handling of OpenSim Exceptions in Java (and Python)"
We have introduced numerous exceptions that are intended to inform the user about failure and provide tips to remedy them. If these messages are not relayed through wrapping layer (Java and Python) then these messages will not reach the intended user.

A suite of MATLAB (via Java) and Python tests designed to trigger the exceptions are necessary to verify that Exceptions are being handled appropri

[2016-08-26 11:10] tkuchida commented on #1068
There is also example code sprinkled throughout the doxygen that is now out of date. For example, due to #1181:
[code]
Addressing #1118 may further change the code to something like this:
[code]

[2016-08-29 19:39] carmichaelong commented on #1194
@aseth1 I looked at `CHECK_STORAGE_AGAINST_STANDARD()` and tests using this, and it doesn't look too time consuming to change it to use `std::vector` instead. If you think that we should just do that (instead of backing `OpenSim::Array` with `std::vector`) I can work on it.

[2016-08-29 19:43] chrisdembia commented on #1194
@klshrinidhi has worked on replacing `OpenSim::Array` with `std::vector`. He may have input here.

[2016-08-29 19:44] klshrinidhi commented on #1194
I have a local branch on this. It is a pretty time consuming task to replace OpenSim::Array with std::vector completely. I stopped working on it several weeks ago and my branch now is severely out of sync with master. You can go ahead if you have the time. I am probably not going to do this anytime soon.

[2016-08-29 19:53] carmichaelong commented on #1194
I agree that to **completely** do it would take quite awhile, and shouldn't be done all in one PR.

It seemed to me that for this case specifically, changing `CHECK_STORAGE_AGAINST_STANDARD` is a low hanging fruit that would also be efficient in preventing further use of OpenSim::Array. I think I'll go ahead and work on this specific case then.

[2016-08-30 00:48] jimmyDunne opened #1218 "Changing values in a TimesSeriesTableVec3 (Matlab)"
I am trying to rotate and alter marker data in TimesSeriesTableVec3. I am able to access to the values of the Vec3's, but not write back to the table.

[code]

[2016-08-30 20:35] tkuchida commented on #1165
Fixed by #1210.

[2016-08-30 20:35] #1165 closed

[2016-08-30 20:52] jimmyDunne opened #1220 "Please add getTable to TableReporter's"
The TableReporter holds tables, so my instinct would be to ask something like getTable(). It took Chris telling me about getReport() to figure out that is what gives me a table.

Since we don't have reports, we have tables, we should be calling the method getTable()

[2016-08-30 21:45] tkuchida commented on #1220
Another potential challenge is that the method appears in the doxygen as
[code]
and has no comments.

[2016-08-30 22:15] jimmyDunne commented on #1220
The only way I can figure out how to use the tables and adapters is to use methodsview() in Matlab, or search through the github repo, hoping there is an example of use.

I understand that Macros and templates reduce code redundancy, but it sure makes it harder to find public methods.

[2016-08-30 22:30] jimmyDunne opened #1221 "TableReporter doesn't respect column label string"
TableReporter doesn't respect the string that is used for the column label. Using the ConsoleReporter, I can set the name of the input and it shows up in the console output:

[code]
However, it I use a table reporter and try to get the column name, it uses the full path instead:

[code]

[2016-08-31 18:20] jimmyDunne opened #1224 "getNumInputs and/or getNumConnectors return incorrect value."
For a TableReporter, the methods getNumInputs() or getNumConnectors() don't give me intutive answers. I am able to connect many inputs to the Reporter but the methods return 1 and 0 respectively.

[code]

After the simulation is complete, I can drill into the table and see that there are the correct number of columns.

[code]

[2016-08-31 18:34] tkuchida commented on #1224
This is a naming issue. There is only one Input component, but it holds a vector of ReferencePtrs to Channels ("ChannelList"). I think Input should be renamed InputContainer (or something similar) to indicate that it can hold more than a single Output.

[2016-08-31 18:53] chrisdembia commented on #1224
Thanks for explaining, @tkuchida. Better names would be good. For now, try `getInput('input').getNumConnectees()`?

[2016-08-31 19:18] jimmyDunne commented on #1224
The below line works.

[code]

I feel there needs to be diagram/map of how the reporters, inputs, and tables are arranged.

[2016-08-31 19:19] chrisdembia commented on #1224
For sure. Where do you think it should go?

[2016-08-31 19:29] tkuchida commented on #1208
Addressed by #1211.

[2016-08-31 19:29] #1208 closed

[2016-08-31 20:21] tkuchida commented on #1221
Related to #1071

[2016-08-31 22:13] jimmyDunne opened #1225 "Matlab crashing during multiple simulation due to Reporters/TimeSeriesTable"
[double_pendulum_markers.osim.zip](https://github.com/opensim-org/opensim-core/files/448366/double_pendulum_markers.osim.zip)

Running multiple forward simulations in a loop (with reporters) continually crashes Matlab.

If I pass the function a model object, it will not run a second time (fwd_simulation function at bottom of post).

[code]
 On the second iteration I get this error;

[code]

I am i

[2016-08-31 22:27] chrisdembia commented on #1225
I think we need to see any error messages you get (or the MATLAB crash log) to help with your second issue.

There is a meaningful message given for the first issue:

timestamp at row 10000 with value 10.000000

This is because you are trying to append new simulation results (starting at time 0) into a reporter that already has results from a previous simulation, and the timestamps in TimeSeries d

[2016-08-31 22:27] chrisdembia commented on #1225
@aseth1 or should there be a `clearReport()` method on TableReporter?

[2016-09-01 00:17] #391 closed

[2016-09-01 00:17] #1195 closed

[2016-09-01 00:41] aseth1 commented on #1224
Perhaps the fundamental unit should be an Input and Output instead of channels and the list type of Inputs should just be a (list) property as the container. For most Components these would fixed sized (add one Input at a time via macro but into the same list)  but for Reporters it would vary.  I have to thin more about the machinery but I think it is doable.

[2016-09-01 11:00] tkuchida commented on #1221
Addressing this issue involves a design decision. Please provide discussion on the Development Proposal PR (#1226).

[2016-09-01 16:33] aymanhab commented on #1225
Another possibly related question is "what is the expected life time for a reporter?"

[2016-09-01 18:26] jenhicks opened #1229 "Utilities or improved interface for passing data between OpenSim and Matlab data types"
@jimmyDunne Will upload Matlab scripts to Sandbox to show the usecases. @aymanhab will investigate if a lower-level solution is possible.

[2016-09-01 22:03] tkuchida opened #1230 "Hopper example throws a !hasSystem() exception out-of-the-box"
The "Examples/Hopper Device" project should spawn a visualizer and simulate when run. The current behavior is for `Component::getSystem()` to throw a `!hasSystem()` exception on `viz.drawFrameNow(state);`:
[code]
The expected behavior (minus the hop) is observed when `vastus->updGeometryPath().addPathWrap(*patella);` (line 164 in buildHopperModel.cpp) is commented out.

[2016-09-02 01:22] tkuchida commented on #1066
Fixed by PRs #1116, #1210, and #1222.

[2016-09-02 01:22] #1066 closed

[2016-09-02 01:30] tkuchida opened #1232 "Investigate wrapping of Coordinate enum classes"
PR #1116 introduced an enum class in each concrete joint (excluding CustomJoint and WeldJoint). Coordinates are accessible via `myPlanarJoint.get_coordinates(0)` (which closely resembles the old `myPlanarJoint.getCoordinateSet()[0]`), but it might be better if the enum classes were also wrapped to allow something like `myPlanarJoint.getCoordinate(PlanarJoint_Coord_RotationZ)`. See discussion in PR

[2016-09-06 19:05] klshrinidhi opened #1236 "Replace use of Storage with DataTable for comparisons in test cases."
As per review comments in #1158.

[2016-09-06 22:34] klshrinidhi commented on #1218
I think the columns should be retrieved using *~~get~~updDependentColumn* in order to obtain a writable reference:
[code]

[2016-09-06 23:47] aseth1 commented on #1218
I agree with @klshrinidhi but I don't think MATLAB cares about const-ness of references :cry:

The issue in this block is that marker is a Vector or Vec3. So in the same way you accessed an individual Vec3 and got out its values you need to `set` the values: e.g. `marker.updElt(0,iRow).set(0, rotatedData[0])`  ... I believe.

[2016-09-06 23:55] chrisdembia commented on #1218
While MATLAB does not know about constness (and SWIG ignores it), it is good for users to use the  **upd** version even in matlab, because there could be side effects.

[2016-09-07 19:07] nikorose87 opened #1241 "prescribeControlForActuator is not recognized in python"
Hi, I've been working with the opensim software in windows but now I'm moving to the API, specifically transferring to python. I'm trying to run the example moving the code of elbow arm algorithm to python, as it is shown below:

[code]
Unfortunately,  the library did not recognize the  prescribeControlForActuator class, showing the following error:
[code]
I'm working on linux with the 4.0 version

[2016-09-07 19:26] chrisdembia commented on #1241
Welcome to the API.

This example is already available in python, thanks to @wagglefoot. You can find it at `Bindings/Python/examples/build_simple_arm_model.py`.

`prescribeControlForActuator` is not a class. Also, this line of code is incorrect:
`#opensim.Controller.addActuator(1,biceps)`

You must first create an instance of a class before you can call methods on it (unless they are static metho

[2016-09-07 19:28] #1241 closed

[2016-09-07 19:40] nikorose87 commented on #1241
It works great! Thank you...

[2016-09-07 22:27] aseth1 commented on #1192
A UUID would be helpful to uniquely identify Components and thereby permit reliable serialization of connections. We should move that way for these reasons.
We should also keep in mind that name (path name) based connections cannot be made to disappear overnight:
1. XML editing is the primary method of building models. Manipulating names, even though it is somewhat error prone due to typos, etc...

[2016-09-08 00:08] #1006 closed

[2016-09-08 18:06] #1128 closed

[2016-09-09 20:09] klshrinidhi opened #1245 "Discuss use of {} in place of () for initialization in user facing code"
Refer to #1158.

[2016-09-09 20:13] klshrinidhi opened #1246 "Case sensitivity of strings representing types supported by STOFileAdapter"
Refer to #1158.

[2016-09-10 07:53] tkuchida commented on #1245
Related to discussion about whether to avoid `auto` in user-facing code (see #1209). I suggest we review/discuss the current example code (OpenSim/Examples directory, example code in doxygen, etc.), establish "best practices" for these examples, and then update the examples so they are consistent.

[2016-09-12 01:41] klshrinidhi opened #1247 "Bug in ComponentListIterator"
`ComponentListIterator` has a data member `const Component& _root` which refers to nothing (null) in some instances, leading to `_root` being _a reference to a nullptr_, which is _undefined behavior_.

This problem can be reproduced by examining the data member `_root` in `ComponentListIterator<T>::advanceToNextValidComponent()`.

[2016-09-12 17:06] aymanhab commented on #1192
I agree that the current GUI doesn't allow for graphical model building or workflow building. That said let me explain how three.js uses UUIDs to manage its scene-graph. A Scene has a flat list of materials and another for geometry each with a unique uuid then a tree that represents the scene-graph where each node has its own uuid and refers to geometry and material from the previous two lists usi

[2016-09-12 21:49] jimmyDunne commented on #1218
@aseth1 There is no updElt for VectorViewVec3.

![image](https://cloud.githubusercontent.com/assets/5296507/18454248/1f529da6-78f8-11e6-8d19-00452d5aa592.png)

[2016-09-12 22:17] aseth1 commented on #1218
OK. I think you can use `getElt()` to complete the example. We can use this example to discuss a more convenient interface. Even if `updElt()` were available it would still be cumbersome to have to do it this way.

[2016-09-12 22:45] jimmyDunne commented on #1206
#1158 didn't solve this issue for Matlab. How can you write a TableVec3 to file in through Matlab? @chrisdembia @aseth1

[2016-09-12 23:48] aseth1 commented on #1206
`STOFileAdapter` class is now `STOFileAdapter_<T>` and we had to wrap these as @klshrinidhi did with `Vec3`, `SpatialVec` and others [here](https://github.com/opensim-org/opensim-core/pull/1158/files#diff-1da5685f3b49fed3c5f31e74c90ecf30R175). Did you try using `STOFileAdapterVec3` or is it that which is not working?

[2016-09-13 06:18] jimmyDunne commented on #1206
STOFileAdapterVec3 is working. I am able to print data to file now. Thanks.

[2016-09-13 16:36] aymanhab commented on #1206
I'm reopening this because:
If STOFileAdapter is not usable then it shouldn't appear after wrapping at all. If it's implicitly assuming <double> then we should either document that or change the name when instantiating through SWIG so that it is less confusing to users. We should follow a consistent naming strategy across binding in SWIG and document that for future reference.

[2016-09-13 18:06] aseth1 commented on #1206
In Jave `STOFileAdapter` is wrap of  `STOFileAdapter_<double>` and `STOFileAdapterVec3`, `STOFileAdapterVec6`, ... (see above link) are also wraps of corresponding specializations. I believe this conforms to our "naming strategy". What is the specific issue/grievance for reopening this issue? Is it that `STOFileAdapter` cannot be used to load tables of arbitrary type?

[2016-09-13 18:43] aymanhab commented on #1206
The issue is that we don't have a "naming strategy"! For example ArrayDouble is Array_double while  Vector is Vector_double. Using nothing to indicate Double in some cases, or 1 in another makes it harder to tell Matlab users how to translate C++ code/examples/Doxygen into Java/Matlab. There's a document on confluence that summarizes the current mapping as of version 3.3 and it's not kept up-to-da

[2016-09-13 18:58] tkuchida commented on #1206
If possible, I think it would be best to present Matlab users with methods of the form STOFileAdapter:cow: or STOFileAdapter_:cow:, where :cow: is always the type (double, Vec3, etc.). Otherwise, the user needs to remember :cow: = (type == double) ? null : type.

[2016-09-13 19:01] aymanhab commented on #1206
:+1: :heart: :cow:

[2016-09-13 19:11] tkuchida opened #1250 "Prevent segfault in Matlab when attempting to access bad index"
Because Matlab is 1-indexed and C++ is 0-indexed, Matlab users are likely to make off-by-one errors (OBOEs) when indexing into OpenSim Tables, etc. Currently, Matlab just kerplodes with an unhelpful segfault message when attempting to access a bad index, as reported by @jimmyDunne:

![jamesmatlabcrash](https://cloud.githubusercontent.com/assets/4203505/18487629/d41a55d2-79aa-11e6-91ca-d0d8801288d5

[2016-09-13 19:19] aseth1 commented on #1206
OK i see the bigger issue now, but I still don't think the discussion belongs in this issue.  Please create a new issue. I believe we agree that the issue of writing out a TimeSeriesTableVec3 was addressed.

[2016-09-13 19:23] jimmyDunne commented on #1206
`STOFileAdapterVec3` or `STOFileAdapterVec6` don't appear in the doxygen or anywhere in the code base. Seeing `TimeSeriesTable_<SimTK::Vec3>` doesn't help a Python/Java user. Just a thought.

[2016-09-13 19:24] aymanhab opened #1251 "Mapping templatized C++ classes to Scripting is unclear or undocumented"
We use quite a few classes in our API that are templatized. Examples in C++ mostly utilize the template syntax. Scripting users, particularly in Matlab are not given a mapping between these classes and Java or Python classes. The naming is also left to the developers writing the interface files for SWIG. It would be great help if the mapping is documented somewhere. Issue came during discussion of

[2016-09-13 19:25] aymanhab commented on #1206
Agreed, new issue created, this one can be closed.

[2016-09-13 19:25] #1206 closed

[2016-09-13 20:00] jimmyDunne opened #1252 "Converting TimesSeriesTableVec3 to a writable MOT format"
`C3DFileAdapter()` generates a marker and a force TimesSeriesTableVec3 for each markers and forces. The marker TimesSeriesTableVec3 can sent to `TRCFileAdapter` and written to file. Forces are stored as Vectors of Vec3's but they need to get printed to a mot file which has independent columns for each force (force, torque, point) with *_x, *_y, *_z column headings

`MOTFileAdapter` doesn't exist o

[2016-09-13 20:07] nikorose87 opened #1253 "python compiling error due to signal 11: SIGSEGV"
Hi again.

I was trying to run the code `Arm_elbow_example_py.py` in the terminal and pycharm, but I got an error, which is the following:
``
AttributeError: 'NoneType' object has no attribute 'updInput'
Segmentation fault (core dumped)
``

I haven't modified anything from the code given by you.

Do you know why this is happening?

Thanks a lot!

[2016-09-13 20:11] aseth1 commented on #1192
I believe the proposal at hand is to replace the use and our dependency on pathname for UUIDs which I completely agree is a good idea.

Your implied proposal to use the three.js approach for managing all Components in OpenSim, while interesting and likely to have its advantages, represents a complete re-architecture of OpenSim and current concept of Components. Surely, there are also pitfalls for

[2016-09-13 20:20] aseth1 commented on #1251
@tkuchida proposed:

I think adding `Double` for the type used 99% of the time can be less convenient/confusing for the common/typical use cases. I am also in favor of consistency. So if it is unanimous to have all wrapped template classes named as `<class_name><type_name_with_leading_uppercase>` then so be it.

But, do you really want `TransformDouble`, `MatrixDouble`, ... I also find it confusin

[2016-09-13 20:49] aymanhab commented on #1251
I think there are two cases that may need to be treated differently but all need to be documented.
SimTK's Vector_<double> typedef into Vector needs to be preserved for users to read/follow the SimTK code/examples as well as for convenience but when the template argument can be anything (e.g. Double, Vec3, Vec6 etc. then I'd prefer to append Double/Vector etc.). Just important to have "a" conventi

[2016-09-13 20:57] tkuchida commented on #1251
I will explain the rationale for my suggestion in detail.

1. Ideally the type would be resolved automatically, which would align with Matlab's implicit typing; however, this is not possible with SWIG alone AFAIK. Perhaps this is something we could do if we release utility .m files along with the 4.0 release.

2. According to your statistics, users will need to use a non-double version 1% of the t

[2016-09-13 21:15] tkuchida commented on #1250
Try replicating @jimmyDunne's example (the `for` loop in opensimVec3TableToStruct.m, line 12) in the API: is an index-out-of-bounds exception thrown and just not being caught correctly in Matlab? cc/ @aymanhab

[2016-09-13 21:46] tkuchida opened #1254 "In README, add Ellipsoids to the Model rather than viz directly"
Update testREADME.cpp, README.md, and test in Matlab.

[2016-09-13 22:56] aseth1 commented on #1251
@tkuchida I like the idea of 1 but I don't know how feasible it will be to create and test utility scripts to handle conversion for each type. We could try.

2. I merely used 99% to indicate overwhelming use of- not that it is statistically accurate. In the case of `Transform`, `Matrix` and others I am quite certain there is no usage of non double types because non double types are not wrapped. So

[2016-09-14 21:07] chrisdembia commented on #1010
It might be okay to call `finalizeFromProperties()` from `Model`, so long as Model is `final`. That is, as long as  `finalizeFromProperties()` does not invoke the virtual method `extendFinalizeFromProperties()` that is implemented in types derived from Model. I think the previous issue was that we were calling virtual functions from the `Component` constructor, and that is not okay because it is a

[2016-09-14 21:07] chrisdembia commented on #1130
Related: #1010

[2016-09-15 17:50] aseth1 opened #1255 "Order of PhysicalOffsetFrames are not adequately handled"
We have been fortunate in most cases to be applying `PhysicaloOffsetFrames` (POFs) to Bodies and Ground.  Bodies and Ground are part of the Multibody tree that we follow to appropriately add components to the MultibodySystem. In `testFrames` we also add a POF to another POF, but in that case we happen to be adding them to the Model in the correct order (proximal POF then distal POF).

If we invert

[2016-09-15 18:21] carmichaelong commented on #1250
Likely that SimTK::VectorView has bound-checking and non-bound checking operators. Check if there's an Exception thrown (might be Release vs Debug too)

[2016-09-15 18:34] carmichaelong commented on #1255
Can be handled in separate PR.

[2016-09-15 21:06] carmichaelong opened #1256 "Coordinate's "clamped" and "locked" descriptions can be confusing"
The property comments from [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/SimbodyEngine/Coordinate.h#L71) for clamped and locked are confusing.

Furthermore, the property name "clamped" may also be misleading to users doing forward simulations since (to my knowledge) it is only respected during IK. I think a few steps could be taken to clarify this:

1) Explicitl

[2016-09-16 02:43] klshrinidhi commented on #1232
I looked at this briefly.

**In Python:**
The result of wrapping is:
[code]
[code]
[code]
The enums appear as data members of the class but with an underscore as seen above. It is possible to use:
[code]
**In Java:**
[code]
[code]
[code]
The enums appear as static data members. It is possible to use:
[code]

[2016-09-16 02:48] tkuchida commented on #1232
Thanks @klshrinidhi for investigating. If this behavior is satisfactory as it is, I can add Python/Matlab usage notes to the concrete classes (e.g., [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/SimbodyEngine/BallJoint.h#L58)).

[2016-09-16 03:51] chrisdembia commented on #1256
My preference is to only do (1), and to say both. Potential wording:

"This does not affect forward simulations (e.g., RRA, CMC, Forward), and is currently obeyed only by inverse kinematics and the assembly solver"

I'm not sure if the thing about the assembly solver is true.

Do you have a suggestion to replace `clamped`? Personally, I feel `clamped` is OK.

At some point, Sherm shared some thoug

[2016-09-16 19:19] carmichaelong commented on #1256
I guess I'd be okay with leaving it as `clamped` as long as it's clear, just wanted to bring it up as an option. It may not be worth breaking the backward compatibility with changing `clamped`. If there's no clear better alternative, keeping it `clamped` is fine.

I would imagine you could use `clamped` in different ways depending on if it's in IK vs. forward. So you could use it as bounds of a so

[2016-09-16 21:38] ixjlyons opened #1257 "Python bindings fail to build"
On Arch Linux, following the [using Makefiles](https://github.com/opensim-org/opensim-core#on-ubuntu-using-unix-makefiles) instructions, I found that the Python bindings failed to build:

[code]

I fixed this by adding the following to `Bindings/Python/CMakeLists.txt`:

[code]

This pushed along the build process for a bit, but then I got a new error:

[code]

Following the advice [here](https://s

[2016-09-17 00:38] chrisdembia commented on #1257
Hey Kenneth; I'm happy you were able to eventually successfully build the wrapping. Thank you for reporting this issue. There should not be a separate `preliminaries` module. The target `Bindings/Python/actuators.py` depends on the file `preliminaries.i`. This file is located in the source code at `Bindings/preliminaries.i`. However, Make seems to think that this file is located at `../../Bindings

[2016-09-17 00:41] chrisdembia commented on #1257
You seem to have a good grasp! You were able to play around with the CMake files.

Maybe because Travis uses Ubuntu? Looking at the Travis script, do you see any ways in which your process may have deviated?

[2016-09-17 00:45] chrisdembia commented on #1250
This sounds likely. In general, if OpenSim throws an exception but SWIG/Java doesn't know about it, MATLAB will crash.

The non-checking method is usually `operator[]`, which probably isn't wrapped or available in the wrapping. We probably don't want to make it available in MATLAB either.

Might be best to tell SWIG/Java about the exception using `SWIG_DECLARE_EXCEPTION`, as is done [here](https:/

[2016-09-17 00:53] klshrinidhi opened #1258 "Memory leaks in InducedAccelerations"
* `_storeInducedAccelerations` is filled with pointers to dynamically allocated `Storage` and never released.
* `_coordIndAccs` is filled with pointers to dynamically allocated `Array<double>` and never released.
* `_bodyIndAccs` is filled with pointers to dynamically allocated `Array<double>` and never released.

[2016-09-17 00:58] chrisdembia commented on #1255
Thanks for creating this issue; I agree about a separate PR.

[2016-09-17 00:59] tkuchida commented on #1258
Great to find these leaks. Did you use a profiler or just happen to notice them?

[2016-09-17 01:00] chrisdembia commented on #1258
(My thumbs-up is for having found the leaks, not that I like the leaks!!)

[2016-09-17 01:00] klshrinidhi commented on #1258
I just noticed them. I was editing the file.

[2016-09-17 01:08] tkuchida commented on #1258
Ok. It would be neat if we could automate this somehow (e.g., a "memory leak detector" for the Tools, analogous to the machinery in testComponents).

[2016-09-17 01:10] chrisdembia commented on #1258
We can also use Valgrind, which is already set up on Travis. If you put `[valgrind]` in your commit message, travis is supposed to run Valgrind to detect leaks. Not sure how well this works though.

[2016-09-17 01:30] tkuchida commented on #1225
We could adopt the "clear on read" philosophy commonly seen in hardware registers; if a Reporter were used in a loop, for example, an exception would be thrown before overwriting data that was never read. I think a clear-on-read approach would produce the desired behavior in most cases.

[2016-09-17 01:32] chrisdembia commented on #1225
Ah I like that.

[2016-09-17 03:58] ixjlyons commented on #1257
One difference is that I wasn't creating separate directories for *everything*. I tend to make a `build` directory within the root dir of the repository (hence the relative paths in the error I'm guessing). I tried again by setting up a little "opensim environment" in `~/tmp/opensim` and replaced all occurrences of `~` in the installation instructions with `~/tmp/opensim`.

Here's what I did step

[2016-09-17 06:49] aseth1 commented on #1225
That would mean that upon getting the report (TimeSeriesTable) the internal report would be cleared, correct? We could do that with the report being a copy instead of a reference. If you do not get the report than is it expected that you want to continue to append during subsequent simulation? That would make sense to me.

We should also clear if the System is rebuilt. Properties will not necessar

[2016-09-17 09:25] tkuchida commented on #1225
Yes. In most scenarios, I would expect users to get the TimeSeriesTable exactly once, so the "clear on read" behavior would *just work* without the user needing to think about it. The user could be inconvenienced in two ways:

1. Attempts to read the TimeSeriesTable twice – I think this scenario is unlikely to be problematic, as it seems like the user should be able to hold onto the Table and extr

[2016-09-17 22:10] klshrinidhi opened #1261 "Memory leak / Undefined behavior with Set<T>"
`OpenSim::Set<T>` documentation for
[code]
says:

A copy of the object is NOT made. If **getMemoryOwner()** is true, this Set takes over
ownership of the object and deletes it when the Set itself is deleted.

But the documentation does not specify what the default value of `getMemoryOwner()` is, which creates ambiguity regarding argument `aObject` on how to call the function -- with or without a d

[2016-09-17 22:12] klshrinidhi commented on #1261
This is being used by (and affects) `PrescribedController` and maybe others (did not look).

[2016-09-17 23:29] aseth1 commented on #1225
@klshrinidhi if these changes are reasonable to you, would you consider making them to `TableReporter`?

[2016-09-19 06:56] klshrinidhi commented on #1225
Okay. Sounds good.

[2016-09-19 17:47] chrisdembia opened #1262 "Correctly apply Apache 2.0 license"
The proper way to apply the Apache 2.0 license involves both a LICENSE file _and_ a NOTICE file in the root of the repo (http://www.apache.org/dev/apply-license.html#new). Right now, this is not the case. I keep messing this up (e.g., see #971).

[2016-09-19 18:08] tkuchida opened #1263 "Improve evaluation of memory usage in testInitState"
See [testInitState.cpp L156](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Test/testInitState.cpp#L156).

### Issue

If memory is freed behind the scenes immediately after L156, then `mem0` will not represent the "base footprint" as assumed and the evaluation of memory usage will be ineffective (currently, if `current_size < mem0`, we set `model_size = 0` and leaks cou

[2016-09-19 18:12] tkuchida commented on #1263
An analogous issue exists in testComponents.cpp, which would benefit from an analogous solution.

[2016-09-19 18:35] mshabani opened #1264 "Static Optimization"
StaticOptimizationTarget.cpp has compilation errors when USE_LINEAR_CONSTRAINT_MATRIX is not defined. Error is due to bad call to computeConstraintVector() in constraintFunc. it needs state as a parameter.

[2016-09-19 18:39] klshrinidhi commented on #1264
Please post details of how you built the sources -- OS, compiler, build-flags etc. And please post the error message you are getting verbatim.

[2016-09-19 18:40] aseth1 commented on #1263
Both seem reasonable to me, but 2. does not address the problem if `mem0` is inaccurate.  In which case we will loop N times and remain unsuccessful. This is what is currently happening in #1205.

What if you have looped through N times and it still evaluates to less than mem0?

We could bake in the memory estimate of a model based on the mean (or median) value (over N samples) by adding a utility

[2016-09-19 18:49] mshabani commented on #1264
Here is error along with warnings. I built opensim from github core with default flags on Windows. I think it's a bad function call and not related to flags or OS.

Severity	Code	Description	Project	File	Line	Source	Suppression State
Error	C2660	'OpenSim::StaticOptimizationTarget::computeConstraintVector': function does not take 2 arguments	osimAnalyses	C:\workspace\opensim_core\src\OpenSim\Analys

[2016-09-19 18:51] klshrinidhi commented on #1264
Did you make any edits to the source code ? If yes, please post the details.
We need enough information to reproduce the problem.

[2016-09-19 18:54] aymanhab commented on #1250
@jimmyDunne What's the minimal piece of code to test this. I can't create a new SimTK::RowVector (you get them from something else) and I'd like to write a minimal piece of code to get it (either build a table, add to it live, or use files if necessary), please advise @klshrinidhi or @jimmyDunne Thanks.

[2016-09-19 18:56] tkuchida commented on #1263
As described by the pseudocode, each iteration of the algorithm begins by establishing a "base footprint" and then loads *n* copies of the model, where *n* increases with each iteration. Unless huge chunks of memory are being freed immediately after `mem0` is stored on *every* iteration, then I believe this algorithm may work—though I have not tried it.

As *n* increases, I would expect this scena

[2016-09-19 19:01] tkuchida commented on #1264
Has the `#define USE_LINEAR_CONSTRAINT_MATRIX` line at the top of StaticOptimizationTarget.cpp been commented out?

[2016-09-19 19:01] mshabani commented on #1264
In StaticOptimizationTarget.cpp remove line 47 : #define USE_LINEAR_CONSTRAINT_MATRIX
This will produce the error.
When this is defined, it builds constraint matrix and everything works fine. But when USE_LINEAR_CONSTRAINT_MATRIX is not defined, it is supposed to evaluate constraint vectors and error happens in line 558 due to bad call to computeConstraintVector:
computeConstraintVector(parameters

[2016-09-19 19:02] mshabani commented on #1264
@tkuchida  yes

[2016-09-19 19:33] klshrinidhi commented on #1250
I think it is possible to create an object of `RowVector` since it is being wrapped [here](https://github.com/opensim-org/opensim-core/blob/master/Bindings/simbody.i#L86).

My guess is that this is a *segfault* due to no range checking in non-debug modes as code [here in simbody](https://github.com/simbody/simbody/blob/3dd798950b7cd8ba83e9338f0875c9647c8d09d4/SimTKcommon/include/SimTKcommon/intern

[2016-09-19 19:49] aymanhab commented on #1250
RowVectorView has no constructor (even though it's wrapped) and neither does RowVectorViewVec3 that's why I wanted to know how to get one.  If these are not the correct classes please let me know. Indeed I suspect it's the no-range-check indexing but I'm trying to have an actual piece of code to add as a test for future reference. If we map the operators to methods (as we likely have to in SWIG in

[2016-09-19 19:54] aseth1 commented on #1263
Right .. the `<-` being the assignment of a value - I misread that.

But you still throw an exception, yes?

 I meant put the functions that estimate of memory usage based on N samples in the `auxiliaryTestFunctions` header instead of the test cases. Then multiple tests like `testComponents` could use the same utilities.

I agree the mean is incorrect. Perhaps max is the right way to go unless the

[2016-09-19 20:04] tkuchida commented on #1263
Yes, I think the test should fail if the memory-leak detector is malfunctioning.

:+1:

Without a proposed algorithm, I don't know whether the median is best. If you want at least one positive memory footprint increase, then the loop should just exit on `mem1 > mem0`. If you want exactly `s` samples of memory footprint increases, then the median seems fine. Collecting `s` samples and then taking t

[2016-09-19 20:04] jimmyDunne commented on #1250
I am trying to build a TimesSeriesTableVec3 from scratch. I assume you first have an empty `TimeSeriesTableVec3()` , fill a row object, then append the row to the TimeSeriesTable?

I can make a `RowVector()` , but then it is unclear how to fill this with Vec3's. I don't have access to `RowVectorViewVec3`, as Ayman also noted.

How do you build a Table (or a Vec3 table) from scratch?

[code]

[2016-09-19 20:14] chrisdembia commented on #1264
Thanks for reporting, @mshabani. What led you to choose to undefine  `USE_LINEAR_CONSTRAINT_MATRIX`? Were you adapting that code for another purpose? Since we do not ever undefine `USE_LINEAR_CONSTRAINT_MATRIX`, I have little confidence that that code path would do the right thing.

Could you explain what your larger goal is, so we can prioritize a bug fix? If you think you can fix this bug, that

[2016-09-19 20:25] jimmyDunne commented on #1250
As far as I can tell, there is no way in Matlab to edit the values of a RowVector().

[2016-09-19 20:40] aymanhab commented on #1250
An example in C++ to begin with would be a good start @klshrinidhi I'm sure you have something in the repo but I don't know where to look. Thanks.

[2016-09-19 20:43] chrisdembia commented on #1250
https://github.com/opensim-org/opensim-core/tree/master/OpenSim/Examples/DataTable

[2016-09-19 21:11] aymanhab commented on #1250
Thanks @chrisdembia I created a branch to add the test that we can all refer to https://github.com/opensim-org/opensim-core/tree/test_tables_java

Haven't tested indexing out of bounds yet. Wanted to see this pass first.

[2016-09-19 21:21] klshrinidhi commented on #1225
I just talked to Tom. Here is the summary of changes I am going to try to make:
* Add `clearReport()` or `clearTable()` to `TableReporter` to clear the rows of the underlying `TimeSeriesTable`. This will have to be called at the end of a loop when running simulation multiple times in a loop.
* `TableReporter` should catch the exception thrown by `TimeSeriesTable` when attempting to append a row th

[2016-09-19 21:49] jimmyDunne commented on #1250
This is how it looks in Matlab

[code]

[2016-09-19 22:06] jimmyDunne commented on #1250
Sorry `row1 = RowVector(5, 0.25 );` does work. I added the double for debugging but didn't get rid of it.

The above code can only be used once. If I try to do a second pass, Matlab crashes.

[2016-09-19 22:15] jimmyDunne commented on #1250
example 2

[code]

[2016-09-20 08:28] klshrinidhi commented on #1250
I have a snippets to reproduce the problem for [C++](https://github.com/opensim-org/opensim-core/blob/issue_1250_rowvectorview_crash/OpenSim/Common/Test/testDataTable.cpp#L185-L209) and [Python](https://github.com/opensim-org/opensim-core/blob/issue_1250_rowvectorview_crash/Bindings/Python/tests/test_DataTable.py#L71-L80).

In C++, I did not a *segfault* on my machine. It just printed garbage as s

[2016-09-20 16:26] #1254 closed

[2016-09-20 16:36] chrisdembia commented on #1250
@klshrinidhi in Python, was the message "Index not in range" printed? See [here](https://github.com/opensim-org/opensim-core/blob/issue_1250_rowvectorview_crash/Bindings/Python/swig/python_common.i#L42):

[code]

The exception message should have been printed.

[2016-09-20 18:02] jenhicks commented on #1232
This seems reasonable to me. It will be helpful to exercise this when we write examples.

[2016-09-20 18:14] jenhicks commented on #1159
The immediate bug is fixed by the PR referenced above, so I am in favor of working on decoupling Component from ComponentList after 4.0. @aseth1 does that sound reasonable?

[2016-09-20 18:30] jenhicks commented on #1185
I think we should indicate in doxygen that AccelerationMuscle is experimental.

[2016-09-20 18:37] #914 closed

[2016-09-20 18:41] #639 closed

[2016-09-20 18:42] klshrinidhi commented on #1250
The CI builds -- [Travis](https://travis-ci.org/opensim-org/opensim-core/builds/161259752) & [Appveyor](https://ci.appveyor.com/project/opensim-org/opensim-core/build/4690) -- show the resulting exception. Take a look at those.

[2016-09-20 18:44] mshabani commented on #1264
The general idea is to add new constraints to the static optimizer and I thought it would be nice to try it with out linearization matrix so that's why I undefined USE_LINEAR_CONSTRAINT_MATRIX.
This might work: There is a _currentState variable defined in StaticOptimizationTarget.h which can be used in this case like :
StaticOptimizationTarget.h
line 58: SimTK::State* _currentState;

StaticOptimiz

[2016-09-20 18:52] #156 closed

[2016-09-20 18:53] #335 closed

[2016-09-20 18:53] aseth1 commented on #1159
Yes. But I think we should be prepared for this issue to creep up again and then address it once and for all. As @aymanhab noted in the last meeting, reassigning the `_nextComponent` pointer can lead to undefined behavior. I am unsure of the circumstances that guarantee that the `_nextComponent` pointer is being preserved on repeated calls. It seems to be OK but it has not been tested extensively.

[2016-09-20 19:03] jenhicks commented on #1159
Thanks for the input @aseth1 . I will defer this issue for now.

[2016-09-20 19:04] tkuchida commented on #1225
Isn't the exception thrown if time is *non-increasing*? I think we decided that integrators should not be allowed to report the state before and after an instantaneous event is processed.

[2016-09-20 19:08] klshrinidhi commented on #1225
`TimeSeriesTable` is currently coded to only allow strictly increasing timestamps. The comment comes from that. I can change the behavior but will have to be another PR.

[2016-09-20 19:47] tkuchida commented on #1225
`[allows only strictly increasing timestamps] == [disallows non-increasing timestamps]`. Your most recent comment and my understanding are in agreement.

[2016-09-20 19:50] klshrinidhi commented on #1225
Got it. I should have said *non-increasing* in my summary.

[2016-09-20 20:37] aymanhab commented on #1250
Nope @chrisdembia only the name of the method is shown. I vaguely remember exception messages getting lost during stack unwinding following a throw but we need to debug to see why. We also need to make sure this reproduces and can be caught in Java as well.

[2016-09-20 20:46] chrisdembia commented on #1232
I agree that that interface looks fine. When writing examples in doxygen for python, it might be good to show the `opensim` module:

[code]

The following would also work, but is not advised:
[code]

[2016-09-20 21:16] jenhicks commented on #1194
Back OpenSim Array with std::vec

[2016-09-20 21:25] jenhicks commented on #1218
Need to wrap so there is equivalent updElt() in Matrix, Vector, and RowVector.

[2016-09-20 21:39] jenhicks commented on #1252
Need converters to convert flattened mot format.

Take tables that are Vec types and convert into a timeseries of double.
Take option suffixes for elements; otherwise 1,2,3 (by default)

[2016-09-20 21:41] jenhicks commented on #1220
Change getReport() to getTable()

[2016-09-20 21:56] jenhicks commented on #821
@klshrinidhi Can you check the wording of the exception? Maybe add a hasColumnLabels check.

[2016-09-20 22:56] tkuchida opened #1268 "Add get/upd methods for fetching Coordinates by name"
Required for backwards compatibility with the GUI.

[2016-09-20 22:59] klshrinidhi commented on #1268
This could be done without editing C++ code by extending classes in Java wrapping. This way the *backwards compatibility* changes are localized to Java wrapping (where it is actually needed) and can be removed as GUI is upgraded.

[2016-09-20 23:10] tkuchida commented on #1268
Hm, I was thinking it might be a good idea to have this method anyway, but @aymanhab - can you use something like
[code]

[2016-09-20 23:13] klshrinidhi commented on #1268
If you add string based methods now, you may have to discourage their usage for general users because the current enum based methods are better. If they don't even appear in C++, there will be no such problem.

[2016-09-20 23:16] aymanhab commented on #1268
Thanks @tkuchida
joint.getComponent<Coordinate>("name"); can be done in C++ and then wrapped but generally we try to avoid diverging C++ API from Scripting API for maintenance purposes. I'll investigate if some caching can be done on the GUI side to avoid doing the name search later.

[2016-09-20 23:54] chrisdembia commented on #1268
Both the enum-based and string-based accessors for coordinates are necessary. It is fine if the string-based accessor is `getComponent<Coordinate>("name")` (would reduce duplication but also make it harder to do a very common task). But it is very common and necessary to get a coordinate by its name. "I want to lock the knee angle of my model" is easier via `getCoordinate("knee_angle_r").setLocked

[2016-09-21 00:24] tkuchida commented on #1268
1. Since the knee joint is a PinJoint in your example, you could just do `knee.getCoordinate()` because there's only one Coordinate.
2. I assume by your first example that you want to call `getCoordinate(name)` on Model rather than Joint; otherwise, the only difference between your examples would have been `"knee_angle_r"` in the first and `PinJoint::Coord::RotationX` in the second.

[2016-09-21 01:52] chrisdembia commented on #1268
Ah yeah you're right about the PinJoint.

Yes; I was assuming some sort of top-level call on the model (those methods don't actually exist on the Model).

[2016-09-21 18:49] aymanhab commented on #1268
Thanks @tkuchida & @chrisdembia This turned out to be a bit more complicated than expected (surprise) because at this point in the GUI code I have access only to a TransformAxis object that contains "coordinates" property that actually contains only names of Coordinates!. The method to get the coordinates (list property now) from Joint are not available post SWIG, was that intentional, @chrisdembi

[2016-09-21 18:55] aymanhab commented on #1250
Test now crashes as expected
https://travis-ci.org/opensim-org/opensim-core/builds/161450500
Build log shows:

terminate called after throwing an instance of 'SimTK::Exception::Base'
  what():

The branch is called test_tables_java

[2016-09-21 18:56] klshrinidhi commented on #1250
Okay. I will take a look and get back.

[2016-09-21 19:03] chrisdembia commented on #1268
I don't know; I'm not all that familiar with these changes. Seems like right now you could do (in Java):

[code]

[2016-09-21 19:33] aymanhab commented on #1268
Thanks much @chrisdembia (I think that was also @tkuchida suggestion earlier) I was worried about using getComponent because it takes a "Path" rather than name which can cause other complications but I was pleasantly surprised and it worked ok with name :+1:  I still think the highlevel access to Coordinates would be useful but maybe a different issue. Let me know @chrisdembia

[2016-09-21 19:42] chrisdembia commented on #1268
`Component::getComponent()` takes a name or a path.

I think users might like high-level access to coordinates. There are at least two scenarios:

1. looping through all coordinates in the model (`model.getCoordinateList()`).
2. getting a specific coordinate (`model.getCoordinate()`), but I think it should take the full path name.

I think the nice new enum interface for accessing coordinates is m

[2016-09-21 19:59] aymanhab opened #1271 "Using "\" to specify folders for dependencies in CMake leads to problems downstream"
Ran into this when I specified a folder for simbody with back-slashes. The build succeeded but later builds that parse the resulting  *config.cmake complained about escape sequences while parsing and failed.

[2016-09-21 20:01] chrisdembia commented on #1271
In which variable did you use backslashes? `SIMBODY_HOME`?

[2016-09-21 20:02] chrisdembia commented on #1271
@aymanhab is this problem different from #338?

[2016-09-21 20:25] aymanhab commented on #1271
Nope, same problem as #338 which was closed, sorry I didn't see it.  I believe the specific directory I used was for Simbody_DIR.  I ended up editing the config.cmake file manually to flip slashes to avoid rebuilding.

[2016-09-21 22:47] #1185 closed

[2016-09-22 17:55] aymanhab opened #1275 "Old models DisplayGeometry lose transform on upgrade"
Noted while trying to visualize double_pendulum.osim from repository/master in API visualizer and latest GUI

[2016-09-22 19:17] klshrinidhi opened #1276 "Mismatch in build-type of dependencies and OpenSim can lead to runtime errors like segfault"
For example, if Simbody is built in _Release_ and OpenSim is built in _Debug_, there may be runtime errors like segfault.

If the dependencies are built using superbuild, there may be a solution in writing out some information into the install directory so that OpenSim CMake can pick it up.

[2016-09-22 19:47] tkuchida opened #1277 "Consider storing aliases in Outputs rather than Inputs"
An "annotation" (to be renamed "alias" per #1226) can be set when connecting Outputs to Inputs. Currently, the Input stores the alias. If an Output is wired into multiple Inputs, each Input can (perhaps accidentally) assign a different alias.

As an example, consider two Marker positions being fed into a Component called Averager: the Output of this Component will _always_ be the average of its In

[2016-09-22 21:17] chrisdembia commented on #1276
I'm hoping it is not necessary to write out additional information. All the detecting about the build configurations of the dependencies should exist, via the `SimbodyTargets-relwithdebinfo.cmake`, etc files. So I think it will just be a matter of picking up that information by querying for target properties. Perhaps there's something like `get_property(SimTKcommon PROPERTY CONFIGURATIONS)`.

[2016-09-22 21:19] chrisdembia commented on #1277
Thanks for documenting this.

[2016-09-23 01:19] #1129 closed

[2016-09-23 01:26] aseth1 commented on #1105
Has not been verified yet. Reopening.

[2016-09-26 17:14] chrisdembia opened #1282 "[cmake] Make it easier to "build all components," especially BTK when using superbuild"
Right now, there are some configuration variables that are default OFF:
- BUILD_PYTHON_WRAPPING
- BUILD_JAVA_WRAPPING
- WITH_BTK

While having these as default-off to make it easier to build OpenSim quickly for beginners, _other_ users want all components build (especially people like us in the lab). @jimmyDunne suggests having another configuration variable, perhaps `BUILD_ALL_COMPONENTS`, that s

[2016-09-26 20:31] aymanhab commented on #1275
This boils down to this:

- Earlier conversions of DisplayGeometrty that had extra transform was creating intermediate Frames and "connecting" Geometry to it.
- The change to use attached_geometry assumed no transform between the frame and its attached Geometry.
The fix is likely to locate the intermediate frame and attach to it but it's not clear yet how to locate that intermediate frame during d

[2016-09-27 23:32] aseth1 opened #1287 "Consider combining Input::getShortLabel() and getLongLabel() to one label related method"
This issue is a replacement for DevProp #1284, which has been closed.  Many points reflect the input from @tkuchida. This is my quick summary:

Potential issues to consider:
1. `getAlias()`, `getShortLabel()`, and `getLongLabel()` all return `alias` when an alias has been provided and this may be confusing for users since all methods are part of the public interface. Secondarily, it doesn't adhere

[2016-09-29 07:20] chrisdembia commented on #1276
Ah the configurations in which the dependencies are built is stored in the target property `IMPORTED_CONFIGURATIONS`.

So one can use `get_property(SimTKcommon PROPERTY IMPORTED_CONFIGURATIONS)`

https://cmake.org/cmake/help/v3.0/prop_tgt/IMPORTED_CONFIGURATIONS.html

[2016-10-03 04:56] chrisdembia opened #1293 "Python and MATLAB do not have non-default PhysicalOffsetFrame constructors"
The constructors for `PhysicalOffsetFrame` are inherited from `OffsetFrame<PhysicalFrame>`, and SWIG does not support inherited constructors (`using OffsetFrame<PhysicalFrame>::OffsetFrame;`). As a result, the constructors for PhysicalOffsetFrame are not available in the bindings.

We need to do the same thing we did for the Joint classes.

[2016-10-03 05:01] chrisdembia commented on #1142
@wagglefoot, if you think this issue has been resolved, could you close it?

[2016-10-03 05:04] chrisdembia opened #1294 "Include python examples in tests, CTest"
We have one python example right now, and it does not get tested (as part of continuous integration, or otherwise). We should make sure the python examples are tested so they don't fall behind!

[2016-10-03 05:44] chrisdembia commented on #1294
This feature is now pushed to the repo under the `modernize_cmake_python_testing` branch.

[2016-10-03 18:22] jenhicks opened #1297 "Write examples for alpha testing of API"
- [x] Script to build a template actuators file that can be used in Static Optimization, RRA and CMC (see PR #541 (Shrinidhi)
- [ ] Convert dynamic walker example (James)
- [ ] Convert hopper example (Chris)
- [ ] Convert between Millard and Thelen muscle models  (Ayman)
- [ ] Simple arm model in Matlab (James)
- [x] Plot muscle curves (James, look for already written version)
- [ ] Show how to us

[2016-10-03 18:23] jenhicks commented on #1297
@jimmyDunne Creating the functionality of #541 would be great to add to the list.

[2016-10-03 18:41] jimmyDunne commented on #1297
np. Have copied over the script into a new commit elsewhere.

[2016-10-03 19:44] jenhicks commented on #1297
Cool. Thanks -- where's the new one?

[2016-10-03 21:49] chrisdembia commented on #1204
@sebastianskejoe thank you for reporting this. @aymanhab has fixed this issue in #1298.

[2016-10-04 16:36] #1142 closed

[2016-10-04 20:19] klshrinidhi commented on #1218
This was addressed by #1288. Java tests in that PR test/demonstrate editing rows/columns of DataTable.

[2016-10-05 00:15] jenhicks commented on #1218
Thanks for the update on this issue @klshrinidhi . I'm going to leave the issue open until @jimmyDunne has a chance to verify in Matlab, as well.

[2016-10-05 18:18] aseth1 commented on #1287
Related to #1279 is how best to record the *path* of the `Output` and its *alias* that satisfies the `Input` so that it can be serialized and the connection re-established upon deserialization (and `connect()`) without user intervention.  Currently, this information is stored as the single `connectee_name` (string) of the `Input`, which appears like this: `/path/to/component:<output_name>(<alias>)

[2016-10-05 19:09] chrisdembia commented on #1287
Thanks for those thoughts. I agree about the shortcomings of the current scheme.

This is appealing but may be even harder to implement for list inputs than the current scheme. If a Reporter has 5 outputs wired to it, and only one of them (say the 3rd one) has an alias, how do I match that one alias to the correct input?

I am starting to agree with @aymanhab etc that perhaps the alias does belong

[2016-10-05 19:11] chrisdembia commented on #1277
Issue #1287  has some valuable discussion related to *this* issue. I've copied some of it here:

@aseth1:

@chrisdembia:

We could consider a separate output_name and alias fields (properties) serialized with the Input.
This is appealing but may be even harder to implement for list inputs than the current scheme. If a Reporter has 5 outputs wired to it, and only one of them (say the 3rd one) has a

[2016-10-06 00:04] aseth1 commented on #1263
addressed by #1267

[2016-10-06 00:04] #1263 closed

[2016-10-06 00:08] aseth1 commented on #1230
Fixed by #1260

[2016-10-06 00:08] #1230 closed

[2016-10-06 17:48] #1069 closed

[2016-10-06 17:50] #821 closed

[2016-10-06 17:58] aseth1 commented on #1297
What do you think of an example that highlights the data handling and new `TableSource` component to read marker data from trc and C3D, wire the data to ExperimentalMarker components and visualize them? If we could do this in 25 lines or less it would be a compelling and practical example of the new capabilities. I am working on a prototype in C++.

[2016-10-06 18:02] tkuchida commented on #1297
Some relevant discussion in #1144.

[2016-10-06 18:07] #1221 closed

[2016-10-06 18:15] jenhicks commented on #1229
@jimmyDunne  The plan for this issue is to provide conversion scripts

[2016-10-06 18:30] jenhicks commented on #603
@aymanhab Idea is an enum to keep track of staging to provide user info for troubleshooting.

[2016-10-06 18:32] jenhicks commented on #603
Moving to next release unless it becomes more of an issue.

[2016-10-06 18:37] jenhicks commented on #551
@aymanhab can you review status, particular ComponentsList/ComponentList

[2016-10-06 18:41] jenhicks commented on #643
@jimmyDunne Are you still having issues with this? If so, can you provide more specfiics? Thanks!

[2016-10-06 18:42] #610 closed

[2016-10-06 18:44] #924 closed

[2016-10-06 18:47] jenhicks commented on #811
@aseth1 Can you review the list and close issue if everything is fixed or tracked with a separate issue elsewhere?

[2016-10-06 18:47] #596 closed

[2016-10-06 18:48] #316 closed

[2016-10-06 18:49] jenhicks commented on #1118
Closed by Dev Prop #1219

[2016-10-06 18:49] #1118 closed

[2016-10-06 18:49] #833 closed

[2016-10-06 18:50] jimmyDunne commented on #643
@jenhicks sure.

Having to safedowncast into a concrete class is confusing. It is also annoying to script for because you have to find the concrete class type and do an eval (matlab)

[code]

This happens a lot with different muscle types when you want to change their properties or get some access to an underlying component.

[2016-10-06 20:38] aymanhab commented on #1297
I'd add that the number of lines likely doesn't matter as much as that users can follow the code and modify it to fit their needs.

[2016-10-06 20:42] aymanhab commented on #1225
@klshrinidhi We need to touch base on this and ideally have a good working C++ example, then troubleshoot whatever issues that are due to SWIG wrapping. Do we have such an example in C++? Thanks.

[2016-10-06 21:01] chrisdembia commented on #643
This has been addressed for Python. For example, the [following](https://github.com/opensim-org/opensim-core/blob/master/Bindings/Python/tests/test_access_subcomponents.py#L15) works; no downcasting necessary:

[code]

That was introduced by PR #1039.

Issue #1036 has some ideas for achieving a similar interface in MATLAB.

[2016-10-06 21:08] humphreysb commented on #643
I just want to add a +1.  This will be great.

On Thu, Oct 6, 2016 at 5:01 PM, Christopher Dembia <notifications@github.com

--

Brad Humphreys
Ohio Rangers Football Club - State League Scheduler
216.456.5457
schedulerfc@gmail.com

[2016-10-06 21:40] jimmyDunne commented on #1297
My hope was that we could have a pipeline of *Read C3D -> scale model -> IK -> ID*

[2016-10-06 21:45] jimmyDunne opened #1303 "FInding Python version on path (Cmake)"
When building the python wrapping, Cmake defaults to a standard dir (OSX; user/bin/python2.7). If that is not the version of python that is on your path, you only get exceptions once you try to `import opensim`.

Would be swell if Cmake could find the python version currently being used.

[2016-10-06 21:48] chrisdembia commented on #1303
Thanks @jimmyDunne. Related: #691.

[2016-10-06 21:51] jimmyDunne commented on #1303
Cool. Ill add that I didn't use homebrew. Mine was a Anaconda installation 💯

[2016-10-06 21:55] chrisdembia commented on #1303
🐍

[2016-10-07 00:14] tkuchida opened #1306 "Improve readability of TimeSeriesTable when displayed in console"
It would be convenient if there were a static method on ConsoleReporter that would allow something like
[code]
to take advantage of the ConsoleReporter's output formatting, which is easier to read than
[code]

[2016-10-07 07:40] chrisdembia opened #1307 "ComponentPath::getComponentName() crashes when getNumPathLevels() == 0"
The following code causes a crash:

[code]

What should the expected behavior be? I can think of two options:

1. Return an empty string; `""`.
2. Throw an exception, saying the ComponentPath is empty.

[2016-10-07 19:07] aymanhab opened #1308 "Master list to track scripting issues"
List of PRs and/or open issues that @jimmyDunne is stuck on while trying to write test scripts:
- [ ] Fix crash running README file in a loop
- [x] Issue related to column labels/units when converting trc to Sto file for Forces
- [x] Matlab crashing during multiple simulation due to Reporters/TimeSeriesTable
- [x] Changing values in a TimesSeriesTableVec3 (Matlab)
- [x] Add clearReport() to TableR

[2016-10-07 19:09] aymanhab commented on #1308
@jimmyDunne This is a place holder for the issues we discussed yesterday with @klshrinidhi I know you had more but wanted to get this started so we can keep an eye on progress and help where needed. Please feel free to mark resolved issues as such or add other items that we discussed and are still unresolved. Thanks.

[2016-10-07 19:14] klshrinidhi commented on #1308
I addressed the second one (￼*Issue related to column labels/units when converting trc to Sto file for Forces*) is addressed in #1278.

[2016-10-07 19:16] carmichaelong commented on #1307
Of the three uses of `getComponentName()` in the Component class, one function checks if there is an empty name (`findComponent()`) and two functions do not (`findAndConnect()` and `traversePathToComponent()`).

I think this currently points at doing option 1, since it seems like Component currently handles the empty name, but I don't know what the complete vision is for the Component class.

[2016-10-07 19:48] aymanhab commented on #1308
Thanks @klshrinidhi I added comments on the PR and will have @jimmyDunne check it off when it works for him. Feel free to add any other related issues you're working on to this list.

[2016-10-09 08:20] klshrinidhi opened #1309 "Memory leak in PropertySet"
The constructor of `PropertySet` is calling `setMemoryOwner( false )` on its data member of type `ArrayPtrs`, which as result does not release memory upon destruction. This is causing leak of all dynamically allocated objects `append()`ed to `PropertySet`.

The file `testSerialization` has plenty of calls to `append()` on `PropertySet`.

[2016-10-10 17:39] jimmyDunne commented on #1297
I am keeping all Matlab scripts in branch _adding_matlab_scripts_

[2016-10-10 18:02] aymanhab commented on #1218
@jimmyDunne Please let us know if this can be closed by #1288 Thanks.

[2016-10-10 18:38] aymanhab commented on #1308
Thanks much @klshrinidhi for the fixes and added tests. @jimmyDunne if you can go through the list and check what's done and add any functionality you're waiting on that would be great. Thank you.

[2016-10-10 19:41] jimmyDunne commented on #1297
All Matlab scripts are in the this PR/branch #1311

[2016-10-10 19:42] #1105 closed

[2016-10-10 20:31] jimmyDunne commented on #1218
It can be! thanks.

[2016-10-10 20:31] #1218 closed

[2016-10-10 21:16] chrisdembia commented on #1253
@nikorose87 Do you still have an issue? Could you try the updated example at the link below?

 https://github.com/opensim-org/opensim-core/blob/master/Bindings/Python/examples/build_simple_arm_model.py

[2016-10-10 21:18] chrisdembia commented on #1229
@jimmyDunne are you familiar with MATLAB's `table` objects?
https://www.mathworks.com/help/matlab/matlab_prog/modify-units-descriptions-and-table-variable-names.html

It seems that, ideally, the conversion script would create a MATLAB table object.

I'm not sure which version of MATLAB introduced tables, though.

[2016-10-10 21:20] chrisdembia commented on #1229
I think tables were introduced in 2013b:

http://blogs.mathworks.com/loren/2013/09/10/introduction-to-the-new-matlab-data-types-in-r2013b/

[2016-10-10 21:20] chrisdembia commented on #1229
It seems like MATLAB's Table also supports metadata. One key difference is that MATLAB's tables can have a different data type for each column (I think...).

[2016-10-10 21:24] jimmyDunne opened #1312 "Accessibility of table metadata values in Matlab"
I have marker data in a table, and I would like to get the data rate. I can access `.getTableMetaDataKeys` to see what metadata is available. Unfortunately, I can't seem to find a way to access the metadata values (in this case the data rate). `.getTableMetaData` gives an exception and I am unsure on any other methods I could use to get the rate.

[2016-10-10 21:43] klshrinidhi commented on #1312
This requires wrapping of the classes `OpenSim::ValueArrayDictionary`, `SimTK::AbstractValue`, `SimTK::Value` and may be more.

[2016-10-10 22:19] klshrinidhi commented on #1312
I will try to add a templated member function to `AbstractDataTable` to retrieve table metadata based on the specified type in the call. I will then try to expose this method to Python/Java. This will avoid the need for wrapping more classes.

[2016-10-11 03:06] jenhicks commented on #1036
I'm going to close this issue because it duplicates #643 and is referenced in that issue so we don't lose discussion.

[2016-10-11 03:06] #1036 closed

[2016-10-11 03:24] jenhicks commented on #796
I'm going to close this issue and we can add new ones as we identify needs/priorities

[2016-10-11 03:24] #796 closed

[2016-10-11 03:25] #764 closed

[2016-10-11 03:37] #1024 closed

[2016-10-11 03:38] jenhicks commented on #1097
@klshrinidhi Is this fixed?

[2016-10-11 03:47] #1204 closed

[2016-10-11 03:48] #1212 closed

[2016-10-11 03:56] jenhicks commented on #1287
Pushing to next release, but we can elevate should issues come up during user testing.

[2016-10-11 04:01] #1309 closed

[2016-10-11 07:04] klshrinidhi commented on #1097
Not sure. I will get back.

[2016-10-11 08:09] tkuchida commented on #1287
It may be possible to address these design issues using UUIDs (#1192) and storing/serializing a master lookup table of aliases/connections (perhaps materials as well). Perhaps something to discuss in the context of model nesting and introducing an omniscient Environment or World Component. Definitely post-4.0.

[2016-10-11 15:51] nikorose87 commented on #1253
Unfortunately, I updated the code but I got the following error:

`Traceback (most recent call last):
  File "/home/nikorose/Documents/PythonProjects/Python_arm2.py", line 120, in <module>
    elbow_coord = elbow.getCoordinate().getOutput("value")
  File "/usr/local/lib/python2.7/dist-packages/opensim-4.0-py2.7.egg/opensim/simulation.py", line 22969, in <lambda>
    __getattr__ = lambda self, name

[2016-10-11 17:24] aymanhab commented on #1229
This will likely be handled by @jimmyDunne scripts that users can test/modify at least for 4.0. Longer term solutions may include: SWIG module for Matlab (has been experimental for a while), auto-generate MEX files etc. The advantage of the current scheme is that very little API changes between C++, Python and Matlab and has been working rather well overall.

[2016-10-11 17:37] chrisdembia commented on #1229
I agree. I think having a conversion script that creates a MATLAB Table object would be very nice, perhaps in addition to others that create a normal matrix, etc.

[2016-10-11 17:39] chrisdembia commented on #1253
Ah shucks. Thanks for trying. Did you rebuild OpenSim using the latest master branch?

[2016-10-11 18:24] klshrinidhi opened #1331 "Memory leak in testComponentInterface"
`TheWorld::extendAddToSystem()` is allocating memory that is never released.

[2016-10-11 18:48] klshrinidhi commented on #1306
I can improve the function that prints `TimeSeriesTable` so that:
[code]
gives more readable result.
* It looks like one has to go through an indirect method of feeding `TimeSeriesTable` to `ConsoleReporter` in order to see the table in a easily readable format.
* `ConsoleReporter` is not meant to know all the details (metadata) about `TimeSeriesTable`. I think it is better to have this functional

[2016-10-11 19:01] tkuchida commented on #1306
Ah, ok. I thought it might be cleanest to use the same formatting infrastructure for printing any table of data to the console, which could be shared by ConsoleReporter and TimeSeriesTable—but yes, I think a more readable version of `std::cout << myTimeSeriesTable;` would be an improvement regardless of where the code resides. Thanks!

[2016-10-11 19:48] aymanhab commented on #1306
I'd add that a method eg toString () would be needed for languages not supporting << operators.

[2016-10-11 21:05] #551 closed

[2016-10-11 21:05] #837 closed

[2016-10-11 21:07] #309 closed

[2016-10-11 21:18] jenhicks commented on #643
@jimmyDunne and @humphreysb What are the specific concrete classes that you would like to have access to?

[2016-10-11 21:20] #974 closed

[2016-10-11 21:20] #1016 closed

[2016-10-11 21:22] jenhicks commented on #1107
For 4.0, we will address through documentation/examples.

[2016-10-11 21:31] #759 closed

[2016-10-11 21:33] jenhicks commented on #762
Captured in dev prop regarding input/output/connector naming.

[2016-10-11 21:33] #762 closed

[2016-10-11 21:39] #390 closed

[2016-10-11 21:56] #570 closed

[2016-10-11 22:05] jenhicks commented on #1268
make sure there is a getCoordinateList() for the Model

[2016-10-11 22:11] jenhicks commented on #1097
If it's not already done, then we could hold until post 4.0. Let me know what you find out.

[2016-10-11 22:12] jenhicks commented on #1199
@aymanhab can you verify?

[2016-10-11 22:19] jenhicks commented on #928
@aseth1 Can you verify if this is resolved?

[2016-10-11 22:21] jenhicks commented on #611
Add a test and throw an assertion when reading an old model that has a reverse tag.

[2016-10-11 22:23] jenhicks commented on #611
OR give a warning

[2016-10-11 22:30] #83 closed

[2016-10-11 22:30] #314 closed

[2016-10-11 22:32] jenhicks commented on #356
@chrisdembia is this issue holding you up at the moment?

[2016-10-11 22:34] chrisdembia commented on #969
Was this fixed?

[2016-10-11 22:36] chrisdembia commented on #762
Oh this had already been addressed in the prep for one of the workshops earlier this year.

[2016-10-11 22:40] chrisdembia commented on #356
This came up when I was working on the Delay component. Ian Stavness woud like that in OpenSim and has helped a bit with it. But right now, no one is working on the Delay component. We could probably hold off on this.

[2016-10-11 23:50] jenhicks commented on #1246
@aymanhab I think you brought this up. What, if anything, do you think is in scope for 4.0?

[2016-10-12 00:01] aymanhab commented on #1246
Document options for Datatype clearly, if no match is found, describe supported ones, case sensitivity or give examples in error message/exception to guide users.

[2016-10-12 04:25] jenhicks commented on #356
Thanks for clarifying @chrisdembia

[2016-10-12 15:32] nikorose87 commented on #1253
Hi
After rebuilded Opensim and running the lastest example, I got the following error:

`/usr/bin/python2.7 /home/nikorose/Documents/PythonProjects/Arm_other.py
Traceback (most recent call last):
  File "/home/nikorose/Documents/PythonProjects/Arm_other.py", line 147, in <module>
    state = arm.initSystem()
  File "/usr/local/lib/python2.7/dist-packages/opensim-4.0-py2.7.egg/opensim/simulation.py

[2016-10-12 17:52] chrisdembia commented on #1253
Progress!

The folder `/home/nikorose/opensim_dependencies_install/simbody/libexec/simbody/` should contain the executable `simbody-visualizer`. Did you move the installation of Simbody to another folder?

[2016-10-12 17:54] chrisdembia opened #1335 "CMC_Task may be ignoring many of its properties"
The `updateFromXMLNode()` function in `CMC_Task` does not make use of the property member variables like `_propKP`, etc. So it is possible that CMC_Task is ignoring these properties.

This was first raised in #1333.

[2016-10-12 22:05] #1220 closed

[2016-10-12 22:08] aseth1 commented on #1335
`updateFromXMLNode()` is not necessary to make use of properties. It should only be implemented to make updates to naming or handle other changes that impact how the properties are represented in XML. Most of the implementation should be removed and all that should remain is the call to its `Super` (aka `TrackingTask`).

[2016-10-12 23:59] tkuchida opened #1338 "MarkerData::readStoFile() writes two lines to file header every time the file is read"
[`MarkerData::readStoFile()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/MarkerData.cpp#L481) calls [`addNumRowsNumColumns()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Auxiliary/auxiliaryTestFunctions.h#L229), which writes
[code]
to the header every time a .sto file is read. `addNumRowsNumColumns()` should write these header rows only if they don'

[2016-10-13 00:02] klshrinidhi commented on #1338
I think I added this to make sure the Tools are able to read STO file written by STOFileAdapter. I will look into this and get back.

[2016-10-13 01:15] tkuchida opened #1339 "Updates to InverseKinematicsSolver's marker weights are not respected"
### Issue
Marker weights updated with [InverseKinematicsSolver::updateMarkerWeight()](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/InverseKinematicsSolver.h#L95) do not affect subsequent solutions computed by `assemble()`. The expected behavior is
[code]
The second `assemble()` call does not respect the new desiredWeight.

### Workaround
Create a new `InverseKinematic

[2016-10-13 01:19] chrisdembia commented on #1339
Does this affect your leet PR #1337?

[2016-10-13 01:29] tkuchida commented on #1339
[code]

[2016-10-13 06:56] aseth1 opened #1342 "Difficult to resize, hide, make transparent or change axis lengths for FrameGeometry"
All Frames in OpenSim (Ground, Bodies, parent and child offset frames of Joints, etc...)  have an associated `FrameGeometry` that serves to draw the Frame's axes in the Visualizer. It currently appears white, opaque, and with each axis being 20cm long. For models like the shoulder and the neck with many frames you can barely see the model.

There is currently no way to: hide the `FrameGeometry`; c

[2016-10-13 07:16] tkuchida commented on #1342
Related: #1023

[2016-10-13 15:00] nikorose87 commented on #1253
Thank you very much!

It works now, I have moved the directory because it installed the dependencies in home directory, so I moved back the directory and done.

Regards.

[2016-10-13 17:07] chrisdembia commented on #1253
Great. I will close this issue then.

By the way, it should be fine to move the installation location of simbody; just add the path to `simbody-visualizer` to your PATH environment variable.

[2016-10-13 17:07] #1253 closed

[2016-10-13 17:40] aseth1 commented on #1335
The use of properties is unrelated to `updateFromXMLNode()` in #1333 so I am closing this issue.

[2016-10-13 17:40] #1335 closed

[2016-10-13 18:00] aseth1 commented on #1287
@tkuchida I believe your PR #1316 addressed the principle issue raised and I would like to close this issue. Any objections to moving the good points raised here (concerning serializing and identifying Outputs via the *alias*) to #1277 and closing this issue? @chrisdembia?

[2016-10-13 18:09] chrisdembia commented on #1287
I agree; we can close this. Some of the content here has already been copied to #1277.

[2016-10-13 18:18] aseth1 commented on #1277
also from #1287 @tkuchida:

[2016-10-13 18:19] aymanhab commented on #1342
Sure, I'll update the branch that dates back to before the dev week to move forward.

[2016-10-13 18:21] tkuchida commented on #1287
Sounds good :+1:

[2016-10-13 18:21] #1287 closed

[2016-10-13 18:51] aymanhab commented on #153
Any reason why not to close this one, @aseth1 ?

[2016-10-13 19:44] aymanhab commented on #1308
@jimmyDunne If there are no outstanding issues, please close, otherwise mark and assign to responsible party. Thanks.

[2016-10-13 21:04] aseth1 commented on #153
Nope. Closing!

[2016-10-13 21:04] #153 closed

[2016-10-13 21:07] carmichaelong commented on #949
As per discussion with @aseth1, the plan is to do the following:
1) Keep PhysicalFrame as an argument, but throw an Exception when a PhysicalOffsetFrame is used. (Note: If we were to just change it to Body, then Ground could not be used).
2) Deprecate these functions.

[2016-10-13 21:11] chrisdembia commented on #949
See [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Model/ContactGeometry.h#L131) for the format for deprecating. Note the doxygen comment.

[2016-10-13 21:12] nikorose87 commented on #1253
As a matter of fact, I've already done it, but it just works with the opensim folder, not dependencies. I don't know why.
regards

[2016-10-13 21:14] chrisdembia commented on #1253
Simbody hard-codes the location of the `simbody-visualizer` executable into its libraries, based on the value of CMAKE_INSTALL_PREFIX.

[2016-10-13 21:26] aseth1 opened #1345 "Decouple Component from the ComponentList data structure"
This issue stems from #1159.

The `ComponentList` implementation uses Components as nodes in a linked list.  Although the bug in #1159 was addressed, the underlying structure remains and may lead to more issues because the simple act of getting a getting `ComponentList` can potentially change the Components it is supposed to contain.

There are also performance considerations since the entire owne

[2016-10-13 21:27] aseth1 commented on #1159
Bug reported was fixed. Created #1345 to contain remaining concerns for next release.

[2016-10-13 21:27] #1159 closed

[2016-10-13 22:28] aseth1 commented on #1307
Closed by #1336

[2016-10-13 22:28] #1307 closed

[2016-10-13 23:37] chrisdembia commented on #350
This might be addressed by #1333.

[2016-10-13 23:56] chrisdembia commented on #1276
@klshrinidhi @aymanhab There is a cmake variable for doing exactly what you want:

https://cmake.org/cmake/help/v3.0/prop_tgt/MAP_IMPORTED_CONFIG_CONFIG.html

I think all we have to do is add the following to our root CMakeLists.txt:

[code]

This means that only the configs on the right can be used (from Simbody) for the configs on the left (for OpenSim's targets).

[2016-10-14 00:55] aymanhab commented on #1276
:+1:

[2016-10-14 00:58] chrisdembia commented on #1276
I discovered this via a Stack Overflow question: http://stackoverflow.com/questions/40029551/how-does-cmake-determine-the-fallback-build-configuration-for-target-dependencie/40032277#40032277

[2016-10-15 07:17] aymanhab opened #1347 "Strengthen testVisualization test case"
testVisualization should be more extensive and cover the case where multiple non-trivial transforms are specified to transform meshes, as was done in version 3.3 and earlier.

[2016-10-15 23:30] klshrinidhi commented on #1097
It looks like (as @tkuchida mentioned) `ConsoleReporter` currently does not have (special) code to handle anything other than `double`.  If the type `T` in `ConsoleReporter<T>` supports `operator<<()`, it will work in theory. The resulting output on the terminal/console may not be properly formatted. Since types like `UnitVec3`, `SpatialVec`, `Quaternion`, `Vec<N>` currently do not have support fo

[2016-10-17 18:24] aseth1 commented on #1347
In 3.3 and earlier, the `VisibleObject` had a transform associated with it and so did the individual `Mesh` geometry contained by the `VisibleObject`. The current solution (in #1299) assumes (and is likely correct) that the `Mesh` transform is expressed in the `VisibleObject` frame of reference and that the `VisibleObject` transform is expressed in the `Body` reference frame (prior to Frames), so

[2016-10-17 21:50] tkuchida commented on #1338
The issue appears to start at [MarkerData.cpp#L486](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/MarkerData.cpp#L486). As we discussed, the `revertToVersionNumber1()` method can return a bool indicating whether the version number was decremented; `addNumRowsNumColumns()` should be called only if `true`:
[code]

[2016-10-17 23:40] #1255 closed

[2016-10-18 01:08] aseth1 commented on #1339
@tkuchida thank you for reporting this issue.

Friedl used this to update weightings using an adaptive filter she implemented.  I would prefer to fix it.

I would like to understand what happened after the second assemble call. Was there  an error/exception or did the resulting kinematics not change as expected? Did you look at the error of the specific marker?

If you have a use case that failed

[2016-10-18 05:03] tkuchida opened #1350 "Add unit test for InverseKinematicsSolver"
InverseKinematicsSolver is used by InverseKinematicsTool and MarkerPlacer but isn't being tested in isolation (unit test is missing); `InverseKinematicsSolver::updateMarkerWeight()` is not being tested anywhere. Possible test cases for InverseKinematicsSolver include the following:
- Call `assemble()`, use `setAccuracy()` to tighten the tolerance, and call `assemble()` again. The total marker erro

[2016-10-18 05:05] tkuchida commented on #1339
Ok, thanks. I must be doing something wrong then. I'll close this issue and investigate again. We may just need to improve the doxygen.

Nevertheless, I think we should add a unit test for InverseKinematicsSolver as it currently isn't being tested in isolation. It would also be useful to have `updateMarkerWeight()` used somewhere in the API so future developers know how it's supposed to work. Trac

[2016-10-18 05:05] #1339 closed

[2016-10-18 11:09] mitkof6 opened #1351 "Unexpected behaviour of Model::setControls()"
With regards to a previous comment [644](https://github.com/opensim-org/opensim-core/issues/644). The use of setControls is not working properly, thus if someone would like to assign controls to the model, should implement a Controller. On the other hand, there are cases when we want to apply the controls ourself.

The setControls caches the controls, and when they are applied to the model, it che

[2016-10-18 17:07] chrisdembia commented on #1351
Thanks for reporting. I had not thought of this as an expected workflow, but it seems it would be nice if it worked.

[2016-10-18 17:10] aseth1 commented on #1339
@tkuchida It is be possible that somehow the updating is no longer working or did not work as expected. I totally agree about the unit tests. Thanks for opening #1350.

[2016-10-18 18:02] mitkof6 commented on #1351
@chrisdembia what is the purpose of setControls? The other way as far as I know is to add a controller.

[2016-10-18 18:04] chrisdembia commented on #1351
Others will have to respond. I had assumed that creating a Controller was the only proper way to generate controls. But the behavior you describe sounds like a bug.

[2016-10-18 19:14] aseth1 commented on #1351
@mitkof6 the use case you indicate is the intended use of `Model::setControls()` without the need for a Controller. The [Dynamic Walking Challenge](http://simtk-confluence.stanford.edu:8080/pages/viewpage.action?pageId=5113821) tutorial does this in the `OpenSimPlantFunction.m` which is used by the MATLAB integrator.

The use of `model.setDefaultControls(modelContorls)` should in fact be illegal s

[2016-10-18 21:57] jenhicks commented on #1097
Ok based on discussion with @aymanhab and @aseth1 I am going to postpone this until next release, but we can prioritize if needed.

[2016-10-18 23:19] kidzik opened #1353 "python: Can't find libBTKCommon.so.0.4dev"
After installing the current version on Ubuntu 16.04, installing python bindings and running
`import opensim` in python I'm getting:

[code]

This

[code]

solves the problem but maybe I should just set up some path? In any case it seems it's not documented (I will try to fix such documentation issues by myself as soon as I get through the documentation by myself and understand the architecture be

[2016-10-18 23:29] klshrinidhi commented on #1353
Please post how you built OpenSim ( all the commands you used ) so I can reproduce the problem.

[2016-10-19 00:12] kidzik commented on #1353
I followed the "impatient" path:
[code]
and then just
[code]

[2016-10-19 06:31] mitkof6 commented on #1351
@aseth1 Yes the controls are set and hold for the interval and the activation is stepwise in my case with the appropriate delay. Nevertheless, if the dt is small enough then there will not be a problem.

I think that from the time of the Dynamic Walking Challenge something changed in the invalidation mechanism that causes the cached controls to be invalid during integration. Moreover, I believe th

[2016-10-19 18:49] carmichaelong commented on #949
@aseth1 Is the intent to deprecate these specific methods (i.e. all methods within SimbodyEngine that take PhysicalFrame as an argument) or deprecate all methods within this class? (Or as a third option, deprecate the specific methods first, then in a later PR deprecate the rest.)

[2016-10-19 23:05] aseth1 commented on #949
@carmichaelong It may be easiest to just deprecate the specific methods involving `PhysicalFrame` although it would be nice to deprecate the whole `SibodyEngine` class. With the individually deprecated methods you can also provide a more informative message about which `Frame` method to call instead, which would help ease the transition.

[2016-10-19 23:08] chrisdembia commented on #949
By the way, if you deprecate a method that OpenSim uses, then the Travis-CI tests will fail because we turn warnings into errors. So reducing the number of methods you deprecate will decrease how much extra code you have to fix.

[2016-10-19 23:10] carmichaelong commented on #949
Thanks for the heads up @aseth1 and @chrisdembia. Sounds like the first PR should just include the specific methods involving `PhysicalFrame` (which is also more specific to this issue).

[2016-10-20 00:16] tkuchida commented on #1338
Fixed by #1349.

[2016-10-20 00:16] #1338 closed

[2016-10-20 18:33] jenhicks commented on #883
Needs further investigation. What is current message? When does the exception get thrown?

[2016-10-20 18:39] jenhicks commented on #643
Muscles seems to be the issue. Wants to be able to get a list of the different types of muscles. getThelen2003MuscleList()
getMillard*MuscleList()

[2016-10-20 20:28] klshrinidhi commented on #1306
Addressed by #1348.

[2016-10-20 20:28] #1306 closed

[2016-10-20 20:31] klshrinidhi commented on #1252
Addressed by #1278. Also verified.

[2016-10-20 20:31] #1252 closed

[2016-10-20 20:32] klshrinidhi commented on #1250
Addressed by #1288. It prevents seg-fault by throwing exception.

[2016-10-20 20:32] #1250 closed

[2016-10-20 20:34] klshrinidhi commented on #1225
Address by #1265.

[2016-10-20 20:34] #1225 closed

[2016-10-20 21:17] chrisdembia commented on #1153
#1356 disables deploying to bintray (after all, it has not been working). We should eventually re-enable the bintray deployment if we can fix it.

[2016-10-20 21:44] tkuchida commented on #643
@klshrinidhi As discussed, here's some code you could use for the test case:
[code]

[2016-10-21 18:12] humphreysb opened #1357 "Millard2012Equilibrium Muscle - fiberStiffnessAlongTendon incorrect calculation"
In calcMuscleDynamicsInfo, mdi.fiberStiffnessAlongTendon is calculated:

`dFmAT_dlceAT = calc_DFiberForceAT_DFiberLengthAT(dFm_dlce, mli.sinPennationAngle, mli.cosPennationAngle, mli.fiberLength);`

The first argument provided is _dFm_dlce_  (muscle stiffness), change in force along **the fiber** / lce.  But the method requires:

`double Millard2012EquilibriumMuscle::calc_DFiberForceAT_DFiberLengt

[2016-10-21 20:41] chrisdembia commented on #1357
Thanks for reporting. [Here is the current implementation of that function](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Actuators/Millard2012EquilibriumMuscle.cpp#L1220):

[code]

[2016-10-21 21:02] aymanhab opened #1358 "Disabled flag for ContactForce is ignored"
While trying to test behavior of ContactGeometry when the corresponding Contact Force is disabled (in XML), the flag appeared to be ignored and a SimTK force was created regardless (though there's a possibility that the flag is taken into consideration downstream). Not sure what's the "desired" behavior of disabled Contact Forces. No tests verify behavior when Force is disabled AFAIK. If there's o

[2016-10-21 23:29] chrisdembia commented on #1353
@klshrinidhi I like your approach to a fix in #1354 (using RPATH). I want to share some other thoughts though.

1. At least for BTK, we should be able to statically link, since BTK is not exposed in our interface (only included in CPP files). (side note: I know docopt is currently dynamically linked, but I am hoping to make a future PR in which it is only statically linked). Regardless of if we dy

[2016-10-23 23:50] humphreysb commented on #1357
I carried out the derivation, and I get the following (it's a bit long, but I can post it if you want).  The stiffness along the fiber and along the tendon are nearly identical (in fact, if the fiber stiffness is linear, they are exactly equal).
![screenshot from 2016-10-23 19 49 12](https://cloud.githubusercontent.com/assets/7395691/19630506/cbf60c38-9959-11e6-8209-f3f2c27b309c.png)

[2016-10-24 15:59] mitkof6 opened #1360 "CMC look ahead window and path actuated model"
When performing CMC with PathActuators for muscles, the default look ahead window causes instabilities, due to the fact that the PathActuators does not need a prediction. This behavior is observed when we have external forces attached (e.g. gait2354 example). The solution is to use smaller look ahead time window (e.g. 0.001). Unfortunately, this causes the simulation to be very slow. I am not sure

[2016-10-24 16:02] chrisdembia commented on #1360
Interesting. To be clear, do you use any muscles in this scenario? Or *only* PathActuators?

Given that a proper fix for this would take a long time, I would say that all we can expect to do in the short term is to document this behavior (on confluence).

[2016-10-24 16:12] mitkof6 commented on #1360
I use only PathActuators, but there may be cases of both.

[2016-10-24 16:24] chrisdembia commented on #1360
I wonder if you could then use RRA instead...not sure.

[2016-10-25 18:45] aymanhab commented on #1275
This has been fixed by PR #1299 Sorry I missed it earlier. Please close.

[2016-10-25 18:54] aymanhab opened #1361 "Model Conversion issue with old upper_limb model"
Trying to open the model upper_limb.osim from OpenSim/Tests/Wrapping in debug build asserts

Assertion failed: functions[i]->getArgumentSize() == coordIndices[i].size(), file c:\users\ayman\documents\github\opensim-core\dependencies\simbody\simbody\src\MobilizedBodyImpl.h, line 1213

Is there anything we can do in updateFromXML to fix/correct the issue.  Saving the model in 3.3 GUI fixes the probl

[2016-10-26 19:32] clnsmith opened #1364 "Building OpenSim 4.0 with static libraries"
Hi All,

I am working on getting 4.0 running on a linux computing cluster. I have been able to build the source from the master branch on Scientific Linux 6.

Ideally, OpenSim does not need to be installed on the "worker" nodes (as these are random computers in labs across campus). I currently have it setup where I can run a simulation on a "worker" node by sending the executable (ie cmc), input f

[2016-10-26 19:36] chrisdembia commented on #1364
On Linux, there should be no problem. On Windows, there will be an issue related to the `OSIMCOMMON_EXPORTS` macros (this problem can also be solved; it's just annoying).

Remove the `SHARED` from this [line](https://github.com/opensim-org/opensim-core/blob/master/cmake/OpenSimMacros.cmake#L67).

I'm not sure Simbody's SimbodyConfig.cmake will include the static libraries...you might have to chang

[2016-10-26 19:38] chrisdembia commented on #1364
@aymanhab mentioned that there might be issues with the python/java bindings, but I don't think there will be. I think the shared libraries for the wrapping can link to the static `osimCommon`, etc. However, the shared libraries for the wrapping will need to remain as shared libraries (I'm talking about `osimJavaJNI`, `_common`, `_simulation`, etc.)

[2016-10-26 19:48] clnsmith commented on #1364
OK great thanks, I'll give it a try.

For my current application the potential python/java bindings and windows issues wouldn't be a problem anyways. I'll let you know what I find.

[2016-10-27 07:39] carmichaelong opened #1365 "Excitation is not clamped (in many cases)"
From what I can see, excitation is finally clamped when `FirstOrderMuscleActivationDynamics::calcActivationDerivative()` is called. This can cause issues with things like the `Umberger2010MuscleMetabolicsProbe` since it needs excitations for calculations. A user can set the excitation of a muscle to be outside of the [0,1] range, thinking that it will be clamped at some point, which can lead to is

[2016-10-27 08:13] tkuchida commented on #1365
**A word of caution:** `MuscleActivationDynamics` and the classes derived therefrom (`ZerothOrderMuscleActivationDynamics` and `FirstOrderMuscleActivationDynamics`) aren't being tested AFAIK and may be out of date. I originally intended to replace the existing activation dynamics code (e.g., `MuscleFirstOrderActivationDynamicModel` and the pieces sprinkled throughout the muscles) with these, which

[2016-10-27 18:04] aymanhab opened #1366 "Disable testContactGeometry for Debug builds during CI"
Integration builds usually fail because this test timesout frequently in Debug builds. We can change the travis build scripts to disable the test in that specific  configuration until it's shortened or replaced with more granular unit tests.

[2016-10-27 21:28] aymanhab commented on #1366
Fixed by PR #1367

[2016-10-27 21:28] #1366 closed

[2016-10-28 00:19] clnsmith commented on #1364
I am getting the following errors by changing the line Chris suggested (on Scientific Linux 6, GCC 5.2.1, not building the python/java bindings)

I'm trying to build without the tests right now.

[ 63%] Linking CXX executable ../../../testMarkerData
../../../libosimCommon.a(MarkerData.cpp.o): In function `getPeakRSS()':
MarkerData.cpp:(.text+0x40): multiple definition of `getPeakRSS()'
CMakeFiles/

[2016-10-28 00:33] clnsmith commented on #1364
I get the following error if I build without tests. No errors if I build without tests and examples.
However, the analyze executable is still looking for the simbody dynamic libraries, so I will dig through the CMakeLists to make it link against the static simbody libraries

[ 94%] Linking CXX shared library ../../../libexampleExpressionReporterPlugin.so
/opt/rh/devtoolset-4/root/usr/libexec/gcc/x

[2016-10-28 01:03] chrisdembia commented on #1364
For the earlier multiple-definition errors, you can declare the problematic functions as `inline`; those functions are located here: https://github.com/opensim-org/opensim-core/tree/master/OpenSim/Auxiliary.

The latter error is saying to compile with the `-fPIC` flag. I don't know too much about that, but you could try adding that flag to `CMAKE_CXX_FLAGS`.

To use Simbody static libraries, edit

[2016-10-28 15:33] #1275 closed

[2016-10-28 19:10] nikorose87 opened #1368 "Got stuck with double types in python"
Hi

I am trying to do the simple TugofWar exercise in python just for learning a bit more, Unfortunately,  I got stuck setting bounds on coordinates because the `setRange` asked for a double type. I have tried to change the type of the numbers with the next commands:
- c_double
- float
- ArrayDouble

but all of them didn't work, throwing the next error:

`TypeError: in method 'Coordinate_setRange'

[2016-10-28 19:17] chrisdembia commented on #1368
Use `Coordinate::setRangeMin()` and `Coordinate::setRangeMax()`. Please close this issue if this works for you.

[2016-10-28 19:36] nikorose87 commented on #1368
Well Thanks

It works in this way:

[code]

Thanks again!

[2016-10-28 19:40] aymanhab commented on #1368
Chris, I'm ok with closing as long as we open an issue to address or remove
unusable methods from bindings if that's the case here.

Thanks
Ayman

On Oct 28, 2016 12:17 PM, "Christopher Dembia" <notifications@github.com>
wrote:

[2016-10-28 23:24] nikorose87 commented on #1368
Dear Crhis

I am confused with the visualization process in python, I mean, In the example provided you use `Manager` to show the model, but the API says that this command couldn't be applied yet in python or Matlab due to since the SimTK::Integrators are not exposed in those languages . So, I tried with the command `run` command but it didn't show anything. I'm trying with TugOfWar model.

Thanks

[2016-10-28 23:26] chrisdembia commented on #1368
The documentation says that the constructor that takes two arguments cannot be used in Python or MATLAB. The variant that takes just one argument *can* be used in Python/MATLAB; see [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Manager/Manager.h#L140).

[2016-10-28 23:27] chrisdembia commented on #1368
What do you mean by the `run` command?

[2016-10-28 23:34] nikorose87 commented on #1368
According to the scripts of TugOfWar visualization I modified for python, as follows:

[code]
But after being given the arguments of the simulation it throws the following error:

ForwardTool::run() caught exception
SimTK Exception thrown at Integrator.cpp:431:
  Integrator initialization failed apparently because:
SimTK Exception thrown at SmallMatrixMixed.h:879:
  Error detected by Simbody metho

[2016-10-28 23:43] chrisdembia commented on #1368
Well you *can* use the manager instead of the ForwardTool. The issue is likely due to an error in how the model is formulated. For example, make sure you do not have massless bodies at the end of the multibody tree.

[2016-10-31 18:22] aymanhab commented on #1368
@chrisdembia The signature of the Coorindate.setRange method in python looks like
``
def setRange(self, aRange):
        """
        setRange(Coordinate self, double [2] aRange)

        Parameters:
            aRange: double [2]

        """
        return _simulation.Coordinate_setRange(self, aRange)
``
While I can create double[] in Java, not sure how Python handles these raw arrays or pointers

[2016-10-31 18:24] chrisdembia commented on #1368
Python does not allow raw arrays. In python, we would want the method to take a list:

[code]

But I also think it is fine to exclude the method from the python bindings.

[2016-10-31 21:09] carmichaelong opened #1369 "location/velocity/acceleration cache isn't being invalidated when integrating with the manager"
Looked at this with @aseth1. Simple way to reproduce:

In `testPoints`, there is a test that uses a `TimeStepper` and compares the location, velocity, and acceleration of the center of mass of the pendulum between the `Station` method and `MobilizedBody` methods directly. This test passes as is, but does not pass if the integration is done by a `Manager` instead. Location, velocity, and accelerati

[2016-11-01 18:06] aymanhab commented on #845
I ran into this issue again when visualizing ContactGeometry as it turns out the isDisabled flag is likely ignored for ContactForce. We should have a design/plan for the long term even if we implement a small part of it in 4.0 (e.g. are all ModelComponents disablable? If yes what does it mean to disable a Body/Component-with-children? How does it affect visualization? Some SimTK level objects supp

[2016-11-01 19:27] tkuchida commented on #845
In the case of an actuator, it seems like "disable" would mean the actuator is still part of the model but just not applying any force. This may be the desired effect since ignoring the component entirely would have side effects (e.g., adjusting indices into the Model's ForceSet). If the flag removes the component entirely, perhaps something like `is_ignored` would be clearer?

[2016-11-02 21:34] #1294 closed

[2016-11-02 21:49] #1308 closed

[2016-11-02 21:54] #643 closed

[2016-11-02 21:55] jenhicks commented on #1293
@jimmyDunne and @chrisdembia do you know if this is still an issue? If so, it sounds like one we should resolve for 4.0

[2016-11-02 22:06] chrisdembia commented on #1293
Yes, this is still an issue.

[2016-11-02 22:07] chrisdembia commented on #1293
This should be easy to fix.

[2016-11-02 22:07] jenhicks commented on #1369
@carmichaelong Thanks for reporting. Sounds like something we should certainly fix for 4.0. Is it affecting your work? If so, we will prioritize.

[2016-11-02 22:10] jenhicks commented on #1365
@carmichaelong Is this still an issue for you? Is there a bug or is the behavior just not as expected?

[2016-11-02 22:24] aseth1 commented on #1369
I do not believe this is a bug in the Frame or Point classes and if we use the `TimeStepper` directly and only initialize(State) once, these lazy cache entries work as expected.

Looking a bit deeper, the `TimeStepper::initialize(State)` calls the Integrator's `initialize`, which makes a copy of the state passed in for its internal use, but unlike typical copies, it seems that the default system c

[2016-11-02 22:29] aseth1 commented on #1369
@jenhicks I agree this is a bug, but it isn't completely clear if it is because of a misuse of the TimeStepper (e.g. calling `ts.initialize(s)` more than once) or if there is a bug within `TimeStepper` or `Integrator` that should be invalidating the cache variables and it isn't. I hope @sherm1 can chime in.

[2016-11-02 22:45] carmichaelong commented on #1365
I think the best way to describe this is that the behavior may be unexpected for other classes that look up muscle excitations during a simulation, which could be seen as a bug for these other classes. To give a concrete example:

1) Someone can set a muscle's control value to anything (even outside of [0,1]), assuming that it will be clamped at some point. This number is stored as is though (so i

[2016-11-02 22:45] sherm1 commented on #1369
Hi, @aseth1. Reading this my first thought was about interpolation. The integrator maintains two internal states, one is the "advanced" state that is the actual trajectory, and one is used for interpolation. If you use `getState()` the returned reference switches between those two. There is also `getAdvancedState()` that always returns the trajectory one. Is it possible that Manager is thinking th

[2016-11-02 22:51] chrisdembia commented on #1365
It would be nice to have a consistent way to handle clamping of quantities across the API.

[2016-11-02 23:11] aseth1 commented on #1365
My preference would be that Components and/or algorithms do not clamp their inputs, but state in their documentation what are acceptable bounds for its inputs. If the inputs exceed these bounds an exception is thrown. The onus is then on the supplier to provide valid values. Otherwise, we could have muscle controllers that produce complete garbage but still run because the muscle clamps garbage in

[2016-11-02 23:20] aseth1 commented on #1369
Thanks @sherm1. That sounds like an easy enough fix to replace  `getState()` with `getAdvancedState()`. @carmichaelong in your test harness that you have setup, can you try replacing and report what happens? Thank you for investigating.

[2016-11-02 23:56] sherm1 commented on #1369
Caveat: that is only what first came to mind -- I'm not at all sure that is the actual problem!

[2016-11-03 07:09] aseth1 commented on #1361
If loading into 3.0 first fixes it, then I think the issue is that an updateFromXML is missing/skipping over a previous updateFromXML for an earlier to intermediate (2.4 and/or 3.0) version.

[2016-11-03 18:13] jenhicks commented on #1369
Related to #949

[2016-11-03 18:27] jenhicks commented on #1368
@klshrinidhi will look for other instances.

[2016-11-03 21:09] tkuchida opened #1375 "Test cases use assert() rather than ASSERT()"
`assert()` does nothing in Release mode:
[code]
`assert()` should probably be replaced with `ASSERT()` in testComponentInterface.cpp, testDataTable.cpp, and testWrapping.cpp, as there does not appear to be a reason to suppress the tests appearing therein when building in Release mode. Presumably, the test cases should be checking everything regardless of configuration.

- [x] testComponentInterfac

[2016-11-03 21:33] carmichaelong commented on #1369
I tested this in a smaller case (that doesn't depend on the `Manager` at all). The setup is as follows:

[code]
The code as shown works. If the line that is commented is added in, this breaks causes an issue. In response to `getState()` versus `getAdvancedState()`, the `TimeStepper` only has a method for the first. So, I replaced the last line with `state = ts.updIntegrator().getAdvancedState();`.

[2016-11-03 21:51] klshrinidhi commented on #1375
I have fixed this in `testDataTable` in PR #1372. `testDataTable` has a mix of both `assert` and `ASSERT`, probably from copy-paste. It is now fixed to use `ASSERT` everywhere.

[2016-11-04 20:27] tkuchida opened #1377 "InverseKinematicsSolver::compute*() methods should be const"
Methods like `computeCurrentMarkerLocation()`, `computeCurrentMarkerError()`, etc. should be `const`. Currently, a consumer cannot request a marker location from `InverseKinematicsSolver` unless `InverseKinematicsSolver` is modifiable.

[2016-11-07 16:18] sherm1 commented on #1369
Why would the Manager initialize the time stepper every step?

[2016-11-07 16:25] carmichaelong commented on #1369
The Manager creates a `TimeStepper` each time `integrate()` is called (see [here](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/Manager/Manager.cpp#L736)). This means the code above isn't quite the same, but my testing of creating a new `TimeStepper` in each loop had the same effect. Note that the Integrator isn't created each time by the Manager.

[2016-11-07 18:52] aseth1 commented on #1369
@carmichaelong in the typical use case, the `Manager` does not create the `TimeStepper` every timestep since it is supposed to integrate the entire interval specified. But, `Manager` does create a `TimeStepper` every `Manager::doIntegration(s)` which is called only once by `Manager::integrate(s)`. It should be possible to avoid the creation of a `TimeStepper`  every `integrate` and and initialize

[2016-11-07 19:03] carmichaelong commented on #1369
I agree that this is not an issue in the typical use case, just when the `Manager` is used as if it were a `TimeStepper` that could be used multiple times. Sounds like we do indeed want the `Manager` to have this functionality. I started on some fixes so that a `TimeStepper` is only created and initalized once, and that the `Manager` throws an Exception if either `setIntegrator` or `setModel` is c

[2016-11-07 23:00] tkuchida opened #1381 "StatesTrajectory documentation is inconsistent"
The class description says that "The states are ordered nondecreasing in time (adjacent states can have the same time)." while the `append()` method "ensures that the time in the new SimTK::State is greater than the time in the last SimTK::State in the trajectory". Whether adjacent states can have the same time should be clearly documented and consistent throughout the code. If the class allows ad

[2016-11-07 23:01] tkuchida commented on #1381
Related to #820

[2016-11-07 23:02] chrisdembia commented on #1381
For the current implementation of StatesTrajectory, the doxygen documentation for `append()` is incorrect.

[2016-11-08 00:40] aseth1 commented on #1358
Disabling of a Force or a Constraint in Simbody does not exclude it from the System. It must be part of the ForceSubsystem to add its disable flag  (as a discrete State variable) and *disabling* simply updates its value. Downstream the contribution of the Force/Constraint is not computed or added to the System dynamics if disabled. It does not mean we can prevent the Force (or Constraint) from com

[2016-11-08 01:47] sherm1 commented on #1369
The TimeStepper::getState() isn't likely to be the same state as the integrator's getAdvancedState() because it is allowed to return an interpolated state (unless specifically disallowed). In that case a temp State is used for the interpolations until it catches up with the advanced state, which is off into the future.

[2016-11-08 19:48] tkuchida opened #1384 "DataTable::getRow() should not perform equality comparison on double"
[`DataTable::getRow()`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/DataTable.h#L485) uses `std::find()` to search for a specified entry in the independent column. When the independent variable is of type `double` (e.g., time, as will often be the case), `std::find()` must include a tolerance (e.g., using `std::find_if()`). Currently, filling a `TimeSeriesTable` with tim

[2016-11-08 19:52] chrisdembia commented on #1384
The same issue arises with https://github.com/opensim-org/opensim-core/pull/774.

See this function: https://github.com/opensim-org/opensim-core/pull/774/files#diff-b69edb579e6af6dc07da35945b3e3eadR124

[2016-11-08 19:53] klshrinidhi commented on #1384
This was actually intended when DataTable was written. Since DataTable is a just a container allowing multiple types to be stored in the independent column, it does not implement any special code for finding values of type `double`.

If you need to search the independent column, get it first, search it yourself and use the resulting row index to get the row.

I can change the behavior but this wil

[2016-11-08 19:56] klshrinidhi commented on #1384
If the PR #1372 gets merged, it will add a function named `getNearestRow` which can be used instead to avoid this problem.
So basically that PR addresses this issue.

[2016-11-08 20:07] tkuchida commented on #1384
I don't think this implementation detail will be obvious to the user. After filling a table with t = 0.00, 0.01, 0.02, …, calling `getRow(0.05)` works but calling `getRow(0.10)` throws an exception. That behavior doesn't seem to be logically consistent from the user's perspective.

It might be useful to include this message when `getRow()` throws `KeyNotFound`.

I suggest also adding a comment to

[2016-11-08 20:09] chrisdembia commented on #1384
An aside:

I find this surprising, because both times you specify `0.10`, it should have the same exact representation as a `double`.

[2016-11-08 20:20] klshrinidhi commented on #1384
This is the behavior one will see with standard containers (like `std::vector<double>`) as well. So it is consistent with the notion of **containers**, that they don't perform any special searching for any type. They rely on `==` operator of the type.
I think this is a problem for users who are **unaware of floating-point representation**.

Good idea. I will sneak this into PR #1372. The message w

[2016-11-08 20:21] tkuchida commented on #1384
What I described was the user-side logic (for brevity). The actual code was time-stepping:
[code]
Of course, I can do this instead:
[code]
which seems to allow `getRow(0.10)`, etc., but these two approaches are logically similar and I don't think we can expect users to adopt Case 2 over Case 1.

[2016-11-08 20:26] chrisdembia commented on #1384
_Our_ users 😞

Thank you for explaining. This makes sense to me now. I brought up my point mainly to see if there was another issue/bug.

[2016-11-08 20:31] tkuchida commented on #1384
I disagree. I am aware of floating-point representation. I think the problem is that I'm working with a `TimeSeriesTable` [where the independent column is time of type double](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/TimeSeriesTable.h#L98), so it would seem that `getRow()` would be designed to play nicely with an independent column of doubles.

[2016-11-08 20:40] klshrinidhi commented on #1384
I don't think so. From what I understood while writing it, TimeSeriesTable is meant to be a container that stores what it was given. It does not treat certain types differently, just like standard containers. In fact the independent column is implemented as a `std::vector` and so behaves exactly like that.

Expecting TimeSeriesTable::getRow() to handle doubles differently is same expecting std::ve

[2016-11-08 20:50] jenhicks commented on #1384
@klshrinidhi I agree that you have implemented according to specification as a container. But @tkuchida is one of our savviest users, so if this caught him off guard, I think that others will get tripped up. The solution of adding getNearestRow() with an more informative error message for getRow() sounds like a good first fix that everyone agrees on. We can discuss as a group whether additional up

[2016-11-08 21:00] tkuchida commented on #1384
Interesting. The title of the doxygen page is **OpenSim::TimeSeriesTable_< ETY > Class Template Reference**. Does that mean there could be a TimeSeriesTable whose independent column is of type `unsigned` (or even `bool`)? My intuition says that time is always of type `double` and a TimeSeriesTable is a table whose independent column is of type `double`. The class description ("TimeSeriesTable_ is

[2016-11-08 21:15] klshrinidhi commented on #1384
TimeSeriesTable is derived from DataTable, which contains the implementation of the independent column. It is possible to have independent column of type other than `double` for DataTable. However TimeSeriesTable locks the independent column to be of type `double` but does not do much more in terms of handling independent column differently. My understanding has been that DataTable and its derived

[2016-11-08 21:49] tkuchida commented on #1384
Ah, that's a good point. I think your new `getNearestRow()` method and adding references to it in the documentation/exception message are sufficient.

[2016-11-08 22:43] #1312 closed

[2016-11-08 22:56] #1342 closed

[2016-11-08 22:59] jenhicks commented on #763
@aseth1 Could you check if this has been addressed?

[2016-11-08 23:12] jenhicks commented on #1357
@aseth1 or @tkuchida could you provide input?

[2016-11-08 23:26] jenhicks commented on #845
First step: rename disabled flags. I think we decided on the following.
Forces: appliesForce
Constraints: isEnforced
Controllers: enabled

[2016-11-08 23:27] jenhicks commented on #1358
Issue is due to (understandable) misinterpretation of the flag. Will rename flags. Also need to update behavior so components that aren't applying forces are still visualized.

[2016-11-09 00:40] klshrinidhi commented on #1384
Sounds good.
If we don't see the independent column used for any type other `double` in practice (currently I don't), we can lock it to being `double` and remove the first template argument from DataTable. Then we could have all the methods use the knowledge that the independent column is always `double`.

[2016-11-09 16:00] mitkof6 commented on #1364
I tried to do something similar on linux. My conclusions are:

Simobdy builds static libraries, but unfortunately, there is a lapack and blas dependency. So the simbody static libraries have a .so reference if you look into SimbodyTargets-[RelWithDebInfo].cmake. I tried to enforce linking only static libraries but wasn't able ([issue](https://cmake.org/Bug/view.php?id=12912)).

For OpenSim I was a

[2016-11-09 21:11] #1375 closed

[2016-11-09 22:40] jimmyDunne opened #1388 "Dynamic walker exception at initSystem"
The dynamic walker model (DynamicWalker.osim') can be read into memory, but an exception is called at initsystem.

[code]

[code]

[code]

[code]

[2016-11-09 22:56] jimmyDunne commented on #1388
I am able to get the 'new' model working when I delete the joints RightThigh_slave_0 and LeftThigh_slave_0. These were created by the internal converter and don't seem to do anything.

[2016-11-09 23:12] jimmyDunne commented on #1388
The below joint type gets added to the model.

[code]

[2016-11-10 09:36] tkuchida opened #1389 "FiberForceLengthCurve documentation is inconsistent"
Strain is [defined](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Actuators/FiberForceLengthCurve.h#L76) as `(l-l0)/l0` and the default value of `strainAtZeroForce` is 0, so the "strain" label on the x-axis of [the accompanying figure](https://github.com/opensim-org/opensim-core/blob/master/doc/images/fig_FiberForceLengthCurve.png) may be confusing. This doxygen page should be re

[2016-11-10 19:18] jenhicks commented on #1229
See PR #1311

[2016-11-10 19:18] #1368 closed

[2016-11-10 19:19] jenhicks commented on #1350
@aymanhab Can you take a look?

[2016-11-10 19:22] jenhicks commented on #763
Whevever it says component GetName() use get full path name

[2016-11-10 19:22] #1358 closed

[2016-11-10 19:23] jenhicks commented on #845
Also need to reverse the logic.

[2016-11-10 19:30] #672 closed

[2016-11-10 22:17] chrisdembia commented on #1381
Fixed by #1385.

[2016-11-10 22:17] #1381 closed

[2016-11-10 22:57] aseth1 commented on #763
Specifically in `Model::createMultibodyTree()` where Bodies and Joints are added to the `_multibodyTree`:
[code]

[2016-11-10 23:18] chrisdembia opened #1393 "When calling Component::getComponent(), invoke setParent() on returned component."
Right now, if one makes a coy of a Component, they should call `finalizeFromProperties()` before accessing any subcomponents: the subcomponents won't have their parent pointer set until `finalizeFromProperties()` is called.

A similar issue arises for connectors and inputs, which we solve in #1340 by simply invoking `setParent()` inside of `Component::getConnector()`.

For consistency, we should a

[2016-11-10 23:25] aseth1 commented on #1388
@jimmyDunne can you provide a link to the model. Thanks!

[2016-11-10 23:27] tkuchida commented on #1388
There's a .zip at the top of [this Confluence page](http://simtk-confluence.stanford.edu:8080/pages/viewpage.action?pageId=5113821) that was developed using 3.1 beta, but James may have a newer version.

[2016-11-11 00:04] aseth1 commented on #1388
Thanks @tkuchida. @jimmyDunne is that the model you used and do you see the added Joint when you load the file or only after calling initSystem()?

[2016-11-11 00:20] tkuchida opened #1395 "OptimizerSystem may not return best solution it has evaluated"
The last objective function value reported from within `objectiveFunc()` (:car:) is better than the final objective function value returned by the `SimTK::Optimizer` (:checkered_flag:). It may be that some algorithms would evaluate the objective function for candidate solutions that violate constraints (whereupon it might be justified to get a :checkered_flag: that is worse than :car:), but there'

[2016-11-11 00:30] chrisdembia commented on #1395
Uh oh. Would it be easy to give a very small example that demonstrates this bug?
Did you discover this via print statements (or something similar) inside your `objectiveFunc()`?

[2016-11-11 00:49] tkuchida commented on #1395
Yes: run the [Examples/exampleOptimization project](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Examples/OptimizationExample_Arm26/OptimizationExample.cpp) (no modifications necessary). Here's the output I get:
<pre>
Updating Model file from 30000 to latest format...
Loaded model arm26_optimize from file Arm26_Optimize.osim

objective evaluation #: 1  controls = ~[0.01 0.01 0.0

[2016-11-11 00:52] chrisdembia commented on #1395
Okay; thank you for those details.

[2016-11-11 00:54] aseth1 commented on #1388
I was able to reproduce the problem with the model in the download packed.

The `SimTK::MultibodyGraphMaker`  appears incorrectly handle the Pelvis massless body for the first SliderJoint that yields `Pelvis_tx` dof and ends constructing some weird tree where the thigh bodies are connected to ground via FreeJoints. If I add mass to the first (massless) pelvis body (for first SliderJoint) the corre

[2016-11-11 04:43] chrisdembia commented on #1388
This also sounds like a bug that should be filed with simbody?

[2016-11-11 18:38] jimmyDunne commented on #1388
the doxygen describes a planar joint like as

However, when you copy/paste a default planar joint from the GUI XML Browser, the three coordinates are (1) Translation (2) Rotation (3) Rotation.

[2016-11-11 18:50] aseth1 commented on #1388
The Doxygen is correct for 4.0. Joints were more adhoc in 3.3 and likely to be inconsistent (assuming 3.3 GUI). The default XML for the PlanarJoint should be correct in 4.0 since all Coordinates are now handled by the base class.

[2016-11-11 18:51] jimmyDunne commented on #1388
Attached is a working planar joint model...

[WalkerModel_planarJoint.osim.zip](https://github.com/opensim-org/opensim-core/files/586547/WalkerModel_planarJoint.osim.zip)

[2016-11-11 18:58] jimmyDunne commented on #1388
I assume the MultiBodyGraphMaker bug may need its own issue, but this current issue is resolved. Thanks!

[2016-11-11 18:58] #1388 closed

[2016-11-11 20:48] jimmyDunne opened #1396 "ForceReporter() needs to be updated or a replacement made."
The FroceReporter still functions as is on Master (via Matlab), but it doesn't fit with the new component interface. Not using the ForceReporter() to reporter ALL the forces in a model, is pretty involved.

ForceReporter should internally use the TableReporter and Component outputs, or there should be a new class that achieves the same thing as ForceReporter (reports all forces from a model during

[2016-11-11 22:21] aymanhab commented on #1396
I'd strongly recommend not removing it, since so many users count on it. A refactoring is totally reasonable.

[2016-11-11 22:28] jimmyDunne commented on #1396
👍  Looks like it storage just needs to be gutted out and replaced with tables.

[2016-11-11 22:31] chrisdembia commented on #1396
That would be a good first step.

[2016-11-11 23:36] carmichaelong commented on #1395
Do you know what the root cause could be? Is it possible that the `Optimizer` is just returning its last function evaluation?

[2016-11-12 00:13] tkuchida commented on #1395
Yes, that is one possibility of many. It may also be the case that `bestSoFar` and the value returned by the optimizer are within the convergence tolerance, in which case it could be argued that returning either would be equally acceptable—but I disagree with that argument. I can investigate further if we decide this is a priority, but I don't know enough about the code to attempt a quick fix.

[2016-11-12 05:58] chrisdembia opened #1397 "MATLAB bindings on Linux may be troubled by differing libstdc++ versions."
Our MATLAB bindings rely on `libstdc++.so`. MATLAB itself also needs `libstdc++.so` and tries to use the one that is packaged with MATLAB instead of the one on the system. The two can often be inconsistent, and this lead to mysterious errors when trying to use the MATLAB bindings. There are at least two fixes, neither of which are great:

1. The user can set the `LD_PRELOAD` environment variable b

[2016-11-12 06:02] chrisdembia commented on #1397
Other solutions:

1. Using RPATH for `libosimCommon`, etc. should make sure the bindings find the correct libstdc++.

2. Statically link to libstdc++.

For more information about solutions like this, see http://stackoverflow.com/questions/13636513/linking-libstdc-statically-any-gotchas

[2016-11-12 06:03] chrisdembia commented on #1397
I think the best solution is using RPATH, as @klshrinidhi is achieving with #1354 .

[2016-11-14 23:12] aseth1 opened #1398 "Need regression test to verify that marker placements after scaling are consistent"
testScale currently only verifies that scale factors are recomputed consistently (with results from previous versions), but there are no tests for whether or not markers are placed in the same locations as those from scaling in previous versions of OpenSim.

This is necessary to verify the effects of #1372 on marker placement.

[2016-11-14 23:20] jimmyDunne opened #1399 "Coordinate.getMotionType() returns 'Coupled' for coordinates that should be 'Translation'"
For CustomJoint, getMotionType() should reutrn 'Translation' for coordinates (4-6). Instead, it returns 'Coupled'.

[2016-11-15 03:20] #1389 closed

[2016-11-15 03:58] tkuchida commented on #1357
Thanks for reporting, @humphreysb. This is, indeed, a bug :beetle:. The `Millard2012EquilibriumMuscle::calc_DFiberForceAT_DFiberLengthAT()` method is called from `calcMuscleDynamicsInfo()` and `estimateMuscleFiberState()`; the argument is incorrect in only the first case. I checked the calculations themselves and they appear to be correct.

I'll submit a PR to fix the incorrect argument, but hesit

[2016-11-15 20:15] carmichaelong opened #1405 "Clean up Manager interface/usage"
These are left over TODOs from #1386:

- [x] Remove `_system` and subsequently make CMC use its own `TimeStepper` rather than the `Manager` to do its integration
- [x] Prevent any chance of mixing the wrong system/model between the integrator and timestepper. This may involve removing/changing some of the constructors and methods such as `setIntegrator()` and `setModel()`. As per discussion with @

[2016-11-15 23:32] aseth1 commented on #1405
Just to clarify point 1: The setting of the `_system` member of the `Manager` was a way for CMC to integrate the `CMCActuatorSystem` and not a Model's underlying `MultibodySystem`.  I believe the purpose of a `Manager` is to manage the integration of `Model` dynamics and this was a misuse.

[2016-11-15 23:34] chrisdembia commented on #1405
It may be good to make sure the same integrator type is used for both systems.

[2016-11-15 23:43] aseth1 commented on #1405
I agree, but they are currently not the same 😿.  Hard coded within `VectorFunctionForActuators`:
[code]

[2016-11-16 02:38] jimmyDunne commented on #1297
Matlab scripts to create an actuators file and plot muscles f-l curves can be found in PR1311, [here](https://github.com/opensim-org/opensim-core/pull/1311/commits/3d7ba9a4014579449e233ef59b31991a0956596f)

[2016-11-16 04:05] tkuchida opened #1406 "WeldJoint constructor is unavailable from Matlab"
According to the doxygen and [WeldJoint.h L48](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/SimbodyEngine/WeldJoint.h#L48), WeldJoint uses Joint's constructors. However, the following comment appears in [WeldJoint.cpp (L57)](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/SimbodyEngine/WeldJoint.cpp#L57):
[code]
The doxygen for WeldJoint ind

[2016-11-16 20:45] aymanhab opened #1408 "MarkersReference::getSpeedValues unimplemented"
We need to either implement the method or remove it from the header to avoid giving impression that the method is actually implemented. Came up over discussion/review of PR #1372 though it dates back before the PR.

[2016-11-16 22:50] #1350 closed

[2016-11-17 01:23] tkuchida opened #1409 "Usability of DataTable_<ETX, ETY>::getRow() and appendRow()"
Likely an issue that can be addressed by adding an example to the doxygen for `DataTable_`. Here's a MWE:
[code]
This user interface is slightly awkward since it seems like `tableA.getRowAtIndex()` should return an object that is consumable by `tableB.appendRow()`. Similar to #1384.

[2016-11-17 01:38] klshrinidhi commented on #1409
All this is mostly to do with `DataTable` not hiding its implementation details and using SimTK objects in its interface. I think the interface of `DataTable` is not good. It never was.

`getRowAtIndex` and `getRow` return a `SimTK::RowVectorView`, which is returned by `SimTK::Matrix` for efficiency. `RowVectorView` is a proxy class and provides a *view* into a block of the underlying matrix.  Whe

[2016-11-17 01:40] klshrinidhi commented on #1409
Also worth mentioning is that my PR #1372 that I merged today adds functions `removeRowAtIndex` and `removeRow` if that can help avoid the above snippet until I add the overload.

[2016-11-17 01:47] tkuchida commented on #1409
`static_cast` is the only solution I have found that works (in Release mode, at least :wink:).

Sounds good. Thanks!

[2016-11-17 01:49] klshrinidhi commented on #1409
I think you are getting lucky. It will :dagger: you.

[2016-11-17 01:52] klshrinidhi commented on #1384
I think this issue can be closed now. The PR #1372 added functions `getNearestRow` and `updNearestRow`. It also [adds documentation](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/DataTable.h#L671-L674) to `getRow` pointing to these added functions depending on the need.

[2016-11-17 01:56] #1384 closed

[2016-11-17 03:17] tkuchida commented on #1409
Thanks. I'll be sure to update my code once #1410 has been merged. For now, a `SimTK_ASSERT_ALWAYS()` will let me know if the duct tape peels off :wink:

[2016-11-17 05:15] aseth1 commented on #1406
I am not sure I understand the issue here. The WeldJoint does inherit its constructors from Joint including the one with the "reverse" option. The comment is inside the `createMobilizedBody<T>` helper (specialized for the a Weld mobilizer) and refers to the Weld mobilizer having no reverse option since it is meaningless to reverse a Weld (so there is no need to check if it is reversed since the re

[2016-11-17 05:50] tkuchida commented on #1406
I didn't try it in C++, but the constructor with the trailing "reverse" argument is not available in Matlab, as confirmed by @jimmyDunne. [WeldJoint.cpp](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/SimbodyEngine/WeldJoint.cpp#L46) specializes the constructor _without_ the trailing "reverse" argument but there is no specialization _with_ the trailing "reverse" argumen

[2016-11-17 18:50] aseth1 commented on #1369
closed by #1386

[2016-11-17 18:50] #1369 closed

[2016-11-17 19:10] jenhicks commented on #1293
fixed by #1391

[2016-11-17 19:10] #1293 closed

[2016-11-17 19:47] jenhicks commented on #1396
Try accessing component list and looping through and using TableReporter. Flag anything that doesn't have outputs.

[2016-11-17 19:52] jenhicks commented on #1408
Make base reference class throw exception that it's not implemented

[2016-11-17 23:12] chrisdembia commented on #1408
I'm going to fix this right now.

[2016-11-18 00:07] aseth1 opened #1412 "Consider redefining method(s) to re-express locations in this Frame rather than another Frame"
In #1400 the following bug was discovered to express the location of a point location in ground (`pt`)  in the parent frame of a marker:

[code]

But `findLocationInAnotherFrame` is defined to express `pt` in *another* frame so it is a mistake to give it *Ground*. The correct usage is:

[code]

I find the language and documentation to be unambiguous, but I can see how it could be error prone  beca

[2016-11-18 00:15] chrisdembia commented on #1412
This might be relevant for how @carmichaelong is transitioning us off the SimbodyEngine, as I think he is often trying to express stations in Ground. We talked about adding a `frame.findLocationInGround(state, stationPosInThisFrame);`, which would be equivalent to `ground.findLocationInThisFrame(state, stationPosInOtherFrame, frame);` in the proposal above. I might be misremembering the details...

[2016-11-18 00:30] tkuchida commented on #1412
Let the two frames be fA and fB, and let pX be the coordinates of point p expressed in frame fX. The problem is: _Given_ pA, fA, and fB, _Find_ pB. The current interface is
[code]
which I agree is confusing because `pA` and `fB` are adjacent. The proposed change is better:
[code]
however, frames `fA` and `fB` are still treated differently here (one is calling `translate` and the other is an argume

[2016-11-18 00:36] chrisdembia commented on #1412
@tkuchida very thorough analysis! Your proposal is similar to [`SimbodyEngine::getPosition`](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/SimbodyEngine/SimbodyEngine.h#L121), which `Frame::findSomething` is trying to replace. Though, having the function on Model would be an improvement.

[2016-11-18 00:56] aseth1 commented on #1412
@tkuchida thank you for restating the issue more clearly.

My preference would be not to load more methods on Model for capabilities that it doesn't implement or need to manage/coordinate itself. We could have the static method on Frame. It is more typical in C++ to have `pB = fB.findSomething(pA, fA)` where the object being invoked ('fB') is expected to operate (in this case `translate`) on its a

[2016-11-18 01:19] tkuchida commented on #1412
True. I hadn't considered the case where one would call `findSomething()` on a Frame that isn't part of a Model, but I guess that may be possible also.

It isn't, but IMHO, a method with two pairs of arguments (`fA`, `pA`, `fB`, `pB`) is easier to parse than a method like `fB.findSomething(pA, fA)`. I think the reason is because there are two possible directions for writing the method, as you have

[2016-11-18 01:20] aseth1 commented on #1406
`WeldJoint` does not specialize Joint constructors. All constructors are inherited. It does specialize the `createMobilizedBody<T>` helper (which helps to create the underlying Weld mobilizer) used within `extendAddToSystem()` but this has no impact on constructors.  If the `reverse` flag is being dropped then that may be due to SWIG wrapping.

[2016-11-18 01:27] tkuchida commented on #1406
Ah, ok thanks for clarifying. I didn't realize `template <> SimTK::MobilizedBody::Weld Joint::createMobilizedBody<SimTK::MobilizedBody::Weld>` was being called by the inherited constructor (I was also confused because I read `...::Weld Joint::...` as `...::WeldJoint:...` 🙀

[2016-11-18 01:28] chrisdembia commented on #1393
In #1340, @aymanhab said:

[2016-11-18 07:21] tkuchida commented on #1412
Another approach could be to address the issue that `pA` is represented by a `Vec3`, which is analogous to a unitless number (the "unit" in this case is the frame relative to which the point's coordinates are expressed). Perhaps, then, the input could be a `std::pair<Vec3&, Frame&>` (or a struct named `PointInFrame` or something like that). The interface `pB = fB.findSomething( PointInFrame(pA, fA

[2016-11-18 15:32] chrisdembia commented on #859
This shall be fixed by #1340, when it gets merged.

[2016-11-18 15:34] chrisdembia commented on #1393
Note: when solving this issue perhaps by not storing connectee names until serialization, remove the doxygen comments for `Component::getInput()`, etc. that describe the side effect of updating the input's or connector's owner.

[2016-11-19 21:11] chrisdembia opened #1415 "Add outputs on Frame for getting only the translational velocity and acceleration of the origin"
Frame has outputs `velocity` and `acceleration`, but these are SpatialVecs. This is good to have, but I think it may be helpful to also have output son Frame that give *just* the translational portion of the velocity and acceleration. Otherwise, one needs to add a Point (Station) at the origin of the Frame (PhysicalFrame).

[2016-11-20 22:56] chrisdembia opened #1419 "TestScale is failing on Appveyor"
TestScale is failing on [AppVeyor](https://ci.appveyor.com/project/opensim-org/opensim-core/build/5332/job/rfmmjm4j3jtblrji):

[code]

This might be due to #1400?

[2016-11-21 17:37] #1408 closed

[2016-11-22 06:25] chrisdembia opened #1420 "Input::setAlias is not reflected in TableReporter, etc."
Users can call `AbstractInput::setAlias()` and this will update the alias stored within `AbstractInput`. However, upon connecting, this alias is not obeyed; instead the alias (if any) from the `connectee_name` property is used. Therefore, calls to `setAlias()` will not be reflected in TableReporter's column labels.

The fix is to no longer store aliases as a separate member variable in `AbstractIn

[2016-11-22 06:27] tkuchida commented on #1420
Related: #1277

[2016-11-22 19:53] aymanhab commented on #1419
Likely true though all tests passed before merging, Could it be interaction with some other PR?

[2016-11-30 19:11] aseth1 commented on #1419
#1372 was merged prior to #1400 being merged. I am pretty sure this is the issue. In the interest of time, I think @klshrinidhi can create a new PR that fully switches from `staticPose` ` MarkerData` to the `staticPoseTable`. I believe the difference may be in how the average pose is computed and can now be verified due to the test added in #1400.

[2016-12-01 19:15] aseth1 commented on #1409
closed by #1410

[2016-12-01 19:15] #1409 closed

[2016-12-01 19:37] aseth1 commented on #1412
Consensus is case 1.

[2016-12-01 19:40] aseth1 commented on #1406
Check if  SWIG macro is applied to WeldJoint

[2016-12-01 20:01] aseth1 commented on #1398
closed by #1400

[2016-12-01 20:01] #1398 closed

[2016-12-01 22:05] chrisdembia commented on #1406
None of the joints take `reverse` in MATLAB/Python; see [here](https://github.com/opensim-org/opensim-core/blob/master/Bindings/simulation.i#L274):

[code]

**My preference** is to add `reverse` as a default argument for now so that the interface is consistent, and then to document that it will be removed in the future.

[2016-12-01 22:32] aseth1 opened #1424 "The option to "reverse" the sense of a Joint should be removed"
**Background**
In 3.3 and earlier versions, we did not have an automatic way of building a Multibody Tree. The tree was defined by the order of Joints and its parent-to-child direction. If the user wanted to reverse the direction of the tree say from the ground up for a leg model (instead of pelvis down), for example, they would re-order the joints and swap the child and parent bodies of each Join

[2016-12-02 22:43] jenhicks commented on #1412
Is this an issue for 4.0? Who is going to work on this? @aseth1

[2016-12-03 02:21] aseth1 commented on #1412
@jenhicks It is an issue for 4.0 because it impacts the Frame API that is being introduced. It would be great if we didn't change it once we released it. The issue was raised in response to reviewer comments in #1400, which detected that the method was misused.

We discussed changes in some length at the meeting yesterday and there seemed to be pros and cons for all proposals (including leaving it

[2016-12-05 17:16] jenhicks commented on #1412
Thanks for explaining the issue in more detail. I think that the current set-up is what I would expect, so I am ok with leaving it as-is.

[2016-12-05 18:43] #1357 closed

[2016-12-05 18:49] aseth1 commented on #1009
closed by #1340

[2016-12-05 18:49] #1009 closed

[2016-12-05 18:50] aseth1 commented on #848
closed by #1340

[2016-12-05 18:50] #848 closed

[2016-12-05 20:04] aseth1 commented on #859
closed by #1340

[2016-12-05 20:04] #859 closed

[2016-12-05 20:11] aseth1 commented on #763
fixed by #1421

[2016-12-05 20:11] #763 closed

[2016-12-06 22:07] #1399 closed

[2016-12-06 22:08] #1419 closed

[2016-12-06 22:48] tkuchida commented on #1412
Perhaps a simple documentation change would help avoid some confusion. Currently, IntelliSense shows the following:

![findlocationinanotherframe](https://cloud.githubusercontent.com/assets/4203505/20946997/ec0458b0-bbc1-11e6-8ffa-f98586f07587.png)

I think it would be less ambiguous if we changed the variable names from
[code]
to
[code]

[2016-12-06 22:49] tkuchida commented on #1412
Oh, nevermind: if you're looking at the IntelliSense, you can just read the documentation.

[2016-12-07 01:15] tkuchida opened #1428 "Test does not ensure potentially helpful warnings are displayed"
On [testComponentInterface.cpp L1042](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Test/testComponentInterface.cpp#L1042), the comment "Should yield warnings about unconnected Inputs" is followed by a call to `world.connect();` but there is no check to ensure the warnings are printed. We are unlikely to catch a PR that accidentally removes these warnings. It would be easy

[2016-12-07 01:20] chrisdembia commented on #1428
Indeed those warnings are no longer printed; [they were commented out](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Common/Component.cpp#L239). I agree with your general suggested approach. We should also make helper functions that make it easier to capture cout. My opinion about the specific warning you mention is that it should not exist--it is okay for inputs to not be connec

[2016-12-07 01:26] tkuchida commented on #1428
Ah, I should have run the test. In that case, the comment on L1042 and the `cout` on L1043 should be deleted so the test reflects the desired functionality. I'll do this.

Yes, that seems fine.

[2016-12-07 05:40] #1428 closed

[2016-12-07 21:24] aseth1 commented on #1412
@opensim-org/dev-team  I recommend closing this issue.

[2016-12-07 21:26] chrisdembia commented on #1412
Sounds fine to me. We can always come back to it after some user testing.

[2016-12-08 01:30] jimmyDunne opened #1432 "Measurement and MeasurementSet() through scripting"
Building a measurement() isn't possible through the scripting interface.

Need to be able to do this for scaling.

[2016-12-08 01:33] #1432 closed

[2016-12-08 04:19] jenhicks commented on #1412
This sounds fine to me as well. I am closing, but as Chris mentioned, we can revisit.

[2016-12-08 04:19] #1412 closed

[2016-12-08 20:09] aymanhab commented on #1111
@aseth1 This will be important to solve in 4.0 The main issue is that the GeometryPath doesn't know that the Muscle is disabled. Any thoughts?

[2016-12-08 20:18] aymanhab opened #1433 "Decide what format of motion files to support into GUI and Tools"
GUI and Tools used to store simulation results as States (for example so that muscles can be colored) with short name headers. Now we write headers that contain fullPathName. Is the plan to support both formats for headers or just new "e.g. /model/Joint/coordinate" ?

[2016-12-08 20:37] chrisdembia commented on #1297
I added myself to two of the examples above.

[2016-12-08 22:31] aseth1 commented on #1111
Possible solutions:

1. Implement DevProp #1382 so that any Component can be temporarily excluded without crashing.
2. Figure out which calls to `GeometryPath` *blow-up* and band-aid the problem by checking the *appliesForce* flag first. With the rename to `appliesForce`, there should be no expectations that the Muscle should not draw itself - it simply should not apply forces - and we could still

[2016-12-08 23:34] #883 closed

[2016-12-09 00:14] aymanhab opened #1440 "Appearance changes for WrapObjects are not serialized"
This appears to be due to calling setObjectIsUpToDateWithProperties() in initiSystem after Appearance property change causing the object to not serialize the modified Appearance (as it falsely assumes it is at default).

[2016-12-09 00:15] aymanhab commented on #1440
Trying to create a simple C++ test to verify using context similar to GUI operation.

[2016-12-12 02:44] cpizzolato opened #1443 "Wrong marker weights value in MarkersReference"
When using the `InverseKinematicsTool` the marker weights are read from the inverse kinematics setup file. However, the values of the marker weights in the xml and in the `MarkersReference` are different.

My understanding is that `MarkersReference::_markerNames` and `MarkersReference::_weights` should be in the same order, with the marker name matching in position with the respective weight, howe

[2016-12-12 19:30] aymanhab commented on #1111
Thanks @aseth1 I think we greed already that DevProp is outside the scope of 4.0 as it introduces new concepts. For solution 2, the crash happens while trying to get the CacheEntry  "current_path". Incidently the CacheEntry does exist but retrieving the value throws an exception. This can be made more consistent I think.

[2016-12-12 19:50] aseth1 commented on #1111
Yes @aymanhab there was a bug and it is being addressed in #1444.

[2016-12-12 22:27] chrisdembia opened #1445 "Should it be possible to connect the same output to a list input multiple times?"
Currently, you can do the following (if `input` is a list input).

[code]

That is, you can connect the same output to an input multiple times.

Is this okay? @aseth1 thinks that if a user does this, it's most likely an error. I somewhat agree. But we both also seem to think that there might be valid cases for this (perhaps not for reporting, but for other use cases).

Another option: only allow d

[2016-12-12 22:51] aymanhab commented on #1445
@chrisdembia This seems quite confusing since a user doesn't know if a new call to connect replaces an older one or appends, what if it's not a list? If the latter, i.e. append, than it should be clear from the name rather than guessed or left to interpretation.

[2016-12-12 23:29] chrisdembia commented on #1445
Ah good point, @aymanhab . At the very least, the documentation should clarify what happens.

[2016-12-12 23:37] aymanhab commented on #1440
This proved to be due to the flag on ObjectProperty.setValueIsDefault(false) was not explicitly called from the GUI using the Properties interface to Objects. Fixed on GUI side.

[2016-12-12 23:37] #1440 closed

[2016-12-13 00:23] #1111 closed

[2016-12-13 03:47] tkuchida commented on #686
Should also catch unrecognized property values (e.g., anything other than "true" or "false" for a bool).

[2016-12-13 08:56] cpizzolato opened #1448 "Possibley add exceptions in functions that are not yet implemented"
Despite the clear doxygen comments, it took me a while to realise that `Value<T>::getValueAsString()` is not implemented yet. The confusion also comes from the fact that Visual Studio shows me the doxygen comment of `AbstractValue::getValueAsString()`, which, obviously, doesn't say anything about the implementation of  `Value<T>::getValueAsString()`.

Anyhow, although quite pedantic, do you think

[2016-12-13 21:46] aymanhab opened #1450 "attached_geometry ends up under "components" upon deserialization"
While this may not be an issue for the visualization code since it traverses the tree of components regardless, it affects how geometry is displayed in the navigator/GUI.

[2016-12-13 21:49] aseth1 commented on #1450
upon deserialization from 3.0 and early document versions or even in the latest version?

[2016-12-13 22:46] aymanhab commented on #1450
I've seen it in older files (document number before 3.0) that were included in 3.3 distro. We don't have any saved model in 4.0 format. The issue is likely updateFromXML related so not critical for Alpha as far as I can tell.

[2016-12-15 01:14] tkuchida commented on #1297
**Project** – The right `Frame` of mind
**Team** – James and Tom
**Description** – The new `Frames` infrastructure makes it easy for users to report quantities in reference frames that are most convenient for analysis. Using a simple model, we will demonstrate how to use the 4.0 API to define anatomical reference frames (PhysicalOffsetFrames) programmatically from experimental marker data.

[2016-12-15 03:31] apoorvar commented on #1297
Project - re-do the Tug-of-war example in the Developer's guide (http://simtk-confluence.stanford.edu:8080/display/OpenSim/Performing+a+Simulation) using Matlab/4.0 and add mini-analyses like get muscle-tendon lengths and velocities

[2016-12-15 17:42] aymanhab opened #1453 "Build/Installation Instructions for Alpha (Windows)"
Trying to build/install Alpha on Windows, issues:

1. Instructions for the Windows/Impatient suggest to install Chocolatey (is that required?) seems like installing a new utility is counter the "impatient" title.
2. Building dependencies hangs quietly for a long time while check out simbody. Some indication of progress would be good so a user doesn't abort
3. Documentation suggests either Anaconda

[2016-12-15 17:51] nickbianco commented on #1297
Project - I will work on converting the dynamic walker example

[2016-12-15 17:56] chrisdembia commented on #1297
@nickbianco, do you plan to work with @jimmyDunne on this? He is almost done with the conversion  (see here https://github.com/opensim-org/opensim-core/pull/1439).

[2016-12-15 18:07] nickbianco commented on #1297
@chrisdembia, oh right. James sent me the PR yesterday, I didn't realize they were mostly done. Mazen and I talked about added an optimization for guesses of the initial states (as @jimmyDunne suggested), but never decided exactly what we were going to do.

[2016-12-15 18:25] carmichaelong commented on #1297
@aseth1 Are you working on both projects above? If not I can take one off your hands.

[2016-12-15 18:33] chrisdembia commented on #1297
Oh cool; I think something like that would be awesome.

[2016-12-15 18:34] chrisdembia commented on #1297
@nickbianco @malborno  then perhaps you want to build on top of @jimmyDunne's branch ([matlabScripts_DynamicWalker](https://github.com/opensim-org/opensim-core/tree/matlabScripts_DynamicWalker))

[2016-12-15 18:47] nickbianco commented on #1297
Actually, I'm all of sudden not really feeling so well. I'm going to head home to catch up on some rest before the TA meeting later today.

[2016-12-15 19:48] aymanhab commented on #1453
Also building on VS 2015 results in 441 warnings, many of them related to conversion between int, unsigned, size_t (in Data handling code). We should either fix the code or if not cross-platform issue use Pragmas to avoid clutter.

[2016-12-15 19:55] aymanhab commented on #1453
Install by itself invokes build of python wrapping which is unnecessary and lengthy.

[2016-12-16 00:57] carmichaelong opened #1455 "Using a State from a StateTrajectory crashes on realizeDynamics call"
Worked some with @aseth1 on this using MATLAB. If you get a State from a StateTrajectory and call `Model::realizeDynamics(state)`, a crash occurs with the top of the stack showing `SimTK::GeneralForceSubsystem::adoptForce`. If muscles set `appliesForce` to `false`, then no error occurs (and states can be looped to see the model move over multiple frames with the visualizer).

[2016-12-16 02:34] tkuchida opened #1456 "Add documentation/sample code to help MATLAB users handle enums"
Some possible destinations for such documentation/sample code:
- [Common Scripting Commands](http://simtk-confluence.stanford.edu:8080/display/OpenSim/Common+Scripting+Commands) page on Confluence
- Class description for `Frame`

### Example:
**C++**
[code]

**MATLAB**
[code]

[2016-12-16 02:36] chrisdembia commented on #1456
Both places!

[2016-12-16 04:31] chrisdembia opened #1457 "WrapObject::wrapLine() hidden from SWIG"
I am working on a MATLAB version of the hopper-device example. Building the hopper model involves adding a WrapCylinder to a model. Right now, the function `wrapLine()` is `ifndef SWIG`'d, making SWIG think that WrapCylinder, etc. are concrete classes and thus preventing me from constructing a WrapCylinder in MATLAB.

Is it okay to expose the `wrapLine()` functions in scripting? I looked at the gi

[2016-12-16 06:16] tkuchida commented on #1455
Attempted to reproduce with a MWE, but the following script did not crash. What's missing?

[code]

[2016-12-16 06:29] aseth1 commented on #1455
thanks for investigating @tkuchida and for the nice test script. I am also not seeing the issue if I simulate the tug of war model to generate a `StatesTrajectory`. I think the main difference is that @carmichaelong is creating a `StatesTrajectory` from a Storage file (I believe it is a previous CMC solution). Secondarily, he is using the gait2354 model.

[2016-12-16 07:25] tkuchida commented on #1455
Thanks for clarifying. I'm also crashing (segfault) on `model.realizeDynamics(trajElem);` with arm26, but only when the StatesTrajectory was constructed via `StatesTrajectory::createFromStatesStorage()`. Same issue with the analogous code in C++, which rules out a wrapping issue.

The doxygen for `StatesTrajectory::createFromStatesStorage()` indicates that "The resulting StatesTrajectory will rest

[2016-12-16 07:48] tkuchida commented on #1455
A workaround is to use (hijack) the State returned by `initSystem()`:
[code]
though I think that defeats the intended purpose of StatesTrajectory.

[2016-12-16 09:42] aymanhab commented on #1457
The function was hidden long time ago before the parameters were useful (e.g. SimTK::State). That said the method is rather internal and is invoked automatically by GeometryPath::applyWrapObjects during path computation. What's the rationale for exposing it?

[2016-12-16 17:41] chrisdembia commented on #1455
Thanks for reporting. The implementation of `createFromStatesStorage()` uses the state returned by `initSystem()` as the basis for every state in the trajectory.

[2016-12-16 17:43] chrisdembia commented on #1457
Ah thanks for explaining. The only reason is to allow users to construct WrapObjects in scripting. Since wrapLine is a pure virtual, if we hide it, then SWIG does not create constructors because it thinks the classes like WrapCylinder are still abstract.

[2016-12-16 18:10] aymanhab commented on #1457
The fix then is to make the method protected so it's not an issue for swig. If that doesn't work we can tell it explicitly that these classes are noabstract. Let me know what you think @chrisdembia

[2016-12-16 19:45] chrisdembia commented on #1455
Have any of you already started trying to work on a fix? If not, I can try to fix this.

[2016-12-16 20:50] tkuchida commented on #1455
Not me, but feel free to assign me if you like.

[2016-12-16 22:35] carmichaelong commented on #1455
I have not started on a fix either, but let me know if I can help in any way.

[2016-12-17 05:14] chrisdembia commented on #1455
I'll give this a shot. Thanks for your willingness to help @tkuchida @carmichaelong.

The error seems to result from using a state object on a different model than the one it was generated with. The following snippet also reproduces the issue (without using the StatesTrajectory):

[code]

The error happens whether `initSystem()` is in location 1 **or** 2.

The `createFromStatesStorage()` function

[2016-12-19 05:22] chrisdembia commented on #1455
I figured out what's going wrong. I had assumed that the State object is independent from any given instance of the same exact System. This assumption is wrong: the State contains a cache entry holding onto `Force*`s that are in the System (see [here](https://github.com/simbody/simbody/blob/master/Simbody/src/GeneralForceSubsystem.cpp#L643) and [here](
https://github.com/simbody/simbody/blob/maste

[2016-12-19 19:43] tkuchida commented on #1455
Nice sleuthing 🔍

I like this fix: there will be a clear "initSystem() must be called first!" exception, and any issues with the model will be caught/handled by `initSystem()` before `createFromStatesStorage()` is called (i.e., `createFromStatesStorage()` has a clear precondition).

[2016-12-19 21:30] #1457 closed

[2016-12-20 01:12] carmichaelong opened #1461 "Model::getFrameSet() may not find all Frames"
The description for `FrameSet` says the following:

Using the `SinglePin.osim` model, `dumpSubcomponents()` prints the following:
[code]

Looping through `getBodySet()` returns the correct output:
[code]

Looping through `getFrameSet()` correctly does not list `Body rod1` (as per its own description) but it does not grab the `PhysicalOffsetFrame rod1_offset`:
[code]

I don't think this behavior fi

[2016-12-20 01:18] chrisdembia commented on #1461
The FrameSet was created before it was possible to put any component within any other component. So at the time that the description was written, it was not ambiguous: such Frames couldn't really be anywhere else (they could be in the MiscModelComponents, but that wouldn't be the right place for them). I think the comment should be changed. I don't think it was ever intended that the FrameSet woul

[2016-12-20 22:34] chrisdembia opened #1462 "Manager::stepTo()"
Especially for MATLAB, it would be great if the Manager had a method `stepTo()`, to allow the following:

[code]

@malborno @carmichaelong

Raised during @malborno's hackathon project.

[2016-12-20 22:35] chrisdembia commented on #337
@malborno raised this issue: it would be helpful to query if a coordinate is unactuated.

[2016-12-20 22:53] chrisdembia opened #1463 "Document Output's and Input's safeDownCast for scripting"
Right now, users who want to directly access an Output's value in scripting must use OutputDouble.safeDownCast, and this is not obvious. Perhaps we should add Component::getOutputValueAsDouble, or AbstractOutput::getValueAsDouble, etc.

[2016-12-20 23:34] aseth1 commented on #1461
I agree the comment should be updated. I don't quite understand what "Body frames are built-in" means either.  I also don't see the need for the FrameSet since (as the example illustrates) Frames are generally in service of another Component (in this case a Joint), in which case it makes sense for it to live with that Component or related (e.g. Body) component. We don't have to shove everything in

[2017-01-04 21:13] jenhicks commented on #611
See discussion in #1424

[2017-01-04 21:18] jenhicks commented on #1424
I am closing this issue, as it duplicates #611.

[2017-01-04 21:18] #1424 closed

[2017-01-05 00:33] aseth1 commented on #1450
This does not seem to be a problem for versionNumber 20303 up. I was able to replicate the problem for version 20001 with Neck3dof_point_constraint.osim in `testModelCopy`.  In `PhysicalFrame::updateFromXMLNode()` there is an `if (versionNumber < 20101) {` which does not correctly update to a 20303 or later model and it does not invoke the `convertDisplayGeometryToGeometryXML` method that creates

[2017-01-05 00:45] chrisdembia commented on #1450
🕵️  🔍

[2017-01-05 17:43] aymanhab commented on #1450
Thanks for the investigation @aseth1 It shouldn't be a problem to require users to save their models in version 3.2 or 3.3 to get around that, but then we broke some backward compatibility that was supposedly baked in. Do you think this would be fixable after all the changes we made in 4.0? We should discuss.

[2017-01-05 18:13] aymanhab opened #1464 "copyProperty_GeometryPath doesn't work"
While writing a script to Change Muscle type in python, the copyProperty_* macro generated functions all worked on primitive types but copyProperty_GeometryPath resulted in an empty GeometryPath. This could be pilot error something specific to GeometryPath or generic problem for all Properties that are Objects.

[2017-01-05 18:16] aymanhab commented on #1464
Using getValueAsObject() on the GeometryPath property doesn't work either and results in an empty GeometryPath.

[2017-01-05 18:58] aymanhab commented on #1464
This could also be due to PathPointSet, PathWrapSet being Deprecated but the copy methods not implicitly invoked.

[2017-01-05 19:05] #845 closed

[2017-01-05 19:11] #1405 closed

[2017-01-05 19:21] jenhicks commented on #1420
Let's go with 1. @klshrinidhi could you work on this? Let @aseth1 know if you have questions.

[2017-01-05 19:24] jenhicks commented on #1433
First step: try reading motion file into a states trajectory.

[2017-01-05 19:25] jenhicks commented on #1443
@aseth1 will look into this. Thank you for reporting Claudio!

[2017-01-05 19:32] jenhicks commented on #1455
@chrisdembia Are you working on a fix for this? Let us know if you need help.

[2017-01-05 19:36] jenhicks commented on #1461
Some code in UpdateFromXML uses FrameSet. Ajay will look into changing that code and removing FrameSet completely. Also need to expose getFrameList.

[2017-01-05 19:39] jenhicks opened #1465 "Better examples and documentation of working with lists in Matlab and Python"

[2017-01-05 19:42] jenhicks commented on #1462
@carmichaelong Will investigate if this is an easy feature to add for 4.0. Otherwise, include in the next release.

[2017-01-05 19:44] jenhicks commented on #1464
@aymanhab Will continue investigating and report back.

[2017-01-05 20:01] jenhicks commented on #849
@klshrinidhi will investigate what can be done in C++ and propose a solution for scripting.

[2017-01-05 20:03] jenhicks commented on #1268
@aymanhab please investigate whether this is still an issue for the GUI

[2017-01-05 20:04] jenhicks commented on #1347
Solution for now is to throw an exception if there are multiple transforms for geometry that cannot be reproduced.

[2017-01-05 20:11] sherm1 commented on #849
@klshrinidhi, I think the transpose of a `Vector_<Vec3>` is actually a `RowVector_<Row3>` (that is, each of the elements is transposed too). That is usually the right semantics for transpose - for example, if the elements are complex then the transpose should have complex conjugate elements (e.g. [here](https://en.wikipedia.org/wiki/Conjugate_transpose)). Simbody has a notion of "positional transp

[2017-01-05 20:21] jenhicks commented on #465
Add fixed option back to Marker. Investigate source of the bug

[2017-01-05 22:52] cpizzolato commented on #1443
Hi Jen, no worries!

To add some more details, I have a IK setup file where all the weights are 1, except for the the Top.Head marker, which has a weight of 10, see [file](https://github.com/cpizzolato/opensim-core/blob/example-markerweightserror/OpenSim/Tools/Test/subject01_IK_setup.xml).

If I print the content of `_markerNames` and `_weights` just before exiting the function  `MarkersReference:

[2017-01-06 19:07] chrisdembia commented on #1455
I have not worked on this yet. The fix should be fairly straightforward, but I need to know what others think the correct fix is (of the two I gave above).

[2017-01-06 19:10] chrisdembia commented on #1433
See [this](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Simulation/StatesTrajectory.h#L417) part of the doxygen description for `StatesTrajectory::createFromStatesStorage()`:

     * `ankle_r/ankle_angle_r/speed` used to be `ankle_angle_r_u`,
     * `soleus_r/activation` used to be `soleus_r.activation`, etc. This
     * function can handle %Storage column labels that use the pr

[2017-01-06 19:18] chrisdembia commented on #1420
I think this should probably wait until my ChannelPath PR (having the connectee_name properties be ComponentPath for Connectors and ChannelPath for Inputs), since that PR would undo any current fix. A current fix would require some unpleasant string-editing (when someone updates an alias, the could would need to append "(<alias>)" to the connectee name, but also check if an alias already exists (p

[2017-01-06 19:20] aymanhab commented on #1433
Thanks @chrisdembia I'll give that a try.  Which format do the tools now "save"? or do they use "Aliases" to relabel?

[2017-01-06 19:37] chrisdembia commented on #1433
The tools should now write the absolute path names for state variables. There is no code that sets aliases in a generic way like that; only example code.

[2017-01-10 19:13] jenhicks commented on #1271
For now, let's document this issue, unless someone knows of an easy fix.

[2017-01-10 19:20] jenhicks commented on #1199
Need to verify that changing the name of a marker doesn't crash the GUI and gives an informative error message.

[2017-01-10 19:20] chrisdembia commented on #1271
Sounds good.

It might be that we have to make sure Simbody_DIR is marked as a PATH variable.

[2017-01-10 19:27] jenhicks commented on #1130
Will update API so that loadModel doesn't call finalizeFromProperties(), but users have to call explicitly to be consistent with copy and making edits.

[2017-01-10 19:32] jenhicks commented on #1124
We don't think this is a bug since compare is doing a comparison of the whole string. Documentation should clarify the intent. Please let us know if we're missing something.

[2017-01-10 19:45] tkuchida commented on #1130
Sounds good. I suggest also catching/adding a meaningful error message if the user forgot to call `finalizeFromProperties()` to avoid cryptic exceptions thrown downstream.

[2017-01-11 20:25] aymanhab opened #1471 "Probe isDisabled flag uses reverse logic"
In trying to unify treatment of Components that can be disabled/enabled based on a Property in the latest GUI, I ran into the Probe Component which continues to use reverse logic for the enabling property (isDisabled) as opposed to all other components that use affirmativenow (enabled, applies_force, enforce_constraint etc.) it seems that reversing the logic in Probe would be the cleaner solution

[2017-01-11 20:25] aseth1 commented on #1450
Closed by #1469

[2017-01-11 20:25] #1450 closed

[2017-01-12 17:26] aseth1 commented on #1443
@cpizzolato thank you reporting this issue. I could not find `testInverseKinematicsTool` in your fork.
Did you push it to your repo?

[2017-01-12 18:48] #849 closed

[2017-01-12 18:50] klshrinidhi commented on #849
Solution for C++ is mentioned in comments in this issue.
Solution for Python/Java is merged by PR #1470.

[2017-01-12 19:19] jenhicks commented on #1455
Consensus is to do both.

[2017-01-12 19:23] jenhicks commented on #888
Related to #465

[2017-01-12 19:27] jenhicks commented on #928
Document for now

[2017-01-12 19:28] #428 closed

[2017-01-12 19:31] jenhicks commented on #182
Related to #465

[2017-01-12 19:32] chrisdembia commented on #1420
This is the branch related to ChannelPath: https://github.com/opensim-org/opensim-core/tree/ComponentPath_property. This branch should be somewhat functional, but is also stale (it's from before the rename to Socket).

I also created another branch that builds upon the one above and has some intermediate code that I do not think works: https://github.com/opensim-org/opensim-core/tree/ComponentPath

[2017-01-12 19:40] jenhicks commented on #701
For 4.0, release should not use environment variable on OSX.

[2017-01-12 19:43] #1063 closed

[2017-01-12 19:47] chrisdembia commented on #1063
Fixed by #1291.

[2017-01-12 19:47] jenhicks commented on #1179
@aseth1 Will move PathPoint out of Station.

[2017-01-12 19:50] jenhicks commented on #1246
@klshrinidhi will test whether using ALL CAPS extensions or MIxED CAps works

[2017-01-12 19:52] jenhicks commented on #1247
Should use a smart pointer to _root

[2017-01-12 19:53] jenhicks commented on #1258
@klshrinidhi please check if this has been fixed already.

[2017-01-12 20:14] jenhicks commented on #1471
Change to "enabled"

[2017-01-12 20:19] chrisdembia commented on #1462
In today's dev meeting, @carmichaelong suggested the following logic within stepTo():

[code]

I prefer the following:

[code]

With such an interface, it is clear what the integration times will be. Also, we maintain consistency with Simbody's stepTo().

[2017-01-12 21:36] aseth1 commented on #1462
I question the value of having initial and final time data members for the `Manager`, which is the cause of potential inconsistency.  What is the value or benefit of having the initial and final times as data members of the `Manager` since it is easy to set the time on the state and have  `integrate()` take a final time. Would it not be simpler, and less error prone to do something like this:

[co

[2017-01-12 22:11] aymanhab opened #1472 "Model loading and editing is slow in Alpha release code snapshot"
Building release version with Java wrapping on a beefed up machine results in test failure/timeout in test case Java_TestEditProperties_Release

Progress message in visual studio indicates
 Model loading and initialization time (ms):3501

The test case tries to perform 10 simple edits of a simple "double" property within 30 secs.

[2017-01-12 23:13] cpizzolato commented on #1443
Hi @aseth1, the "test" is in [OpenSim/Tools/Test](https://github.com/cpizzolato/opensim-core/blob/example-markerweightserror/OpenSim/Tools/Test/testInverseKinematicsTool.cpp). I have added a couple of comments as well. Just for clarity is not a proper test, I have added a `cout` and a specific setup file, definitely nothing fancy, but hopefully shows the problem.

If you believe it's worth, I can

[2017-01-12 23:46] aymanhab commented on #437
This has been fixed in build based on Alpha. Please confirm @chrisdembia
![capturemarkersetmethods](https://cloud.githubusercontent.com/assets/3972208/21912961/384a414c-d8de-11e6-9a4b-02c4ed407eaf.JPG)

[2017-01-12 23:49] chrisdembia commented on #437
Confirmed!

![image](https://cloud.githubusercontent.com/assets/846001/21913035/a34e8278-d8de-11e6-9201-77e2280e8537.png)

[2017-01-12 23:49] #437 closed

[2017-01-12 23:58] chrisdembia commented on #1462
The manager in almost every piece of C++ user code, so I also agree that if we are to change this, we should do it for 4.0. However, my opinion is to leave in the initial_time/final_time data members.

Another option is to deprecate the data members in 4.0.

[2017-01-13 00:08] aymanhab commented on #437
Thanks 🎆

[2017-01-13 01:41] aseth1 commented on #1462
Yes, then also deprecate `integrate(state)` to use `integrate(state, final_time)`.

[2017-01-17 21:35] aymanhab commented on #1472
Tracked this down to Mesh::extendFinalizeFromProperties which gets called for every Mesh to load Geometry files during initSystem. The  edit sequence invokes initSystem twice (on a model and a clone). Restoring the old behavior where Geometry is loaded on demand only would solve this but maybe inconsistent with the workflow for Components. Any thoughts @aseth1 @chrisdembia @tkuchida

[2017-01-17 21:43] klshrinidhi commented on #1471
Addressed by #1479.

[2017-01-17 21:43] #1471 closed

[2017-01-17 21:44] tkuchida commented on #1472
Why is it necessary to clone a model when performing a property edit?

[2017-01-17 21:48] aymanhab commented on #1472
Because an edit may result in an invalid model, so the code keeps a clone in order to recover

[2017-01-17 21:52] tkuchida commented on #1472
Does cloning automatically trigger a call to `initSystem()`? If so, perhaps we need an initSystem-less clone method since it sounds like the clone's call to `initSystem()` would be necessary only if the property edit results in an invalid model.